<div style="padding-top: 10vh; display: flex;">
    <mat-card style="flex-grow: 0; margin: auto">
      <form [formGroup]="loginForm" (ngSubmit)="login($event)">
        <mat-card-header>
          <h1>Login</h1>
        </mat-card-header>

        <mat-card-content>
          <div>
            <mat-form-field>
              <input matInput formControlName="userName" placeholder="Username" type="text" name="username" required>
            </mat-form-field>
          </div>

          <div>
            <mat-form-field>
              <input matInput formControlName="password" placeholder="Password" type="password" name="password" required>
            </mat-form-field>
          </div>
        </mat-card-content>

        <mat-card-actions align="start|end">
          <button mat-button>Sign In</button>
        </mat-card-actions>
      </form>
    </mat-card>
</div>