
<mat-form-field fxFlex fxLayout="column" fxLayoutAlign="top stretch">
  <input 
    [formControl]="searchControl" 
    type="text" 
    autocomplete="off" 
    matInput 
    [placeholder]="label" 
    [required]="required" 
    [disabled]="disabled" 
    [readonly]="readonly"
    [matAutocomplete]="autocomplete"
    >
  <mat-hint *ngIf="hint">{{hint}}</mat-hint>

  <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="displayFn()" (optionSelected)="optionSelected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
      {{option[this.display]}}
    </mat-option>
  </mat-autocomplete>
  
</mat-form-field>

