<form #form="ngForm" class="pad" *ngIf="productCharacteristic" (submit)="save()">

  <div class="pad">
    <div class="grid">
      <a-mat-input  [object]="productCharacteristic" [roleType]="m.SerialisedInventoryItemCharacteristicType.Name"></a-mat-input>
      <a-mat-select  [object]="productCharacteristic" [roleType]="m.SerialisedInventoryItemCharacteristicType.UnitOfMeasure"
        [options]="allUoms" display="Name"></a-mat-select>
    </div>

    <mat-expansion-panel *ngIf="locales">
      <mat-expansion-panel-header>
        <mat-panel-title>
          Translations
        </mat-panel-title>
      </mat-expansion-panel-header>

      <div *ngFor="let locale of locales; let i = index">
        <mat-divider *ngIf="i > 0"></mat-divider>
        <div class="pad">
          <a-mat-localised-text  [object]="productCharacteristic" [roleType]="m.SerialisedInventoryItemCharacteristicType.LocalisedNames"
            [locale]="locale"></a-mat-localised-text>
        </div>
      </div>
    </mat-expansion-panel>
  </div>

  <mat-divider></mat-divider>

  <mat-card-actions>
    <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
    <button mat-button (click)="goBack()" type="button">CANCEL</button>
  </mat-card-actions>

</form>