<div class="a-master">

  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span>{{title}}</span>
      <span class="col"></span>
      <internalorganisation-select></internalorganisation-select>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>
    <mat-card>
      <mat-card-content class="container-fluid a-search">
        <form class="row" novalidate [formGroup]="searchForm">
          <mat-form-field class="col" appearance="outline">
            <mat-label>Search by Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-content class="container-fluid a-list">

        <div *ngIf="data?.length === 0">
          <h3>No characteristics to display.</h3>
        </div>

        <mat-list>
          <mat-list-item *ngFor="let characteristic of data; let last = last" (click)="router.navigate(['/productCharacteristic/', characteristic.id])"
            style="cursor: pointer;">

            <h3 *ngIf="characteristic.UnitOfMeasure" mat-line>{{characteristic.Name}} ({{characteristic.UnitOfMeasure.Name}})</h3>
            <h3 *ngIf="!characteristic.UnitOfMeasure" mat-line>{{characteristic.Name}}</h3>

            <div (click)="$event.stopPropagation()">
              <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a [routerLink]="'/productCharacteristic/' + [characteristic.id]" mat-menu-item>Edit</a>
                <button mat-menu-item (click)="delete(characteristic)">Delete</button>
              </mat-menu>
            </div>
            <mat-divider *ngIf="!last" mat-inset></mat-divider>

          </mat-list-item>
        </mat-list>
      </mat-card-content>

    </mat-card>

  </div>

  <mat-toolbar class="a-footer">
    <mat-toolbar-row class="row">
      <span class="col"></span>
      <a mat-raised-button [routerLink]="['/productCharacteristic']">
        Add New
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

</div>