<form #form="ngForm"  (submit)="save()">
  <mat-toolbar>
    <mat-toolbar-row >
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="productCharacteristic"    style="overflow: auto;">

      <div class="row">
        <a-mat-input [object]="productCharacteristic" [roleType]="m.SerialisedInventoryItemCharacteristicType.Name" class="col-md"></a-mat-input>
        <a-mat-select [object]="productCharacteristic" [roleType]="m.SerialisedInventoryItemCharacteristicType.UnitOfMeasure" [options]="allUoms"
          display="Name" class="col-md"></a-mat-select>
      </div>

      <mat-expansion-panel *ngIf="locales">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Translations
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let locale of locales; let i = index">
          <mat-divider *ngIf="i > 0"></mat-divider>
          <div>
            <a-mat-localised-text [object]="productCharacteristic" [roleType]="m.SerialisedInventoryItemCharacteristicType.LocalisedNames"
              [locale]="locale"></a-mat-localised-text>
          </div>
        </div>
      </mat-expansion-panel>

    </mat-card>
  </div>

  <mat-toolbar  >
    <span class="col"></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>