<div fxLayout="column" style="height: 100vh; min-height: 100vh">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span>{{title}}</span>
      <span fxFlex></span>
      <internalorganisation-select></internalorganisation-select>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch" style="padding: 20px;">

    <mat-card fxFlex fxLayout="column" fxLayoutAlign="start stretch">

      <form novalidate [formGroup]="searchForm">

        <mat-card-content fxLayout="row wrap" fxLayoutGap="1rem">
          <mat-form-field fxFlex fxFill appearance="outline">
            <mat-label>Search by Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>
        </mat-card-content>

      </form>

      <mat-list fxFlex style="overflow: auto;">
        <div *ngIf="data && data.length === 0">
          <h3>No characteristics to display.</h3>
        </div>

        <ng-template let-characteristic let-last="last" ngFor [ngForOf]="data">
          <mat-list-item fxLayout="column" fxLayoutAlign="start stretch" (click)="router.navigate(['/productCharacteristic/', characteristic.id])"
            style="cursor: pointer;">

            <h3 *ngIf="characteristic.UnitOfMeasure" mat-line>{{characteristic.Name}} ({{characteristic.UnitOfMeasure.Name}})</h3>
            <h3 *ngIf="!characteristic.UnitOfMeasure" mat-line>{{characteristic.Name}}</h3>

            <div (click)="$event.stopPropagation()">
              <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a [routerLink]="'/productCharacteristic/' + [characteristic.id]" mat-menu-item>Edit</a>
                <button mat-menu-item (click)="delete(characteristic)">Delete</button>
              </mat-menu>
            </div>
            <mat-divider *ngIf="!last" mat-inset></mat-divider>

          </mat-list-item>
        </ng-template>
      </mat-list>
    </mat-card>

  </div>

  <mat-toolbar fxLayout="row">
    <span fxFlex></span>
    <a mat-raised-button [routerLink]="['/productCharacteristic']">
      Add New
    </a>
  </mat-toolbar>

</div>