<div class="row">
  <mat-tab-group class="col" dynamicHeight="true">
    <mat-tab label="Web">
      <div class="pt-3">
        <party-contactmechanism-webAddress (cancelled)="cancelled.emit($event)" (saved)="saved.emit($event)">
        </party-contactmechanism-webAddress>
      </div>
    </mat-tab>
    <mat-tab label="Email">
      <div class="pt-3">
        <party-contactmechanism-emailAddress (cancelled)="cancelled.emit($event)" (saved)="saved.emit($event)">
        </party-contactmechanism-emailAddress>
      </div>
    </mat-tab>
    <mat-tab label="Postal">
      <div class="pt-3">
        <party-contactmechanism-postaladdress (cancelled)="cancelled.emit($event)" (saved)="saved.emit($event)">
        </party-contactmechanism-postaladdress>
      </div>
    </mat-tab>
    <mat-tab label="Telecom">
      <div class="pt-3">
        <party-contactmechanism-telecommunicationsnumber (cancelled)="cancelled.emit($event)" (saved)="saved.emit($event)">
        </party-contactmechanism-telecommunicationsnumber>
      </div>
    </mat-tab>
  </mat-tab-group>
</div>
