<div *ngIf="panelService.isMinimized" class="mat-elevation-z2" style="background: white">

    <div class="container-fluid" style="cursor: pointer;" (click)="panelService.toggle(); false">
        <div class="row pt-3">
            <div class="col pl-3">
                <h4>Contact Info</h4>
            </div>
            <div class="pr-3">
                <mat-icon>expand_more</mat-icon>
            </div>
        </div>

    </div>

    <div class="container-fluid">
        <div class="row p-3">
            <div class="col">
                <!-- {{contactMechanisms.length}} --> contact mechanisms.

            </div>
        </div>
    </div>

</div>