<a-td-layout-relation [title]="title">

  <md-card>
    <form #form="ngForm" *ngIf="communicationEvent" (submit)="save()">

      <md-card-title>Email</md-card-title>

      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">

        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="25px">
          <div *ngIf="communicationEvent.CurrentObjectState" [fxFlex]="flex" [fxFlex.gt-md]="flex2">
            <a-md-static [object]="communicationEvent" [roleType]="m.CommunicationEvent.CurrentObjectState" display="Name" label="Status"></a-md-static>
            <button *ngIf="communicationEvent.CanExecuteClose" md-button type="button" (click)="close()">Close</button>
            <button *ngIf="communicationEvent.CanExecuteCancel" md-button type="button" (click)="cancel()">Cancel</button>
            <button *ngIf="communicationEvent.CanExecuteReopen" md-button type="button" (click)="reopen()">Reopen</button>
          </div>

          <a-td-chips [object]="communicationEvent" [roleType]="m.EmailCommunication.EventPurposes" [options]="purposes" display="Name"
            [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-td-chips>

          <div [fxFlex]="flex" [fxFlex.gt-md]="flex2">
            <div fxLayout="row">
              <a-md-select [object]="communicationEvent" [roleType]="m.EmailCommunication.Originator" [options]="emailAddresses" display="displayName"
                label="From"></a-md-select>
              <button *ngIf="communicationEvent.IncomingMail" type="button" md-icon-button (click)="addOriginator = true"><md-icon>add</md-icon></button>
            </div>

            <div *ngIf="addOriginator" style="background: orange">
              <emailAddress-inline fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="25px" (cancelled)="originatorCancelled($event)"
                (saved)="originatorAdded($event)">
              </emailAddress-inline>
            </div>
          </div>

          <div [fxFlex]="flex" [fxFlex.gt-md]="flex2">
            <div fxLayout="row">
              <a-td-chips [object]="communicationEvent" [roleType]="m.EmailCommunication.Addressees" [options]="emailAddresses" display="displayName"
                label="To"></a-td-chips>
              <button *ngIf="!communicationEvent.IncomingMail" type="button" md-icon-button (click)="addAddressee = true"><md-icon>add</md-icon></button>
            </div>

            <div *ngIf="addAddressee" style="background: orange">
              <emailAddress-inline fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="25px" (cancelled)="addresseeCancelled($event)"
                (saved)="addresseeAdded($event)">
              </emailAddress-inline>
            </div>
          </div>

          <a-md-input [object]="emailTemplate" [roleType]="m.EmailTemplate.SubjectTemplate" label="Subject " [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-input>
          <a-md-textarea [object]="emailTemplate" [roleType]="m.EmailTemplate.BodyTemplate" label="Body" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-textarea>
          <a-md-slide-toggle [object]="communicationEvent" [roleType]="m.EmailCommunication.IncomingMail" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-slide-toggle>
          <a-md-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledStart" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-datepicker>
          <a-md-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledEnd" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-datepicker>
          <a-md-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualStart" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-datepicker>
          <a-md-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualEnd" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-datepicker>
        </div>

      </md-card-content>

      <md-divider></md-divider>
      <md-card-actions>
        <button md-button color="primary" type="submit">SAVE</button>
        <button md-button (click)="goBack()" type="button">CANCEL</button>
      </md-card-actions>

    </form>
  </md-card>

</a-td-layout-relation>
