<mat-toolbar>
  <mat-toolbar-row >
    <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
    <h1>{{title}}</h1>
  </mat-toolbar-row>
</mat-toolbar>

<div class="container-fluid">
  <div *ngIf="quote" class="row">

    <mat-card>
      <mat-card-header  >
        <mat-card-title>Product Quote</mat-card-title>
      </mat-card-header>

      <mat-card-content>
        <div>
          <div class="row">
            <a-mat-static [object]="quote" [roleType]="m.Quote.QuoteState" display="Name" label="Status"></a-mat-static>
            <a-mat-static [object]="quote" [roleType]="m.Quote.QuoteNumber"></a-mat-static>
            <a-mat-static *ngIf="quote.Request" [object]="quote" [roleType]="m.Quote.Request" display="RequestNumber" [routerLink]="['/orders/request/' + quote.Request.id]"></a-mat-static>
            <a-mat-static *ngIf="salesOrder" [object]="salesOrder" [roleType]="m.SalesOrder.OrderNumber" [routerLink]="['/orders/salesOrder/' + salesOrder.id ]"></a-mat-static>
          </div>

          <div class="row">
            <a-mat-static *ngIf="quote.Receiver.objectType.name == 'Person'" [object]="quote" [roleType]="m.Quote.Receiver" display="displayName"
              label="To" [routerLink]="['/relations/person/' + quote.Receiver.id ]"></a-mat-static>
            <a-mat-static *ngIf="quote.Receiver.objectType.name == 'Organisation'" [object]="quote" [roleType]="m.Quote.Receiver" display="displayName"
              label="To" [routerLink]="['/relations/organisation/' + quote.Receiver.id ]"></a-mat-static>
            <a-mat-static *ngIf="quote.ContactPerson" [object]="quote" [roleType]="m.Quote.ContactPerson" class="link" [routerLink]="['/relations/person/' + quote.ContactPerson.id ]"
              display="displayName"></a-mat-static>
          </div>

          <div>
            <a-mat-static *ngIf="quote.FullfillContactMechanism" [object]="quote" [roleType]="m.Quote.FullfillContactMechanism" display="displayName"
              label="Reply to"></a-mat-static>
          </div>

          <div class="row">
            <mat-form-field *ngIf="quote.IssueDate">
              <input matInput placeholder="Issue date" [value]="quote.IssueDate.toDateString()">
            </mat-form-field>
            <mat-form-field *ngIf="quote.ValidFromDate">
              <input matInput placeholder="Valid From" [value]="quote.ValidFromDate.toDateString()">
            </mat-form-field>
            <mat-form-field *ngIf="quote.ValidThroughDate">
              <input matInput placeholder="Valid Trough" [value]="quote.ValidThroughDate.toDateString()">
            </mat-form-field>
          </div>

          <div class="row">
            <a-mat-static [object]="quote" [roleType]="m.Quote.Price" label="Quote Value"></a-mat-static>
            <a-mat-static *ngIf="quote.Description" [object]="quote" [roleType]="m.Quote.Description" y></a-mat-static>
            <a-mat-static *ngIf="request?.Comment" [object]="request" [roleType]="m.Request.Comment" label="Request Comment"></a-mat-static>
            <a-mat-textarea *ngIf="quote.Comment" [object]="quote" [roleType]="m.Quote.Comment" label="Quote Comment" class="col-md-12"></a-mat-textarea>
            <a-mat-static *ngIf="request?.InternalComment" [object]="request" [roleType]="m.Request.InternalComment" label="Request Internal Comment"></a-mat-static>
            <a-mat-textarea *ngIf="quote.InternalComment" [object]="quote" [roleType]="m.Quote.InternalComment" label="Quote Internal Comment" class="col-md-12"></a-mat-textarea>
          </div>

          <div class="row">
            <caption class="col"> created: {{ quote.CreationDate | date}} by {{ quote.CreatedBy.displayName}}</caption>
            <caption class="col"> last modified: {{ quote.LastModifiedDate | date}} by {{ quote.LastModifiedBy.displayName}}</caption>
          </div>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button *ngIf="quote.CanWriteQuoteItems" mat-button [routerLink]="['/productQuote/' + quote.id]">Edit</button>
        <button *ngIf="!quote.CanWriteQuoteItems" mat-button [routerLink]="['/productQuote/' + quote.id]">View</button>
        <button mat-button [routerLink]="['/printproductquote/' + quote.id ]">Preview</button>
        <button mat-button (click)="print()">Print</button>
        <button *ngIf="quote.CanExecuteApprove" mat-button (click)="approve()">Approve</button>
        <button *ngIf="quote.CanExecuteReject" mat-button (click)="reject()">Reject</button>
        <button *ngIf="quote.CanExecuteOrder" mat-button (click)="Order()">Create Sales Order</button>
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-header  >
        <mat-card-title>Quote Items</mat-card-title>
      </mat-card-header>

      <mat-card-content>

          <mat-list>

          <div *ngIf="quote.QuoteItems.length === 0">
            <h3>No Items to display.</h3>
          </div>

          <ng-template let-quoteItem let-last="last" ngFor [ngForOf]="quote.QuoteItems">
            <mat-list-item (click)="router.navigate(['/productQuote/' + quote.id + '/item/' + quoteItem.id])">
              <h3 *ngIf="quoteItem.Product" mat-line>{{quoteItem.Quantity}} * {{quoteItem.Product.Name}} ({{quoteItem.QuoteItemState.Name}})</h3>

              <div (click)="$event.stopPropagation()">
                <button mat-icon-button [mat-menu-trigger-for]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <a *ngIf="quote.CanWriteQuoteItems && quoteItem.CanWriteQuantity" [routerLink]="['/productQuote/' + quote.id + '/item/' + quoteItem.id ]"
                    mat-menu-item>Edit</a>
                  <a *ngIf="!quote.CanWriteQuoteItems || !quoteItem.CanWriteQuantity" [routerLink]="['/productQuote/' + quote.id + '/item/' + quoteItem.id ]"
                    mat-menu-item>View</a>
                  <button [disabled]="!quoteItem.CanExecuteCancel" mat-menu-item (click)="cancelQuoteItem(quoteItem)">Cancel</button>
                  <button [disabled]="!quoteItem.CanExecuteDelete" mat-menu-item (click)="deleteQuoteItem(quoteItem)">Delete</button>
                </mat-menu>
              </div>

              <mat-divider *ngIf="!last" mat-inset></mat-divider>
            </mat-list-item>
          </ng-template>
        </mat-list>
      </mat-card-content>

      <mat-card-actions>
        <button *ngIf="quote.CanWriteQuoteItems" mat-button [routerLink]="['/productQuote/' + quote.id +'/item']">Add new</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>