<mat-nav-list>
  <div fxLayout="Column" *ngFor="let item of items">
    <mat-list-item (click)="item.open = !item.open" [ngClass]="{
      'collapsed': !item.open,
      'expanded': !!item.open
    }">
      <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
      <span mat-line>{{item.title}}</span>
      <mat-icon *ngIf="!!item.open">expand_less</mat-icon>
      <mat-icon *ngIf="!item.open">expand_more</mat-icon>
    </mat-list-item>

    <div *ngIf="item.open">
      <mat-list-item *ngFor="let child of item.children" class="expanded">
        <mat-icon mat-list-icon>{{child.icon}}</mat-icon>
        <a matLine href="#">{{child.title}}</a>
      </mat-list-item>
    </div>
  </div>
</mat-nav-list>