<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">

  <div class="pad-top-xs pad-left pad-right">
    <form novalidate [formGroup]="searchForm">
      <mat-input-container>
        <input fxFlex matInput placeholder="First Name" formControlName="firstName">
        <mat-icon matSuffix>search</mat-icon>
      </mat-input-container>
      <mat-input-container>
        <input fxFlex matInput placeholder="Last Name" formControlName="lastName">
        <mat-icon matSuffix>search</mat-icon>
      </mat-input-container>
    </form>
  </div>

  <mat-divider></mat-divider>

  <mat-card-content style="min-height: 60vh">
    <ng-template tdLoading="csv">
      <mat-list class="will-load" fxLayout="column">

        <textarea #clipSource style="min-height: 60vh" [ngModel]="csv"></textarea>

        <a mat-icon-button matTooltip="Copy to clipboard" (click)="clipSource.select(); copy()">
          <mat-icon>content_copy</mat-icon>
        </a>

      </mat-list>
    </ng-template>
  </mat-card-content>

</td-layout-card-over>
