<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <!-- <a [routerLink]="['/relations/people']">People</a> / {{person?.displayName}} -->
      </div>
    </div>
  </div>

  <div class="a-overview container-fluid">

    <div class="row">

      <div class="col-md-4">
        <person-panel></person-panel>
      </div>

      <div class="col-md-8">
        <!-- <communicationevent-maxpanel [communicationEvents]='communicationEvents' (add)="navigation.add($event, person)"
          (edit)="navigation.edit($event, person)" (delete)="deleteCommunication($event)"></communicationevent-maxpanel>

        <communicationevent-minpanel [communicationEvents]='communicationEvents' (add)="navigation.add($event, person)"
          (edit)="navigation.edit($event, person)" (delete)="deleteCommunication($event)"></communicationevent-minpanel>
        -->

        <partycontactmechanism-maxpanel></partycontactmechanism-maxpanel>

        <partycontactmechanism-minpanel></partycontactmechanism-minpanel>

        <!--
           <serialiseditem-embed [owner]='person' [serialisedItems]='serialisedItems' (add)="navigation.add($event)"
            (edit)="navigation.edit($event)" (delete)="deleteSerialisedItem($event)"></serialiseditem-embed>

          <workeffortpartyassignment-embed [workEffortPartyAssignments]="workEffortPartyAssignments" (add)="navigation.add($event, person)"
            (edit)="navigation.edit($event)" (delete)="deleteWorkEffort($event)"></workeffortpartyassignment-embed> -->
      </div>
    </div>
  </div>
</div>