<div class="a-main">
 
  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/relations/people']">People</a> / {{person?.displayName}}
      </div>
    </div>
  </div>

  <div class="a-overview2 container">

    <div class="row">

      <div class="col-md-4 mb-3">
        <person-overview-panel></person-overview-panel>
      </div>

      <div class="col-md-8">

        <person-detail-panel></person-detail-panel>

        <communicationevent-panel></communicationevent-panel>

        <partycontactmechanism-panel></partycontactmechanism-panel>

        <serialiseditem-panel></serialiseditem-panel>

        <workeffortpartyassignment-panel></workeffortpartyassignment-panel>

      </div>
    </div>
  </div>
</div>