<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/relations/people']">People</a> / {{person?.displayName}}
      </div>
    </div>
  </div>

  <div class="a-overview2 container">

    <div class="row">

      <div class="col-md-4">
        <person-panel></person-panel>
      </div>

      <div class="col-md-8">
        <a-mat-launcher></a-mat-launcher>

        <person-edit-panel></person-edit-panel>

        <communicationevent-panel></communicationevent-panel>

        <partycontactmechanism-panel></partycontactmechanism-panel>

        <serialiseditem-panel></serialiseditem-panel>

        <workeffortpartyassignment-panel></workeffortpartyassignment-panel>

      </div>
    </div>
  </div>
</div>