<?xml version="1.0" encoding="utf-8"?>
<RuleSet Name="Allors Core Domain Ruleset" Description="Allors Core Domain Ruleset." ToolsVersion="15.0">
  <Rules AnalyzerId="StyleCop.Analyzers" RuleNamespace="StyleCop.Analyzers">
    <Rule Id="SA1600" Action="None" />
    <Rule Id="SA1601" Action="None" />
  </Rules>
</RuleSet>
