<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="contactMechanism" (submit)="save()">

    <div class="pad">
      <a-md-select [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.ContactPurposes" [options]="contactMechanismPurposes"
        display="Name" label="Contact purposes"></a-md-select>
      <a-md-input [object]="contactMechanism" [roleType]="m.PostalAddress.Address1" label="Address line 1"></a-md-input>
      <a-md-input [object]="contactMechanism" [roleType]="m.PostalAddress.Address2" label="Address line 2"></a-md-input>
      <a-md-input [object]="contactMechanism" [roleType]="m.PostalAddress.Address3" label="Address line 3"></a-md-input>
      <a-md-input [object]="contactMechanism.PostalBoundary" [roleType]="m.PostalBoundary?.Locality" label="City"></a-md-input>
      <a-md-input [object]="contactMechanism.PostalBoundary" [roleType]="m.PostalBoundary?.PostalCode" label="Postal code"></a-md-input>
      <a-md-autocomplete [object]="contactMechanism.PostalBoundary" [roleType]="m.PostalBoundary?.Country" [options]="countries"
        display="Name"></a-md-autocomplete>
      <a-md-slide-toggle [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.UseAsDefault" label="Use as default" checked="true"></a-md-slide-toggle>
    </div>

    <md-divider></md-divider>

    <md-card-actions>
      <button md-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</td-layout-card-over>
