<form #form="ngForm"  (submit)="save()" novalidate>
  <mat-toolbar>
    <mat-toolbar-row >
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="invoiceItem"   >

      <mat-card-content  style="overflow: auto;">

        <div *ngIf="!invoiceItem.isNew" class="row">
            <a-mat-static [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.PurchaseInvoiceItemState" display="Name" label="Status"></a-mat-static>
        </div>

        <div *ngIf="invoiceItem.InvoiceItemType && invoiceItem.InvoiceItemType !== productItemType" class="row">
          <a-mat-select [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.InvoiceItemType" [options]="invoiceItemTypes" display="Name" class="col-md"></a-mat-select>
          <a-mat-input [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.ActualUnitPrice" label="Amount" class="col-md"></a-mat-input>
        </div>

        <div *ngIf="!invoiceItem.InvoiceItemType || invoiceItem.InvoiceItemType === productItemType" class="row">
          <a-mat-autocomplete *ngIf="!invoiceItem.InvoiceItemType || invoiceItem.InvoiceItemType === productItemType" [object]="invoiceItem"
            [roleType]="m.PurchaseInvoiceItem.Product" [options]="goods" display="Name" (onChange)="goodSelected($event)" [filter]="stateService.goodsFilter.create(scope)"></a-mat-autocomplete>
          <a-mat-select [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.InvoiceItemType" [options]="invoiceItemTypes" display="Name" class="col-md"></a-mat-select>
        </div>

        <div *ngIf="invoiceItem.InvoiceItemType && invoiceItem.InvoiceItemType === productItemType" class="row">
          <a-mat-input [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.Quantity" class="col-md"></a-mat-input>
          <a-mat-input [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.ActualUnitPrice" class="col-md"></a-mat-input>
        </div>

        <div class="row">
          <a-mat-select [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.AssignedVatRegime" [options]="vatRegimes" display="Name"
            label="Item VAT regime" class="col-md"></a-mat-select>
          <a-mat-static [object]="invoiceItem.AssignedVatRegime" [roleType]="m.VatRegime.VatRate" display="Rate"></a-mat-static>
          <a-mat-static [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.UnitVat"></a-mat-static>
          <a-mat-static [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.TotalIncVat"></a-mat-static>
        </div>

        <div class="row">
          <a-mat-static *ngIf="orderItem?.Comment" [object]="orderItem" [roleType]="m.PurchaseOrderItem.Comment"></a-mat-static>
          <a-mat-textarea [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.Comment" class="col-md-12"></a-mat-textarea>
          <a-mat-static *ngIf="orderItem?.InternalComment" [object]="orderItem" [roleType]="m.PurchaseOrderItem.InternalComment"></a-mat-static>
          <a-mat-textarea [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.InternalComment" class="col-md-12"></a-mat-textarea>
          <a-mat-textarea [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.Message" class="col-md-12"></a-mat-textarea>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <mat-toolbar  >
    <span class="col"></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE & CLOSE</button>
    <button mat-raised-button (click)="update()" type="button" color="primary" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>