<a-td-layout-relation>

  <div toolbar1>
    <a md-icon-button mdTooltip="Docs" href="https://www.inxin.com/" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
  </div>

  <div toolbar2 layout="row" layout-align="start center" flex>
    <span>Organisations</span>
    <span flex></span>
    <button md-icon-button><md-icon class="md-24">settings</md-icon></button>
  </div>

  <md-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <md-card-content>
      <ng-template tdLoading="organisations">
        <md-list class="will-load">
          <div class="md-padding" *ngIf="data && data.length === 0" layout="row" layout-align="center center">
            <h3>No organisations to display.</h3>
          </div>
          <ng-template let-organisation let-last="last" ngFor [ngForOf]="data">
            <md-list-item>

              <md-icon *ngIf="!organisation.Picture" md-list-avatar>organisation</md-icon>
              <img *ngIf="organisation.Picture" md-list-avatar src="http://localhost:5000/Media/Download/{{organisation.Picture.UniqueId}}?revision={{organisation.Picture.Revision}}"
              />

              <h3 md-line>{{organisation.Name}}</h3>
              <p md-line> {{organisation.Owner.displayName}} </p>
              <p md-line hide-gt-md class="md-caption"> last login: {{ organisation.LastAccess | timeAgo }} </p>

              <span flex></span>

              <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
            <div class="md-caption tc-grey-500" flex-gt-xs="50"> {{ organisation.Created | date }} </div>
            <div class="md-caption tc-grey-500" flex-gt-xs="50"> {{ organisation.LastAccess | timeAgo }} </div>
          </span>

              <span>
          <button md-icon-button [md-menu-trigger-for]="menu">
          <md-icon>more_vert</md-icon>
          </button>
          <md-menu x-position="before" #menu="mdMenu">
          <a [routerLink]="[organisation.id + '/overview']" md-menu-item>Details</a>
          <button md-menu-item (click)="delete(organisation)">Delete</button>
          </md-menu>
          </span>

            </md-list-item>
            <md-divider *ngIf="!last" md-inset></md-divider>
          </ng-template>
        </md-list>
      </ng-template>
    </md-card-content>
  </md-card>

</a-td-layout-relation>

<a md-fab color="accent" class="mat-fab-bottom-right" [routerLink]="['add']">
  <md-icon>add</md-icon>
</a>
