<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a (click)="navigationService.list(m.SerialisedItem)">Serialised Assets</a>/ {{serialisedItem?.displayName}}
      </div>
    </div>
  </div>

  <div class="a-overview container">

    <div class="a-content row">
      <div class="col-md-4 mb-3">
        <serialiseditem-overview-summary></serialiseditem-overview-summary>
      </div>

      <div class="col-md-8 align-self-stretch" [ngClass]="panelManager.panelContainerClass">

        <serialiseditem-overview-detail></serialiseditem-overview-detail>

        <serialisedinventoryitem-overview-panel></serialisedinventoryitem-overview-panel>

        <worktask-overview-panel></worktask-overview-panel>

        <salesinvoice-overview-panel></salesinvoice-overview-panel>

        <salesorder-overview-panel></salesorder-overview-panel>

        <productquote-overview-panel></productquote-overview-panel>

        <requestforquote-overview-panel></requestforquote-overview-panel>

      </div>
    </div>
  </div>
</div>
