<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="workTask" (submit)="save()" class="pad">
    <div>
      <a-md-select [object]="workTask" [roleType]="m.WorkTask.CurrentObjectState" [options]="workEffortStates" display="Name"
        label="Status"></a-md-select>
      <a-md-input [object]="workTask" [roleType]="m.WorkTask.Name"></a-md-input>
      <a-md-textarea [object]="workTask" [roleType]="m.WorkTask.Description"></a-md-textarea>
      <div class="mat-input-wrapper">
        <div class="mat-input-flex">
          <div class="mat-input-infix">
            <md-select fxFlex name="assignment" [(ngModel)]="assignees" placeholder="Assign To" multiple="true">
              <md-option *ngFor="let employee of employees" [value]="employee">{{ employee.displayName }}</md-option>
            </md-select>
          </div>
        </div>
      </div>
      <a-md-select [object]="workTask" [roleType]="m.WorkTask.Priority" [options]="priorities" display="Name"></a-md-select>
      <a-md-select [object]="workTask" [roleType]="m.WorkTask.WorkEffortPurposes" [options]="workEffortPurposes" display="Name"
        label="Purpose(s)"></a-md-select>
      <a-md-input [object]="workTask" [roleType]="m.WorkTask.EstimatedHours"></a-md-input>
      <a-md-input [object]="workTask" [roleType]="m.WorkTask.ActualHours"></a-md-input>
      <a-md-slide-toggle [object]="communicationEvent" [roleType]="m.CommunicationEvent.SendNotification"></a-md-slide-toggle>
      <a-md-slide-toggle [object]="communicationEvent" [roleType]="m.CommunicationEvent.SendReminder"></a-md-slide-toggle>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="2rem" class="pad-bottom">
        <a-md-datepicker [object]="workTask" [roleType]="m.WorkTask.ScheduledStart" [useTime]="true"></a-md-datepicker>
        <a-md-datepicker [object]="workTask" [roleType]="m.WorkTask.ScheduledCompletion" [useTime]="true"></a-md-datepicker>
      </div>
      <div fxLayout="column" fxLayout.gt-sm="row" fxLayoutGap.gt-sm="2rem" class="pad-bottom">
        <a-md-datepicker [object]="workTask" [roleType]="m.WorkTask.ActualStart" [useTime]="true"></a-md-datepicker>
        <a-md-datepicker [object]="workTask" [roleType]="m.WorkTask.ActualCompletion" [useTime]="true"></a-md-datepicker>
      </div>
    </div>

    <md-divider></md-divider>

    <md-card-actions>
      <button md-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</td-layout-card-over>
