@{Layout = null;}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <title>Allors Core</title>
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
</head>

<body>
    <div class="text-center">
        <h1>error</h1>
        <h3 >Client Side Error</h3>

        <div>
            <p>
                The server encountered something unexpected that didn't allow it to complete the request. <br />
                We apologize.
            </p>

            <p>
                The error message has been logged and an administrator will attend to it.
            </p>

            <p>
                You can go back to main page: <br />
                <a href="/" class="btn btn-primary">Restart</a>
            </p>
        </div>
    </div>

    <script src="/lib/jquery/jquery.js"></script>
</body>
</html>
