<a-td-layout-relation>

  <div toolbar1>
    <a md-icon-button mdTooltip="Docs" href="https://www.inxin.com/" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
  </div>

  <div toolbar2 layout="row" layout-align="start center" flex>
    <span>Relations</span>
    <span flex></span>
    <button md-icon-button><md-icon class="md-24">settings</md-icon></button>
  </div>

  <md-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <form #form="ngForm" *ngIf="contactMechanism" (submit)="save()">

      <md-card-title>Telecommunications number Contact Form</md-card-title>

      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">

        <div fxLayout="row wrap" fxLayoutGap="3rem" fxLayoutAlign="start stretch">

          <a-md-select [fxFlex]="flex" class="push-top" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.ContactPurposes"
            [options]="contactMechanismPurposes" display="Name"></a-md-select>
          <a-md-input [fxFlex]="flex" class="push-top" [object]="contactMechanism" [roleType]="m.TelecommunicationsNumber.CountryCode"></a-md-input>
          <a-md-input [fxFlex]="flex" class="push-top" [object]="contactMechanism" [roleType]="m.TelecommunicationsNumber.AreaCode"></a-md-input>
          <a-md-input [fxFlex]="flex" class="push-top" [object]="contactMechanism" [roleType]="m.TelecommunicationsNumber.ContactNumber"></a-md-input>
          <a-md-slide-toggle [fxFlex]="flex" class="push-top" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.UseAsDefault"
            label="Use as default"></a-md-slide-toggle>

        </div>

      </md-card-content>

      <md-divider></md-divider>
      <md-card-actions>
        <button md-button color="primary" type="submit">SAVE</button>
        <button md-button (click)="goBack()" type="button">CANCEL</button>
      </md-card-actions>

    </form>
  </md-card>

</a-td-layout-relation>
