<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="mysqlclient" connectionString="Database=adapters;Data Source=localhost;User Id=allors;Password=allors"/>
		<add name="npgsql" connectionString="Server=localhost;User Id=allors;Password=allors;Database=adapters"/>
		<add name="oracle" connectionString="Data Source=localhost;User ID=scott;Password=tiger"/>
		<add name="sqlclientrelation" connectionString="Integrated Security=SSPI;Data Source=(local);Initial Catalog=relation;Application Name=Adapters"/>
    <add name="sqlclientobject" connectionString="Integrated Security=SSPI;Data Source=(local);Initial Catalog=object;Application Name=Adapters"/>
    <add name="sqlite" connectionString="FullUri=file:adapters.sqlite?cache=shared;Pooling=True;journal mode=WAL;"/>
    <!--<add name="sqlite" connectionString="FullUri=file::memory:?cache=shared;Pooling=True;"/>-->
    <add name="myConnection" connectionString="connection=ok"/>
	</connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/></startup></configuration>
