<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a (click)="navigation.list(metaService.m.Person)" style="cursor: pointer;">People</a> / {{person?.displayName}}
      </div>
    </div>
  </div>

  <div class="a-overview container">

    <div class="a-content row">

      <div class="col-md-4 mb-3">
        <person-overview-summary></person-overview-summary>
      </div>

      <div class="col-md-8 align-self-stretch" [ngClass]="panelManager.panelContainerClass">
        <person-overview-detail></person-overview-detail>

        <communicationevent-overview-panel></communicationevent-overview-panel>
        <contactmechanism-overview-panel></contactmechanism-overview-panel>
        <partycontactmechanism-overview-panel></partycontactmechanism-overview-panel>

        <partyrelationship-overview-panel></partyrelationship-overview-panel>

        <serialiseditem-overview-panel></serialiseditem-overview-panel>

        <worktask-overview-panel></worktask-overview-panel>

        <workeffortpartyassignment-overview-panel></workeffortpartyassignment-overview-panel>

        <partyrate-overview-panel></partyrate-overview-panel>
      </div>
    </div>
  </div>
</div>
