<div class="a-master">

  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
      <span class="col"></span>
      <button mat-icon-button matTooltip="Export to CSV" [routerLink]="['/export/people']">
        <mat-icon>cloud_download</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="data">
      <mat-card-content class="container-fluid a-list">

        <mat-list>

          <div class="mat-padding" *ngIf="data && data.length === 0" layout="row" layout-align="center center">
            <h3>No people to display.</h3>
          </div>

          <mat-list-item *ngFor="let person of data; let last = last" [attr.data-allors-id]="person.id" (click)="router.navigate(['/relations/people/' + person.id + '/overview'])" style="cursor: pointer;">

            <mat-icon *ngIf="!person.Picture" mat-list-avatar>person</mat-icon>
            <img *ngIf="person.Photo" mat-list-avatar src="http://localhost:5000/Media/Download/{{person.Photo.UniqueId}}?revision={{person.Photo.Revision}}" />

            <h3 mat-line>{{person.FirstName}} {{person.LastName}}</h3>
            <p mat-line> {{person.UserName}} </p>
  
            <div (click)="$event.stopPropagation()">
              <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu x-position="before" #menu="matMenu">
                <a [routerLink]="[person.id + '/overview']" mat-menu-item>Details</a>
                <button mat-menu-item (click)="delete(person)">Delete</button>
              </mat-menu>
            </div>

            <mat-divider *ngIf="!last" mat-inset></mat-divider>

          </mat-list-item>
        </mat-list>

      </mat-card-content>
    </mat-card>
  </div>

  <mat-toolbar class="a-footer">
    <mat-toolbar-row class="row">
      <span class="col"></span>
      <a mat-raised-button [routerLink]="['/relations/people/add']">
        Add New
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

</div>
