<mat-card>

  <div class="row">
    <div class="col">
      <h2>
        <mat-icon>money</mat-icon>Prices
      </h2>
    </div>

    <div class="col">
      <mat-button-toggle-group [(ngModel)]="pricecomponentsCollection">
        <mat-button-toggle value="Current">Current</mat-button-toggle>
        <mat-button-toggle value="Inactive">Inactive</mat-button-toggle>
        <mat-button-toggle value="All">All</mat-button-toggle>
      </mat-button-toggle-group>
    </div>
  </div>

  <mat-card-content>

    <ul *ngIf="prices?.length == 0">
      <li>no info to display</li>
    </ul>

    <mat-list>
      <mat-list-item *ngFor="let pricecomponent of prices; let last=last" [attr.data-allors-id]="pricecomponent.id"
        (click)="edit.emit(pricecomponent)" style="cursor: pointer;">

        <h4 mat-line>default price {{pricecomponent.Currency.IsoCode}} {{pricecomponent.Price}}</h4>
        <h3 mat-line (click)="navigationService.edit(pricecomponent)">valid from: {{pricecomponent.FromDate | date}}
          through: {{pricecomponent.ThroughDate | date}}</h3>

        <div (click)="$event.stopPropagation()">
          <button mat-icon-button [mat-menu-trigger-for]="menuEditCom">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menuEditCom="matMenu">
            <button mat-menu-item (click)="edit.emit(pricecomponent)">Edit</button>
          </mat-menu>
        </div>

        <mat-divider *ngIf="!last" mat-inset></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button [matMenuTriggerFor]="menuAddComm">Add new</button>
    <mat-menu #menuAddComm="matMenu">
      <button mat-menu-item (click)="add.emit(allors.m.BasePrice)">Default Price</button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
