<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">People</div>
    </div>
  </div>

  <div class="a-body">

    <div class="a-content mat-elevation-z8">

      <div class="a-header d-flex justify-content-between">
        <div>
          <span>People</span>
        </div>
        <div>
          <button mat-icon-button matTooltip="Export to CSV" [routerLink]="['/export/people']">
            <mat-icon>cloud_download</mat-icon>
          </button>
        </div>
      </div>

      <div class="container-fluid a-search">
        TODO: Search
      </div>

      <div class="a-items">

        <div *ngIf="data?.length === 0">
          <h3>No people to display.</h3>
        </div>

        <table mat-table matSort [dataSource]="dataSource">

          <!-- Checkbox Column -->
          <ng-container matColumnDef="select" sticky>
            <th mat-header-cell *matHeaderCellDef>
              <mat-checkbox (change)="$event ? masterToggle() : null" [checked]="selection.hasValue() && isAllSelected()" [indeterminate]="selection.hasValue() && !isAllSelected()">
              </mat-checkbox>
            </th>
            <td mat-cell *matCellDef="let row">
              <mat-checkbox (click)="$event.stopPropagation()" (change)="$event ? selection.toggle(row) : null" [checked]="selection.isSelected(row)">
              </mat-checkbox>
            </td>
          </ng-container>

          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
            <td mat-cell *matCellDef="let row">
              <img *ngIf="!row.Picture" style="width: 40px; height: 40px; border-radius: 50%" [src]="'https://dummyimage.com/40x40/000/fff.png&text=x'" />
              <img *ngIf="row.Picture" style="width: 40px; height: 40px; border-radius: 50%" [src]="mediaService.url(row.Picture)" />
              {{row.name}}
            </td>
          </ng-container>

          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email </th>
            <td mat-cell *matCellDef="let row">
              {{row.email}}
            </td>
          </ng-container>

          <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Phone </th>
            <td mat-cell *matCellDef="let row">
              {{row.phone}}
            </td>
          </ng-container>

          <ng-container matColumnDef="lastModified">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Last Modified </th>
            <td mat-cell *matCellDef="let row">
              {{ row.lastModifiedDate | date }}
            </td>
          </ng-container>

          <ng-container matColumnDef="menu" stickyEnd>
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let row">
              <div (click)="$event.stopPropagation()">
                <button type="button" mat-icon-button [mat-menu-trigger-for]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <a [routerLink]="['/relations/person/' + row.person.id]" mat-menu-item>Details</a>
                  <button mat-menu-item (click)="delete(row.person)" [disabled]="!row.person.CanExecuteDelete">Delete</button>
                </mat-menu>
              </div>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onView(row.person)" style="cursor: pointer;">
          </tr>
        </table>

      </div>

      <mat-toolbar class="a-footer">
        <mat-toolbar-row class="row">
          <span class="col"></span>
          <a mat-raised-button [routerLink]="['/person']">
            Add New
          </a>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>

  </div>
</div>