<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a (click)="navigation.list(m.Person)">People</a><span *ngIf="party"> / <a (click)="navigation.overview(party)">{{party.displayName}}</a></span> / {{title}}
      </div>
    </div>
  </div>

  <form *ngIf="contactMechanism" class="a-edit" #form="ngForm" (submit)="save()" novalidate>
    <mat-card *ngIf="contactMechanism">
      <mat-card-content class="container-fluid">
        <div class="row">
          <a-mat-select class="col-md" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.ContactPurposes" [options]="contactMechanismPurposes" display="Name" label="Contact purposes"></a-mat-select>
          <a-mat-select class="col-md" [object]="contactMechanism" [roleType]="m.TelecommunicationsNumber.ContactMechanismType" [options]="contactMechanismTypes" display="Name" label="Type"></a-mat-select>
        </div>

        <div class="row">
          <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.TelecommunicationsNumber.CountryCode"></a-mat-input>
          <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.TelecommunicationsNumber.AreaCode"></a-mat-input>
          <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.TelecommunicationsNumber.ContactNumber"></a-mat-input>
        </div>

        <div class="row">
          <a-mat-slidetoggle class="col-md" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.UseAsDefault" label="Use as default"></a-mat-slidetoggle>
          <a-mat-slidetoggle class="col-md" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.NonSolicitationIndicator" label="Non Solicitation"></a-mat-slidetoggle>
        </div>

      </mat-card-content>
    </mat-card>

    <a-mat-footer>
      <button mat-raised-button (click)="navigation.back()" type="button">CANCEL</button>
      <button mat-raised-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.context.hasChanges">SAVE</button>
    </a-mat-footer>

  </form>
</div>