<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="quote" (submit)="save()">

    <div class="pad">
      <div class="grid-2_md-1" *ngIf="quote.QuoteState">
        <a-mat-static class="col" [object]="quote" [roleType]="m.Quote.QuoteState" display="Name" label="Status"></a-mat-static>
        <button *ngIf="quote.CanExecuteApprove" mat-button type="button" (click)="approve()">Approve</button>
        <button *ngIf="quote.CanExecuteReject" mat-button type="button" (click)="reject()">Reject</button>
      </div>

      <div class="grid-4_xs-1">
        <a-mat-static class="col" *ngIf="quote.Request" [object]="quote" [roleType]="m.ProductQuote.Request" display="RequestNumber"></a-mat-static>
      </div>

      <div class="grid-2_xs-1">
        <a-mat-autocomplete class="col" *ngIf="showOrganisations" [object]="quote" [roleType]="m.ProductQuote.Receiver" [filter]="organisationsFilter.create()"
          display="Name" (onChange)="receiverSelected($event)" label="Receiving organisation"></a-mat-autocomplete>
        <a-mat-autocomplete class="col" *ngIf="showPeople" [object]="quote" [roleType]="m.ProductQuote.Receiver" [filter]="peopleFilter.create()"
          display="displayName" (onChange)="receiverSelected($event)" label="Receiving private person"></a-mat-autocomplete>
      </div>

      <div class="grid-2_md-1" *ngIf="showOrganisations && !showPeople">
        <a-mat-select class="col" [object]="quote" [roleType]="m.ProductQuote.FullfillContactMechanism" [options]="contactMechanisms"
          display="displayName"></a-mat-select>
        <button class="col-1" *ngIf="quote.Receiver" type="button" mat-button (click)="addWebAddress = true">
          <mat-icon>add</mat-icon>Web</button>
        <button class="col-1" *ngIf="quote.Receiver" type="button" mat-button (click)="addEmailAddress = true">
          <mat-icon>add</mat-icon>Email</button>
        <button class="col-1" *ngIf="quote.Receiver" type="button" mat-button (click)="addPostalAddress = true">
          <mat-icon>add</mat-icon>Postal</button>
        <button class="col-1" *ngIf="quote.Receiver" type="button" mat-button (click)="addTeleCommunicationsNumber = true">
          <mat-icon>add</mat-icon>Telecom</button>
      </div>

      <div class="grid-2" *ngIf="showOrganisations && !showPeople">
        <a-mat-select class="col" [object]="quote" [roleType]="m.ProductQuote.ContactPerson" [options]="contacts" display="displayName"></a-mat-select>
        <button type="button" mat-icon-button (click)="addPerson = true">
          <mat-icon>add</mat-icon>
        </button>
        <div *ngIf="showOrganisations && addPerson" style="background: lightblue" class="pad">
          <person-inline (cancelled)="personCancelled($event)" (saved)="personAdded($event)">
          </person-inline>
        </div>
      </div>

      <div class="grid-2_md-1" *ngIf="showPeople && !showOrganisations">
        <a-mat-select class="col" [object]="quote" [roleType]="m.ProductQuote.FullfillContactMechanism" [options]="contactMechanisms"
          display="displayName"></a-mat-select>
        <button class="col-1" class="col-1" *ngIf="quote.Receiver" type="button" mat-button (click)="addWebAddress = true">
          <mat-icon>add</mat-icon>Web</button>
        <button class="col-1" class="col-1" *ngIf="quote.Receiver" type="button" mat-button (click)="addEmailAddress = true">
          <mat-icon>add</mat-icon>Email</button>
        <button class="col-1" class="col-1" *ngIf="quote.Receiver" type="button" mat-button (click)="addPostalAddress = true">
          <mat-icon>add</mat-icon>Postal</button>
        <button class="col-1" class="col-1" *ngIf="quote.Receiver" type="button" mat-button (click)="addTeleCommunicationsNumber = true">
          <mat-icon>add</mat-icon>Telecom</button>
      </div>

      <div *ngIf="addWebAddress && quote.Receiver" style="background: lightblue" class="pad">
        <party-contactmechanism-webAddress [scope]="scope" (cancelled)="webAddressCancelled($event)" (saved)="webAddressAdded($event)">
        </party-contactmechanism-webAddress>
      </div>
      <div *ngIf="addEmailAddress && quote.Receiver" style="background: lightblue" class="pad">
        <party-contactmechanism-emailAddress [scope]="scope" (cancelled)="emailAddressCancelled($event)" (saved)="emailAddressAdded($event)">
        </party-contactmechanism-emailAddress>
      </div>
      <div *ngIf="addPostalAddress && quote.Receiver" style="background: lightblue" class="pad">
        <party-contactmechanism-postaladdress [scope]="scope" (cancelled)="postalAddressCancelled($event)" (saved)="postalAddressAdded($event)">
        </party-contactmechanism-postaladdress>
      </div>
      <div *ngIf="addTeleCommunicationsNumber && quote.Receiver" style="background: lightblue" class="pad">
        <party-contactmechanism-telecommunicationsnumber [scope]="scope" (cancelled)="teleCommunicationsNumberCancelled($event)"
          (saved)="teleCommunicationsNumberAdded($event)">
        </party-contactmechanism-telecommunicationsnumber>
      </div>

      <div class="grid-4_lg-2_sm-1">
        <a-mat-datepicker class="col" [object]="quote" [roleType]="m.ProductQuote.ValidFromDate"></a-mat-datepicker>
        <a-mat-datepicker class="col" [object]="quote" [roleType]="m.ProductQuote.ValidThroughDate"></a-mat-datepicker>
      </div>

      <div class="grid-4_lg-2_sm-1">
        <a-mat-datepicker class="col" [object]="quote" [roleType]="m.ProductQuote.IssueDate"></a-mat-datepicker>
        <a-mat-datepicker class="col" [object]="quote" [roleType]="m.ProductQuote.RequiredResponseDate"></a-mat-datepicker>
      </div>

      <div class="grid-1">
        <a-mat-input class="col" [object]="quote" [roleType]="m.ProductQuote.Description"></a-mat-input>
      </div>
      <div class="grid-1">
        <a-mat-static class="col" *ngIf="request?.Comment" [object]="request" [roleType]="m.Request.Comment" label="Request Comment"></a-mat-static>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="quote" [roleType]="m.ProductQuote.Comment" label="Quote Comment"></a-mat-textarea>
      </div>
      <div class="grid-1">
        <a-mat-static class="col" *ngIf="request?.InternalComment" [object]="request" [roleType]="m.Request.InternalComment" label="Request Internal Comment"></a-mat-static>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="quote" [roleType]="m.ProductQuote.InternalComment" label="Quote Internal Comment"></a-mat-textarea>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button mat-button (click)="goBack()" type="button">CANCEL</button>
    </mat-card-actions>

  </form>
</td-layout-card-over>