<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a (click)="navigation.list(m.WorkTask)">WorkTasks</a><span *ngIf="party"> / <a (click)="navigation.overview(party)">{{workTask.Name}}</a></span> / {{title}}
      </div>
    </div>
  </div>

  <form *ngIf="workTask" class="a-edit" #form="ngForm" (submit)="save()" novalidate>

    <mat-card>
      <mat-card-content class="container-fluid">

        <div class="row">
          <a-mat-select class="col-md" [object]="workTask" [roleType]="m.WorkTask.WorkEffortState" [options]="workEffortStates"
            display="Name" label="Status"></a-mat-select>
          <a-mat-input class="col-md" [object]="workTask" [roleType]="m.WorkTask.Name"></a-mat-input>
        </div>

        <div class="row">
          <a-mat-textarea class="col-md-12" [object]="workTask" [roleType]="m.WorkTask.Description"></a-mat-textarea>
        </div>

        <div class="row">
          <a-mat-autocomplete class="col-md-12" [object]="workTask" [roleType]="m.WorkTask.Customer" [filter]="stateService.customersFilter.create(scope)"
            (onChange)="customerSelected($event)" display="Name"></a-mat-autocomplete>
        </div>

        <div class="row">
          <div class="col-md">
            <div class="row">
              <a-mat-select class="col" [object]="workTask" [roleType]="m.WorkTask.FullfillContactMechanism" [options]="contactMechanisms"
                display="displayName"></a-mat-select>
              <button mat-mini-fab color="accent" [disabled]="!workTask.Customer || !workTask.CanWriteName" type="button"
                (click)="addContactMechanism = !addContactMechanism">
                <mat-icon *ngIf="!addContactMechanism">add</mat-icon>
                <mat-icon *ngIf="addContactMechanism">close</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-md12">
            <mat-card *ngIf="workTask.Customer && addContactMechanism">
              <mat-card-header>Add a new contact mechanism</mat-card-header>
              <mat-card-content>
                <party-contactmechanism [scope]="scope" (saved)="contactMechanismAdded($event)" (cancelled)="contactMechanismCancelled()">
                </party-contactmechanism>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-md">
            <div class="row">
              <a-mat-select class="col" [object]="workTask" [roleType]="m.WorkTask.ContactPerson" [options]="contacts"
                display="displayName" label="Contact Person"></a-mat-select>
              <button mat-mini-fab color="accent" [disabled]="!workTask.Customer || !workTask.CanWriteName" type="button"
                (click)="addContactPerson = !addContactPerson">
                <mat-icon *ngIf="!addContactPerson">add</mat-icon>
                <mat-icon *ngIf="addContactPerson">close</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-md-12" *ngIf="workTask.Customer && addContactPerson">
            <mat-card>
              <mat-card-header>Add a new contact mechanism</mat-card-header>
              <mat-card-content>
                <person-inline (cancelled)="addContactPerson = false" (saved)="contactPersonAdded($event)">
                </person-inline>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div class="row">
          <mat-form-field class="col-md">
            <mat-select name="assignment" [(ngModel)]="assignees" placeholder="Assign To" multiple="true">
              <mat-option *ngFor="let employee of employees" [value]="employee">{{ employee.displayName }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <div class="row">
          <a-mat-select class="col-md" [object]="workTask" [roleType]="m.WorkTask.Priority" [options]="priorities"
            display="Name"></a-mat-select>
          <a-mat-select class="col-md" [object]="workTask" [roleType]="m.WorkTask.WorkEffortPurposes" [options]="workEffortPurposes"
            display="Name" label="Purpose(s)"></a-mat-select>
        </div>

        <div class="row">
          <a-mat-input class="col-md" [object]="workTask" [roleType]="m.WorkTask.EstimatedHours"></a-mat-input>
          <a-mat-input class="col-md" [object]="workTask" [roleType]="m.WorkTask.ActualHours"></a-mat-input>
        </div>

        <div class="row">
          <a-mat-datetimepicker class="col-md" [object]="workTask" [roleType]="m.WorkTask.ScheduledStart"></a-mat-datetimepicker>
          <a-mat-datetimepicker class="col-md" [object]="workTask" [roleType]="m.WorkTask.ActualStart"></a-mat-datetimepicker>
        </div>

        <div class="row">
          <a-mat-datetimepicker class="col-md" [object]="workTask" [roleType]="m.WorkTask.ScheduledCompletion"></a-mat-datetimepicker>
          <a-mat-datetimepicker class="col-md" [object]="workTask" [roleType]="m.WorkTask.ActualCompletion"></a-mat-datetimepicker>
        </div>

      </mat-card-content>
    </mat-card>

    <a-mat-footer>
      <button mat-raised-button (click)="navigation.back()" type="button">CANCEL</button>
      <button mat-raised-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.scope.session.hasChanges">SAVE</button>
    </a-mat-footer>

  </form>
</div>