<div class="a-master">
  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
      <span class="col"></span>
      <internalorganisation-select></internalorganisation-select>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card>
      <mat-card-content class="container-fluid a-search">
        <form class="row" novalidate [formGroup]="searchForm">

          <mat-form-field class="col" *ngIf="!advancedSearch" appearance="outline">
            <mat-label>Search by Organisation</mat-label>
            <input matInput autocomplete="off" formControlName="company">
            <button matSuffix mat-icon-button (click)="advancedSearch = !advancedSearch" title="Advanced Search">
              <mat-icon>expand_more</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Search by Organisation</mat-label>
            <input matInput formControlName="company">
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>From Internal Organisation</mat-label>
            <mat-select formControlName="internalOrganisation" name="internalOrganisation" [(ngModel)]="selectedInternalOrganisation">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let internalOrganisation of internalOrganisations" [value]="internalOrganisation.PartyName">{{ internalOrganisation.PartyName }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Invoice Number</mat-label>
            <input matInput formControlName="invoiceNumber">
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Number</mat-label>
            <input matInput formControlName="invoiceNumber">
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>To Internal Organisation</mat-label>
            <mat-select formControlName="internalOrganisation" name="internalOrganisation" [(ngModel)]="selectedInternalOrganisation">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let internalOrganisation of internalOrganisations" [value]="internalOrganisation.PartyName">{{ internalOrganisation.PartyName }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div class="mat-form-field-infix" *ngIf="advancedSearch">
            <mat-checkbox formControlName="repeating">Repeating</mat-checkbox>
          </div>

          <div class="col-1 pt-2" *ngIf="advancedSearch">
            <button mat-icon-button type="button" class="mat-icon-button" (click)="searchForm.reset(); advancedSearch = !advancedSearch;"
              title="Reset Search">
              <mat-icon>close</mat-icon>
            </button>
          </div>

        </form>
      </mat-card-content>

      <mat-card-content class="container-fluid a-list">
        <div *ngIf="data?.length === 0">
          <h3>No sales invoices to display.</h3>
        </div>

        <mat-list>
          <mat-list-item *ngFor="let invoice of data; let last = last" (click)="router.navigate(['/accountsreceivable/invoice/', invoice.id])"
            style="cursor: pointer;">

            <h3 mat-line> {{invoice.BillToCustomer.displayName}}</h3>
            <h4 mat-line>number: {{invoice.InvoiceNumber }} reference: {{invoice.CustomerReference}} ({{invoice.SalesInvoiceState.Name}})</h4>
            <h4 mat-line>{{invoice.Description}}</h4>
            <p mat-line> last modified: {{ invoice.LastModifiedDate | date : shortDate }} </p>

            <div (click)="$event.stopPropagation()">
              <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a [routerLink]="['/accountsreceivable/invoice/' + invoice.id ]" mat-menu-item>Details</a>
                <a [routerLink]="['/printinvoice/' + invoice.id ]" mat-menu-item>Preview</a>
                <button mat-menu-item (click)="print(invoice)">Print</button>
              </mat-menu>
            </div>

            <mat-divider *ngIf="!last" mat-inset></mat-divider>
          </mat-list-item>
        </mat-list>
      </mat-card-content>

    </mat-card>
  </div>

  <mat-toolbar class="a-footer">
    <mat-toolbar-row class="row">
      <span class="col"></span>
      <a mat-raised-button [routerLink]="['/salesinvoice']">
        Add New
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

</div>