<div class="a-detail">

  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
      <span class="col"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container-fluid">
    <div *ngIf="invoice" class="row">
      <div class="col-md-6">
        <mat-card>
          <div class="row">
            <div class="col">
              <h2><mat-icon>credit_card</mat-icon> Sales Invoice</h2>
            </div>
          </div>

          <mat-card-content>
            <div class="container">
              <div class="row">
                <a-mat-static class="col" [object]="invoice" [roleType]="m.SalesInvoice.SalesInvoiceState" display="Name" label="Status"></a-mat-static>
                <a-mat-static class="col" [object]="invoice" [roleType]="m.SalesInvoice.InvoiceNumber"></a-mat-static>
              </div>

              <div class="row">
                <a-mat-static class="col" *ngIf="invoice.SalesOrder" [object]="invoice" [roleType]="m.SalesInvoice.SalesOrder" display="OrderNumber"
                  [routerLink]="['/orders/salesOrder/' + invoice.SalesOrder.id ]"></a-mat-static>
              </div>

              <div *ngIf="invoice.BillToCustomer" class="row">
                <a-mat-static class="col" [object]="invoice" [roleType]="m.SalesInvoice.BillToCustomer" display="displayName" label="Bill to Customer"></a-mat-static>
                <a-mat-static class="col" [object]="invoice" [roleType]="m.SalesInvoice.BillToContactMechanism" display="displayName" label="Bill to ContactMechanism"></a-mat-static>
              </div>

              <div *ngIf="invoice.ShipToCustomer" class="row">
                <a-mat-static class="col" [object]="invoice" [roleType]="m.SalesInvoice.ShipToCustomer" display="displayName" label="Ship to Customer"></a-mat-static>
                <a-mat-static class="col" [object]="invoice" [roleType]="m.SalesInvoice.ShipToAddress" display="displayName" label="Ship to Address"></a-mat-static>
              </div>

              <div *ngIf="invoice.BillToEndCustomer" class="row">
                <a-mat-static class="col" [object]="invoice" [roleType]="m.SalesInvoice.BillToEndCustomer" display="displayName" label="Bill to End Customer"></a-mat-static>
                <a-mat-static class="col" [object]="invoice" [roleType]="m.SalesInvoice.BillToEndCustomerContactMechanism" display="displayName"
                  label="Bill to End Customer ContactMechanism"></a-mat-static>
              </div>

              <div *ngIf="invoice.ShipToEndCustomer" class="row">
                <a-mat-static class="col" [object]="invoice" [roleType]="m.SalesInvoice.ShipToEndCustomer" display="displayName" label="Ship to End Customer"></a-mat-static>
                <a-mat-static class="col" [object]="invoice" [roleType]="m.SalesInvoice.ShipToEndCustomerAddress" display="displayName" label="Ship to End Customer Address"></a-mat-static>
              </div>

              <div class="row">
                <a-mat-static class="col" *ngIf="invoice.CustomerReference" [object]="invoice" [roleType]="m.PurchaseInvoice.CustomerReference"></a-mat-static>
                <a-mat-static class="col" *ngIf="invoice.Description" [object]="invoice" [roleType]="m.SalesInvoice.Description"></a-mat-static>
                <a-mat-static class="col" *ngIf="order?.Comment" [object]="order" [roleType]="m.SalesOrder.Comment" label="Order Comment"></a-mat-static>
                <a-mat-textarea class="col" *ngIf="invoice.Comment" [object]="invoice" [roleType]="m.SalesInvoice.Comment" label="Invoice Comment"
                  class="col-md-12"></a-mat-textarea>
                <a-mat-static class="col" *ngIf="order?.InternalComment" [object]="order" [roleType]="m.SalesOrder.InternalComment" label="Order Internal Comment"></a-mat-static>
                <a-mat-textarea class="col" *ngIf="invoice.InternalComment" [object]="invoice" [roleType]="m.SalesInvoice.InternalComment"
                  label="Invoice Internal Comment" class="col-md-12"></a-mat-textarea>
              </div>

              <div>
                <p> created: {{ invoice.CreationDate | date}} by {{ invoice.CreatedBy.displayName}}</p>
                <p> last modified: {{ invoice.LastModifiedDate | date}} by {{ invoice.LastModifiedBy.displayName}}</p>
              </div>
            </div>

          </mat-card-content>

          <mat-card-actions>
            <button *ngIf="invoice.CanWriteSalesInvoiceItems" mat-button [routerLink]="['/salesinvoice/' + invoice.id]">Edit</button>
            <button *ngIf="!invoice.CanWriteSalesInvoiceItems" mat-button [routerLink]="['/salesinvoice/' + invoice.id]">View</button>
            <button *ngIf="invoice.CanExecuteSend" mat-button type="button" (click)="send()">Send</button>
            <button *ngIf="invoice.CanExecuteCancelInvoice" mat-button type="button" (click)="cancel()">Cancel</button>
            <button *ngIf="invoice.CanExecuteWriteOff" mat-button type="button" (click)="writeOff()">Write off</button>
            <button *ngIf="invoice.CanExecuteCopy" mat-button type="button" (click)="copy()">Copy</button>
            <button *ngIf="invoice.CanExecuteReopen" mat-button type="button" (click)="reopen()">Reopen</button>
            <button *ngIf="invoice.CanExecuteCredit" mat-button type="button" (click)="credit()">Credit</button>
            <button mat-button [routerLink]="['/printinvoice/' + invoice.id ]">Preview</button>
            <button mat-button (click)="print()">Print</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>
          <div class="row">
            <div class="col">
              <h2><mat-icon>subject</mat-icon> Invoice Items</h2>
            </div>
          </div>

          <mat-card-content>

            <ul *ngIf="invoice?.SalesInvoiceItems?.length === 0">
              <li>no items to display</li>
            </ul>

            <mat-list>
              <mat-list-item *ngFor="let invoiceItem of invoice.SalesInvoiceItems; let last=last" [attr.data-allors-id]="invoiceItem.id">
                <h3 *ngIf="invoiceItem.Product && invoice.CanWriteSalesInvoiceItems" mat-line [routerLink]="['/salesinvoice/' + invoice.id + '/item/' + invoiceItem.id ]">{{invoiceItem.Quantity}} * {{invoiceItem.Product.Name}}</h3>
                <h3 *ngIf="invoiceItem.Product && !invoice.CanWriteSalesInvoiceItems" mat-line [routerLink]="['/salesinvoice/' + invoice.id + '/item/' + invoiceItem.id ]">{{invoiceItem.Quantity}} * {{invoiceItem.Product.Name}}</h3>

                <h3 *ngIf="!invoiceItem.Product && invoice.CanWriteSalesInvoiceItems" mat-line [routerLink]="['/salesinvoice/' + invoice.id + '/item/' + invoiceItem.id ]">{{invoiceItem.InvoiceItemType.Name}}</h3>
                <h3 *ngIf="!invoiceItem.Product && !invoice.CanWriteSalesInvoiceItems" mat-line [routerLink]="['/salesinvoice/' + invoice.id + '/item/' + invoiceItem.id ]">{{invoiceItem.InvoiceItemType.Name}}</h3>

                <h4 mat-line>Total ex VAT: {{invoiceItem.TotalExVat}}</h4>

                <span>
                  <button mat-icon-button [mat-menu-trigger-for]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <a *ngIf="invoice.CanWriteSalesInvoiceItems" [routerLink]="['/salesinvoice/' + invoice.id + '/item/' + invoiceItem.id ]"
                      mat-menu-item>Edit</a>
                    <a *ngIf="!invoice.CanWriteSalesInvoiceItems" [routerLink]="['/salesinvoice/' + invoice.id + '/item/' + invoiceItem.id ]"
                      mat-menu-item>View</a>
                    <button mat-menu-item (click)="deleteInvoiceItem(invoiceItem)" [disabled]="!invoiceItem.CanExecuteDelete">Delete</button>
                  </mat-menu>
                </span>
                <mat-divider *ngIf="!last" mat-inset></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-card-content>

          <mat-card-actions>
            <button *ngIf="invoice.CanWriteSalesInvoiceItems" mat-button [routerLink]="['/salesinvoice/' + invoice.id +'/item']">Add new</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>

          <div class="row">
            <div class="col">
              <h2><mat-icon>question_answers</mat-icon> Invoice Terms</h2>
            </div>
          </div>

          <mat-card-content>

            <ul *ngIf="invoice?.SalesTerms?.length === 0">
              <li>No terms to display.</li>
            </ul>

            <mat-list>
              <mat-list-item *ngFor="let salesTerm of invoice.SalesTerms; let last=last" [attr.data-allors-id]="salesTerm.id">
                <h3 *ngIf="salesTerm?.objectType.name == 'IncoTerm' && salesTerm.TermValue" mat-line [routerLink]="['/salesinvoice/' + invoice.id + '/incoterm/' + salesTerm.id ]">{{salesTerm.TermType.Name}}: {{salesTerm.TermValue}}</h3>
                <h3 *ngIf="salesTerm?.objectType.name == 'IncoTerm' && !salesTerm.TermValue" mat-line [routerLink]="['/salesinvoice/' + invoice.id + '/incoterm/' + salesTerm.id ]">{{salesTerm.TermType.Name}}</h3>
                <h3 *ngIf="salesTerm?.objectType.name == 'InvoiceTerm' && salesTerm.TermValue" mat-line [routerLink]="['/salesinvoice/' + invoice.id + '/invoiceterm/' + salesTerm.id ]">{{salesTerm.TermType.Name}}: {{salesTerm.TermValue}}</h3>
                <h3 *ngIf="salesTerm?.objectType.name == 'InvoiceTerm' && !salesTerm.TermValue" mat-line [routerLink]="['/salesinvoice/' + invoice.id + '/invoiceterm/' + salesTerm.id ]">{{salesTerm.TermType.Name}}</h3>
                <h3 *ngIf="salesTerm?.objectType.name == 'OrderTerm' && salesTerm.TermValue" mat-line [routerLink]="['/salesinvoice/' + invoice.id + '/orderterm/' + salesTerm.id ]">{{salesTerm.TermType.Name}}: {{salesTerm.TermValue}}</h3>
                <h3 *ngIf="salesTerm?.objectType.name == 'OrderTerm' && !salesTerm.TermValue" mat-line [routerLink]="['/salesinvoice/' + invoice.id + '/orderterm/' + salesTerm.id ]">{{salesTerm.TermType.Name}}</h3>

                <div (click)="$event.stopPropagation()">
                  <button mat-icon-button [mat-menu-trigger-for]="menuEdit">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menuEdit="matMenu">
                    <a *ngIf="salesTerm?.objectType.name == 'IncoTerm'" [routerLink]="['/salesinvoice/' + invoice.id + '/incoterm/' + salesTerm.id ]"
                      mat-menu-item>Edit</a>
                    <a *ngIf="salesTerm?.objectType.name == 'InvoiceTerm'" [routerLink]="['/salesinvoice/' + invoice.id + '/invoiceterm/' + salesTerm.id ]"
                      mat-menu-item>Edit</a>
                    <a *ngIf="salesTerm?.objectType.name == 'OrderTerm'" [routerLink]="['/salesinvoice/' + invoice.id + '/orderterm/' + salesTerm.id ]"
                      mat-menu-item>Edit</a>
                    <button mat-menu-item (click)="deleteSalesTerm(salesTerm)" [disabled]="!invoice.CanExecuteDelete">Delete</button>
                  </mat-menu>
                </div>
                <mat-divider *ngIf="!last" mat-inset></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button [matMenuTriggerFor]="menuAdd">Add new</button>
            <mat-menu #menuAdd="matMenu">
              <button mat-menu-item *ngIf="invoice.CanWriteSalesTerms" [routerLink]="['/salesinvoice/' + invoice.id +'/incoterm']">Incoterm</button>
              <button mat-menu-item *ngIf="invoice.CanWriteSalesTerms" [routerLink]="['/salesinvoice/' + invoice.id +'/invoiceterm']">Invoice term</button>
              <button mat-menu-item *ngIf="invoice.CanWriteSalesTerms" [routerLink]="['/salesinvoice/' + invoice.id +'/orderterm']">Order term</button>
            </mat-menu>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>

          <div class="row">
            <div class="col">
              <h2><mat-icon>loop</mat-icon> Repeating Invoice</h2>
            </div>
          </div>

          <mat-card-content>

            <ul *ngIf="!repeatingInvoice">
              <li>This is not a repeating invoice.</li>
            </ul>

            <div class="container" *ngIf="repeatingInvoice">
              <div class="row">
                <a-mat-static class="col" [object]="repeatingInvoice" [roleType]="m.RepeatingSalesInvoice.Frequency" display="Name"></a-mat-static>
                <a-mat-static class="col" [object]="repeatingInvoice" [roleType]="m.RepeatingSalesInvoice.DayOfWeek" display="Name"></a-mat-static>
                <mat-form-field class="col">
                  <input disabled=true matInput placeholder="Last Execution" [value]="repeatingInvoice.FinalExecutionDate?.toDateString()">
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="col" >
                  <input disabled=true matInput placeholder="Next Execution" [value]="repeatingInvoice.NextExecutionDate.toDateString()">
                </mat-form-field>
                <mat-form-field class="col" >
                  <input disabled=true matInput placeholder="Previous Execution" [value]="repeatingInvoice.PreviousExecutionDate?.toDateString()">
                </mat-form-field>
              </div>
          </div>

          </mat-card-content>

          <mat-card-actions>
            <button *ngIf="!repeatingInvoice" mat-button [routerLink]="['/salesinvoice/' + invoice.id +'/repeat']">Add new</button>
            <button *ngIf="repeatingInvoice" mat-button [routerLink]="['/salesinvoice/' + invoice.id + '/repeat/' + repeatingInvoice.id]">Edit</button>
          </mat-card-actions>
        </mat-card>
      </div>
    </div>
  </div>
</div>
