<mat-toolbar>
  <div  layout-align="start center" flex>
    <button mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{title}}</span>
    <span flex></span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-card>
  <div class="pad-top-xs pad-left pad-right">
    <form novalidate [formGroup]="searchForm">
      <div >
        <mat-form-field >
          <input matInput placeholder="Organisation" formControlName="company">
        </mat-form-field>
        <mat-form-field >
          <input matInput placeholder="Number" formControlName="invoiceNumber">
        </mat-form-field>
        <mat-form-field >
          <mat-select formControlName="internalOrganisation" name="internalOrganisation" [(ngModel)]="selectedInternalOrganisation"
            placeholder="To Internal Organisation">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let internalOrganisation of internalOrganisations" [value]="internalOrganisation.PartyName">{{ internalOrganisation.PartyName }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field >
          <mat-select formControlName="state" name="state" [(ngModel)]="selectedSalesInvoiceState" placeholder="State">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let objectState of salesInvoiceStates" [value]="objectState.Name">{{ objectState.Name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-checkbox formControlName="repeating">Repeating</mat-checkbox>
        <mat-icon matSuffix>search</mat-icon>
      </div>
    </form>
  </div>

  <mat-divider></mat-divider>


  <mat-list class="will-load">
    <div  *ngIf="data && data.length === 0"  >
      <h3>No sales invoices to display.</h3>
    </div>
    <ng-template let-invoice let-last="last" ngFor [ngForOf]="data">
      <mat-list-item>

        <h3 [routerLink]="['/accountsreceivable/invoice/' + invoice.id ]" mat-line> {{invoice.BillToCustomer.displayName}}</h3>
        <h4 mat-line>number: {{invoice.InvoiceNumber }} reference: {{invoice.CustomerReference}} ({{invoice.SalesInvoiceState.Name}})</h4>
        <h4 mat-line>{{invoice.Description}}</h4>
        <p mat-line hide-gt-md class="mat-caption"> last modified: {{ invoice.LastModifiedDate | date : shortDate }} </p>

        <span flex></span>

        <span      >
          <div  > {{ invoice.CreationDate | date }} </div>
          <div  > {{ invoice.LastModifiedDate | date : shortDate }} </div>
        </span>

        <span>
          <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <a [routerLink]="['/accountsreceivable/invoice/' + invoice.id ]" mat-menu-item>Details</a>
            <a [routerLink]="['/printinvoice/' + invoice.id ]" mat-menu-item>Preview</a>
            <button mat-menu-item (click)="print(invoice)">Print</button>
          </mat-menu>
        </span>

      </mat-list-item>
      <mat-divider *ngIf="!last" mat-inset></mat-divider>
    </ng-template>
  </mat-list>
</mat-card>

<mat-card body *ngIf="this.data && this.data.length !== total">
  <mat-card-content>
    <button mat-button (click)="more()">More</button> {{this.data?.length}}/{{total}}
  </mat-card-content>
</mat-card>

<a mat-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['/salesinvoice']">
  <mat-icon>add</mat-icon>
</a>