<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{title}}</span>
    <span flex></span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div body *ngIf="order" layout-gt-md="row">
  <div flex-gt-xs="50">
    <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <mat-card-title>Sales Order</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="pad">
          <div class="grid-4_lg-2_sm-1">
            <a-mat-static class="col" [object]="order" [roleType]="m.SalesOrder.OrderNumber"></a-mat-static>
            <a-mat-static class="col link" *ngIf="order.Quote" [object]="order" [roleType]="m.SalesOrder.Quote" display="QuoteNumber"
              [routerLink]="['/orders/productQuote/' + order.Quote.id ]"></a-mat-static>
            <a-mat-static class="col" [object]="order" [roleType]="m.SalesOrder.SalesOrderState" display="Name" label="Status"></a-mat-static>
            <a-mat-static class="col link" *ngIf="salesInvoice" [object]="salesInvoice" [roleType]="m.SalesInvoice.InvoiceNumber" [routerLink]="['/accountsreceivable/invoice/' + salesInvoice.id ]"></a-mat-static>
          </div>

          <div class="grid-3_sm-1">
            <a-mat-static class="col" [object]="order" [roleType]="m.SalesOrder.SalesOrderShipmentState" display="Name" label="Shipment Status"></a-mat-static>
            <a-mat-static class="col" [object]="order" [roleType]="m.SalesOrder.SalesOrderInvoiceState" display="Name" label="Invoice Status"></a-mat-static>
            <a-mat-static class="col" [object]="order" [roleType]="m.SalesOrder.SalesOrderPaymentState" display="Name" label="Payment Status"></a-mat-static>
          </div>

          <div *ngIf="order.ShipToCustomer" class="grid-2_xs-1">
            <a-mat-static *ngIf="order.ShipToCustomer?.objectType.name == 'Organisation'" class="col link" [object]="order" [roleType]="m.SalesOrder.ShipToCustomer"
              display="displayName" label="Ship to Customer" [routerLink]="['/relations/organisation/' + order.ShipToCustomer.id ]"></a-mat-static>
            <a-mat-static *ngIf="order.ShipToCustomer?.objectType.name == 'Person'" class="col link" [object]="order" [roleType]="m.SalesOrder.ShipToCustomer"
              display="displayName" label="Ship to Customer" [routerLink]="['/relations/person/' + order.ShipToCustomer.id ]"></a-mat-static>
            <a-mat-static class="col" [object]="order" [roleType]="m.SalesOrder.ShipToAddress" display="displayName" label="Ship to"></a-mat-static>
          </div>

          <div *ngIf="order.BillToCustomer" class="grid-2_xs-1">
            <a-mat-static *ngIf="order.BillToCustomer?.objectType.name == 'Organisation'" class="col link" [object]="order" [roleType]="m.SalesOrder.BillToCustomer"
              display="displayName" label="Bill to Customer" [routerLink]="['/relations/organisation/' + order.BillToCustomer.id ]"></a-mat-static>
            <a-mat-static *ngIf="order.BillToCustomer?.objectType.name == 'Person'" class="col link" [object]="order" [roleType]="m.SalesOrder.BillToCustomer"
              display="displayName" label="Bill to Customer" [routerLink]="['/relations/person/' + order.BillToCustomer.id ]"></a-mat-static>
            <a-mat-static class="col" [object]="order" [roleType]="m.SalesOrder.BillToContactMechanism" display="displayName" label="Bill to Address"></a-mat-static>
          </div>

          <div *ngIf="order.BillToEndCustomer" class="grid-2_xs-1">
            <a-mat-static *ngIf="order.BillToEndCustomer?.objectType.name == 'Organisation'" class="col link" [object]="order" [roleType]="m.SalesOrder.BillToEndCustomer"
              display="displayName" label="Bill to End Customer" [routerLink]="['/relations/organisation/' + order.BillToEndCustomer.id ]"></a-mat-static>
            <a-mat-static *ngIf="order.BillToEndCustomer?.objectType.name == 'Person'" class="col link" [object]="order" [roleType]="m.SalesOrder.BillToEndCustomer"
              display="displayName" label="Bill to End Customer" [routerLink]="['/relations/person/' + order.BillToEndCustomer.id ]"></a-mat-static>
            <a-mat-static class="col" [object]="order" [roleType]="m.SalesOrder.BillToEndCustomerContactMechanism" display="displayName" label="Bill to Address"></a-mat-static>
          </div>

          <div *ngIf="order.ShipToEndCustomer" class="grid-2_xs-1">
            <a-mat-static *ngIf="order.ShipToEndCustomer?.objectType.name == 'Organisation'" class="col link" [object]="order" [roleType]="m.SalesOrder.ShipToEndCustomer"
              display="displayName" label="Ship to End Customer" [routerLink]="['/relations/organisation/' + order.ShipToEndCustomer.id ]"></a-mat-static>
            <a-mat-static *ngIf="order.ShipToEndCustomer?.objectType.name == 'Person'" class="col link" [object]="order" [roleType]="m.SalesOrder.ShipToEndCustomer"
              display="displayName" label="Ship to End Customer" [routerLink]="['/relations/person/' + order.ShipToEndCustomer.id ]"></a-mat-static>
            <a-mat-static class="col" [object]="order" [roleType]="m.SalesOrder.ShipToEndCustomerAddress" display="displayName" label="Ship to Address"></a-mat-static>
          </div>

          <div class="grid-1">
            <a-mat-static class="col" *ngIf="order.Description" [object]="order" [roleType]="m.SalesOrder.Description"></a-mat-static>
          </div>
          <div class="grid-1">
            <a-mat-static class="col" *ngIf="quote?.Comment" [object]="quote" [roleType]="m.Quote.Comment" label="Quote Comment"></a-mat-static>
          </div>
          <div class="grid-1">
            <a-mat-textarea class="col" *ngIf="order.Comment" [object]="order" [roleType]="m.SalesOrder.Comment" label="Order Comment"></a-mat-textarea>
          </div>
          <div class="grid-1">
            <a-mat-static class="col" *ngIf="quote?.InternalComment" [object]="quote" [roleType]="m.Quote.InternalComment" label="Quote Internal Comment"></a-mat-static>
          </div>
          <div class="grid-1">
            <a-mat-textarea class="col" *ngIf="order.InternalComment" [object]="order" [roleType]="m.SalesOrder.InternalComment" label="Order Internal Comment"></a-mat-textarea>
          </div>

          <div class="grid-2_sm-1">
            <p class="col mat-caption tc-grey-500"> created: {{ order.CreationDate | date}} by {{ order.CreatedBy.displayName}}</p>
            <p class="col mat-caption tc-grey-500"> last modified: {{ order.LastModifiedDate | date}} by {{ order.LastModifiedBy.displayName}}</p>
          </div>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions>
        <button *ngIf="order.CanWriteSalesOrderItems" mat-button [routerLink]="['/salesOrder/' + order.id]">Edit</button>
        <button *ngIf="!order.CanWriteSalesOrderItems" mat-button [routerLink]="['/salesOrder/' + order.id]">View</button>
        <button mat-button [routerLink]="['/printsalesorder/' + order.id ]">Print</button>
        <button *ngIf="order.CanExecuteCancel" mat-button (click)="cancel()">Cancel</button>
        <button *ngIf="order.CanExecuteApprove" mat-button (click)="approve()">Approve</button>
        <button *ngIf="order.CanExecuteReject" mat-button (click)="reject()">Reject</button>
        <button *ngIf="order.CanExecuteHold" mat-button (click)="hold()">Hold</button>
        <button *ngIf="order.CanExecuteContinue" mat-button (click)="continue()">Continue</button>
        <button *ngIf="order.CanExecuteConfirm" mat-button (click)="confirm()">Confirm</button>
        <button *ngIf="order.CanExecuteShip" mat-button (click)="ship()">Ship to customer</button>
        <button *ngIf="order.CanExecuteInvoice && order.ValidOrderItems.length > 0" mat-button (click)="createInvoice()">Create Invoice</button>
      </mat-card-actions>
    </mat-card>

    <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <mat-card-title>Order Items</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <ng-template tdLoading="order.SalesOrderItems">
          <mat-list class="will-load">
            <div class="mat-padding" *ngIf="order.SalesOrderItems.length === 0" layout="row" layout-align="center center">
              <h3>No Items to display.</h3>
            </div>

            <ng-template let-orderItem let-last="last" ngFor [ngForOf]="order.SalesOrderItems">
              <mat-list-item>
                <h3 *ngIf="orderItem.Product" mat-line [routerLink]="['/salesOrder/' + order.id + '/item/' + orderItem.id ]">{{orderItem.QuantityOrdered}} * {{orderItem.Product.Name}} ({{orderItem.SalesOrderItemState.Name}})</h3>
                <h3 *ngIf="!orderItem.Product" mat-line [routerLink]="['/salesOrder/' + order.id + '/item/' + orderItem.id ]">{{orderItem.ItemType.Name}} ({{orderItem.SalesOrderItemState.Name}})</h3>
                <h4 mat-line>Total ex VAT: {{orderItem.TotalExVat}}</h4>
                <span>
                  <button mat-icon-button [mat-menu-trigger-for]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu x-position="before" #menu="matMenu">
                    <a *ngIf="order.CanWriteSalesOrderItems && orderItem.CanWriteQuantityOrdered" [routerLink]="['/salesOrder/' + order.id + '/item/' + orderItem.id ]"
                      mat-menu-item>Edit</a>
                    <a *ngIf="!order.CanWriteSalesOrderItems || !orderItem.CanWriteQuantityOrdered" [routerLink]="['/salesOrder/' + order.id + '/item/' + orderItem.id ]"
                      mat-menu-item>View</a>
                    <button [disabled]="!orderItem.CanExecuteCancel" mat-menu-item (click)="cancelOrderItem(orderItem)">Cancel</button>
                    <button [disabled]="!orderItem.CanExecuteReject" mat-menu-item (click)="rejectOrderItem(orderItem)">Reject</button>
                    <button [disabled]="!orderItem.CanExecuteDelete" mat-menu-item (click)="deleteOrderItem(orderItem)">Delete</button>
                  </mat-menu>
                </span>
              </mat-list-item>
              <mat-divider *ngIf="!last" mat-inset></mat-divider>
            </ng-template>
          </mat-list>
        </ng-template>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button *ngIf="order.CanWriteSalesOrderItems" mat-button [routerLink]="['/salesOrder/' + order.id +'/item']">+ Add</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div flex-gt-xs="50">
    <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <mat-card-title>Order Terms</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <ng-template tdLoading="order.SalesTerms">
          <mat-list class="will-load">
            <div *ngIf="order.SalesTerms.length === 0" layout="row" layout-align="center center">
              <h3>No terms to display.</h3>
            </div>

            <ng-template let-salesTerm let-last="last" ngFor [ngForOf]="order.SalesTerms">
              <mat-list-item>
                <h3 *ngIf="salesTerm?.objectType.name == 'IncoTerm' && salesTerm.TermValue" mat-line [routerLink]="['/salesOrder/' + order.id + '/incoterm/' + salesTerm.id ]">{{salesTerm.TermType.Name}}: {{salesTerm.TermValue}}</h3>
                <h3 *ngIf="salesTerm?.objectType.name == 'IncoTerm' && !salesTerm.TermValue" mat-line [routerLink]="['/salesOrder/' + order.id + '/incoterm/' + salesTerm.id ]">{{salesTerm.TermType.Name}}</h3>
                <h3 *ngIf="salesTerm?.objectType.name == 'InvoiceTerm' && salesTerm.TermValue" mat-line [routerLink]="['/salesOrder/' + order.id + '/invoiceterm/' + salesTerm.id ]">{{salesTerm.TermType.Name}}: {{salesTerm.TermValue}}</h3>
                <h3 *ngIf="salesTerm?.objectType.name == 'InvoiceTerm' && !salesTerm.TermValue" mat-line [routerLink]="['/salesOrder/' + order.id + '/invoiceterm/' + salesTerm.id ]">{{salesTerm.TermType.Name}}</h3>
                <h3 *ngIf="salesTerm?.objectType.name == 'OrderTerm' && salesTerm.TermValue" mat-line [routerLink]="['/salesOrder/' + order.id + '/orderterm/' + salesTerm.id ]">{{salesTerm.TermType.Name}}: {{salesTerm.TermValue}}</h3>
                <h3 *ngIf="salesTerm?.objectType.name == 'OrderTerm' && !salesTerm.TermValue" mat-line [routerLink]="['/salesOrder/' + order.id + '/orderterm/' + salesTerm.id ]">{{salesTerm.TermType.Name}}</h3>

                <span>
                  <button mat-icon-button [mat-menu-trigger-for]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu x-position="before" #menu="matMenu">
                    <a *ngIf="salesTerm?.objectType.name == 'IncoTerm'" [routerLink]="['/salesOrder/' + order.id + '/incoterm/' + salesTerm.id ]"
                      mat-menu-item>Edit</a>
                    <a *ngIf="salesTerm?.objectType.name == 'InvoiceTerm'" [routerLink]="['/salesOrder/' + order.id + '/invoiceterm/' + salesTerm.id ]"
                      mat-menu-item>Edit</a>
                    <a *ngIf="salesTerm?.objectType.name == 'OrderTerm'" [routerLink]="['/salesOrder/' + order.id + '/orderterm/' + salesTerm.id ]"
                      mat-menu-item>Edit</a>
                    <button mat-menu-item (click)="deleteSalesTerm(salesTerm)" [disabled]="!salesTerm.CanExecuteDelete">Delete</button>
                  </mat-menu>
                </span>
              </mat-list-item>
              <mat-divider *ngIf="!last" mat-inset></mat-divider>
            </ng-template>
          </mat-list>
        </ng-template>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button *ngIf="order.CanWriteSalesTerms" mat-button [routerLink]="['/salesOrder/' + order.id +'/incoterm']">+ Incoterm</button>
        <button *ngIf="order.CanWriteSalesTerms" mat-button [routerLink]="['/salesOrder/' + order.id +'/invoiceterm']">+ Invoice term</button>
        <button *ngIf="order.CanWriteSalesTerms" mat-button [routerLink]="['/salesOrder/' + order.id +'/orderterm']">+ Order term</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>