<table mat-table [dataSource]="table.dataSource" width="100%">

  <ng-container *ngIf="table.selection" matColumnDef="select" sticky>
    <th mat-header-cell *matHeaderCellDef (click)="$event.stopPropagation()" style="width: 4rem">
      <mat-checkbox (change)="$event ? table.masterToggle() : null" [checked]="table.isAnySelectd && table.isAllSelected"
        [indeterminate]="table.isAnySelectd && !isAllSelected">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
      <mat-checkbox (change)="$event ? table.selection.toggle(row) : null" [checked]="table.selection.isSelected(row)">
      </mat-checkbox>
    </td>
  </ng-container>

  <ng-container *ngFor="let column of table.columns" matColumnDef="{{column.name}}">
    <th mat-header-cell *matHeaderCellDef mat-sort-header>{{column.label}}</th>
    <td mat-cell *matCellDef="let element"> {{element[column.name]}} </td>
  </ng-container>

  <ng-container *ngIf="table.hasActions" matColumnDef="menu" stickyEnd>
    <th mat-header-cell *matHeaderCellDef> </th>
    <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()" [mat-menu-trigger-for]="menu">
      <button type="button" mat-icon-button>
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button  *ngFor="let action of table.actions" mat-menu-item (click)="handle(action, row)" [disabled]="disabled(action, row)">{{name(action, row)}}</button>
        <!-- <a (click)="navigation.overview(row.person)" mat-menu-item>Details</a>
        <button mat-menu-item (click)="delete(row.person)" [disabled]="!row.person.CanExecuteDelete">Delete</button> -->
      </mat-menu>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="table.columnNames"></tr>
  <tr mat-row *matRowDef="let row; columns: table.columnNames;"></tr>
</table>