<div>
  <table mat-table matSort [dataSource]="table.dataSource" [matSortActive]="table.sortValue?.active" [matSortDirection]="table.sortValue?.direction" (matSortChange)="table.sort($event)">

    <ng-container *ngIf="table.selection" matColumnDef="select" sticky>
      <th mat-header-cell *matHeaderCellDef (click)="$event.stopPropagation()" style="width: 4rem">
        <mat-checkbox (change)="$event ? table.masterToggle() : null" [checked]="table.anySelected && table.allSelected"
          [indeterminate]="table.anySelected && !isAllSelected">
        </mat-checkbox>
      </th>
      <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()">
        <mat-checkbox (change)="$event ? table.selection.toggle(row) : null" [checked]="table.selection.isSelected(row)">
        </mat-checkbox>
      </td>
    </ng-container>

    <ng-container *ngFor="let column of table.columns" matColumnDef="{{column.name}}">
      <th mat-header-cell *matHeaderCellDef mat-sort-header [disabled]="!column.sort">{{column.label}}</th>
      <td mat-cell *matCellDef="let element" (click)="onCellClick(element, column)" [style.cursor]="cellStyle(element, column)"> {{element[column.name]}} </td>
    </ng-container>

    <ng-container *ngIf="table.hasActions" matColumnDef="menu" stickyEnd>
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let row" (click)="$event.stopPropagation()" [mat-menu-trigger-for]="menu">
        <button type="button" mat-icon-button>
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button *ngFor="let action of table.actions" mat-menu-item (click)="action.execute(row.object)" [disabled]="action.disabled(row.object)">{{action.name(row.object)}}</button>
        </mat-menu>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="table.columnNames"></tr>
    <tr mat-row *matRowDef="let row; columns: table.columnNames;" [attr.data-allors-id]="row.object?.id"></tr>
  </table>
</div>

<mat-paginator *ngIf="table.pageSize" [length]="table?.total" [pageSize]="table.pageSize" [pageSizeOptions]="table.pageSizeOptions" (page)="table.page($event)"></mat-paginator>