<form #form="ngForm" fxLayout="column" style="height: 100vh; min-height: 100vh" (submit)="save()">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch" style="padding: 20px;">

    <mat-card *ngIf="good" fxFlex fxLayout="column" fxLayoutAlign="start stretch">

      <mat-tab-group fxFlex>

        <mat-tab label="General">
          <div style="margin-top: 1rem;" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
            <a-mat-input [object]="good" [roleType]="m.Good.Name"></a-mat-input>
            <a-mat-input [object]="good" [roleType]="m.Good.Description"></a-mat-input>
            <a-mat-select [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.SerialisedInventoryItemState" [options]="serialisedInventoryItemStates"
              display="Name" label="Status"></a-mat-select>
            <mat-form-field *ngIf="salesInvoice">
              <input matInput placeholder="Invoice" [value]="salesInvoice.InvoiceNumber" readonly="true" [routerLink]="['/accountsreceivable/invoice/' + salesInvoice.id]">
            </mat-form-field>
            <a-mat-input [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.SerialNumber"></a-mat-input>
          </div>

          <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
            <a-mat-select [object]="good" [roleType]="m.Good.PrimaryProductCategory" [options]="categories" display="Name"></a-mat-select>
            <a-mat-datepicker [object]="good" [roleType]="m.Good.SalesDiscontinuationDate"></a-mat-datepicker>
            <a-mat-select [object]="good" [roleType]="m.Good.ProductType" [options]="productTypes" display="Name"></a-mat-select>
            <a-mat-select [object]="good" [roleType]="m.Good.ProductCategories" [options]="categories" display="Name"></a-mat-select>
          </div>

          <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
            <div fxLayout fxLayoutGap="1em">
              <mat-form-field>
                <mat-select [(ngModel)]="selectedBrand" name="brandName" placeholder="Brand" multiple="false" (ngModelChange)="brandSelected($event)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let brand of brands" [value]="brand">{{ brand.Name }} </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-mini-fab color="accent" type="button" (click)="addBrand = !addBrand">
                <mat-icon *ngIf="!addBrand">add</mat-icon>
                <mat-icon *ngIf="addBrand">close</mat-icon>
              </button>
            </div>
          </div>

          <mat-card *ngIf="addBrand" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x" style="margin: 1rem">
            <mat-card-header>Add a new brand</mat-card-header>
            <mat-card-content>
              <brand-inline [scope]="scope" (cancelled)="addBrand = false" (saved)="brandAdded($event); addBrand = false"></brand-inline>
            </mat-card-content>
          </mat-card>

          <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
            <div fxLayout fxLayoutGap="1em">
              <mat-form-field>
                <mat-select [(ngModel)]="selectedModel" name="modelName" placeholder="Model" multiple="false">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let model of models" [value]="model"> {{ model.Name }} </mat-option>
                </mat-select>
              </mat-form-field>
              <button mat-mini-fab color="accent" type="button" (click)="addModel = !addModel">
                <mat-icon *ngIf="!addModel">add</mat-icon>
                <mat-icon *ngIf="addModel">close</mat-icon>
              </button>
            </div>
          </div>

          <mat-card *ngIf="addModel" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x" style="margin: 1rem">
            <mat-card-header>Add a new model</mat-card-header>
            <mat-card-content>
              <model-inline [scope]="scope" (cancelled)="addModel = false" (saved)="modelAdded($event); addModel = false"></model-inline>
            </mat-card-content>
          </mat-card>

          <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
            <a-mat-select [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.Ownership" [options]="ownerships" display="Name"></a-mat-select>
            <a-mat-autocomplete [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.Owner" [filter]="organisationFilter.create(scope)"
              display="Name"></a-mat-autocomplete>
            <mat-form-field>
              <mat-select name="suppliers" [(ngModel)]="selectedSuppliers" placeholder="Suppliers" multiple="true">
                <mat-option *ngFor="let supplier of activeSuppliers" [value]="supplier">{{ supplier.PartyName }}</mat-option>
              </mat-select>
            </mat-form-field>
            <a-mat-select [object]="good" [roleType]="m.Good.ManufacturedBy" [options]="manufacturers" display="Name"></a-mat-select>
            <a-mat-input [object]="good" [roleType]="m.Good.HsCode"></a-mat-input>
          </div>

          <mat-expansion-panel *ngIf="locales">
            <mat-expansion-panel-header>
              <mat-panel-title>
                Translations
              </mat-panel-title>
            </mat-expansion-panel-header>

            <div *ngFor="let locale of locales; let i = index">
              <mat-divider *ngIf="i > 0"></mat-divider>
              <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
                <a-mat-localised-text [object]="good" [roleType]="m.Good.LocalisedNames" [locale]="locale"></a-mat-localised-text>
                <a-mat-localised-text [object]="good" [roleType]="m.Good.LocalisedDescriptions" [locale]="locale"></a-mat-localised-text>
              </div>
            </div>
          </mat-expansion-panel>
        </mat-tab>

        <mat-tab label="Characteristics">
          <div style="margin-top: 1rem;" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
            <a-mat-input [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.AcquisitionYear"></a-mat-input>
            <a-mat-input [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.ManufacturingYear"></a-mat-input>
            <mat-form-field fxLayout="column" fxLayoutAlign="top stretch">
              <input fxFlex matInput [(ngModel)]="inventoryItem.age" name="age" placeholder="Age" readonly>
            </mat-form-field>
            <a-mat-input [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.LifeTime"></a-mat-input>
            <mat-form-field fxLayout="column" fxLayoutAlign="top stretch">
              <input fxFlex matInput [(ngModel)]="inventoryItem.yearsToGo" name="yearsToGo" placeholder="Years to go" readonly>
            </mat-form-field>
            <a-mat-input [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.DepreciationYears"></a-mat-input>
          </div>

          <div *ngFor="let productCharacteristicValue of inventoryItem.SerialisedInventoryItemCharacteristics" [ngStyle]="layout.columns"
            [ngStyle.gt-sm]="layout.columns2x">
            <a-mat-input *ngIf="productCharacteristicValue.SerialisedInventoryItemCharacteristicType.UnitOfMeasure" [object]="productCharacteristicValue"
              [roleType]="m.SerialisedInventoryItemCharacteristic.Value" [label]="productCharacteristicValue.SerialisedInventoryItemCharacteristicType.Name + ' (' + productCharacteristicValue.SerialisedInventoryItemCharacteristicType.UnitOfMeasure.Name + ')'"></a-mat-input>
          </div>

          <div *ngFor="let productCharacteristicValue of inventoryItem.SerialisedInventoryItemCharacteristics" [ngStyle]="layout.columns"
            [ngStyle.gt-sm]="layout.columns2x">
            <a-mat-textarea *ngIf="!productCharacteristicValue.SerialisedInventoryItemCharacteristicType.UnitOfMeasure" [object]="productCharacteristicValue"
              [roleType]="m.SerialisedInventoryItemCharacteristic.Value" [label]="productCharacteristicValue.SerialisedInventoryItemCharacteristicType.Name"></a-mat-textarea>
          </div>

          <mat-expansion-panel *ngIf="locales" label="Translations">
            <div *ngFor="let locale of locales; let i = index" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
              <mat-divider *ngIf="i > 0"></mat-divider>
              <div *ngFor="let productCharacteristicValue of inventoryItem.SerialisedInventoryItemCharacteristics">
                <a-mat-localised-text *ngIf="!productCharacteristicValue.SerialisedInventoryItemCharacteristicType.UnitOfMeasure" [object]="productCharacteristicValue"
                  [roleType]="m.SerialisedInventoryItemCharacteristic.LocalisedValues" [locale]="locale" [label]="productCharacteristicValue.SerialisedInventoryItemCharacteristicType.Name"></a-mat-localised-text>
              </div>
            </div>
          </mat-expansion-panel>

        </mat-tab>

        <mat-tab label="Financial">
          <div style="margin-top: 1rem;" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
            <a-mat-input [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.ExpectedSalesPrice"></a-mat-input>
            <a-mat-input [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.PurchasePrice"></a-mat-input>
            <a-mat-input [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.ReplacementValue"></a-mat-input>
            <mat-form-field>
              <input fxFlex matInput [(ngModel)]="inventoryItem.goingConcern" name="goingConcern" placeholder="Going Concern" readonly>
            </mat-form-field>
            <mat-form-field>
              <input fxFlex matInput [(ngModel)]="inventoryItem.marketValue" name="marketValue" placeholder="Market Value" readonly>
            </mat-form-field>
            <a-mat-input [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.RefurbishCost"></a-mat-input>
            <a-mat-input [object]="inventoryItem" [roleType]="m.SerialisedInventoryItem.TransportCost"></a-mat-input>
            <mat-form-field>
              <input type="number" fxFlex matInput [(ngModel)]="inventoryItem.grossBookValue" name="grossBookValue" placeholder="Gross Book Value"
                readonly>
            </mat-form-field>
            <mat-form-field>
              <input type="number" fxFlex matInput [(ngModel)]="inventoryItem.expectedPosa" name="expectedPosa" placeholder="Expected Posa"
                readonly>
            </mat-form-field>
          </div>
        </mat-tab>

        <mat-tab label="Comments">
          <div style="margin-top: 1rem;">
            <a-mat-textarea [object]="good" [roleType]="m.Good.InternalComment"></a-mat-textarea>
          </div>
          <div>
            <a-mat-textarea [object]="good" [roleType]="m.Good.Keywords"></a-mat-textarea>
          </div>
          <div>
            <a-mat-textarea [object]="good" [roleType]="m.Good.Comment"></a-mat-textarea>
          </div>
        </mat-tab>

        <mat-tab label="Images">
          <div style="margin-top: 1rem;">
            <a-mat-file [object]="good" [roleType]="m.Good.PrimaryPhoto" accept="image/*"></a-mat-file>
          </div>
          <div>
            <a-mat-files [object]="good" [roleType]="m.Good.Photos" accept="image/*"></a-mat-files>
          </div>
        </mat-tab>
      </mat-tab-group>

    </mat-card>
  </div>

  <mat-toolbar fxLayout="row" fxLayoutGap="1rem">
    <span fxFlex></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE & CLOSE</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>