<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a (click)="navigation.list(metaService.m.PurchaseInvoice)" style="cursor: pointer;">PurchaseInvoices</a> / {{invoice?.InvoiceNumber}}
      </div>
    </div>
  </div>

  <div class="a-overview container">

    <div class="a-content row">

      <div class="col-md-4 mb-3">
        <purchaseinvoice-overview-summary></purchaseinvoice-overview-summary>
      </div>

      <div class="col-md-8 align-self-stretch" [ngClass]="panelManager.panelContainerClass">
        <purchaseinvoice-overview-detail></purchaseinvoice-overview-detail>

        <purchaseinvoiceitem-overview-panel></purchaseinvoiceitem-overview-panel>

        <orderadjustment-overview-panel></orderadjustment-overview-panel>

        <purchaseorderinvoice-overview-panel></purchaseorderinvoice-overview-panel>

        <payment-overview-panel></payment-overview-panel>
      </div>

    </div>
  </div>
</div>
