<div fxFlex fxLayout="row">
    <mat-form-field fxFlex="auto">
        <input matInput [ngModel]="fieldValue" [name]="name" [placeholder]="label" readonly (click)="fileInput.click()">
    </mat-form-field>

    <button mat-icon-button fxFlex="none" type="button" (click)="fileInput.click()">
        <mat-icon>add_to_photos</mat-icon>
    </button>
</div>

<input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" multiple="multiple" />

<div *ngIf="model" fxFlex fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="2rem" style="margin-bottom: 1rem;">
    <mat-card fxFlex="0 0 6rem" fxLayout="column" *ngFor="let media of medias">
        <img mat-card-image fxFlex="auto" [src]="src(media)">
        <mat-card-actions fxFlex="none">
            <a mat-button (click)="delete(media)">DELETE</a>
        </mat-card-actions>
    </mat-card>
</div>
