<div class="row">
    <mat-form-field class="col">
        <input matInput [ngModel]="fieldValue" [name]="name" [placeholder]="label" readonly (click)="fileInput.click()">
    </mat-form-field>

    <button mat-icon-button fxFlex="none" type="button" (click)="fileInput.click()">
        <mat-icon>add_to_photos</mat-icon>
    </button>
</div>

<input #fileInput type="file" (change)="onFileInput($event)" style="display:none;" multiple="multiple" />

<div class="row" *ngIf="model" style="margin-bottom: 1rem;">
    <mat-card class="col" *ngFor="let media of medias">
        <img mat-card-image fxFlex="auto" [src]="src(media)">
        <mat-card-actions fxFlex="none">
            <a mat-button (click)="delete(media)">DELETE</a>
        </mat-card-actions>
    </mat-card>
</div>
