<form *ngIf="good" #form="ngForm" (submit)="save()" novalidate>

  <h3 mat-dialog-title>{{title}}</h3>

  <mat-dialog-content>
    <div class="container-fluid">
      <div class="row pt-3">
        <a-mat-input class="col-md" *ngIf="!settings.UseGlobalProductNumber" [object]="productNumber" [roleType]="m.ProductNumber.Identification"></a-mat-input>
        <a-mat-input class="col-md" [object]="good" [roleType]="m.UnifiedGood.Name"></a-mat-input>
      </div>

      <div class="row">
        <a-mat-select class="col-md" [object]="good" [roleType]="m.UnifiedGood.ProductType" [options]="productTypes"
          display="Name"></a-mat-select>
        <a-mat-select class="col-md" [object]="good" [roleType]="m.UnifiedGood.InventoryItemKind" [options]="inventoryItemKinds"
          display="Name"></a-mat-select>
      </div>

    </div>
  </mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close();" type="button">CANCEL</button>
    <button mat-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.context.hasChanges">SAVE</button>
  </div>

</form>
