<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a (click)="navigation.list(m.Good)">Product</a>
        <span *ngIf="add"> / Add Manufacturer Id </span>
        <span *ngIf="edit && good"> / <a (click)="navigation.overview(good)">{{good?.Name}}</a> / Edit Manufacturer Id</span>
        <span *ngIf="edit && part"> / <a (click)="navigation.overview(part)">{{part?.Name}}</a> / Edit Manufacturer Id</span>
      </div>
    </div>
  </div>

  <form *ngIf="iGoodIdentification" class="a-edit" #form="ngForm" (submit)="save()" novalidate>

    <mat-card>
      <mat-card-content class="container-fluid">

        <div class="row">
          <a-mat-static class="col-md" [object]="iGoodIdentification" [roleType]="m.IGoodIdentification.GoodIdentificationType" display="Name"></a-mat-static>
          <a-mat-input class="col-md" [object]="iGoodIdentification" [roleType]="m.IGoodIdentification.Identification" class="col-md"></a-mat-input>
        </div>

      </mat-card-content>
    </mat-card>

    <a-mat-footer>
      <button mat-raised-button (click)="navigation.back()" type="button">CANCEL</button>
      <button mat-raised-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.scope.session.hasChanges">SAVE</button>
    </a-mat-footer>

  </form>
</div>
