<md-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
          <md-icon>arrow_back</md-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button md-icon-button><md-icon>settings</md-icon></button>
  </div>
</md-toolbar>

<md-card>
  <md-card-title>Relations Dashboard</md-card-title>
  <md-card-subtitle>Overview</md-card-subtitle>
  <md-divider></md-divider>
  <md-card-content>
    Info
  </md-card-content>
</md-card>
