<form #form="ngForm"  (submit)="save()" novalidate>
  <mat-toolbar>
    <mat-toolbar-row >
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="communicationEvent"  fxLayout="column" fxLayoutAlign="start stretch">

      <mat-card-content   style="overflow: auto;">
        <div *ngIf="!communicationEvent.isNew" class="row">
          <div class="row">
            <a-mat-select [object]="communicationEvent" [roleType]="m.EmailCommunication.EventPurposes" [options]="purposes" display="Name" class="col-md"></a-mat-select>
            <a-mat-slide-toggle [object]="communicationEvent" [roleType]="m.EmailCommunication.IncomingMail"></a-mat-slide-toggle>
          </div>
          <a-mat-static [object]="communicationEvent" [roleType]="m.CommunicationEvent.CommunicationEventState" display="Name" label="Status"></a-mat-static>
        </div>

        <div class="row">
          <a-mat-select *ngIf="communicationEvent.IncomingMail" [object]="communicationEvent" [roleType]="m.EmailCommunication.Originator"
            [options]="allEmailAddresses" display="displayName" label="From" class="col-md"></a-mat-select>
          <a-mat-select *ngIf="!communicationEvent.IncomingMail" [object]="communicationEvent" [roleType]="m.EmailCommunication.Originator"
            [options]="ownEmailAddresses" display="displayName" label="From" class="col-md"></a-mat-select>
          <a-mat-chips *ngIf="communicationEvent.IncomingMail" [object]="communicationEvent" [roleType]="m.EmailCommunication.Addressees"
            [options]="ownEmailAddresses" display="displayName" label="To"></a-mat-chips>
          <a-mat-chips *ngIf="!communicationEvent.IncomingMail" [object]="communicationEvent" [roleType]="m.EmailCommunication.Addressees"
            [options]="allEmailAddresses" display="displayName" label="To"></a-mat-chips>
        </div>

        <div class="row">
          <a-mat-input [object]="communicationEvent.EmailTemplate" [roleType]="m.EmailTemplate.SubjectTemplate" label="Subject " class="col-md"></a-mat-input>
          <a-mat-textarea [object]="communicationEvent.EmailTemplate" [roleType]="m.EmailTemplate.BodyTemplate" label="Body" class="col-md-12"></a-mat-textarea>
        </div>

        <div class="row">
          <a-mat-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledStart" [useTime]="true"></a-mat-datepicker>
          <a-mat-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualStart" [useTime]="true"></a-mat-datepicker>
          <a-mat-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledEnd" [useTime]="true"></a-mat-datepicker>
          <a-mat-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualEnd" [useTime]="true"></a-mat-datepicker>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button *ngIf="communicationEvent.CanExecuteClose" mat-button type="button" (click)="close()">Close</button>
        <button *ngIf="communicationEvent.CanExecuteCancel" mat-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="communicationEvent.CanExecuteReopen" mat-button type="button" (click)="reopen()">Reopen</button>
      </mat-card-actions>
    </mat-card>

  </div>

  <mat-toolbar  >
    <span class="col"></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>
</form>