<form class="a-edit" #form="ngForm" (submit)="save()" novalidate>
  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
    </mat-toolbar-row>
    <span class="col"></span>
  </mat-toolbar>

  <div>
    <mat-card *ngIf="communicationEvent">

      <mat-card-content class="container-fluid">
        <div class="row" *ngIf="!communicationEvent.isNew">
          <a-mat-select class="col-md" [object]="communicationEvent" [roleType]="m.EmailCommunication.EventPurposes" [options]="purposes"
            display="Name"></a-mat-select>
          <div class="col-md">
            <div class="row">
              <a-mat-static class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.CommunicationEventState" display="Name" label="Status"></a-mat-static>
              <a-mat-slide-toggle [object]="communicationEvent" [roleType]="m.EmailCommunication.IncomingMail"></a-mat-slide-toggle>
            </div>
          </div>
        </div>

        <div class="row">
          <a-mat-select class="col-md-12" *ngIf="communicationEvent.IncomingMail" [object]="communicationEvent" [roleType]="m.EmailCommunication.Originator"
            [options]="allEmailAddresses" display="displayName" label="From"></a-mat-select>
          <a-mat-select class="col-md-12" *ngIf="!communicationEvent.IncomingMail" [object]="communicationEvent" [roleType]="m.EmailCommunication.Originator"
            [options]="ownEmailAddresses" display="displayName" label="From"></a-mat-select>
          <a-mat-chips class="col-md-12" *ngIf="communicationEvent.IncomingMail" [object]="communicationEvent" [roleType]="m.EmailCommunication.Addressees"
            [options]="ownEmailAddresses" display="displayName" label="To"></a-mat-chips>
          <a-mat-chips class="col-md-12" *ngIf="!communicationEvent.IncomingMail" [object]="communicationEvent" [roleType]="m.EmailCommunication.Addressees"
            [options]="allEmailAddresses" display="displayName" label="To"></a-mat-chips>
        </div>

        <div class="row">
          <a-mat-input class="col-md" [object]="communicationEvent.EmailTemplate" [roleType]="m.EmailTemplate.SubjectTemplate" label="Subject"></a-mat-input>
          <a-mat-textarea class="col-md-12" [object]="communicationEvent.EmailTemplate" [roleType]="m.EmailTemplate.BodyTemplate" label="Body"></a-mat-textarea>
        </div>

        <div class="row">
          <a-mat-datetimepicker class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledStart"></a-mat-datetimepicker>
          <a-mat-datetimepicker class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledEnd"></a-mat-datetimepicker>
        </div>

        <div class="row">
          <a-mat-datetimepicker class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualStart"></a-mat-datetimepicker>
          <a-mat-datetimepicker class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualEnd"></a-mat-datetimepicker>
        </div>

      </mat-card-content>

      <mat-card-actions>
        <button *ngIf="communicationEvent.CanExecuteClose" mat-button type="button" (click)="close()">Close</button>
        <button *ngIf="communicationEvent.CanExecuteCancel" mat-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="communicationEvent.CanExecuteReopen" mat-button type="button" (click)="reopen()">Reopen</button>
      </mat-card-actions>
    </mat-card>

  </div>

  <mat-toolbar class="a-footer">
    <mat-toolbar-row class="row">
      <span class="col"></span>
      <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>