<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/relations/organisations']">Organisations</a> / <a [routerLink]="['/relations/organisation/' + (organisation && organisation.id)]">{{organisation?.displayName}}</a> / Edit
      </div>
    </div>
  </div>

  <form *ngIf="organisation" class="a-edit" #form="ngForm" (submit)="save()">

    <mat-card>
      <mat-card-content class="container-fluid">

        <div class="row">
          <a-mat-input class="col-md" [object]="organisation" [roleType]="m.Organisation.Name"></a-mat-input>
          <a-mat-input class="col-md" [object]="organisation" [roleType]="m.Organisation.TaxNumber" label="VAT number"></a-mat-input>

        </div>

        <div class="row">
          <mat-form-field class="col-md">
            <mat-select name="role" [(ngModel)]="activeRoles" placeholder="Roles" multiple="true">
              <mat-option *ngFor="let role of selectableRoles" [value]="role">{{ role.Name }}</mat-option>
            </mat-select>
          </mat-form-field>
          <a-mat-select class="col-md" [object]="organisation" [roleType]="m.Organisation.OrganisationClassifications" [options]="classifications" display="Name" label="Classification"></a-mat-select>
          <a-mat-select class="col-md" [object]="organisation" [roleType]="m.Organisation.IndustryClassifications" [options]="industries" display="Name" label="Industry"></a-mat-select>
        </div>

        <div class="row">
          <a-mat-slidetoggle class="col-md" [object]="organisation" [roleType]="m.Organisation.IsManufacturer"></a-mat-slidetoggle>
          <a-mat-select class="col-md" [object]="organisation" [roleType]="m.Organisation.Locale" [options]="locales" display="Name"></a-mat-select>
          <a-mat-file class="col-md-12" [object]="organisation" [roleType]="m.Organisation.LogoImage" accept="image/*"></a-mat-file>
          <a-mat-textarea class="col-md-12" [object]="organisation" [roleType]="m.Organisation.Comment"></a-mat-textarea>
        </div>
      </mat-card-content>
    </mat-card>

    <a-mat-footer>
      <button mat-raised-button (click)="location.back()" type="button">CANCEL</button>
      <button mat-raised-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !(allors.session.hasChanges || activeRoles.length > 0) ">SAVE</button>
    </a-mat-footer>

  </form>
</div>