<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.nlog-project.org/schemas/NLog.xsd NLog.xsd"
      autoReload="true"
      throwExceptions="false"
      internalLogLevel="Off"
      internalLogFile="c:\temp\nlog-internal.log" >

  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

  <targets>
    <!-- write logs to file -->
    <target xsi:type="File" name="allfile" fileName="/logs/core/blazor.bootstrap.serverside/all/${shortdate}.log"
            layout="${longdate}|${logger}|${uppercase:${level}}|${aspnet-user-identity}| ${message} | ${exception:format=toString,Data:maxInnerExceptionLevel=10:exceptionDataSeparator=\r\n}" />

    <!-- another file log, only own logs. Uses some ASP.NET core renderers -->
    <target xsi:type="File" name="ownFile" fileName="/logs/core/blazor.bootstrap.serverside/${shortdate}.log"
            layout="${longdate}|${logger}|${uppercase:${level}}|${aspnet-user-identity}| ${message} | ${exception:format=toString,Data:maxInnerExceptionLevel=10:exceptionDataSeparator=\r\n}" />

    <!-- write to the void aka just remove -->
    <target xsi:type="Null" name="blackhole" />

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <logger name="*" minlevel="Warn" writeTo="allfile" />

    <!--Skip Microsoft logs and so log only own logs-->
    <logger name="Microsoft.AspNetCore.Components.Server.Circuits.*" minlevel="Warn" writeTo="ownFile,console" />
    <logger name="Microsoft.*" minlevel="Warn" writeTo="blackhole" final="true" />
    <logger name="*" minlevel="Warn" writeTo="ownFile,console" />
  </rules>
</nlog>
