<form *ngIf="receipt" #form="ngForm" (submit)="save()">

  <h3 mat-dialog-title>{{title}}</h3>

  <div mat-dialog-content>

    <div class="row" *ngIf="orderItem.isNew">
      <a-mat-select class="col-md" [object]="orderItem" [roleType]="m.SalesOrderItem.InvoiceItemType" [options]="invoiceItemTypes"
        display="Name"></a-mat-select>
    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()" type="button">CANCEL</button>
    <button mat-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.context.hasChanges ">SAVE</button>
  </div>

</form>
