<a-td-layout-catalogue>

  <div toolbar1>
    <a md-icon-button mdTooltip="Docs" href="https://www.inxin.com/" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
  </div>

  <div toolbar2 layout="row" layout-align="start center" flex>
    <span>Catalogues</span>
    <span flex></span>
    <button md-icon-button><md-icon class="md-24">settings</md-icon></button>
  </div>

  <md-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <form #form="ngForm" *ngIf="catalogue" (submit)="save()">

      <md-card-title>Catalogue Form</md-card-title>

      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">

        <div fxLayout="row wrap" fxLayoutGap="3rem" fxLayoutAlign="start stretch">

          <a-md-media-upload [fxFlex]="flex" class="push-top" [object]="catalogue" [roleType]="m.Catalogue.CatalogueImage" accept="image/*"></a-md-media-upload>
          <a-md-localised-text [fxFlex]="flex" class="push-top" [object]="catalogue" [roleType]="m.Catalogue.LocalisedNames" [locales]="locales"></a-md-localised-text>
          <a-md-localised-text [fxFlex]="flex" class="push-top" [object]="catalogue" [roleType]="m.Catalogue.LocalisedDescriptions"
            [locales]="locales"></a-md-localised-text>
          <a-md-select [fxFlex]="flex" class="push-top" [object]="catalogue" [roleType]="m.Catalogue.ProductCategories" [options]="categories"
            display="Name"></a-md-select>

        </div>

      </md-card-content>

      <md-divider></md-divider>
      <md-card-actions>
        <button md-button color="primary" type="submit">SAVE</button>
        <button md-button (click)="goBack()" type="button">CANCEL</button>
      </md-card-actions>

    </form>
  </md-card>

</a-td-layout-catalogue>
