<form *ngIf="contactMechanism" #form="ngForm" (submit)="save()" novalidate>
  <h1></h1>

  <h3 mat-dialog-title>{{title}}</h3>

  <mat-dialog-content>
    <div class="container-fluid">

      <div class="row">
        <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.ElectronicAddress.ElectronicAddressString"></a-mat-input>
      </div>

      <div class="row">
        <a-mat-textarea class="col-md" [object]="contactMechanism" [roleType]="m.ContactMechanism.Description"></a-mat-textarea>
      </div>
    </div>
  </mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()" type="button">CANCEL</button>
    <button mat-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.context.hasChanges">SAVE</button>
  </div>

</form>
