<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <form #form="ngForm" *ngIf="organisationContactRelationship" (submit)="save()">

    <md-card-title>Organisation Contact Form</md-card-title>

    <md-divider></md-divider>
    <md-card-content class="push-bottom-none">

      <div layout="row">
        <a-md-select [object]="organisationContactRelationship" [roleType]="m.OrganisationContactRelationship.ContactKinds" [options]="organisationContactKinds" display="Description"></a-md-select>
      </div>

      <div layout="row" class="push-top">
        <a-md-text [object]="organisationContactRelationship.Contact" [roleType]="m.Person.FirstName"></a-md-text>
      </div>

      <div layout="row" class="push-top">
        <a-md-text [object]="organisationContactRelationship.Contact" [roleType]="m.Person.MiddleName"></a-md-text>
      </div>

      <div layout="row" class="push-top">
        <a-md-text [object]="organisationContactRelationship.Contact" [roleType]="m.Person.LastName"></a-md-text>
      </div>

      <div layout="row" class="push-top">
        <a-md-select [object]="organisationContactRelationship.Contact" [roleType]="m.Person.Gender" [options]="genders" display="Name"></a-md-select>
      </div>

      <div layout="row" class="push-top">
        <a-md-select [object]="organisationContactRelationship.Contact" [roleType]="m.Person.Salutation" [options]="salutations" display="Name"></a-md-select>
      </div>

      <div layout="row" class="push-top">
        <a-md-select [object]="organisationContactRelationship.Contact" [roleType]="m.Person.Locale" [options]="locales" display="Name"></a-md-select>
      </div>
    </md-card-content>

    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="primary" type="submit">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</md-card>
