<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <form #form="ngForm" ng-if="organisation" (submit)="save()">

    <md-card-title>Organisation</md-card-title>

    <md-divider></md-divider>
    <md-card-content class="push-bottom-none">

      <!--<div layout="row" class="push-top">
        <md-select flex="50" placeholder="Roles" formControlName="Roles">
          <md-option>Select Role(s)</md-option>
          <md-option *ngFor="let role of roles" [value]="role.id">{{ role.Name }}</md-option>
        </md-select>
      </div>-->

      <div layout="row" class="push-top">
        <a-md-select [object]="organisation" [roleType]="m.Organisation.OrganisationRoles" [options]="roles" display="Name"></a-md-select>
      </div>

      <div layout="row" class="push-top">
        <a-md-text [object]="organisation" [roleType]="m.Organisation.Name"></a-md-text>
      </div>

      <div layout="row" class="push-top">
        <a-md-select [object]="organisation" [roleType]="m.Organisation.Locale" [options]="locales" display="Name"></a-md-select>
      </div>

    </md-card-content>

    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="primary" type="submit">SAVE</button>
      <button md-button (click)="goBack()">CANCEL</button>
    </md-card-actions>

  </form>
</md-card>
