<a-td-layout-order>

  <div toolbar1>
    <a md-icon-button mdTooltip="Docs" href="https://www.inxin.com/" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
  </div>

  <div toolbar2 layout="row" layout-align="start center" flex>
    <span>Requests</span>
    <span flex></span>
    <button md-icon-button><md-icon class="md-24">settings</md-icon></button>
  </div>

  <md-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <form #form="ngForm" *ngIf="request" (submit)="save()">

      <md-card-title>Request Form</md-card-title>

      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">

        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="25px">
          <a-md-autocomplete *ngIf="showOrganisations" class="push-top" [object]="request" [roleType]="m.Request.Originator" [filter]="organisationsFilter.create()" display="Name" (onSelect)="originatorSelected($event)" label="Requesting organisation"[fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-autocomplete>
          <a-md-autocomplete *ngIf="showPeople" class="push-top" [object]="request" [roleType]="m.Request.Originator" [filter]="peopleFilter.create()" display="displayName" (onSelect)="originatorSelected($event)" label="Requesting person" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-autocomplete>
          <a-md-select class="push-top" [object]="request" [roleType]="m.Request.FullfillContactMechanism" [options]="contactMechanisms" display="displayName" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-select>
          <a-md-datepicker class="push-top" [object]="request" [roleType]="m.Request.RequestDate" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-datepicker>
          <a-md-datepicker class="push-top" [object]="request" [roleType]="m.Request.RequiredResponseDate" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-datepicker>
          <a-md-input class="push-top" [object]="request" [roleType]="m.Request.Description" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-input>
          <a-md-autocomplete class="push-top" [object]="request" [roleType]="m.Request.Currency" [filter]="currenciesFilter.create()" display="Name" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-autocomplete>
          <a-md-textarea class="push-top" [object]="request" [roleType]="m.Request.Comment" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-textarea>
          <a-md-textarea class="push-top" [object]="request" [roleType]="m.Request.InternalComment" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-textarea>
        </div>

      </md-card-content>

      <md-divider></md-divider>
      <md-card-actions>
        <button md-button color="primary" type="submit">SAVE</button>
        <button md-button (click)="goBack()" type="button">CANCEL</button>
      </md-card-actions>

    </form>
  </md-card>

</a-td-layout-order>
