<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="request" (submit)="save()">

    <div class="pad">
      <div *ngIf="request.CurrentObjectState">
        <a-md-static [object]="request" [roleType]="m.CommunicationEvent.CurrentObjectState" display="Name" label="Status"></a-md-static>
        <button *ngIf="request.CanExecuteSubmit" md-button type="button" (click)="submit()">Submit</button>
        <button *ngIf="request.CanExecuteComplete" md-button type="button" (click)="complete()">Complete</button>
        <button *ngIf="request.CanExecuteCancel" md-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="request.CanExecuteHold" md-button type="button" (click)="hold()">Pending Customer</button>
        <button *ngIf="request.CanExecuteReject" md-button type="button" (click)="reject()">Reject</button>
      </div>

      <a-md-autocomplete *ngIf="showOrganisations" [object]="request" [roleType]="m.Request.Originator" [filter]="organisationsFilter.create()"
        display="Name" (onSelect)="originatorSelected($event)" label="Requesting organisation"></a-md-autocomplete>
      <a-md-autocomplete *ngIf="showPeople" [object]="request" [roleType]="m.Request.Originator" [filter]="peopleFilter.create()"
        display="displayName" (onSelect)="originatorSelected($event)" label="Requesting person"></a-md-autocomplete>
      <a-md-select [object]="request" [roleType]="m.Request.FullfillContactMechanism" [options]="contactMechanisms" display="displayName"></a-md-select>
      <a-md-datepicker [object]="request" [roleType]="m.Request.RequestDate"></a-md-datepicker>
      <a-md-datepicker [object]="request" [roleType]="m.Request.RequiredResponseDate"></a-md-datepicker>
      <a-md-input [object]="request" [roleType]="m.Request.Description"></a-md-input>
      <a-md-autocomplete [object]="request" [roleType]="m.Request.Currency" [filter]="currenciesFilter.create()" display="Name"></a-md-autocomplete>
      <a-md-textarea [object]="request" [roleType]="m.Request.Comment"></a-md-textarea>
      <a-md-textarea [object]="request" [roleType]="m.Request.InternalComment"></a-md-textarea>
    </div>

    <md-divider></md-divider>

    <md-card-actions>
      <button md-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</td-layout-card-over>
