<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="allors.database.address" value="http://localhost:5000/"/>
    <!-- Set enviroment to dev/staging/prod -->
    <add key="environment" value="prod"/>
  </appSettings>
  
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
