<form #form="ngForm" fxLayout="column" style="height: 100vh; min-height: 100vh" (submit)="save()" novalidate>
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="salesTerm" fxFlex fxLayout="column" fxLayoutAlign="start stretch">

      <div class="row">
        <a-mat-select [object]="salesTerm" [roleType]="m.SalesTerm.TermType" [options]="invoiceTermTypes" display="Name" class="col-md"></a-mat-select>
        <a-mat-input [object]="salesTerm" [roleType]="m.SalesTerm.TermValue" label="Value" class="col-md"></a-mat-input>
      </div>

    </mat-card>

  </div>

  <mat-toolbar fxLayout="row" fxLayoutGap="1rem">
    <span fxFlex></span>
    <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
    <button mat-button (click)="goBack()" type="button">CANCEL</button>
  </mat-toolbar>

</form>