<form #form="ngForm" fxLayout="column" style="height: 100vh; min-height: 100vh" (submit)="save(form)" novalidate>
  <mat-toolbar fxFlex>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch" style="padding: 20px;">

    <mat-card *ngIf="salesTerm" fxFlex fxLayout="column" fxLayoutAlign="start stretch">

      <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
        <a-mat-select [object]="salesTerm" [roleType]="m.SalesTerm.TermType" [options]="invoiceTermTypes" display="Name"></a-mat-select>
        <a-mat-input [object]="salesTerm" [roleType]="m.SalesTerm.TermValue" label="Value"></a-mat-input>
      </div>

    </mat-card>

  </div>

  <mat-toolbar fxFlex fxLayout="row" fxLayoutGap="1rem">
    <span fxFlex></span>
    <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
    <button mat-button (click)="goBack()" type="button">CANCEL</button>
  </mat-toolbar>

</form>