<td-layout-manage-list #manageList [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
  [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
  <md-toolbar td-sidenav-content>
    <span>Orders</span>
  </md-toolbar>
  <md-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
    <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
      <a md-list-item [routerLink]="item.route" routerLinkActive="active-link">
        <md-icon md-list-icon>{{item.icon}}</md-icon> {{item.title}}
      </a>
    </ng-template>
  </md-nav-list>
  <router-outlet></router-outlet>
</td-layout-manage-list>
