<md-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <form #form="ngForm" *ngIf="person" (submit)="save()">
    <md-card-content class="push-bottom-none">

      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="25px">
        <a-md-input class="push-top" [object]="person" [roleType]="m.Person.FirstName" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-input>
        <a-md-input class="push-top" [object]="person" [roleType]="m.Person.MiddleName" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-input>
        <a-md-input class="push-top" [object]="person" [roleType]="m.Person.LastName" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-input>
        <a-md-select class="push-top" [object]="person" [roleType]="m.Person.Locale" [options]="locales" display="Name" [fxFlex]="flex"
          [fxFlex.gt-md]="flex2"></a-md-select>
      </div>

    </md-card-content>

    <md-divider></md-divider>

    <md-card-actions>
      <button md-button color="primary" type="submit">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</md-card>
