<a-td-layout-relation>

  <div toolbar1>
    <a md-icon-button mdTooltip="Docs" href="https://www.inxin.com/" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
  </div>

  <div toolbar2 layout="row" layout-align="start center" flex>
    <span>Person Overview</span>
    <span flex></span>
    <button md-icon-button><md-icon class="md-24">settings</md-icon></button>
  </div>

  <md-card body *ngIf="person" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <md-card-content>

      <div layout="row" class="push-top">
        <a-md-static [object]="person" [roleType]="m.Person.FirstName"></a-md-static>
        <a-md-static [object]="person" [roleType]="m.Person.MiddleName"></a-md-static>
        <a-md-static [object]="person" [roleType]="m.Person.LastName"></a-md-static>
      </div>

      <div layout="row" class="push-top">
        <a-md-static [object]="person" [roleType]="m.Person.Locale" display="Name"></a-md-static>
      </div>

    </md-card-content>

    <md-divider></md-divider>
    <md-card-actions>
      <button md-button [routerLink]="[ '../edit']">Edit</button>
    </md-card-actions>
  </md-card>

</a-td-layout-relation>
