<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="orderItem" (submit)="save()">

    <div class="pad">
      <div *ngIf="!orderItem.isNew" class="grid-4_lg-2_sm-1">
          <a-mat-static class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.SalesOrderItemState" display="Name" label="Status"></a-mat-static>
          <a-mat-static class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.SalesOrderItemShipmentState" display="Name" label="Shipment Status"></a-mat-static>
          <a-mat-static class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.SalesOrderItemInvoiceState" display="Name" label="Invoice Status"></a-mat-static>
          <a-mat-static class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.SalesOrderItemPaymentState" display="Name" label="Payment Status"></a-mat-static>
          <div class="grid">
            <button *ngIf="orderItem.CanExecuteCancel" mat-button type="button" (click)="cancel()">Cancel</button>
            <button *ngIf="orderItem.CanExecuteReject" mat-button type="button" (click)="reject()">Reject</button>
          </div>
      </div>

      <div class="grid-2_xs-1" *ngIf="orderItem.InvoiceItemType && orderItem.InvoiceItemType !== productItemType">
        <a-mat-select class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.InvoiceItemType" [options]="invoiceItemTypes" display="Name"></a-mat-select>
        <a-mat-input class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.ActualUnitPrice" label="Amount"></a-mat-input>
      </div>

      <div class="grid-2_xs-1" *ngIf="!orderItem.ItemType || orderItem.InvoiceItemType === productItemType">
        <a-mat-autocomplete class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.Product" [options]="goods" display="Name"
          (onChange)="goodSelected($event)" [filter]="stateService.goodsFilter.create(scope)"></a-mat-autocomplete>
        <a-mat-select class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.InvoiceItemType" [options]="invoiceItemTypes" display="Name"></a-mat-select>
        <a-mat-select *ngIf="orderItem.ReservedFromSerialisedInventoryItem" class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.NewSerialisedInventoryItemState" [options]="serialisedInventoryItemStates" display="Name" label="new State"></a-mat-select>
      </div>

      <div class="grid-4_md-2_xs-1" *ngIf="orderItem.InvoiceItemType && orderItem.InvoiceItemType === productItemType">
        <a-mat-input class="col" *ngIf="orderItem.isNew || orderItem.ReservedFromNonSerialisedInventoryItem" [object]="orderItem" [roleType]="m.SalesOrderItem.QuantityOrdered"></a-mat-input>
        <a-mat-static class="col" *ngIf="orderItem.ReservedFromSerialisedInventoryItem" [object]="orderItem" [roleType]="m.SalesOrderItem.QuantityOrdered"></a-mat-static>
        <a-mat-input class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.ActualUnitPrice" label="Unit Price"></a-mat-input>
        <a-mat-static class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.UnitVat"></a-mat-static>
        <a-mat-static class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.TotalIncVat"></a-mat-static>
        <a-mat-static class="col" *ngIf="orderItem.ReservedFromSerialisedInventoryItem" [object]="serialisedInventoryItem" [roleType]="m.SerialisedInventoryItem.ExpectedSalesPrice"></a-mat-static>
      </div>

      <div class="grid-4_md-2_xs-1">
        <a-mat-static class="col" [object]="order.VatRegime?.VatRate" [roleType]="m.VatRate.Rate" display="Rate" label="VAT % from order"></a-mat-static>
        <a-mat-select class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.AssignedVatRegime" [options]="vatRegimes" display="Name"
          label="Item VAT regime"></a-mat-select>
        <a-mat-static class="col" [object]="orderItem.AssignedVatRegime" [roleType]="m.VatRegime.VatRate" display="Rate"></a-mat-static>
      </div>

      <div *ngIf="orderItem.ReservedFromNonSerialisedInventoryItem" class="grid-4_md-2_xs-1">
        <a-mat-static class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.QuantityReserved" ></a-mat-static>
        <a-mat-static class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.QuantityRequestsShipping" ></a-mat-static>
        <a-mat-static class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.QuantityPicked" ></a-mat-static>
        <a-mat-static class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.QuantityShipped" ></a-mat-static>
        <a-mat-static class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.QuantityShortFalled" label="Quantity short"></a-mat-static>
      </div> 
  
      <!-- <mat-input-container>
        <input matInput placeholder="Discount amount" name="discount" [(ngModel)]="discount">
      </mat-input-container>
      <mat-input-container>
        <input matInput placeholder="Surcharge amount" name="surcharge" [(ngModel)]="surcharge">
      </mat-input-container>
      <br/> -->

      <div class="grid-1">
        <a-mat-textarea class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.Details"></a-mat-textarea>
      </div>
      <div class="grid-1">
        <a-mat-static class="col" *ngIf="quoteItem?.Comment" [object]="quoteItem" [roleType]="m.QuoteItem.Comment" label="Quote Comment"></a-mat-static>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.Comment" label="Order Item Comment"></a-mat-textarea>
      </div>
      <div class="grid-1">
        <a-mat-static class="col" *ngIf="quoteItem?.InternalComment" [object]="quoteItem" [roleType]="m.QuoteItem.InternalComment"
          label="Quote Internal Comment"></a-mat-static>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="orderItem" [roleType]="m.SalesOrderItem.InternalComment" label="Order Item Internal Comment"></a-mat-textarea>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-card-actions>
        <div class="pad grid-12">
            <button *ngIf="orderItem.CanWriteQuantityOrdered" class="col-2" mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE & CLOSE</button>
            <button *ngIf="orderItem.CanWriteQuantityOrdered" class="col" mat-button (click)="goBack()" type="button">CANCEL</button>
            <button *ngIf="!orderItem.CanWriteQuantityOrdered" class="col" mat-button (click)="goBack()" type="button">DONE</button>
            <div class="grid-right">
              <button *ngIf="orderItem.CanWriteQuantityOrdered" class="col" mat-button (click)="update()" type="button" color="primary" [disabled]="!form.form.valid">SAVE</button>
            </div>
          </div>
    </mat-card-actions>
  </form>
</td-layout-card-over>