<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="invoice" (submit)="save()">

    <div class="pad">
      <div class="grid-2_md-1" *ngIf="invoice.SalesInvoiceState">
        <a-mat-static class="col" [object]="invoice" [roleType]="m.SalesInvoice.SalesInvoiceState" display="Name" label="Status"></a-mat-static>
        <button *ngIf="invoice.CanExecuteSend" mat-button type="button" (click)="send()">Send</button>
        <button *ngIf="invoice.CanExecuteSend" mat-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="invoice.CanExecuteWriteOff" mat-button type="button" (click)="writeOff()">Write off</button>
      </div>

      <div class="grid-4_md-2_xs-1">
        <a-mat-static class="col" *ngIf="invoice.SalesOrder" [object]="invoice" [roleType]="m.SalesInvoice.SalesOrder"></a-mat-static>
      </div>

      <div class="grid-2_xs-1">
        <a-mat-autocomplete class="col" *ngIf="showOrganisations" [object]="invoice" [roleType]="m.SalesInvoice.BillToCustomer" [filter]="organisationsFilter.create()"
          display="Name" (onChange)="receiverSelected($event)" label="Bill to organisation"></a-mat-autocomplete>
        <a-mat-autocomplete class="col" *ngIf="showPeople" [object]="invoice" [roleType]="m.SalesInvoice.BillToCustomer" [filter]="peopleFilter.create()"
          display="displayName" (onChange)="receiverSelected($event)" label="Bill to person"></a-mat-autocomplete>
      </div>

      <div class="grid-2_md-1">
        <a-mat-select class="col" [object]="invoice" [roleType]="m.SalesInvoice.BillToContactMechanism" [options]="contactMechanisms"
          display="displayName"></a-mat-select>
        <button class="col-1" *ngIf="invoice.BillToCustomer" type="button" mat-button (click)="addWebAddress = true">
          <mat-icon>add</mat-icon>Web</button>
        <button class="col-1" *ngIf="invoice.BillToCustomer" type="button" mat-button (click)="addEmailAddress = true">
          <mat-icon>add</mat-icon>Email</button>
        <button class="col-1" *ngIf="invoice.BillToCustomer" type="button" mat-button (click)="addPostalAddress = true">
          <mat-icon>add</mat-icon>Postal</button>
        <button class="col-1" *ngIf="invoice.BillToCustomer" type="button" mat-button (click)="addTeleCommunicationsNumber = true">
          <mat-icon>add</mat-icon>Telecom</button>
      </div>

      <div class="grid-2" *ngIf="showOrganisations && !showPeople">
        <a-mat-select class="col" [object]="invoice" [roleType]="m.SalesInvoice.ContactPerson" [options]="contacts" display="displayName"></a-mat-select>
        <button class="col-1" type="button" mat-icon-button (click)="addPerson = true">
          <mat-icon>add</mat-icon>
        </button>
        <div *ngIf="showOrganisations && addPerson" style="background: lightblue" class="pad">
          <person-inline (cancelled)="personCancelled($event)" (saved)="personAdded($event)">
          </person-inline>
        </div>
      </div>

      <div *ngIf="addWebAddress && invoice.BillToCustomer" style="background: lightblue" class="pad">
        <party-contactmechanism-webAddress [scope]="scope" (cancelled)="webAddressCancelled($event)" (saved)="webAddressAdded($event)">
        </party-contactmechanism-webAddress>
      </div>
      <div *ngIf="addEmailAddress && invoice.BillToCustomer" style="background: lightblue" class="pad">
        <party-contactmechanism-emailAddress [scope]="scope" (cancelled)="emailAddressCancelled($event)" (saved)="emailAddressAdded($event)">
        </party-contactmechanism-emailAddress>
      </div>
      <div *ngIf="addPostalAddress && invoice.BillToCustomer" style="background: lightblue" class="pad">
        <party-contactmechanism-postaladdress [scope]="scope" (cancelled)="postalAddressCancelled($event)" (saved)="postalAddressAdded($event)">
        </party-contactmechanism-postaladdress>
      </div>
      <div *ngIf="addTeleCommunicationsNumber && invoice.BillToCustomer" style="background: lightblue" class="pad">
        <party-contactmechanism-telecommunicationsnumber [scope]="scope" (cancelled)="teleCommunicationsNumberCancelled($event)"
          (saved)="teleCommunicationsNumberAdded($event)">
        </party-contactmechanism-telecommunicationsnumber>
      </div>

      <div class="grid-4_lg-2_sm-1">
        <a-mat-select class="col" [object]="invoice" [roleType]="m.SalesInvoice.VatRegime" [options]="vatRegimes" display="Name"></a-mat-select>
        <a-mat-static class="col" *ngIf="invoice.VatRegime" [object]="invoice.VatRegime" [roleType]="m.VatRegime.VatRate" display="Rate"></a-mat-static>
      </div>

      <div class="grid-1">
        <a-mat-input class="col" [object]="invoice" [roleType]="m.SalesInvoice.Description"></a-mat-input>
      </div>
      <div class="grid-1">
        <a-mat-static class="col" *ngIf="order?.Comment" [object]="order" [roleType]="m.SalesOrder.Comment"></a-mat-static>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="invoice" [roleType]="m.SalesInvoice.Comment"></a-mat-textarea>
      </div>
      <div class="grid-1">
        <a-mat-static class="col" *ngIf="order?.InternalComment" [object]="order" [roleType]="m.SalesOrder.InternalComment"></a-mat-static>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="invoice" [roleType]="m.SalesInvoice.InternalComment"></a-mat-textarea>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="invoice" [roleType]="m.SalesInvoice.Message"></a-mat-textarea>
      </div>
    </div>
    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button mat-button (click)="goBack()" type="button">CANCEL</button>
    </mat-card-actions>

  </form>
</td-layout-card-over>