<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="invoice" (submit)="save()">

    <div class="pad">
      <div class="grid-2_md-1" *ngIf="!invoice.isNew">
        <div class="col">
          <a-mat-static [object]="invoice" [roleType]="m.SalesInvoice.SalesInvoiceState" display="Name" label="Status"></a-mat-static>
          <div class="grid">
            <button *ngIf="invoice.CanExecuteSend" mat-button type="button" (click)="send()">Send</button>
            <button *ngIf="invoice.CanExecuteSend" mat-button type="button" (click)="cancel()">Cancel</button>
            <button *ngIf="invoice.CanExecuteWriteOff" mat-button type="button" (click)="writeOff()">Write off</button>
          </div>
        </div>
        <div class="col">
          <a-mat-static [object]="invoice" [roleType]="m.SalesInvoice.SalesOrder"></a-mat-static>
        </div>
      </div>

      <div class="grid-2_xs-1">
        <a-mat-autocomplete class="col" *ngIf="showOrganisations" [object]="invoice" [roleType]="m.SalesInvoice.BillToCustomer" [filter]="organisationsFilter.create()"
          display="Name" (onChange)="receiverSelected($event)" label="Bill to organisation"></a-mat-autocomplete>
        <!-- <a-mat-autocomplete class="col" *ngIf="showPeople" [object]="invoice" [roleType]="m.SalesInvoice.BillToCustomer" [filter]="peopleFilter.create()"
          display="displayName" (onChange)="receiverSelected($event)" label="Bill to person"></a-mat-autocomplete> -->
      </div>

      <div class="grid-2_md-1">
        <div class="col">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select fxFlex [object]="invoice" [roleType]="m.SalesInvoice.BillToContactMechanism" [options]="contactMechanisms"
              display="displayName"></a-mat-select>
            <button mat-mini-fab color="accent" type="button" (click)="addContactMechanism = !addContactMechanism">
              <mat-icon *ngIf="!addContactMechanism">add</mat-icon>
              <mat-icon *ngIf="addContactMechanism">close</mat-icon>
            </button>
          </div>
          <mat-tab-group dynamicHeight="true" *ngIf="invoice.BillToCustomer && addContactMechanism">
            <mat-tab label="Web">
              <div class="pad tabInlineComponent">
                <party-contactmechanism-webAddress [scope]="scope" (cancelled)="webAddressCancelled($event); addContactMechanism = false"
                  (saved)="webAddressAdded($event); addContactMechanism = false">
                </party-contactmechanism-webAddress>
              </div>
            </mat-tab>
            <mat-tab label="Email">
              <div class="pad tabInlineComponent">
                <party-contactmechanism-emailAddress [scope]="scope" (cancelled)="emailAddressCancelled($event); addContactMechanism = false"
                  (saved)="emailAddressAdded($event); addContactMechanism = false">
                </party-contactmechanism-emailAddress>
              </div>
            </mat-tab>
            <mat-tab label="Postal">
              <div class="pad tabInlineComponent">
                <party-contactmechanism-postaladdress [scope]="scope" (cancelled)="postalAddressCancelled($event); addContactMechanism = false"
                  (saved)="postalAddressAdded($event); addContactMechanism = false">
                </party-contactmechanism-postaladdress>
              </div>
            </mat-tab>
            <mat-tab label="Telecom">
              <div class="pad tabInlineComponent">
                <party-contactmechanism-telecommunicationsnumber [scope]="scope" (cancelled)="teleCommunicationsNumberCancelled($event); addContactMechanism = false"
                  (saved)="teleCommunicationsNumberAdded($event); addContactMechanism = false">
                </party-contactmechanism-telecommunicationsnumber>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="col">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select fxFlex [object]="invoice" [roleType]="m.SalesInvoice.ContactPerson" [options]="contacts" display="displayName"></a-mat-select>
            <button mat-mini-fab color="accent" type="button" (click)="addContactPerson = !addContactPerson">
              <mat-icon *ngIf="!addContactPerson">add</mat-icon>
              <mat-icon *ngIf="addContactPerson">close</mat-icon>
            </button>
          </div>
          <mat-tab-group dynamicHeight="true" *ngIf="invoice.BillToCustomer && addContactPerson">
            <mat-tab label="Person">
              <div class="pad tabInlineComponent">
                <person-inline (cancelled)="personCancelled($event); addContactPerson = false" (saved)="personAdded($event); addContactPerson = false">
                </person-inline>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div class="grid-2_sm-1">
        <a-mat-select class="col" [object]="invoice" [roleType]="m.SalesInvoice.VatRegime" [options]="vatRegimes" display="Name"></a-mat-select>
        <a-mat-static class="col" [object]="invoice.VatRegime" [roleType]="m.VatRegime.VatRate" display="Rate"></a-mat-static>
      </div>

      <div class="grid-1">
        <a-mat-input class="col" [object]="invoice" [roleType]="m.SalesInvoice.Description"></a-mat-input>
      </div>
      <div class="grid-1">
        <a-mat-static class="col" *ngIf="order?.Comment" [object]="order" [roleType]="m.SalesOrder.Comment"></a-mat-static>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="invoice" [roleType]="m.SalesInvoice.Comment"></a-mat-textarea>
      </div>
      <div class="grid-1">
        <a-mat-static class="col" *ngIf="order?.InternalComment" [object]="order" [roleType]="m.SalesOrder.InternalComment"></a-mat-static>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="invoice" [roleType]="m.SalesInvoice.InternalComment"></a-mat-textarea>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="invoice" [roleType]="m.SalesInvoice.Message"></a-mat-textarea>
      </div>
    </div>
    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button mat-button (click)="goBack()" type="button">CANCEL</button>
    </mat-card-actions>

  </form>
</td-layout-card-over>