<div fxLayout="column" style="height: 100vh; min-height: 100vh">

  <mat-toolbar fxFlex>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
      <button mat-icon-button matTooltip="Export to CSV" [routerLink]="['/export/people']">
        <mat-icon>cloud_download</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch" style="padding: 20px;">

    <mat-card fxFlex fxLayout="column" fxLayoutAlign="start stretch">

      <form novalidate [formGroup]="searchForm">

        <mat-card-content fxLayout="row wrap" fxLayoutGap="1rem">
          <mat-form-field fxFlex fxFill *ngIf="!advancedSearch" appearance="outline">
            <mat-label>Search by Last Name</mat-label>
            <input matInput autocomplete="off" formControlName="lastName">
            <a matSuffix mat-icon-button (click)="advancedSearch = !advancedSearch" title="Advanced Search">
              <mat-icon>expand_more</mat-icon>
            </a>
          </mat-form-field>

          <mat-form-field fxFlex="1 2 calc(15em)" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Search by Last Name</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>

          <div fxFlex="none" *ngIf="advancedSearch">
            <a mat-icon-button (click)="searchForm.reset(); advancedSearch = !advancedSearch;" title="Reset Search">
              <mat-icon>close</mat-icon>
            </a>
          </div>

        </mat-card-content>
      </form>

      <mat-list fxFlex style="overflow: auto;">
        <div *ngIf="data && data.length === 0">
          <h3>No people to display.</h3>
        </div>
        <ng-template let-person let-last="last" ngFor [ngForOf]="data">
          <mat-list-item fxLayout="column" fxLayoutAlign="start stretch" (click)="router.navigate(['/relations/person/', person.id])"
            style="cursor: pointer;">

            <mat-icon fxHide fxShow.gt-sm *ngIf="!person.Picture" mat-list-avatar>person</mat-icon>
            <img fxHide fxShow.gt-sm *ngIf="person.Picture" mat-list-avatar [src]="mediaService.url(person.Picture)" />

            <h3 mat-line>{{person.Salutation?.Name}} {{person.PartyName}} </h3>
            <p *ngIf="person.GeneralPhoneNumber" mat-line>{{person.GeneralPhoneNumber.CountryCode}} {{person.GeneralPhoneNumber.AreaCode}} {{person.GeneralPhoneNumber.ContactNumber}}</p>

            <div fxHide fxShow.gt-sm>last&nbsp;modified:
              <br>{{ person.LastModifiedDate | date : shortDate }}
            </div>

            <div (click)="$event.stopPropagation()">
              <button type="button" mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a [routerLink]="['/relations/person/' + person.id]" mat-menu-item>Details</a>
                <button mat-menu-item (click)="delete(person)" [disabled]="!person.CanExecuteDelete">Delete</button>
              </mat-menu>
            </div>

            <mat-divider *ngIf="!last" mat-inset></mat-divider>

          </mat-list-item>
        </ng-template>
      </mat-list>

    </mat-card>
  </div>

  <mat-toolbar fxFlex fxLayout="row">
    <span fxFlex></span>
    <a mat-raised-button [routerLink]="['/person']">
      Add New
    </a>
  </mat-toolbar>

</div>