<mat-toolbar>
  <div  layout-align="start center" flex>
    <button mat-icon-button >
          <mat-icon>arrow_back</mat-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button mat-icon-button matTooltip="Export to CSV" [routerLink]="['/export/people']"><mat-icon>cloud_download</mat-icon></button>
  </div>
</mat-toolbar>

<mat-card>
  <div class="pad-top-xs pad-left pad-right">
    <form novalidate [formGroup]="searchForm">
      <mat-form-field>
        <input matInput placeholder="First Name" formControlName="firstName">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Last Name" formControlName="lastName">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>

  <mat-divider></mat-divider>

  <mat-card-content>
    
      <mat-list>
        <div  *ngIf="data && data.length === 0"  >
          <h3>No people to display.</h3>
        </div>
        <ng-template let-person let-last="last" ngFor [ngForOf]="data">
          <mat-list-item class="cursor-pointer">

            <mat-icon *ngIf="!person.Picture" mat-list-avatar>person</mat-icon>
            <img *ngIf="person.Picture" mat-list-avatar [src]="mediaService.url(person.Picture)"/>

            <h3 mat-line [routerLink]="['/relations/person/' + person.id]"> {{person.Salutation?.Name}} {{person.PartyName}} </h3>
            <p *ngIf="person.GeneralPhoneNumber" mat-line> {{person.GeneralPhoneNumber.CountryCode}} {{person.GeneralPhoneNumber.AreaCode}} {{person.GeneralPhoneNumber.ContactNumber}}

              <p mat-line> last login: {{ person.LastModifiedDate | date : shortDate }} </p>

              <span flex></span>

              <span      >
              <div  > {{ person.CreationDate | date }} </div>
              <div  > {{ person.LastModifiedDate | date : shortDate }} </div>
            </span>

              <span>
              <button mat-icon-button [mat-menu-trigger-for]="menu">
              <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
              <a [routerLink]="['/relations/person/' + person.id]" mat-menu-item>Details</a>
              <button  mat-menu-item (click)="delete(person)" [disabled]="!person.CanExecuteDelete">Delete</button>
              </mat-menu>
            </span>

          </mat-list-item>
          <mat-divider *ngIf="!last" mat-inset></mat-divider>
        </ng-template>
      </mat-list>

  </mat-card-content>
</mat-card>

<mat-card body *ngIf="this.data && this.data.length !== total">
  <mat-card-content>
    <button mat-button (click)="more()">More</button> {{this.data?.length}}/{{total}}
  </mat-card-content>
</mat-card>

<a mat-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['/person']">
  <mat-icon>add</mat-icon>
</a>
