<div class="a-master">

  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
      <span class="col"></span>
      <button mat-icon-button matTooltip="Export to CSV" [routerLink]="['/export/people']">
        <mat-icon>cloud_download</mat-icon>
      </button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>
    <mat-card>
      <mat-card-content class="container-fluid a-search">
        <form class="row" novalidate [formGroup]="searchForm">

          <mat-form-field class="col" *ngIf="!advancedSearch" appearance="outline">
            <mat-label>Search by Last Name</mat-label>
            <input matInput autocomplete="off" formControlName="lastName">
            <button matSuffix mat-icon-button type="button" (click)="advancedSearch = !advancedSearch" title="Advanced Search">
              <mat-icon>expand_more</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Search by Last Name</mat-label>
            <input matInput formControlName="lastName">
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="firstName">
          </mat-form-field>

          <div class="col-1 pt-2" *ngIf="advancedSearch">
            <button mat-icon-button type="button" class="mat-icon-button" (click)="searchForm.reset(); advancedSearch = !advancedSearch;"
              title="Reset Search">
              <mat-icon>close</mat-icon>
            </button>
          </div>

        </form>
      </mat-card-content>

      <mat-card-content class="container-fluid a-list">

        <div *ngIf="data?.length === 0">
          <h3>No people to display.</h3>
        </div>

        <mat-list>
          <mat-list-item *ngFor="let person of data; let last = last" [attr.data-allors-id]="person.id" (click)="onView(person)" style="cursor: pointer;">

            <mat-icon *ngIf="!person.Picture" mat-list-avatar>person</mat-icon>
              <img *ngIf="person.Picture" mat-list-avatar [src]="mediaService.url(person.Picture)" />

              <h3 mat-line>{{person.Salutation?.Name}} {{person.PartyName}} </h3>
              <p *ngIf="person.GeneralPhoneNumber" mat-line>{{person.GeneralPhoneNumber.CountryCode}} {{person.GeneralPhoneNumber.AreaCode}} {{person.GeneralPhoneNumber.ContactNumber}}</p>

              <caption class="d-none d-md-block text-nowrap">last modified: {{ person.LastModifiedDate | date : shortDate }}
              </caption>

              <div (click)="$event.stopPropagation()">
                <button type="button" mat-icon-button [mat-menu-trigger-for]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                  <a [routerLink]="['/relations/person/' + person.id]" mat-menu-item>Details</a>
                  <button mat-menu-item (click)="delete(person)" [disabled]="!person.CanExecuteDelete">Delete</button>
                </mat-menu>
              </div>

            <mat-divider *ngIf="!last" mat-inset></mat-divider>

          </mat-list-item>
        </mat-list>

      </mat-card-content>
    </mat-card>
  </div>

  <mat-toolbar class="a-footer">
    <mat-toolbar-row class="row">
      <span class="col"></span>
      <a mat-raised-button [routerLink]="['/person']">
        Add New
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

</div>