<div class="pad-top-xs pad-left pad-right">
  <form novalidate [formGroup]="searchForm">
    <mat-form-field>
      <input matInput placeholder="First Name" formControlName="firstName">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Last Name" formControlName="lastName">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </form>
</div>

<mat-divider></mat-divider>

<mat-card-content style="min-height: 60vh">

  <mat-list  fxLayout="column">

    <textarea #clipSource style="min-height: 60vh" [ngModel]="csv"></textarea>

    <a mat-icon-button matTooltip="Copy to clipboard" (click)="clipSource.select(); copy()">
      <mat-icon>content_copy</mat-icon>
    </a>

  </mat-list>
</mat-card-content>