<form #form="ngForm" fxLayout="column" style="height: 100vh; min-height: 100vh" (submit)="save()">
  <mat-toolbar fxFlex>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch" style="padding: 20px; overflow: auto;">

    <mat-card *ngIf="organisation" fxFlex fxLayout="column" fxLayoutAlign="start stretch" style="overflow: auto;">

      <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
        <mat-form-field>
          <mat-select name="role" [(ngModel)]="activeRoles" placeholder="Roles" multiple="true">
            <mat-option *ngFor="let role of selectableRoles" [value]="role">{{ role.Name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <a-mat-input [object]="person" [roleType]="m.Person.Function"></a-mat-input>
      </div>

      <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns4x">
        <a-mat-select [object]="person" [roleType]="m.Person.Salutation" [options]="salutations" display="Name"></a-mat-select>
        <a-mat-input [object]="person" [roleType]="m.Person.FirstName"></a-mat-input>
        <a-mat-input [object]="person" [roleType]="m.Person.MiddleName"></a-mat-input>
        <a-mat-input [object]="person" [roleType]="m.Person.LastName"></a-mat-input>
      </div>

      <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
        <a-mat-select [object]="person" [roleType]="m.Person.Gender" [options]="genders" display="Name"></a-mat-select>
        <a-mat-select [object]="person" [roleType]="m.Person.Locale" [options]="locales" display="Name"></a-mat-select>
      </div>

      <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
        <a-mat-select [object]="organisationContactRelationship" [roleType]="m.OrganisationContactRelationship.ContactKinds" [options]="organisationContactKinds"
          display="Description" multiple="true"></a-mat-select>
        <mat-form-field *ngIf="!organisationContactRelationship && !organisation">
          <mat-select name="role" [(ngModel)]="organisation" placeholder="Organisations">
            <mat-option *ngFor="let organisation of organisations" [value]="organisation">{{ organisation.Name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="(!organisationContactRelationship && organisation) || (organisationContactRelationship && !person.IsNew)">
          <input matInput type="type" [ngModel]="organisation.Name" name="Organisation" placeholder="Organisation" readonly="true">
        </mat-form-field>
        <a-mat-textarea [object]="person" [roleType]="m.Person.Comment"></a-mat-textarea>
        <a-mat-file [object]="person" [roleType]="m.Person.Picture" accept="image/*"></a-mat-file>
      </div>

    </mat-card>
  </div>

  <mat-toolbar fxFlex fxLayout="row" fxLayoutGap="1rem">
    <span fxFlex></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>