<form #form="ngForm" class="a-root" (submit)="save()">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="organisation" class="container-fluid">

      <div class="row">
        <mat-form-field>
          <mat-select name="role" [(ngModel)]="activeRoles" placeholder="Roles" multiple="true">
            <mat-option *ngFor="let role of selectableRoles" [value]="role">{{ role.Name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <a-mat-input [object]="person" [roleType]="m.Person.Function"></a-mat-input>
      </div>

      <div class="row">
        <a-mat-select [object]="person" [roleType]="m.Person.Salutation" [options]="salutations" display="Name" class="col"></a-mat-select>
        <a-mat-input [object]="person" [roleType]="m.Person.FirstName" class="col"></a-mat-input>
        <a-mat-input [object]="person" [roleType]="m.Person.MiddleName" class="col"></a-mat-input>
        <a-mat-input [object]="person" [roleType]="m.Person.LastName" class="col"></a-mat-input>
      </div>

      <div class="row">
        <a-mat-select [object]="person" [roleType]="m.Person.Gender" [options]="genders" display="Name"></a-mat-select>
        <a-mat-select [object]="person" [roleType]="m.Person.Locale" [options]="locales" display="Name"></a-mat-select>
      </div>

      <div class="row">
        <a-mat-select [object]="organisationContactRelationship" [roleType]="m.OrganisationContactRelationship.ContactKinds" [options]="organisationContactKinds"
          display="Description" multiple="true"></a-mat-select>
        <mat-form-field *ngIf="!organisationContactRelationship && !organisation">
          <mat-select name="role" [(ngModel)]="organisation" placeholder="Organisations">
            <mat-option *ngFor="let organisation of organisations" [value]="organisation">{{ organisation.Name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field *ngIf="(!organisationContactRelationship && organisation) || (organisationContactRelationship && !person.IsNew)">
          <input matInput type="type" [ngModel]="organisation.Name" name="Organisation" placeholder="Organisation" readonly="true">
        </mat-form-field>
        <a-mat-textarea [object]="person" [roleType]="m.Person.Comment"></a-mat-textarea>
        <a-mat-file [object]="person" [roleType]="m.Person.Picture" accept="image/*"></a-mat-file>
      </div>

    </mat-card>
  </div>

  <mat-toolbar fxLayout="row" fxLayoutGap="1rem">
    <span fxFlex></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>