<div class="a-detail">

  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span>{{title}}</span>
      <span class="col"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div class="container-fluid">
    <div *ngIf="person" class="row align-items-stretch">

      <div class="col-md-6">
        <mat-card>

          <div class="row">
            <div class="col">
              <mat-icon>person</mat-icon> Person
            </div>
          </div>

          <mat-card-content>
            <div class="container">
              <div class="row">
                <a-mat-static class="col" *ngIf="person.Salutation" [object]="person" [roleType]="m.Person.Salutation" display="Name"></a-mat-static>
                <mat-form-field class="col">
                  <input matInput type="string" [ngModel]="person.displayName" name="name" placeholder="Name" readonly>
                </mat-form-field>
              </div>

              <div class="row">
                <a-mat-static class="col" *ngIf="organisation" [object]="organisation" [roleType]="m.Organisation.Name" label="Organisation"
                  [routerLink]="['/relations/organisation/' + organisation.id]"></a-mat-static>
                <mat-form-field class="col">
                  <input matInput type="string" [ngModel]="contactKindsText" name="contactKind" placeholder="Contact Kind" readonly />
                </mat-form-field>
              </div>

              <div class="row">
                <a-mat-static class="col" *ngIf="person.Function" [object]="person" [roleType]="m.Person.Function"></a-mat-static>
                <!--
              <a-mat-static *ngIf="person.Gender" [object]="person" [roleType]="m.Person.Gender" display="Name"></a-mat-static>
      -->
                <a-mat-static class="col" [object]="person" [roleType]="m.Person.Locale" display="Name"></a-mat-static>
              </div>

              <div class="row">
                <a-mat-static class="col" *ngIf="person.Comment " [object]="person" [roleType]="m.Person.Comment"></a-mat-static>
              </div>

              <div class="row">
                <p class="col mat-caption"> last modified: {{ person.LastModifiedDate | date}} by {{ person.LastModifiedBy?.displayName}}</p>
              </div>
            </div>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button [routerLink]="['/person/' + person.id]">Edit</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>

          <div class="row">
            <div class="col">
              <mat-icon>people</mat-icon> Communications
            </div>
          </div>

          <mat-card-content>

            <ul *ngIf="communicationEvents?.length == 0">
              <li>no communications to display</li>
            </ul>

            <mat-list>
              <mat-list-item *ngFor="let communicationEvent of this.communicationEvents; let last=last">
                <div *ngIf="this.checkType(communicationEvent) === 'FaceToFaceCommunication'" mat-line [routerLink]="['/relations/party/' + person.id + '/communicationevent/' + communicationEvent.id ]">
                  Meeting, {{ communicationEvent.CommunicationEventState.Name }}</div>

                <div *ngIf="this.checkType(communicationEvent) === 'PhoneCommunication'" mat-line [routerLink]="['/relations/party/' + person.id + '/communicationevent/' + communicationEvent.id ]">
                  Phone call, {{ communicationEvent.CommunicationEventState.Name }}</div>

                <div *ngIf="this.checkType(communicationEvent) === 'EmailCommunication'" mat-line [routerLink]="['/relations/party/' + person.id + '/communicationevent/' + communicationEvent.id ]">
                  Email, {{ communicationEvent.CommunicationEventState.Name }}</div>

                <div *ngIf="this.checkType(communicationEvent) === 'LetterCorrespondence'" mat-line [routerLink]="['/relations/party/' + person.id + '/communicationevent/' + communicationEvent.id ]">
                  Letter, {{ communicationEvent.CommunicationEventState.Name }}</div>

                <p mat-line>{{ communicationEvent.Subject }} </p>
                <p mat-line>Involved:
                  <span *ngFor="let party of communicationEvent.InvolvedParties">{{ party.displayName }} </span>
                </p>

                <span>
                  <div> started: {{ communicationEvent.ActualStart | date}} </div>
                  <div> ended: {{ communicationEvent.ActualEnd | date }} </div>
                </span>

                <div (click)="$event.stopPropagation()">
                  <button mat-icon-button [mat-menu-trigger-for]="menuEditCom">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menuEditCom="matMenu">
                    <button mat-menu-item [routerLink]="['/relations/party/' + person.id + '/communicationevent/' + communicationEvent.id ]">Details</button>
                    <button *ngIf="this.checkType(communicationEvent) === 'EmailCommunication'" mat-menu-item [routerLink]="['/party/' + person.id + '/communicationevent/emailcommunication/' + communicationEvent.id ]">Edit</button>
                    <button *ngIf="this.checkType(communicationEvent) === 'FaceToFaceCommunication'" mat-menu-item [routerLink]="['/party/' + person.id + '/communicationevent/facetofacecommunication/' + communicationEvent.id ]">Edit</button>
                    <button *ngIf="this.checkType(communicationEvent) === 'LetterCorrespondence'" mat-menu-item [routerLink]="['/party/' + person.id + '/communicationevent/lettercorrespondence/' + communicationEvent.id ]">Edit</button>
                    <button *ngIf="this.checkType(communicationEvent) === 'PhoneCommunication'" mat-menu-item [routerLink]="['/party/' + person.id + '/communicationevent/emailcommunication/' + communicationEvent.id ]">Edit</button>
                    <button [disabled]="!communicationEvent.CanExecuteDelete" mat-menu-item (click)="deleteCommunication(communicationEvent)">Delete</button>
                    <button [disabled]="!communicationEvent.CanExecuteCancel" mat-menu-item (click)="cancelCommunication(communicationEvent)">Cancel</button>
                    <button [disabled]="!communicationEvent.CanExecuteClose" mat-menu-item (click)="closeCommunication(communicationEvent)">Close</button>
                    <button [disabled]="!communicationEvent.CanExecuteReopen" mat-menu-item (click)="reopenCommunication(communicationEvent)">Reopen</button>
                  </mat-menu>
                </div>

                <mat-divider *ngIf="!last" mat-inset></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button [matMenuTriggerFor]="menuAddComm">Add new</button>
            <mat-menu #menuAddComm="matMenu">
              <button mat-menu-item [routerLink]="['/party/' + person.id +'/communicationevent/facetofacecommunication']">Meeting</button>
              <button mat-menu-item [routerLink]="['/party/' + person.id +'/communicationevent/phonecommunication']">Phone</button>
              <button mat-menu-item [routerLink]="['/party/' + person.id +'/communicationevent/emailcommunication']">Email</button>
              <button mat-menu-item [routerLink]="['/party/' + person.id +'/communicationevent/lettercorrespondence']">Letter</button>
            </mat-menu>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>

          <div class="row">
            <div class="col">
              <mat-icon>contacts</mat-icon> Contact Info
            </div>
            <div class="col">
              <mat-button-toggle-group [(ngModel)]="contactMechanismsCollection">
                <mat-button-toggle value="Current">Current</mat-button-toggle>
                <mat-button-toggle value="Inactive">Inactive</mat-button-toggle>
                <mat-button-toggle value="All">All</mat-button-toggle>
              </mat-button-toggle-group>
            </div>
          </div>

          <mat-card-content>

            <ul *ngIf="contactMechanisms?.length == 0">
              <li>no info to display</li>
            </ul>

            <mat-list>
              <mat-list-item *ngFor="let partyContactMechanism of this.contactMechanisms; let last=last">

                <h3 mat-line> {{partyContactMechanism.ContactPurpose?.Name}}</h3>
                <h3 mat-line> {{partyContactMechanism.Contact}}</h3>
                <div mat-line *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === 'EmailAddress'" [routerLink]="['/party/' + person.id + '/partycontactmechanism/emailaddress/' + partyContactMechanism.id]">
                  {{ partyContactMechanism.ContactMechanism.ElectronicAddressString}}
                </div>
                <div mat-line *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === 'WebAddress'" [routerLink]="['/party/' + person.id + '/partycontactmechanism/webaddress/' + partyContactMechanism.id]">
                  {{ partyContactMechanism.ContactMechanism.ElectronicAddressString}}
                </div>
                <div mat-line *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === 'TelecommunicationsNumber'" [routerLink]="['/party/' + person.id + '/partycontactmechanism/telecommunicationsnumber/' + partyContactMechanism.id]">
                  {{ partyContactMechanism.ContactMechanism.CountryCode}} {{ partyContactMechanism.ContactMechanism.AreaCode}} {{ partyContactMechanism.ContactMechanism.ContactNumber}}
                </div>
                <div mat-line *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === 'PostalAddress'" [routerLink]="['/party/' + person.id + '/partycontactmechanism/postaladdress/' + partyContactMechanism.id]">
                  {{ partyContactMechanism.ContactMechanism.Address1}} {{ partyContactMechanism.ContactMechanism.PostalBoundary?.PostalCode}}
                  {{ partyContactMechanism.ContactMechanism.PostalBoundary?.Locality}} {{ partyContactMechanism.ContactMechanism.PostalBoundary?.Country.Name}}
                </div>
                <p mat-line *ngFor="let contactPurpose of partyContactMechanism.ContactPurposes">{{ contactPurpose.Name }} </p>

                <p mat-line> last modified: {{ partyContactMechanism.LastModifiedDate | date : shortDate }} </p>

                <div (click)="$event.stopPropagation()">
                  <button mat-icon-button [mat-menu-trigger-for]="menuEditContact">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menuEditContact="matMenu">
                    <a *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === 'EmailAddress'" [routerLink]="['/party/' + person.id + '/partycontactmechanism/emailaddress/' + partyContactMechanism.id]"
                      mat-menu-item>Edit</a>
                    <a *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === 'WebAddress'" [routerLink]="['/party/' + person.id + '/partycontactmechanism/webaddress/' + partyContactMechanism.id]"
                      mat-menu-item>Edit</a>
                    <a *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === 'TelecommunicationsNumber'" [routerLink]="['/party/' + person.id + '/partycontactmechanism/telecommunicationsnumber/' + partyContactMechanism.id]"
                      mat-menu-item>Edit</a>
                    <a *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === 'PostalAddress'" [routerLink]="['/party/' + person.id + '/partycontactmechanism/postaladdress/' + partyContactMechanism.id]"
                      mat-menu-item>Edit</a>
                    <button mat-menu-item (click)="removeContactMechanism(partyContactMechanism)" [disabled]="!!partyContactMechanism.ThroughDate">Remove</button>
                    <button mat-menu-item (click)="activateContactMechanism(partyContactMechanism)" [disabled]="!partyContactMechanism.ThroughDate">Activate</button>
                    <button mat-menu-item (click)="deleteContactMechanism(partyContactMechanism.ContactMechanism)" [disabled]="!partyContactMechanism.ContactMechanism.CanExecuteDelete">Delete</button>
                  </mat-menu>
                </div>

                <mat-divider *ngIf="!last" mat-inset></mat-divider>
              </mat-list-item>

            </mat-list>
          </mat-card-content>

          <mat-card-actions>

            <button mat-button [matMenuTriggerFor]="menuAddContact">Add new</button>
            <mat-menu #menuAddContact="matMenu">
              <button mat-menu-item [routerLink]="['/party/' + person.id + '/partycontactmechanism/webaddress']">+ Web</button>
              <button mat-menu-item [routerLink]="['/party/' + person.id + '/partycontactmechanism/emailaddress']">+ Email</button>
              <button mat-menu-item [routerLink]="['/party/' + person.id + '/partycontactmechanism/postaladdress']">+ Postal</button>
              <button mat-menu-item [routerLink]="['/party/' + person.id + '/partycontactmechanism/telecommunicationsnumber']">+ Telecom</button>
            </mat-menu>

          </mat-card-actions>

        </mat-card>
      </div>

      <div class="col-md-6">
        <mat-card>

          <div class="row">
            <div class="col">
              <mat-icon>work</mat-icon> Work Efforts
            </div>
          </div>

          <mat-card-content>

            <ul *ngIf="workEffortAssignments?.length == 0">
              <li>no work efforts to display</li>
            </ul>

            <mat-list>
              <mat-list-item *ngFor="let workEffortAssignment of this.workEffortAssignments; let last=last">
                <div mat-line [routerLink]="['/worktask/' + workEffortAssignment.Assignment.id ]">
                  {{ workEffortAssignment.Assignment.Name }}, {{ workEffortAssignment.Assignment.WorkEffortState.Name }}
                </div>

                <p mat-line>{{ workEffortAssignment.Assignment.Description }} </p>
                <p *ngIf="workEffortAssignment.Assignment.Priority" mat-line>Priority {{ workEffortAssignment.Assignment.Priority.Name }} </p>

                <span>
                  <div> Sched. Start: {{ workEffortAssignment.Assignment.ScheduledStart | date}} </div>
                  <div> Sched. Compl.: {{ workEffortAssignment.Assignment.ScheduledCompletion | date }} </div>
                  <div> Act. Start: {{ workEffortAssignment.Assignment.ActualStart | date}} </div>
                  <div> Act. Compl.: {{ workEffortAssignment.Assignment.ActualCompletion | date }} </div>
                </span>

                <div>
                  <button mat-icon-button [mat-menu-trigger-for]="menuEditWork">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menuEditWork="matMenu">
                    <a [routerLink]="['/worktask/' + workEffortAssignment.Assignment.id]" mat-menu-item>Edit</a>
                    <button mat-menu-item (click)="delete(workEffortAssignment.Assignment)" [disabled]="!workEffortAssignment.Assignment.CanExecuteDelete">Delete</button>
                  </mat-menu>
                </div>

                <mat-divider *ngIf="!last" mat-inset></mat-divider>

              </mat-list-item>
            </mat-list>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button [routerLink]="['/worktask']">Add new</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>
</div>