<div class="dropdown profile-element" dropdown>
    <span ng-if="!main.url">
        <a ui-sref="profile"><i class="fa fa-user fa-5x"></i></a>
    </span>
    <span ng-if="main.url">
        <a ui-sref="user"><img ng-src="{{main.url}}" class="img-responsive img-rounded" /></a>
    </span>
    <a ui-sref="user" id="menu-user">
        <span class="clear">
            <span class="block m-t-xs">
                <strong class="font-bold">{{main.user.FirstName}} {{main.user.LastName}}</strong>
            </span>
            <span class="text-muted text-xs block">{{main.user.JobTitle}}</span>
        </span>
    </a>
</div>
<div class="logo-element">
    IM+
</div>
