  <form #form="ngForm" class="pad" *ngIf="communicationEvent" (submit)="save()">

    <div class="grid-2_md-1" *ngIf="!communicationEvent.isNew">
      <div >
        <a-mat-static [object]="communicationEvent" [roleType]="m.CommunicationEvent.CommunicationEventState" display="Name" label="Status"></a-mat-static>
        <button *ngIf="communicationEvent.CanExecuteClose" mat-button type="button" (click)="close()">Close</button>
        <button *ngIf="communicationEvent.CanExecuteCancel" mat-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="communicationEvent.CanExecuteReopen" mat-button type="button" (click)="reopen()">Reopen</button>
      </div>
    </div>

    <div class="grid-2_xs-1">
      <a-mat-slide-toggle  [object]="communicationEvent" [roleType]="m.LetterCorrespondence.IncomingLetter"></a-mat-slide-toggle>
      <a-mat-select  [object]="communicationEvent" [roleType]="m.EmailCommunication.EventPurposes" [options]="purposes"
        display="Name"></a-mat-select>
    </div>

    <div class="grid-2_md-1">
      <div >
        <div fxLayout fxLayoutGap="1em">
          <a-mat-chips fxFlex [object]="communicationEvent" [roleType]="m.LetterCorrespondence.Originators" [options]="contacts" display="displayName"
            label="Sender"></a-mat-chips>
          <button mat-mini-fab color="accent" [disabled]="!communicationEvent.IncomingLetter || !PartyIsOrganisation" type="button"
            (click)="addSender = !addSender">
            <mat-icon *ngIf="!addSender">add</mat-icon>
            <mat-icon *ngIf="addSender">close</mat-icon>
          </button>
        </div>
        <mat-tab-group dynamicHeight="true" *ngIf="communicationEvent.IncomingLetter && addSender">
          <mat-tab label="Person">
            <div class="pad tabInlineComponent">
              <person-inline (cancelled)="senderCancelled($event); addSender = false" (saved)="senderAdded($event); addSender = false">
              </person-inline>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div >
        <div fxLayout fxLayoutGap="1em">
          <a-mat-chips fxFlex [object]="communicationEvent" [roleType]="m.LetterCorrespondence.Receivers" [options]="contacts" display="displayName"
            label="Receiver"></a-mat-chips>
          <button mat-mini-fab color="accent" [disabled]="communicationEvent.IncomingLetter || !PartyIsOrganisation" type="button"
            (click)="addReceiver = !addReceiver">
            <mat-icon *ngIf="!addReceiver">add</mat-icon>
            <mat-icon *ngIf="addReceiver">close</mat-icon>
          </button>
        </div>
        <mat-tab-group dynamicHeight="true" *ngIf="!communicationEvent.IncomingLetter && addReceiver">
          <mat-tab label="Person">
            <div class="pad tabInlineComponent">
              <person-inline (cancelled)="receiverCancelled($event); addReceiver = false" (saved)="receiverAdded($event); addReceiver = false">
              </person-inline>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <div class="grid-2_md-1">
      <div >
        <div fxLayout fxLayoutGap="1em">
          <a-mat-select fxFlex [object]="communicationEvent" [roleType]="m.LetterCorrespondence.ContactMechanisms" [options]="postalAddresses"
           display="displayName" label="Postal Address"></a-mat-select>
          <button mat-mini-fab color="accent" type="button" (click)="addAddress = !addAddress">
            <mat-icon *ngIf="!addAddress">add</mat-icon>
            <mat-icon *ngIf="addAddress">close</mat-icon>
          </button>
        </div>
        <mat-tab-group dynamicHeight="true" *ngIf="addAddress">
          <mat-tab label="Postal Address">
            <div class="pad tabInlineComponent">
              <party-contactmechanism-postaladdress [scope]="scope" (cancelled)="addressCancelled($event); addAddress = false" (saved)="addressAdded($event); addAddress = false">
              </party-contactmechanism-postaladdress>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>
    </div>

    <div class="grid-1">
      <a-mat-input  [object]="communicationEvent" [roleType]="m.LetterCorrespondence.Subject"></a-mat-input>
      <a-mat-textarea  [object]="communicationEvent" [roleType]="m.LetterCorrespondence.Note"></a-mat-textarea>
    </div>

    <div class="grid-2_xs-1">
      <a-mat-datepicker  [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledStart" [useTime]="true"></a-mat-datepicker>
      <a-mat-datepicker  [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledEnd" [useTime]="true"></a-mat-datepicker>
      <a-mat-datepicker  [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualStart" [useTime]="true"></a-mat-datepicker>
      <a-mat-datepicker  [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualEnd" [useTime]="true"></a-mat-datepicker>
    </div>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button mat-button (click)="goBack()" type="button">CANCEL</button>
    </mat-card-actions>

  </form>
