<form class="a-edit" #form="ngForm" (submit)="save()" novalidate>

  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="communicationEvent">

      <mat-card-content class="container-fluid">

        <div class="row">
          <a-mat-static class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.CommunicationEventState" display="Name" label="Status"></a-mat-static>
          <div class="col-md">
            <div class="row">
              <a-mat-select class="col" [object]="communicationEvent" [roleType]="m.EmailCommunication.EventPurposes" [options]="purposes" display="Name" class="col-md"></a-mat-select>
              <a-mat-slidetoggle [object]="communicationEvent" [roleType]="m.LetterCorrespondence.IncomingLetter"></a-mat-slidetoggle>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md">
            <div class="row">
              <a-mat-chips class="col" [object]="communicationEvent" [roleType]="m.LetterCorrespondence.Originators" [options]="contacts" display="displayName" label="Sender"></a-mat-chips>
              <button mat-mini-fab color="accent" [disabled]="!communicationEvent.IncomingLetter || !PartyIsOrganisation" type="button" (click)="addSender = !addSender">
                <mat-icon *ngIf="!addSender">add</mat-icon>
                <mat-icon *ngIf="addSender">close</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-md-12" *ngIf="communicationEvent.IncomingLetter && addSender">
            <mat-card>
              <mat-card-header>Add a new person</mat-card-header>
              <mat-card-content>
                <person-inline (cancelled)="senderCancelled($event); addSender = false" (saved)="senderAdded($event); addSender = false">
                </person-inline>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-md">
            <div class="row">
              <a-mat-chips class="col" [object]="communicationEvent" [roleType]="m.LetterCorrespondence.Receivers" [options]="contacts" display="displayName" label="Receiver"></a-mat-chips>
              <button mat-mini-fab color="accent" [disabled]="communicationEvent.IncomingLetter || !PartyIsOrganisation" type="button" (click)="addReceiver = !addReceiver">
                <mat-icon *ngIf="!addReceiver">add</mat-icon>
                <mat-icon *ngIf="addReceiver">close</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-md-12" *ngIf="!communicationEvent.IncomingLetter && addReceiver">
            <mat-card>
              <mat-card-header>Add a new person</mat-card-header>
              <mat-card-content>
                <person-inline (cancelled)="receiverCancelled($event); addReceiver = false" (saved)="receiverAdded($event); addReceiver = false">
                </person-inline>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-md-12">
            <div class="row">
              <a-mat-select class="col" [object]="communicationEvent" [roleType]="m.LetterCorrespondence.ContactMechanisms" [options]="postalAddresses" display="displayName" label="Postal Address" class="col-md"></a-mat-select>
              <button mat-mini-fab color="accent" type="button" (click)="addAddress = !addAddress">
                <mat-icon *ngIf="!addAddress">add</mat-icon>
                <mat-icon *ngIf="addAddress">close</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-md-12" *ngIf="addAddress">
            <mat-card>
              <mat-card-header>Add a new address</mat-card-header>
              <mat-card-content>
                  <party-contactmechanism-postaladdress [scope]="scope" (cancelled)="addressCancelled($event); addAddress = false" (saved)="addressAdded($event); addAddress = false">
                    </party-contactmechanism-postaladdress>
                  </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div class="row">
          <a-mat-input class="col-md" [object]="communicationEvent" [roleType]="m.LetterCorrespondence.Subject" class="col-md"></a-mat-input>
          <a-mat-textarea class="col-md" [object]="communicationEvent" [roleType]="m.LetterCorrespondence.Note" class="col-md-12"></a-mat-textarea>
        </div>

        <div class="row">
          <a-mat-datetimepicker class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledStart"></a-mat-datetimepicker>
          <a-mat-datetimepicker class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledEnd"></a-mat-datetimepicker>
        </div>

        <div class="row">
          <a-mat-datetimepicker class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualStart"></a-mat-datetimepicker>
          <a-mat-datetimepicker class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualEnd"></a-mat-datetimepicker>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button *ngIf="communicationEvent.CanExecuteClose" mat-button type="button" (click)="close()">Close</button>
        <button *ngIf="communicationEvent.CanExecuteCancel" mat-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="communicationEvent.CanExecuteReopen" mat-button type="button" (click)="reopen()">Reopen</button>
      </mat-card-actions>

    </mat-card>
  </div>

  <mat-toolbar>
    <span class="col"></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>
</form>