<form class="a-edit" #form="ngForm" *ngIf="contactMechanism" (submit)="save()">
  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
      <span class="col"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>
    <mat-card *ngIf="contactMechanism">
      <mat-card-content class="container-fluid">
        <div class="row">
          <a-mat-select class="col-md" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.ContactPurposes" [options]="contactMechanismPurposes" display="Name" label="Contact purposes" ></a-mat-select>
          <a-mat-select class="col-md" [object]="contactMechanism" [roleType]="m.TelecommunicationsNumber.ContactMechanismType" [options]="contactMechanismTypes" display="Name" label="Type"></a-mat-select>
        </div>
        
        <div class="row">
          <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.TelecommunicationsNumber.CountryCode" ></a-mat-input>
          <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.TelecommunicationsNumber.AreaCode" ></a-mat-input>
          <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.TelecommunicationsNumber.ContactNumber"></a-mat-input>
        </div>

        <div class="row">
          <a-mat-slidetoggle class="col-md"  [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.UseAsDefault" label="Use as default"></a-mat-slidetoggle>
          <a-mat-slidetoggle class="col-md" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.NonSolicitationIndicator" label="Non Solicitation"></a-mat-slidetoggle>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <mat-toolbar class="a-footer">
    <mat-toolbar-row class="row">
      <span class="col"></span>
      <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>
