<div class="a-master">

  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
      <span class="col"></span>
      <internalorganisation-select></internalorganisation-select>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card>
      <mat-card-content class="container-fluid a-search">
        <form class="row" novalidate [formGroup]="searchForm">
          <mat-form-field class="col" appearance="outline">
            <input matInput placeholder="Name" formControlName="name">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </form>
      </mat-card-content>

      <mat-card-content class="container-fluid a-list">

        <div *ngIf="data?.length === 0">
          <h3>No catalogues to display.</h3>
        </div>

        <mat-list>
          <mat-list-item *ngFor="let catalogue of data; let last = last" (click)="router.navigate(['/catalogue/', catalogue.id])" style="cursor: pointer;">

            <mat-icon *ngIf="!catalogue.CatalogueImage" mat-list-avatar>photo_camera</mat-icon>
            <img *ngIf="catalogue.CatalogueImage" mat-list-avatar [src]="mediaService.url(catalogue.CatalogueImage)" />

            <h3 mat-line>{{catalogue.Name}}</h3>
            <p mat-line>{{catalogue.Description}} </p>

            <div (click)="$event.stopPropagation()">
              <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a [routerLink]="'/catalogue/' +[catalogue.id]" mat-menu-item>Edit</a>
                <button mat-menu-item (click)="delete(catalogue)">Delete</button>
              </mat-menu>
            </div>
            <mat-divider *ngIf="!last" mat-inset></mat-divider>
          </mat-list-item>
        </mat-list>

      </mat-card-content>

    </mat-card>
  </div>

  <mat-toolbar class="a-footer">
    <mat-toolbar-row class="row">
      <span class="col"></span>
      <a mat-raised-button [routerLink]="['/catalogue']">
        Add New
      </a>
    </mat-toolbar-row>
  </mat-toolbar>

</div>