<form *ngIf="partyRelationship" #form="ngForm" (submit)="save()" novalidate>
  <h1></h1>

  <h3 mat-dialog-title>{{title}}</h3>

  <div mat-dialog-content>
    <div class="container-fluid">

      <div class="row">
        <a-mat-static class="col-md" [object]="partyRelationship" [roleType]="m.SupplierRelationship.InternalOrganisation" display="displayName" label="Supplier at"></a-mat-static>
      </div>

    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()" type="button">CANCEL</button>
    <button mat-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.context.hasChanges">SAVE</button>
  </div>

</form>
