<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="person" (submit)="save()" class="pad">

    <div>
      <a-md-media-upload [object]="person" [roleType]="m.Person.Picture" accept="image/*"></a-md-media-upload>
      <a-md-select [object]="person" [roleType]="m.Person.PersonRoles" [options]="roles" display="Name"></a-md-select>
      <a-md-input [object]="person" [roleType]="m.Person.FirstName"></a-md-input>
      <a-md-input [object]="person" [roleType]="m.Person.MiddleName"></a-md-input>
      <a-md-input [object]="person" [roleType]="m.Person.LastName"></a-md-input>
      <a-md-select [object]="person" [roleType]="m.Person.Gender" [options]="genders" display="Name"></a-md-select>
      <a-md-select [object]="person" [roleType]="m.Person.Salutation" [options]="salutations" display="Name"></a-md-select>
      <a-md-select [object]="person" [roleType]="m.Person.Locale" [options]="locales" display="Name"></a-md-select>
    </div>
  </form>

  <md-divider></md-divider>

  <md-card-actions>
    <button md-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
    <button md-button (click)="goBack()" type="button">CANCEL</button>
  </md-card-actions>

</td-layout-card-over>
