<div fxLayout="column" style="height: 100vh; min-height: 100vh">
  <mat-toolbar fxFlex>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch" style="padding: 20px;">

    <mat-card fxFlex fxLayout="column" fxLayoutAlign="start stretch">

      <form novalidate [formGroup]="searchForm">

        <mat-card-content fxLayout="row wrap" fxLayoutGap="1rem">
          <mat-form-field fxFlex fxFill *ngIf="!advancedSearch" appearance="outline">
            <mat-label>Search by Name</mat-label>
            <input matInput autocomplete="off" formControlName="name">
            <a matSuffix mat-icon-button (click)="advancedSearch = !advancedSearch" title="Advanced Search">
              <mat-icon>expand_more</mat-icon>
            </a>
          </mat-form-field>

          <mat-form-field fxFlex="1 2 calc(15em)" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Search by Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" name="country" [(ngModel)]="selectedCountry">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let country of countries" [value]="country.Name">{{ country.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role" name="role" [(ngModel)]="selectedRole">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let role of roles" [value]="role.Name">{{ role.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Classification</mat-label>
            <mat-select formControlName="classification" name="classification" [(ngModel)]="selectedClassification">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let classification of classifications" [value]="classification.Name">{{ classification.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="contactFirstName">
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="contactLastName">
          </mat-form-field>

          <div fxFlex="none" *ngIf="advancedSearch">
            <a mat-icon-button (click)="searchForm.reset(); advancedSearch = !advancedSearch;" title="Reset Search">
              <mat-icon>close</mat-icon>
            </a>
          </div>

        </mat-card-content>
      </form>

      <mat-list fxFlex style="overflow: auto;">
        <div *ngIf="rows && rows.length === 0">
          <h3>No organisations to display.</h3>
        </div>
        <ng-template let-row let-last="last" ngFor [ngForOf]="rows">
          <mat-list-item fxLayout="column" fxLayoutAlign="start stretch">

            <mat-icon fxHide fxShow.gt-sm *ngIf="!row.logo" mat-list-avatar>insert_photo</mat-icon>
            <img fxHide fxShow.gt-sm *ngIf="row.logo" mat-list-avatar [src]="mediaService.url(row.logo)" />

            <h3 mat-line [routerLink]="['/relations/organisation/' + row.object.id]">{{row.name}}</h3>
            <p mat-line>{{row.classification}}</p>
            <p mat-line>{{row.address}}</p>
            <p mat-line>{{row.address2}}</p>
            <p mat-line>{{row.address3}}</p>
            <p mat-line>{{row.phone}}</p>

            <div fxHide fxShow.gt-sm>last&nbsp;modified:
              <br>{{ row.object.LastModifiedDate | date : shortDate }}
            </div>

            <div>
              <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu x-position="before" #menu="matMenu">
                <a [routerLink]="['/relations/organisation/' + row.object.id]" mat-menu-item>Details</a>
                <button mat-menu-item (click)="delete(row.object)" [disabled]="!row.object.CanExecuteDelete">Delete</button>
              </mat-menu>
            </div>

            <mat-divider *ngIf="!last" mat-inset></mat-divider>
          </mat-list-item>
        </ng-template>
      </mat-list>
    </mat-card>
  </div>

  <mat-toolbar fxFlex fxLayout="row">

    <span fxFlex></span>

    <a mat-raised-button [routerLink]="['/organisation']">
      Add New
    </a>
  </mat-toolbar>
</div>