<div class="a-master">

  <mat-toolbar class="a-header">
    <mat-toolbar-row >
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span>{{title}}</span>
      <span class="col"></span>
      <internalorganisation-select></internalorganisation-select>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>
    <mat-card>
      <mat-card-content class="container-fluid a-search">
        <form class="row" novalidate [formGroup]="searchForm">

          <mat-form-field class="col" *ngIf="!advancedSearch" appearance="outline">
            <mat-label>Search by Name</mat-label>
            <input matInput autocomplete="off" formControlName="name">
            <button matSuffix mat-icon-button (click)="advancedSearch = !advancedSearch" title="Advanced Search">
              <mat-icon>expand_more</mat-icon>
            </button>
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Search by Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Country</mat-label>
            <mat-select formControlName="country" name="country" [(ngModel)]="selectedCountry">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let country of countries" [value]="country.Name">{{ country.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role" name="role" [(ngModel)]="selectedRole">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let role of roles" [value]="role.Name">{{ role.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Classification</mat-label>
            <mat-select formControlName="classification" name="classification" [(ngModel)]="selectedClassification">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let classification of classifications" [value]="classification.Name">{{ classification.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>First Name</mat-label>
            <input matInput formControlName="contactFirstName">
          </mat-form-field>

          <mat-form-field class="col" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Last Name</mat-label>
            <input matInput formControlName="contactLastName">
          </mat-form-field>

          <div class="col-1 pt-2" *ngIf="advancedSearch">
            <button mat-icon-button type="button" class="mat-icon-button" (click)="searchForm.reset(); advancedSearch = !advancedSearch;"
              title="Reset Search">
              <mat-icon>close</mat-icon>
            </button>
          </div>

        </form>
      </mat-card-content>

      <mat-card-content class="container-fluid a-list">

        <div *ngIf="rows?.length === 0">
          <h3>No organisations to display.</h3>
        </div>

        <mat-list>
          <mat-list-item *ngFor="let row of rows; let last = last" (click)="router.navigate(['/relations/organisation/', row.object.id])"
            style="cursor: pointer;">

            <mat-icon fxHide fxShow.gt-sm *ngIf="!row.logo" mat-list-avatar>insert_photo</mat-icon>
            <img fxHide fxShow.gt-sm *ngIf="row.logo" mat-list-avatar [src]="mediaService.url(row.logo)" />

            <h3 mat-line>{{row.name}}</h3>
            <p mat-line>{{row.classification}}</p>
            <p mat-line>{{row.address}}</p>
            <p mat-line>{{row.address2}}</p>
            <p mat-line>{{row.address3}}</p>
            <p mat-line>{{row.phone}}</p>

            <div fxHide fxShow.gt-sm>last&nbsp;modified:
              <br>{{ row.object.LastModifiedDate | date : shortDate }}
            </div>

            <div (click)="$event.stopPropagation()">
              <button type="button" mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a [routerLink]="['/relations/organisation/' + row.object.id]" mat-menu-item>Details</a>
                <button mat-menu-item (click)="delete(row.object)" [disabled]="!row.object.CanExecuteDelete">Delete</button>
              </mat-menu>
            </div>

            <mat-divider *ngIf="!last" mat-inset></mat-divider>
          </mat-list-item>
        </mat-list>

      </mat-card-content>
    </mat-card>
  </div>

  <mat-toolbar >
    <span class="col"></span>
    <a mat-raised-button [routerLink]="['/organisation']">
      Add New
    </a>
  </mat-toolbar>

</div>