<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a (click)="navigation.list(metaService.m.Person)">People</a> / {{person?.displayName}}
      </div>
    </div>
  </div>

  <div class="a-overview container">

    <div class="a-content row">

      <div class="col-md-4 mb-3">
        <task-overview-summary></person-overview-summary>
      </div>

      <div class="col-md-8 align-self-stretch" [ngClass]="panelManager.panelContainerClass">

        <task-overview-detail></person-overview-detail>

      </div>
    </div>
  </div>
</div>
