<mat-form-field class="d-flex flex-column align-items-stretch">
  <div class="row">
    <div class="col">
      <textarea aFocus [aFocusTrigger]="roleType" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
        [(ngModel)]="localisedText" [name]="localisedName" [placeholder]="localisedLabel + ' (markdown)'"
        [attr.data-allors-id]="dataAllorsId" [attr.data-allors-roletype]="dataAllorsRoleType"></textarea>
      <mat-hint *ngIf="hint">{{hint}}</mat-hint>
    </div>
    <mat-card class="col" style="margin-top: -1.5rem; margin-right: 1rem; margin-bottom: 0.5rem;" *ngIf="html"
      [innerHtml]="html"></mat-card>
  </div>
</mat-form-field>
