<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a (click)="navigationService.list(m.Part)">Parts</a> / {{part?.Name}}
      </div>
    </div>
  </div>

  <div class="a-overview container-fluid">

    <div *ngIf="part" class="row">

      <div class="col-md-6">
        <mat-card>

          <div class="row">
            <div class="col">
              <h2>
                <mat-icon>share</mat-icon> part
              </h2>
            </div>
          </div>

          <mat-card-content>
            <div class="container">
              <div class="row">
                <mat-form-field class="col">
                  <input matInput type="string" [ngModel]="part.Name" name="name" placeholder="Name" readonly>
                </mat-form-field>
              </div>

              <div class="row">
                <a-mat-static class="col" *ngIf="part.InventoryItemKind" [object]="part.InventoryItemKind" [roleType]="m.InventoryItemKind.Name" label="Inventory kind"></a-mat-static>
              </div>

              <div class="row">
                <a-mat-static class="col" *ngIf="part.ProductType" [object]="part.ProductType" [roleType]="m.ProductType.Name" label="product Type"></a-mat-static>
              </div>

              <div class="row">
                <a-mat-static class="col" *ngIf="part.Brand" [object]="part.Brand" [roleType]="m.Brand.Name" label="Brand"></a-mat-static>
              </div>

              <div class="row">
                <a-mat-static class="col" *ngIf="part.Model" [object]="part.Model" [roleType]="m.Model.Name" label="model"></a-mat-static>
              </div>

              <div class="row">
                <a-mat-static class="col" *ngIf="part.ManufacturedBy" [object]="part.ManufacturedBy" [roleType]="m.Organisation.Name" label="Manufacturer"></a-mat-static>
              </div>

              <div class="row" *ngIf="suppliers">
                <mat-form-field class="col">
                  <input matInput type="string" [ngModel]="suppliers" name="Name" placeholder="Suppliers" readonly />
                </mat-form-field>
              </div>

            </div>
          </mat-card-content>

          <mat-card-actions>
            <button mat-button (click)="navigationService.edit(part)">Edit</button>
          </mat-card-actions>
        </mat-card>
      </div>

      <div class="col-md-6">
        <igood-identifications [igoodidentifications]='part.GoodIdentifications' (add)="navigationService.add($event, part)"
          (edit)="navigationService.edit($event, part)" (delete)="deleteGoodIdentification($event)"></igood-identifications>
      </div>


      <div class="col-md-6">
        <mat-card>
          <div class="row">
            <div class="col">
              <h2><mat-icon>subject</mat-icon> Serialised Items</h2>
            </div>
          </div>

          <mat-card-content>

            <ul *ngIf="part?.SerialisedItems?.length === 0">
              <li>no items to display</li>
            </ul>

            <mat-list>
              <mat-list-item *ngFor="let item of part.SerialisedItems; let last=last" [attr.data-allors-id]="item.id">
                <h3 mat-line (click)="navigationService.edit(item)" >{{item.ItemNumber}}, {{item.Name}}</h3>
                <h4 mat-line>{{item.SerialNumber}}</h4>

                <span>
                  <button mat-icon-button [mat-menu-trigger-for]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <a *ngIf="part.CanWriteSerialisedItems" (click)="navigationService.edit(item)" mat-menu-item>Edit</a>
                    <button mat-menu-item (click)="deleteSerialisedItem(item)" [disabled]="!item.CanExecuteDelete">Delete</button>
                  </mat-menu>
                </span>
                <mat-divider *ngIf="!last" mat-inset></mat-divider>
              </mat-list-item>
            </mat-list>
          </mat-card-content>

          <mat-card-actions>
            <button *ngIf="part.CanWriteSerialisedItems" mat-button (click)="navigationService.add(m.SerialisedItem, part)">Add new</button>
          </mat-card-actions>
        </mat-card>
      </div>

    </div>
  </div>
