<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a (click)="navigation.list(metaService.m.Good)">goods</a> / {{good?.Name}}
      </div>
    </div>
  </div>

  <div class="a-overview2 container">

    <div class="row">

      <div class="col-md-4 mb-3">
        <good-overview-summary></good-overview-summary>
      </div>

      <div class="col-md-8">

        <good-overview-detail></good-overview-detail>

        <igoodidentification-panel [roleType]="metaService.m.Good.GoodIdentifications"></igoodidentification-panel>

        <pricecomponent-overview-panel></pricecomponent-overview-panel>

      </div>
    </div>
  </div>
</div>
