<form *ngIf="quote" class="a-edit" #form="ngForm" (submit)="save()">

  <h3 mat-dialog-title>{{title}}</h3>

  <div mat-dialog-content>
    <div class="container-fluid">

      <div class="row">
        <div class="col-12">
          <div class="row">
            <a-mat-select class="col" [object]="quote" [roleType]="m.ProductQuote.FullfillContactMechanism" [options]="contactMechanisms"
              display="displayName"></a-mat-select>
            <button mat-mini-fab color="accent" type="button" [disabled]="!quote.Receiver || !quote.CanWriteQuoteItems"
              (click)="addContactMechanism = !addContactMechanism">
              <mat-icon *ngIf="!addContactMechanism">add</mat-icon>
              <mat-icon *ngIf="addContactMechanism">close</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-12" *ngIf="quote.Receiver && addContactMechanism">
          <mat-card>
            <mat-card-header>Add a new contact mechanism</mat-card-header>
            <mat-card-content>
              <party-contactmechanism (saved)="partyContactMechanismAdded($event)" (cancelled)="partyContactMechanismCancelled()">
              </party-contactmechanism>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <div class="col-12">
          <div class="row">
            <a-mat-select class="col" [object]="quote" [roleType]="m.ProductQuote.ContactPerson" [options]="contacts"
              display="displayName"></a-mat-select>
            <button mat-mini-fab color="accent" type="button" [disabled]="!quote.Receiver || !quote.CanWriteQuoteItems"
              (click)="addContactPerson = !addContactPerson">
              <mat-icon *ngIf="!addContactPerson">add</mat-icon>
              <mat-icon *ngIf="addContactPerson">close</mat-icon>
            </button>
          </div>
        </div>
        <div class="col-12" *ngIf="quote.Receiver && addContactPerson">
          <mat-card>
            <mat-card-header>Add a new contact person</mat-card-header>
            <mat-card-content>
              <person-inline (cancelled)="personCancelled($event); addContactPerson = false" (saved)="personAdded($event); addContactPerson = false">
              </person-inline>
            </mat-card-content>
          </mat-card>
        </div>
      </div>

      <div class="row">
        <a-mat-datepicker class="col-md" [object]="quote" [roleType]="m.ProductQuote.ValidFromDate"></a-mat-datepicker>
        <a-mat-datepicker class="col-md" [object]="quote" [roleType]="m.ProductQuote.ValidThroughDate"></a-mat-datepicker>
      </div>

      <div class="row">
        <a-mat-datepicker class="col-md" [object]="quote" [roleType]="m.ProductQuote.IssueDate"></a-mat-datepicker>
        <a-mat-datepicker class="col-md" [object]="quote" [roleType]="m.ProductQuote.RequiredResponseDate"></a-mat-datepicker>
      </div>

      <div class="row">
        <a-mat-textarea class="col-md-12" [object]="quote" [roleType]="m.ProductQuote.Description"></a-mat-textarea>
        <a-mat-static class="col-md-12" *ngIf="request?.Comment" [object]="request" [roleType]="m.Request.Comment"
          label="Request Comment"></a-mat-static>
        <a-mat-textarea class="col-md-12" [object]="quote" [roleType]="m.ProductQuote.Comment" label="Quote Comment"></a-mat-textarea>
        <a-mat-static class="col-md-12" *ngIf="request?.InternalComment" [object]="request" [roleType]="m.Request.InternalComment"
          label="Request Internal Comment"></a-mat-static>
        <a-mat-textarea class="col-md-12" [object]="quote" [roleType]="m.ProductQuote.InternalComment" label="Quote Internal Comment"></a-mat-textarea>
      </div>

    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close();" type="button">CANCEL</button>
    <button mat-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.context.hasChanges">SAVE</button>
  </div>

</form>