<form #form="ngForm" fxLayout="column" style="height: 100vh; min-height: 100vh" (submit)="save(form)" novalidate>
  <mat-toolbar fxFlex>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch" style="padding: 20px;">

    <mat-card *ngIf="communicationEvent" fxFlex fxLayout="column" fxLayoutAlign="start stretch" style="overflow: auto;">

      <div *ngIf="!communicationEvent.isNew" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
        <a-mat-static [object]="communicationEvent" [roleType]="m.CommunicationEvent.CommunicationEventState" display="Name" label="Status"></a-mat-static>
        <div>
          <button *ngIf="communicationEvent.CanExecuteClose" mat-button type="button" (click)="close()">Close</button>
          <button *ngIf="communicationEvent.CanExecuteCancel" mat-button type="button" (click)="cancel()">Cancel</button>
          <button *ngIf="communicationEvent.CanExecuteReopen" mat-button type="button" (click)="reopen()">Reopen</button>
        </div>
      </div>

      <div *ngIf="!communicationEvent.isNew" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
        <a-mat-input [object]="communicationEvent" [roleType]="m.FaceToFaceCommunication.Subject"></a-mat-input>
        <a-mat-select [object]="communicationEvent" [roleType]="m.FaceToFaceCommunication.EventPurposes" [options]="purposes" display="Name"></a-mat-select>
      </div>

      <div *ngIf="!communicationEvent.isNew" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
        <div fxLayout fxLayoutGap="1em">
          <a-mat-chips fxFlex [object]="communicationEvent" [roleType]="m.FaceToFaceCommunication.Participants" [options]="contacts"
            display="displayName"></a-mat-chips>
          <button mat-mini-fab color="accent" type="button" (click)="addParticipant = !addParticipant">
            <mat-icon *ngIf="!addParticipant">add</mat-icon>
            <mat-icon *ngIf="addParticipant">close</mat-icon>
          </button>
        </div>
        <mat-tab-group dynamicHeight="true" *ngIf="addParticipant">
          <mat-tab label="Person">
            <div class="pad tabInlineComponent">
              <person-inline (cancelled)="participantCancelled($event); addParticipant = false" (saved)="participantAdded($event); addParticipant = false">
              </person-inline>
            </div>
          </mat-tab>
        </mat-tab-group>
      </div>

      <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
          <a-mat-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledStart" [useTime]="true"></a-mat-datepicker>
          <a-mat-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledEnd" [useTime]="true"></a-mat-datepicker>
        </div>
  
      <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
        <a-mat-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualStart" [useTime]="true"></a-mat-datepicker>
        <a-mat-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualEnd" [useTime]="true"></a-mat-datepicker>
      </div>

      <div *ngIf="!communicationEvent.isNew" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
        <a-mat-input [object]="communicationEvent" [roleType]="m.FaceToFaceCommunication.Location"></a-mat-input>
        <a-mat-textarea [object]="communicationEvent" [roleType]="m.FaceToFaceCommunication.Note"></a-mat-textarea>
      </div>

    </mat-card>
  </div>

  <mat-toolbar fxFlex fxLayout="row" fxLayoutGap="1rem">
    <span fxFlex></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>