<form #form="ngForm"  (submit)="save()" novalidate>
  <mat-toolbar>
    <mat-toolbar-row >
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="communicationEvent"  fxLayout="column" fxLayoutAlign="start stretch" style="overflow: auto;">

      <mat-card-content  style="overflow: auto;">

        <div *ngIf="!communicationEvent.isNew" class="row">
          <a-mat-static [object]="communicationEvent" [roleType]="m.CommunicationEvent.CommunicationEventState" display="Name" label="Status"></a-mat-static>
        </div>

        <div class="row">
          <a-mat-input [object]="communicationEvent" [roleType]="m.FaceToFaceCommunication.Subject" class="col-md"></a-mat-input>
          <a-mat-select [object]="communicationEvent" [roleType]="m.FaceToFaceCommunication.EventPurposes" [options]="purposes" display="Name" class="col-md"></a-mat-select>
        </div>

        <div class="row">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-chips  [object]="communicationEvent" [roleType]="m.FaceToFaceCommunication.Participants" [options]="contacts"
              display="displayName"></a-mat-chips>
            <button mat-mini-fab color="accent" type="button" (click)="addParticipant = !addParticipant">
              <mat-icon *ngIf="!addParticipant">add</mat-icon>
              <mat-icon *ngIf="addParticipant">close</mat-icon>
            </button>
          </div>
          <mat-tab-group dynamicHeight="true" *ngIf="addParticipant">
            <mat-tab label="Person">
              <div class="pad tabInlineComponent">
                <person-inline (cancelled)="participantCancelled($event); addParticipant = false" (saved)="participantAdded($event); addParticipant = false">
                </person-inline>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>

        <div class="row">
          <a-mat-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledStart" [useTime]="true"></a-mat-datepicker>
          <a-mat-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledEnd" [useTime]="true"></a-mat-datepicker>
          <a-mat-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualStart" [useTime]="true"></a-mat-datepicker>
          <a-mat-datepicker [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualEnd" [useTime]="true"></a-mat-datepicker>
        </div>

        <div *ngIf="!communicationEvent.isNew" class="row">
          <a-mat-input [object]="communicationEvent" [roleType]="m.FaceToFaceCommunication.Location" class="col-md"></a-mat-input>
          <a-mat-textarea [object]="communicationEvent" [roleType]="m.FaceToFaceCommunication.Note" class="col-md-12"></a-mat-textarea>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button *ngIf="communicationEvent.CanExecuteClose" mat-button type="button" (click)="close()">Close</button>
        <button *ngIf="communicationEvent.CanExecuteCancel" mat-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="communicationEvent.CanExecuteReopen" mat-button type="button" (click)="reopen()">Reopen</button>
      </mat-card-actions>

    </mat-card>
  </div>

  <mat-toolbar  >
    <span class="col"></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>