<md-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <form #form="ngForm" *ngIf="organisation" (submit)="save()">
    <md-card-content class="push-bottom-none">

      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="25px">
        <a-md-input class="push-top" [object]="organisation" [roleType]="m.Organisation.Name" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-input>
        <a-md-autocomplete class="push-top" [object]="organisation" [roleType]="m.Organisation.Owner" [options]="people" display="displayName" hint="With options" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-autocomplete>
        <a-md-autocomplete class="push-top" [object]="organisation" [roleType]="m.Organisation.Owner" [filter]="peopleFilter.create()" display="displayName" (onSelect)="ownerSelected($event)" hint="With filter" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-autocomplete>
        <a-td-chips class="push-top" [object]="organisation" [roleType]="m.Organisation.Employees" [filter]="peopleFilter.create()" display="displayName" hint="All current employees" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-td-chips>

        <div [fxFlex]="flex" [fxFlex.gt-md]="flex2">{{organisation?.Owner?.displayName}}</div>

      </div>

    </md-card-content>

    <md-divider></md-divider>

    <md-card-actions>
      <button md-button color="primary" type="submit">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</md-card>
