<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
          <mat-icon>arrow_back</mat-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button mat-icon-button><mat-icon>settings</mat-icon></button>
  </div>
</mat-toolbar>

<mat-card body *ngIf="organisation">
  <mat-card-content>

    <div layout="row" class="push-top">
      <a-mat-static [object]="organisation" [roleType]="m.Organisation.Name"></a-mat-static>
    </div>

    <div layout="row" class="push-top">
      <a-mat-static [object]="organisation" [roleType]="m.Organisation.Owner" display="UserName"></a-mat-static>
    </div>

  </mat-card-content>

  <mat-divider></mat-divider>
  <mat-card-actions>
    <button mat-button [routerLink]="[ '../edit']">Edit</button>
  </mat-card-actions>
</mat-card>
