<md-card body *ngIf="organisation" tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-content>

    <div layout="row" class="push-top">
      <a-md-static [object]="organisation" [roleType]="m.Organisation.Name"></a-md-static>
    </div>

    <div layout="row" class="push-top">
      <a-md-static [object]="organisation" [roleType]="m.Organisation.Owner" display="displayName"></a-md-static>
    </div>

  </md-card-content>

  <md-divider></md-divider>
  <md-card-actions>
    <button md-button [routerLink]="[ '../edit']">Edit</button>
  </md-card-actions>
</md-card>
