<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{title}}</span>
    <span flex></span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div body *ngIf="task" layout-gt-md="row">
  <div flex-gt-xs="50">
    <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <mat-card-title>Task</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="pad">
          <div class="grid-4_lg-2_sm-1">
            <a-mat-static class="col" [object]="task" [roleType]="m.WorkEffort.Name"></a-mat-static>
          </div>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions>
        <button *ngIf="task.canWrite" mat-button [routerLink]="['/worktask/' + task.id]">Edit</button>
        <button *ngIf="!task.canWrite" mat-button [routerLink]="['/worktask/' + task.id]">View</button>
        <button mat-button [routerLink]="['/printworktask/' + task.id ]">Print</button>
        <button *ngIf="task.CanExecuteCancel" mat-button (click)="cancel()">Cancel</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div flex-gt-xs="50">
  </div>
</div>