<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <form #form="ngForm" *ngIf="good" (submit)="save()" >

    <md-card-title>Product Form</md-card-title>

    <md-divider></md-divider>
    <md-card-content class="push-bottom-none">

      <div fxLayout="row wrap" fxLayoutGap="3rem" fxLayoutAlign="start stretch">

        <a-md-media-upload [fxFlex]="flex" class="push-top" [object]="good" [roleType]="m.Good.PrimaryPhoto" accept="image/*"></a-md-media-upload>
        <a-md-localised-text [fxFlex]="flex" class="push-top" [object]="good" [roleType]="m.Good.LocalisedNames" [locales]="locales"></a-md-localised-text>
        <a-md-localised-text [fxFlex]="flex" class="push-top" [object]="good" [roleType]="m.Good.LocalisedDescriptions" [locales]="locales"></a-md-localised-text>
        <a-md-localised-text [fxFlex]="flex" class="push-top" [object]="good" [roleType]="m.Good.LocalisedComments" [locales]="locales"></a-md-localised-text>
        <a-md-input  [fxFlex]="flex" class="push-top" [object]="good" [roleType]="m.Good.InternalComment"></a-md-input>
        <a-md-select [fxFlex]="flex" class="push-top" [object]="good" [roleType]="m.Good.ProductType" [options]="productTypes" display="Name"></a-md-select>
        <a-md-select [fxFlex]="flex" class="push-top" [object]="good" [roleType]="m.Good.ProductCategories" [options]="categories" display="Name"></a-md-select>
        <a-md-select [fxFlex]="flex" class="push-top" [object]="good" [roleType]="m.Good.PrimaryProductCategory" [options]="categories" display="Name"></a-md-select>
        <a-md-input  [fxFlex]="flex" class="push-top" [object]="good" [roleType]="m.Good.ArticleNumber"></a-md-input>
        <a-md-input  [fxFlex]="flex" class="push-top" [object]="good" [roleType]="m.Good.AvailableToPromise"></a-md-input>
        <a-md-input  [fxFlex]="flex" class="push-top" [object]="good" [roleType]="m.Good.SalesDiscontinuationDate"></a-md-input>

      </div>

    </md-card-content>

    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="primary" type="submit">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</md-card>
