<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="quoteItem" (submit)="save()">

    <div class="pad">
      <div *ngIf="quoteItem.CurrentObjectState">
        <a-md-static [object]="quoteItem" [roleType]="m.QuoteItem.CurrentObjectState" display="Name" label="Status"></a-md-static>
        <button *ngIf="quoteItem.CanExecuteSubmit" md-button type="button" (click)="submit()">Submit</button>
        <button *ngIf="quoteItem.CanExecuteCancel" md-button type="button" (click)="cancel()">Cancel</button>
      </div>

      <a-md-autocomplete [object]="quoteItem" [roleType]="m.QuoteItem.Product" [options]="goods" display="Name"></a-md-autocomplete>
      <a-md-input [object]="quoteItem" [roleType]="m.QuoteItem.Quantity"></a-md-input>
      <a-md-input [object]="quoteItem" [roleType]="m.QuoteItem.UnitPrice"></a-md-input>
      <a-md-static *ngIf="requestItem" [object]="requestItem" [roleType]="m.RequestItem.MaximumAllowedPrice"></a-md-static>
      <a-md-static *ngIf="inventoryItem" [object]="inventoryItem" [roleType]="m.SerialisedInventoryItemVersioned.ExpectedSalesPrice"></a-md-static>
      <a-md-datepicker [object]="quoteItem" [roleType]="m.QuoteItem.RequiredByDate" disabled="true"></a-md-datepicker>
      <a-md-datepicker [object]="quoteItem" [roleType]="m.QuoteItem.EstimatedDeliveryDate"></a-md-datepicker>
      <a-md-static *ngIf="requestItem.Comment" [object]="requestItem" [roleType]="m.RequestItem.Comment"></a-md-static>
      <a-md-textarea [object]="quoteItem" [roleType]="m.QuoteItem.Comment"></a-md-textarea>
      <a-md-static *ngIf="requestItem.InternalComment" [object]="requestItem" [roleType]="m.RequestItem.InternalComment"></a-md-static>
      <a-md-textarea [object]="quoteItem" [roleType]="m.QuoteItem.InternalComment"></a-md-textarea>
    </div>

    <md-divider></md-divider>

    <md-card-actions>
      <button md-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>
  </form>
</td-layout-card-over>
