<td-layout-nav logo="assets:covalent">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Apps</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="https://www.allors.com/" target="_blank"><md-icon>chrome_reader_mode</md-icon></a>
  </div>
  <div layout-gt-sm="row" tdMediaToggle="gt-xs" [mediaClasses]="['push-sm']">
    <div flex-gt-sm="60">
      <md-card>
        <md-card-title>Products Sales</md-card-title>
        <md-card-subtitle>usage stats for our products</md-card-subtitle>
        <md-divider></md-divider>
        Blah Blah
      </md-card>
    </div>
    <div flex-gt-sm="40">
      <md-card>
        <md-card-title>Alerts</md-card-title>
        <md-card-subtitle>Items requiring attention</md-card-subtitle>
        <md-divider></md-divider>
        <md-card-actions>
          <a md-button color="accent" class="text-upper" [routerLink]="['/logs']">
            <span>View More</span>
          </a>
        </md-card-actions>
      </md-card>
    </div>
  </div>
  <td-layout-footer>
    <div layout="row" layout-align="start center">
      <span class="md-caption">Copyright &copy; 2016 Teradata. All rights reserved</span>
      <span flex></span>
      <md-icon class="md-icon-ux" svgIcon="assets:teradata-ux"></md-icon>
    </div>
  </td-layout-footer>
</td-layout-nav>
