<a-td-layout-relation [title]="title">

  <md-card>
    <form #form="ngForm" *ngIf="organisation" (submit)="save()">

      <md-card-title>Organisation</md-card-title>

      <md-divider></md-divider>
      <md-card-content class="push-bottom-none">

        <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="25px">
          <a-md-media-upload [object]="organisation" [roleType]="m.Organisation.LogoImage" accept="image/*" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-media-upload>
          <a-td-chips [object]="organisation" [roleType]="m.Organisation.OrganisationRoles" [options]="roles" display="Name" [fxFlex]="flex"
            [fxFlex.gt-md]="flex2"></a-td-chips>
          <a-md-input [object]="organisation" [roleType]="m.Organisation.Name" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-input>
          <a-md-select [object]="organisation" [roleType]="m.Organisation.Locale" [options]="locales" display="Name" [fxFlex]="flex"
            [fxFlex.gt-md]="flex2"></a-md-select>
        </div>

      </md-card-content>

      <md-divider></md-divider>
      <md-card-actions>
        <button md-button color="primary" type="submit">SAVE</button>
        <button md-button (click)="goBack()" type="button">CANCEL</button>
      </md-card-actions>

    </form>
  </md-card>

</a-td-layout-relation>
