<md-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
          <md-icon>arrow_back</md-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button md-icon-button><md-icon>settings</md-icon></button>
  </div>
</md-toolbar>

<md-card>
  <form #form="ngForm" *ngIf="organisationContactRelationship" (submit)="save()">

    <md-card-title>Organisation Contact Form</md-card-title>

    <md-divider></md-divider>
    <md-card-content class="push-bottom-none">

      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="25px">
        <a-md-select [fxFlex]="flex" [object]="organisationContactRelationship.Contact" [roleType]="m.Person.PersonRoles" [options]="roles"
          display="Name" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-select>
        <a-md-select [fxFlex]="flex" [object]="organisationContactRelationship" [roleType]="m.OrganisationContactRelationship.ContactKinds"
          [options]="organisationContactKinds" display="Description" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-select>
        <a-md-input [fxFlex]="flex" [object]="organisationContactRelationship.Contact" [roleType]="m.Person.FirstName" [fxFlex]="flex"
          [fxFlex.gt-md]="flex2"></a-md-input>
        <a-md-input [fxFlex]="flex" [object]="organisationContactRelationship.Contact" [roleType]="m.Person.MiddleName" [fxFlex]="flex"
          [fxFlex.gt-md]="flex2"></a-md-input>
        <a-md-input [fxFlex]="flex" [object]="organisationContactRelationship.Contact" [roleType]="m.Person.LastName" [fxFlex]="flex"
          [fxFlex.gt-md]="flex2"></a-md-input>
        <a-md-select [fxFlex]="flex" [object]="organisationContactRelationship.Contact" [roleType]="m.Person.Gender" [options]="genders"
          display="Name" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-select>
        <a-md-select [fxFlex]="flex" [object]="organisationContactRelationship.Contact" [roleType]="m.Person.Salutation" [options]="salutations"
          display="Name" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-select>
        <a-md-select [fxFlex]="flex" [object]="organisationContactRelationship.Contact" [roleType]="m.Person.Locale" [options]="locales"
          display="Name" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-select>
      </div>

    </md-card-content>

    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="primary" type="submit">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</md-card>
