<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="good" (submit)="save()">

    <div class="pad">

      <md-radio-group name="rg" [(ngModel)]="selectedLocaleName">
        <md-radio-button *ngFor="let locale of locales" [value]="locale.Name">
          {{locale.Language.Name}}
        </md-radio-button>
      </md-radio-group>
      <md-divider></md-divider>

      <div>
        <img *ngIf="good.PrimaryPhoto" src="http://localhost:5000/Media/Download/{{good.PrimaryPhoto.UniqueId}}?revision={{good.PrimaryPhoto.Revision}}"
          widht="90" height="60" />
        <a-md-media-upload [object]="good" [roleType]="m.Good.PrimaryPhoto" accept="image/*"></a-md-media-upload>
        <a-md-localised-text [object]="good" [roleType]="m.Good.LocalisedNames" [locales]="locales" label="Name"></a-md-localised-text>
        <a-md-localised-text [object]="good" [roleType]="m.Good.LocalisedDescriptions" [locales]="locales" label="Description"></a-md-localised-text>
        <a-md-localised-text [object]="good" [roleType]="m.Good.LocalisedComments" [locales]="locales" label="Comment"></a-md-localised-text>
        <a-md-textarea [object]="good" [roleType]="m.Good.InternalComment"></a-md-textarea>
        <a-md-select [object]="good" [roleType]="m.Good.ProductType" [options]="productTypes" display="Name"></a-md-select>
        <a-md-select [object]="good" [roleType]="m.Good.ProductCategories" [options]="categories" display="Name"></a-md-select>
        <a-md-autocomplete [object]="good" [roleType]="m.Good.PrimaryProductCategory" [options]="categories" display="Name"></a-md-autocomplete>
        <a-md-autocomplete [object]="good" [roleType]="m.Good.ManufacturedBy" [filter]="manufacturersFilter.create()" display="Name"></a-md-autocomplete>
        <a-md-input [object]="good" [roleType]="m.Good.ArticleNumber"></a-md-input>
        <md-input-container fxLayout="column" fxLayoutAlign="top stretch">
          <input fxFlex mdInput name="actualQuantityOnHand" [(ngModel)]="actualQuantityOnHand" placeholder="Actual Quantity in stock">
        </md-input-container>
        <a-md-static [object]="good" [roleType]="m.Good.QuantityOnHand"></a-md-static>
        <a-md-static [object]="good" [roleType]="m.Good.AvailableToPromise"></a-md-static>
        <a-md-datepicker [object]="good" [roleType]="m.Good.SalesDiscontinuationDate"></a-md-datepicker>

        <a-md-textarea *ngFor="let productCharacteristicValue of productCharacteristicValues" [object]="productCharacteristicValue"
          [roleType]="m.ProductCharacteristicValue.Value" [label]="localisedName(productCharacteristicValue.ProductCharacteristic)"></a-md-textarea>
<!--
        <md-card *ngFor=>
        </md-card> -->

      </div>
    </div>

    <md-divider></md-divider>

    <md-card-actions>
      <button md-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</td-layout-card-over>
