<form *ngIf="priceComponent" #form="ngForm" (submit)="save()" novalidate>
  <h1></h1>

  <h3 mat-dialog-title>{{title}}</h3>

  <mat-dialog-content>
    <div class="container-fluid">

      <div class="row">
        <a-mat-datepicker class="col-md" [object]="priceComponent" [roleType]="m.PriceComponent.FromDate"></a-mat-datepicker>
        <a-mat-datepicker class="col-md" [object]="priceComponent" [roleType]="m.PriceComponent.ThroughDate"></a-mat-datepicker>
      </div>

      <div class="row">
        <a-mat-input class="col-md" [object]="priceComponent" [roleType]="m.PriceComponent.Price"></a-mat-input>
        <a-mat-input class="col-md" [object]="priceComponent" [roleType]="m.PriceComponent.Description"></a-mat-input>
      </div>

    </div>
  </mat-dialog-content>

  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()" type="button">CANCEL</button>
    <button mat-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.context.hasChanges">SAVE</button>
  </div>

</form>
