<md-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
          <md-icon>arrow_back</md-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button md-icon-button mdTooltip="Export to CSV" [routerLink]="['/export/people']"><md-icon>cloud_download</md-icon></button>
  </div>
</md-toolbar>

<md-card>
  <div class="pad-top-xs pad-left pad-right">
    <form novalidate [formGroup]="searchForm">
      <md-input-container>
        <input fxFlex mdInput placeholder="First Name" formControlName="firstName">
        <md-icon mdSuffix>search</md-icon>
      </md-input-container>
      <md-input-container>
        <input fxFlex mdInput placeholder="Last Name" formControlName="lastName">
        <md-icon mdSuffix>search</md-icon>
      </md-input-container>
    </form>
  </div>

  <md-divider></md-divider>

  <md-card-content>
    <ng-template tdLoading="people">
      <md-list class="will-load">
        <div class="md-padding" *ngIf="data && data.length === 0" layout="row" layout-align="center center">
          <h3>No people to display.</h3>
        </div>
        <ng-template let-person let-last="last" ngFor [ngForOf]="data">
          <md-list-item>

            <md-icon *ngIf="!person.Picture" md-list-avatar>person</md-icon>
            <img *ngIf="person.Picture" md-list-avatar src="http://localhost:5000/Media/Download/{{person.Picture.UniqueId}}?revision={{person.Picture.Revision}}"
            />


            <h3 md-line [routerLink]="['/relations/person/' + person.id]"> {{person.PartyName}} </h3>
            <p *ngIf="person.GeneralPhoneNumber" md-line> {{person.GeneralPhoneNumber.CountryCode}} {{person.GeneralPhoneNumber.AreaCode}} {{person.GeneralPhoneNumber.ContactNumber}}

              <p md-line hide-gt-md class="md-caption"> last login: {{ person.LastModifiedDate | timeAgo }} </p>

              <span flex></span>

              <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
              <div class="md-caption tc-grey-500" flex-gt-xs="50"> {{ person.CreationDate | date }} </div>
              <div class="md-caption tc-grey-500" flex-gt-xs="50"> {{ person.LastModifiedDate | timeAgo }} </div>
            </span>

              <span>
              <button md-icon-button [md-menu-trigger-for]="menu">
              <md-icon>more_vert</md-icon>
              </button>
              <md-menu x-position="before" #menu="mdMenu">
              <a [routerLink]="['/relations/person/' + person.id]" md-menu-item>Details</a>
              <button  md-menu-item (click)="delete(person)" [disabled]="!person.CanExecuteDelete">Delete</button>
              </md-menu>
            </span>

          </md-list-item>
          <md-divider *ngIf="!last" md-inset></md-divider>
        </ng-template>
      </md-list>
    </ng-template>

  </md-card-content>
</md-card>

<md-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="this.data && this.data.length !== total">
  <md-card-content>
    <button md-button (click)="more()">More</button> {{this.data?.length}}/{{total}}
  </md-card-content>
</md-card>

<a md-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['/person']">
  <md-icon>add</md-icon>
</a>
