<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">

  <form #form="ngForm" *ngIf="good" (submit)="save()">
    <div class="pad">
      <mat-tab-group>

        <mat-tab label="General">
          <!-- <a-mat-select [object]="inventoryItem" [roleType]="m.NonSerialisedInventoryItem.NonSerialisedInventoryItemState"
            [options]="inventoryItemObjectStates" display="Name" label="Status"></a-mat-select> -->
          <a-mat-localised-text [object]="good" [roleType]="m.Good.LocalisedNames" [locales]="locales" label="Name"></a-mat-localised-text>
          <a-mat-localised-text [object]="good" [roleType]="m.Good.LocalisedDescriptions" [locales]="locales" label="Description"></a-mat-localised-text>
          <a-mat-select [object]="inventoryItem" [roleType]="m.NonSerialisedInventoryItem.ProductType" [options]="productTypes"
            display="Name"></a-mat-select>
          <a-mat-select [object]="good" [roleType]="m.Good.ProductCategories" [options]="categories" display="Name"></a-mat-select>
          <a-mat-autocomplete [object]="good" [roleType]="m.Good.PrimaryProductCategory" [options]="categories" display="Name"></a-mat-autocomplete>

          <mat-input-container fxLayout="column" fxLayoutAlign="top stretch">
            <input fxFlex matInput name="actualQuantityOnHand" [(ngModel)]="actualQuantityOnHand" placeholder="Actual Quantity in stock">
          </mat-input-container>

          <div class="mat-input-wrapper">
            <div class="mat-input-flex">
              <div class="mat-input-infix">
                <mat-select fxFlex [(ngModel)]="selectedBrand" name="brandName" placeholder="Brand" multiple="false" (ngModelChange)="brandSelected($event)">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let brand of brands" [value]="brand"> {{ brand.Name }} </mat-option>
                </mat-select>
              </div>
            </div>
          </div>

          <div class="mat-input-wrapper">
            <div class="mat-input-flex">
              <div class="mat-input-infix">
                <mat-select fxFlex [(ngModel)]="selectedModel" name="modelName" placeholder="Model" multiple="false">
                  <mat-option>None</mat-option>
                  <mat-option *ngFor="let model of models" [value]="model"> {{ model.Name }} </mat-option>
                </mat-select>
              </div>
            </div>
          </div>

          <a-mat-autocomplete [object]="good" [roleType]="m.Good.SuppliedBy" [filter]="suppliersFilter.create()" display="Name"></a-mat-autocomplete>
          <a-mat-autocomplete [object]="good" [roleType]="m.Good.ManufacturedBy" [filter]="manufacturersFilter.create()" display="Name"></a-mat-autocomplete>
          <a-mat-datepicker [object]="good" [roleType]="m.Good.SalesDiscontinuationDate"></a-mat-datepicker>
        </mat-tab>

        <mat-tab label="Characteristics">

          <mat-radio-group name="rg" [(ngModel)]="selectedLocaleName">
            <mat-radio-button *ngFor="let locale of locales" [value]="locale.Name">
              {{locale.Language.Name}}
            </mat-radio-button>
          </mat-radio-group>

          <mat-divider></mat-divider>

          <a-mat-textarea *ngFor="let productCharacteristicValue of productCharacteristicValues" [object]="productCharacteristicValue"
            [roleType]="m.ProductCharacteristicValue.Value" [label]="localisedName(productCharacteristicValue.ProductCharacteristic)"></a-mat-textarea>
        </mat-tab>

        <mat-tab label="Comments">
          <a-mat-localised-text [object]="good" [roleType]="m.Good.LocalisedComments" [locales]="locales" label="Comment"></a-mat-localised-text>
          <a-mat-textarea [object]="good" [roleType]="m.Good.InternalComment"></a-mat-textarea>
          <a-mat-textarea [object]="good" [roleType]="m.Good.Keywords"></a-mat-textarea>
        </mat-tab>

        <mat-tab label="Images">
          <a-td-image [object]="good" [roleType]="m.Good.PrimaryPhoto" accept="image/*" (selected)="imageSelected($event)"></a-td-image>

          <ng-template let-photo let-last="last" ngFor [ngForOf]="good.Photos">
            <mat-list-item>
              <mat-card class="image-card">
                <mat-card-header>
                  <mat-card-title>{{photo.FileName}}</mat-card-title>
                </mat-card-header>
                <img mat-card-image [src]="mediaService.url(photo)">
              </mat-card>
              </mat-list-item>
            <mat-divider *ngIf="!last" mat-inset></mat-divider>
          </ng-template>
        </mat-tab>

      </mat-tab-group>
    </div>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button mat-button (click)="goBack()" type="button">CANCEL</button>
    </mat-card-actions>

  </form>
</td-layout-card-over>
