<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a (click)="navigation.list(m.Person)">People</a><span *ngIf="party"> / <a (click)="navigation.overview(party)">{{party.displayName}}</a></span> / {{title}}
      </div>
    </div>
  </div>


  <form *ngIf="contactMechanism" class="a-edit" #form="ngForm" (submit)="save()" novalidate>
    <mat-card>
      <mat-card-content class="container-fluid">
        <div class="row">
          <a-mat-select class="col-md" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.ContactPurposes" [options]="contactMechanismPurposes" display="Name" label="Contact purposes"></a-mat-select>
        </div>

        <div class="row">
          <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.PostalAddress.Address1" label="Address line 1"></a-mat-input>
          <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.PostalAddress.Address2" label="Address line 2"></a-mat-input>
          <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.PostalAddress.Address3" label="Address line 3"></a-mat-input>
        </div>

        <div class="row">
          <a-mat-input class="col-md" [object]="contactMechanism.PostalBoundary" [roleType]="m.PostalBoundary?.Locality" label="City"></a-mat-input>
          <a-mat-input class="col-md" [object]="contactMechanism.PostalBoundary" [roleType]="m.PostalBoundary?.PostalCode" label="Postal code"></a-mat-input>
          <a-mat-select class="col-md" [object]="contactMechanism.PostalBoundary" [roleType]="m.PostalBoundary?.Country" [options]="countries" display="Name"></a-mat-select>
        </div>

        <div class="row">
          <a-mat-slidetoggle class="col-md" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.UseAsDefault" label="Use as default"></a-mat-slidetoggle>
          <a-mat-slidetoggle class="col-md" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.NonSolicitationIndicator" label="Non Solicitation"></a-mat-slidetoggle>
        </div>

      </mat-card-content>
    </mat-card>

    <a-mat-footer>
      <button mat-raised-button (click)="navigation.back()" type="button">CANCEL</button>
      <button mat-raised-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.context.hasChanges">SAVE</button>
    </a-mat-footer>

  </form>
</div>