<mat-card>

  <div class="row">
    <div class="col">
      <h2>
        <mat-icon>fingerprint</mat-icon>Identifications
      </h2>
    </div>
  </div>

  <mat-card-content>

    <mat-list>
      <mat-list-item *ngFor="let identification of igoodidentifications; let last=last" [attr.data-allors-id]="identification.id"
        (click)="edit.emit(identification)" style="cursor: pointer;">
        <div mat-line>{{identification.GoodIdentificationType.Name }}</div>
        <p mat-line>{{ identification.Identification }} </p>

        <div (click)="$event.stopPropagation()">
          <button mat-icon-button [mat-menu-trigger-for]="menuEditCom">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menuEditCom="matMenu">
            <button mat-menu-item (click)="edit.emit(identification)">Edit</button>
            <button [disabled]="!identification.CanExecuteDelete" mat-menu-item (click)="delete.emit(identification)">Delete</button>
          </mat-menu>
        </div>

        <mat-divider *ngIf="!last" mat-inset></mat-divider>
      </mat-list-item>
    </mat-list>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button [matMenuTriggerFor]="menuAddComm">Add new</button>
    <mat-menu #menuAddComm="matMenu">
      <button mat-menu-item (click)="add.emit(allors.m.EanIdentification)">EAN</button>
      <button mat-menu-item (click)="add.emit(allors.m.IsbnIdentification)">ISBN</button>
      <button mat-menu-item (click)="add.emit(allors.m.ManufacturerIdentification)">Manufacturer Id</button>
      <button mat-menu-item (click)="add.emit(allors.m.PartNumber)">Part No.</button>
      <button mat-menu-item (click)="add.emit(allors.m.ProductNumber)">Product No.</button>
      <button mat-menu-item (click)="add.emit(allors.m.SkuIdentification)">SKU</button>
      <button mat-menu-item (click)="add.emit(allors.m.UpcaIdentification)">UPCA</button>
      <button mat-menu-item (click)="add.emit(allors.m.UpceIdentification)">UPCE</button>
    </mat-menu>
  </mat-card-actions>
</mat-card>
