
  <form #form="ngForm"  *ngIf="salesTerm" (submit)="save()">

    <div>
      <a-mat-select  [object]="salesTerm" [roleType]="m.SalesTerm.TermType" [options]="incoTermTypes" display="Name"></a-mat-select>
      <a-mat-input  [object]="salesTerm" [roleType]="m.SalesTerm.TermValue" label="Value"></a-mat-input>
    </div>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button mat-button (click)="goBack()" type="button">CANCEL</button>
    </mat-card-actions>
  </form>
