<form class="a-edit" #form="ngForm" (submit)="save()">

  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
      <span class="col"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>
    <mat-card *ngIf="data">
      <mat-card-content class="container-fluid">

        <div class="row">
          <a-mat-input class="col-md" [object]="data" [roleType]="m.Data.String"></a-mat-input>
        </div>

        <div class="row">
          <a-mat-datepicker class="col-md" [object]="data" [roleType]="m.Data.Date"></a-mat-datepicker>
          <a-mat-datetimepicker class="col-md" [object]="data" [roleType]="m.Data.DateTime"></a-mat-datetimepicker>
        </div>

        <div class="row">
          <a-mat-autocomplete class="col-md" [object]="data" [roleType]="m.Data.AutocompleteFilter" [filter]="peopleFilter.create(scope)" display="UserName" hint="With filter"></a-mat-autocomplete>
          <a-mat-autocomplete class="col-md" [object]="data" [roleType]="m.Data.AutocompleteOptions" [options]="people" display="UserName" hint="With options"></a-mat-autocomplete>
        </div>

        <div class="row">
          <a-mat-checkbox class="col-md" [object]="data" [roleType]="m.Data.Checkbox" hint="checkbox hint"></a-mat-checkbox>
          <a-mat-chips class="col-md" [object]="data" [roleType]="m.Data.Chips" [options]="people" display="UserName"></a-mat-chips>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <mat-toolbar class="a-footer">
    <mat-toolbar-row class="row">
      <span class="col"></span>
      <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>
