<md-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
          <md-icon>arrow_back</md-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button md-icon-button><md-icon>settings</md-icon></button>
  </div>
</md-toolbar>

<div body *ngIf="invoice" layout-gt-md="row">
  <div flex-gt-xs="50">
    <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <md-card-title>Sales Invoice</md-card-title>
      <md-divider></md-divider>
      <md-card-content>

        <div layout="row">
          <a-md-static [object]="invoice" [roleType]="m.SalesInvoice.CurrentObjectState" display="Name" label="Status"></a-md-static>
        </div>
        <div layout="row">
          <a-md-static [object]="invoice" [roleType]="m.SalesInvoice.InvoiceNumber"></a-md-static>
        </div>
        <div *ngIf="invoice.SalesOrder" layout="row" class="link" [routerLink]="['/orders/salesOrder/' + invoice.SalesOrder.id ]">
          <a-md-static [object]="invoice" [roleType]="m.SalesInvoice.SalesOrder" display="OrderNumber"></a-md-static>
        </div>
        <div layout="row" class="link" [routerLink]="['/relations/organisation/' + invoice.BillToCustomer.id ]">
          <a-md-static [object]="invoice" [roleType]="m.SalesInvoice.BillToCustomer" display="displayName" label="Customer"></a-md-static>
        </div>
        <div *ngIf="invoice.BillToContactMechanism" layout="row">
          <a-md-static [object]="invoice" [roleType]="m.SalesInvoice.BillToContactMechanism" display="displayName" label="Bill to"></a-md-static>
        </div>
        <div *ngIf="order.Comment" layout="row">
          <a-md-static [object]="order" [roleType]="m.SalesOrder.Comment" label="Order Comment"></a-md-static>
        </div>
        <div *ngIf="invoice.Comment" layout="row">
          <a-md-textarea [object]="invoice" [roleType]="m.SalesInvoice.Comment" label="Invoice Comment"></a-md-textarea>
        </div>
        <div *ngIf="order.InternalComment" layout="row">
          <a-md-static [object]="order" [roleType]="m.SalesOrder.InternalComment" label="Order Internal Comment"></a-md-static>
        </div>
        <div *ngIf="invoice.InternalComment" layout="row">
          <a-md-textarea [object]="invoice" [roleType]="m.SalesInvoice.InternalComment" label="Invoice Internal Comment"></a-md-textarea>
        </div>
        <div layout="row">
          <p class="md-caption tc-grey-500"> created: {{ invoice.CreationDate | date}} by {{ invoice.CreatedBy.displayName}}</p>
        </div>
        <div layout="row">
          <p class="md-caption tc-grey-500"> last modified: {{ invoice.LastModifiedDate | date}} by {{ invoice.LastModifiedBy.displayName}}</p>
        </div>

      </md-card-content>

      <md-divider></md-divider>
      <md-card-actions>
        <button *ngIf="invoice.CanExecuteAddNewInvoiceItem" md-button [routerLink]="['/invoice/' + invoice.id]">Edit</button>
      </md-card-actions>
    </md-card>

    <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <md-card-title>Invoice Items</md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <ng-template tdLoading="invoice.SalesInvoiceItems">
          <md-list class="will-load">
            <div class="md-padding" *ngIf="invoice.SalesInvoiceItems.length === 0" layout="row" layout-align="center center">
              <h3>No Items to display.</h3>
            </div>

            <ng-template let-invoiceItem let-last="last" ngFor [ngForOf]="invoice.SalesInvoiceItems">
              <md-list-item>
                <div layout="row" class="link" [routerLink]="['/invoice/' + invoice.id + '/item/' + invoiceItem.id ]">
                  <a-md-static [object]="invoiceItem" [roleType]="m.SalesInvoiceItem.Product" display="Name"></a-md-static>
                </div>
                <div layout="row">
                  <a-md-static [object]="invoiceItem" [roleType]="m.SalesInvoiceItem.Quantity"></a-md-static>
                </div>
                <span>
                  <button md-icon-button [md-menu-trigger-for]="menu">
                    <md-icon>more_vert</md-icon>
                  </button>
                  <md-menu x-position="before" #menu="mdMenu">
                      <a [routerLink]="['/invoice/' + invoice.id + '/item/' + invoiceItem.id ]" md-menu-item>Edit</a>
                  </md-menu>
              </span>
              </md-list-item>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </ng-template>
          </md-list>
        </ng-template>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button *ngIf="invoice.CanExecuteAddNewInvoiceItem" md-button [routerLink]="['/invoice/' + invoice.id +'/item']">+ Add</button>
      </md-card-actions>
    </md-card>
  </div>

  <div flex-gt-xs="50">
    <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <md-card-title>Status History</md-card-title>
      <md-divider></md-divider>
      <md-card-content>

        <ng-template tdLoading="invoice.InvoiceStatuses">
          <md-list class="will-load">

            <ng-template let-status let-last="last" ngFor [ngForOf]="invoice.InvoiceStatuses">
              <md-list-item>
                <p md-line class="md-caption">{{ status.SalesInvoiceObjectState.Name }} </p>
                <p md-line hide-gt-md class="md-caption"> Start: {{ status.StartDateTime | date}} </p>

                <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <div class="md-caption tc-grey-500" flex-gt-xs="50"> Start: {{ status.StartDateTime | date }}</div>
                  </span>

              </md-list-item>
            </ng-template>
          </md-list>
        </ng-template>
      </md-card-content>

    </md-card>
  </div>
</div>
