<md-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
          <md-icon>arrow_back</md-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button md-icon-button><md-icon>settings</md-icon></button>
  </div>
</md-toolbar>

<md-card>
  <div class="pad-top-xs pad-left pad-right">
    <form novalidate [formGroup]="searchForm">
      <md-input-container>
        <input fxFlex mdInput placeholder="Name" formControlName="name">
      </md-input-container>
      <md-select formControlName="country" name="country" [(ngModel)]="selectedCountry" placeholder="Country">
        <md-option>None</md-option>
        <md-option *ngFor="let country of countries" [value]="country.Name">{{ country.Name }}</md-option>
      </md-select>
      <md-select formControlName="role" name="role" [(ngModel)]="selectedRole" placeholder="Role">
        <md-option>None</md-option>
        <md-option *ngFor="let role of roles" [value]="role.Name">{{ role.Name }}</md-option>
      </md-select>
      <md-select formControlName="classification" name="classification" [(ngModel)]="selectedClassification" placeholder="Classification">
        <md-option>None</md-option>
        <md-option *ngFor="let classification of classifications" [value]="classification.Name">{{ classification.Name }}</md-option>
      </md-select>
      <md-input-container>
        <input fxFlex mdInput placeholder="First Name" formControlName="contactFirstName">
      </md-input-container>
      <md-input-container>
        <input fxFlex mdInput placeholder="Last Name" formControlName="contactLastName">
      </md-input-container>
      <md-icon mdSuffix>search</md-icon>
    </form>
  </div>

  <md-divider></md-divider>

  <ng-template tdLoading="organisations">
    <md-list class="will-load">
      <div class="md-padding" *ngIf="data && data.length === 0" layout="row" layout-align="center center">
        <h3>No organisations to display.</h3>
      </div>
      <ng-template let-organisation let-last="last" ngFor [ngForOf]="data">
        <md-list-item>

          <md-icon *ngIf="!organisation.LogoImage" md-list-avatar>insert_photo</md-icon>
          <img *ngIf="organisation.LogoImage" md-list-avatar src="http://localhost:5000/Media/Download/{{organisation.LogoImage.UniqueId}}?revision={{organisation.LogoImage.Revision}}"
          />

          <div md-line class="pointer" [routerLink]="['/relations/organisation/' + organisation.id]">
            {{organisation.PartyName}}
          </div>

          <p *ngIf="organisation.OrganisationClassifications.length > 0" md-line> {{organisation.OrganisationClassifications[0].Name}}</p>
          <p *ngIf="organisation.GeneralCorrespondence" md-line> {{organisation.GeneralCorrespondence?.Address1}} {{organisation.GeneralCorrespondence?.Address2}} {{organisation.GeneralCorrespondence?.Address3}}</p>
          <p *ngIf="organisation.GeneralCorrespondence" md-line> {{organisation.GeneralCorrespondence?.PostalBoundary?.PostalCode}} {{organisation.GeneralCorrespondence?.PostalBoundary?.Locality}}
            {{organisation.GeneralCorrespondence?.PostalBoundary?.Country.Name}} </p>
          <p *ngIf="organisation.GeneralPhoneNumber" md-line> {{organisation.GeneralPhoneNumber.CountryCode}} {{organisation.GeneralPhoneNumber.AreaCode}} {{organisation.GeneralPhoneNumber.ContactNumber}}
          <p md-line hide-gt-md class="md-caption"> last modified: {{ organisation.LastModifiedDate | timeAgo }} </p>

          <span flex></span>

          <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
            <div class="md-caption tc-grey-500" flex-gt-xs="50"> {{ organisation.CreationDate | date }} </div>
            <div class="md-caption tc-grey-500" flex-gt-xs="50"> {{ organisation.LastModifiedDate | timeAgo }} </div>
          </span>

          <span>
          <button md-icon-button [md-menu-trigger-for]="menu">
          <md-icon>more_vert</md-icon>
          </button>
          <md-menu x-position="before" #menu="mdMenu">
          <a [routerLink]="['/relations/organisation/' + organisation.id]" md-menu-item>Details</a>
          <button md-menu-item (click)="delete(organisation)" [disabled]="!organisation.CanExecuteDelete">Delete</button>
          </md-menu>
          </span>

        </md-list-item>
        <md-divider *ngIf="!last" md-inset></md-divider>
      </ng-template>
    </md-list>
  </ng-template>
</md-card>

<md-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="this.data && this.data.length !== total">
  <md-card-content>
    <button md-button (click)="more()">More</button> {{this.data?.length}}/{{total}}
  </md-card-content>
</md-card>

<a md-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['/organisation']">
  <md-icon>add</md-icon>
</a>
