<td-layout>
  <td-navigation-drawer flex sidenavTitle="App" logo="assets:covalent" name="Firstname Lastname" email="firstname.lastname@company.com">
    <md-nav-list>
      <a *ngFor="let item of routes" md-list-item [routerLink]="[item.route]"><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
    </md-nav-list>
    <div td-navigation-drawer-menu>
      <md-nav-list>
        <a *ngFor="let item of usermenu" md-list-item><md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
      </md-nav-list>
    </div>
  </td-navigation-drawer>
  <td-layout-nav>
    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button md-icon-button td-menu-button tdLayoutToggle>
        <md-icon>menu</md-icon>
      </button>
      <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:teradata"></md-icon>
      <span [routerLink]="['/']" class="cursor-pointer">Apps</span>
      <span flex></span>
      <ng-content select="[primary-toolbar]"></ng-content>
    </div>
    <td-layout-manage-list #manageList
            [opened]="media.registerQuery('gt-sm') | async"
            [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
            [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
      <md-toolbar td-sidenav-content>
        <span>Relations</span>
      </md-toolbar>
      <md-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
        <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
          <a md-list-item [routerLink]="[item.route]">
            <md-icon md-list-icon>{{item.icon}}</md-icon> {{item.title}}
          </a>
        </ng-template>
      </md-nav-list>
      <md-toolbar>
        <div layout="row" layout-align="start center" flex>
          <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true">
            <md-icon>arrow_back</md-icon>
          </button>
          <span>{{title}}</span>
          <span flex></span>
          <ng-content select="[secondary-toolbar]"></ng-content>
        </div>
      </md-toolbar>

      <ng-content></ng-content>

    </td-layout-manage-list>
  </td-layout-nav>
</td-layout>
