<td-layout-nav logo="assets:covalent">

  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Apps</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="https://www.inxin.com/" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
  </div>

  <td-layout-manage-list #manageList
                        [opened]="media.registerQuery('gt-sm') | async"
                        [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
                        [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">

    <md-toolbar td-sidenav-content>
      <span>Relations</span>
    </md-toolbar>

    <md-nav-list td-sidenav-content (click)="!media.query('gt-sm') && manageList.close()">
      <ng-template let-item let-last="last" ngFor [ngForOf]="routes">
        <a md-list-item [routerLink]="[item.route]">
          <md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
      </ng-template>
    </md-nav-list>

    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span>[TODO]</span>
      <span flex></span>
      <button md-icon-button><md-icon class="md-24">view_module</md-icon></button>
      <button md-icon-button><md-icon class="md-24">sort</md-icon></button>
      <button md-icon-button><md-icon class="md-24">settings</md-icon></button>
    </div>

    <router-outlet></router-outlet>

  </td-layout-manage-list>
</td-layout-nav>
