<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/relations/people']">People</a> / {{letterCorrespondence?.Subject}}
      </div>
    </div>
  </div>

  <div class="a-overview2 container">

    <div class="row">

      <div class="col-md-4 mb-3">
        <lettercorrespondence-overview-summary></lettercorrespondence-overview-summary>
      </div>

      <div class="col-md-8">
        <lettercorrespondence-overview-detail></lettercorrespondence-overview-detail>
      </div>
    </div>
  </div>
</div>