@import "~bootstrap/scss/functions";
@import "~bootstrap/scss/variables";

mat-sidenav-content > div {
  height: 100vh;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  > mat-toolbar {
    flex: 0 0 auto;
  }
  > ng-component {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    .a-main {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      background-color: whitesmoke;
      > .a-breadcrumb {
        flex: 0 0 auto;
        background-color: white;
        > .row {
          padding-left: 12px;
          padding-top: 0.5rem;
          padding-bottom: 0.5rem;
        }
      }
    
      > .a-list {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-top: 2rem;
        padding-left: 2rem;
        padding-right: 2rem;
        > .a-content {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          background-color: white;
          > mat-toolbar {
            flex: 0 0 auto;
          }
          > .a-header {
            flex: 0 0 auto;
          }
          > .a-items {
            flex: 1 1 0;
            display: flex;
            flex-direction: column;
            align-items: stretch;

            a-mat-table {
              flex: 1 1 0;
            }
          }
        }
      }

      > .a-overview {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding-top: 2rem;
        
        @include media-breakpoint-up(md) 
        {
          > .a-content {
            flex-grow: 1;

            .expanded-panel-container {
              display: flex;
              flex-direction: column;
              align-items: stretch;

              .expanded-panel {
                flex: 1 1 0;
                  display: flex;
                  flex-direction: column;
                  align-items: stretch;
      
                  > div {
                    flex: 1 1 0;
                    display: flex;
                    flex-direction: column;
                    align-items: stretch;

                    a-mat-table {
                      flex: 1 1 0;
                    }
                  }
                }
              }
            }
         }
       }

      > .a-edit {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding: 1rem;
        > mat-card {
          flex-grow: 1;
          display: flex;
          flex-direction: column;
          align-items: stretch;
          > mat-card-content {
            flex-grow: 1;
            overflow: auto;
            div.row {
              padding-bottom: 0.5rem;
            }
          }
          > mat-card-actions {
            flex: 0 0 auto;
          }
        }
      }
    }
  }
}

.a-items {
  border-top: 1px solid #e0e0e0;
  border-bottom: 1px solid #e0e0e0;
}

.a-search {
  border-top: 1px solid #e0e0e0;
}

table {
  width: 100%;
}

th.mat-sort-header-sorted {
  color: black;
}

.mat-header-row {
  background-color: whitesmoke !important;
}

.mat-row:hover {
  background-color: whitesmoke;
}

th.mat-table-sticky,
td.mat-table-sticky {
  width: 60px !important;
  min-width: 60px !important;
  max-width: 60px !important;
}
