<md-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
          <md-icon>arrow_back</md-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button md-icon-button><md-icon>settings</md-icon></button>
  </div>
</md-toolbar>

<md-card>
  <div class="pad-top-xs pad-left pad-right">
    <form novalidate [formGroup]="searchForm">
      <md-input-container>
        <input fxFlex mdInput placeholder="Name" formControlName="name">
        <md-icon mdSuffix>search</md-icon>
      </md-input-container>
      <md-input-container>
        <input fxFlex mdInput placeholder="ArticleNr" formControlName="articleNumber">
        <md-icon mdSuffix>search</md-icon>
      </md-input-container>
      <md-input-container>
        <input fxFlex mdInput placeholder="Keyword" formControlName="keyword">
        <md-icon mdSuffix>search</md-icon>
      </md-input-container>
      <md-input-container>
        <input fxFlex mdInput placeholder="Owner" formControlName="owner">
        <md-icon mdSuffix>search</md-icon>
      </md-input-container>
      <md-select formControlName="ownership" name="ownership" [(ngModel)]="selectedOwnership" placeholder="Ownership">
        <md-option>None</md-option>
        <md-option *ngFor="let ownership of ownerships" [value]="ownership.Name">{{ ownership.Name }}</md-option>
      </md-select>
      <md-select formControlName="brand" name="brand" [(ngModel)]="selectedBrand" placeholder="Brand">
        <md-option>None</md-option>
        <md-option *ngFor="let brand of brands" [value]="brand.Name">{{ brand.Name }}</md-option>
      </md-select>
      <md-select formControlName="model" name="model" [(ngModel)]="selectedModel" placeholder="Model">
        <md-option>None</md-option>
        <md-option *ngFor="let model of models" [value]="model.Name">{{ model.Name }}</md-option>
      </md-select>
      <md-select formControlName="productCategory" name="productCategory" [(ngModel)]="selectedProductCategory" placeholder="Category">
        <md-option>None</md-option>
        <md-option *ngFor="let productCategory of productCategories" [value]="productCategory.Name">{{ productCategory.Name }}</md-option>
      </md-select>
      <md-select formControlName="productType" name="productType" [(ngModel)]="selectedProductType" placeholder="Product Type">
        <md-option>None</md-option>
        <md-option *ngFor="let productType of productTypes" [value]="productType.Name">{{ productType.Name }}</md-option>
      </md-select>
      <md-select formControlName="inventoryItemKind" name="inventoryItemKind" [(ngModel)]="selectedInventoryItemKind" placeholder="Inventory Kind">
        <md-option>None</md-option>
        <md-option *ngFor="let inventoryItemKind of inventoryItemKinds" [value]="inventoryItemKind.Name">{{ inventoryItemKind.Name }}</md-option>
      </md-select>
      <md-select formControlName="manufacturer" name="manufacturer" [(ngModel)]="selectedManufacturer" placeholder="Manufacturer">
        <md-option>None</md-option>
        <md-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.Name">{{ manufacturer.Name }}</md-option>
      </md-select>
      <md-select formControlName="supplier" name="supplier" [(ngModel)]="selectedSupplier" placeholder="Supplier">
        <md-option>None</md-option>
        <md-option *ngFor="let supplier of suppliers" [value]="supplier.Name">{{ supplier.Name }}</md-option>
      </md-select>
    </form>
  </div>

  <md-divider></md-divider>

  <ng-template tdLoading="data">
    <md-list class="will-load">
      <div class="md-padding" *ngIf="data && data.length === 0" layout="row" layout-align="center center">
        <h3>No products to display.</h3>
      </div>
      <ng-template let-good let-last="last" ngFor [ngForOf]="data">
        <md-list-item>

          <md-icon *ngIf="!good.PrimaryPhoto" md-list-avatar>photo_camera</md-icon>
          <img *ngIf="good.PrimaryPhoto" src="http://localhost:5000/Media/Download/{{good.PrimaryPhoto.UniqueId}}?revision={{good.PrimaryPhoto.Revision}}"
            widht="90" height="60" />

          <h3 md-line [routerLink]="'/good/' + [good.id]"> {{good.Name}}</h3>
          <p md-line class="md-caption">{{ good.Description }} </p>
          <p md-line class="md-caption">Primary category: {{ good.PrimaryProductCategory?.Name }} </p>

          <span>
                <button md-icon-button [md-menu-trigger-for]="menu">
                <md-icon>more_vert</md-icon>
                </button>
                <md-menu x-position="before" #menu="mdMenu">
                <a [routerLink]="'/good/' + [good.id]" md-menu-item>Edit</a>
                <button md-menu-item (click)="delete(good)">Delete</button>
                </md-menu>
              </span>

        </md-list-item>
        <md-divider *ngIf="!last" md-inset></md-divider>
      </ng-template>
    </md-list>
  </ng-template>
</md-card>

<md-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="this.data && this.data.length !== total">
  <md-card-content>
    <button md-button (click)="more()">More</button> {{this.data?.length}}/{{total}}
  </md-card-content>
</md-card>

<span flex>
  <a md-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['/serialisedGood']">
    <md-icon>add</md-icon>
  </a>
<!--
  <a md-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['/nonSerialisedGood']">
    <md-icon>add</md-icon>N
  </a> -->
</span>
