<AuthorizeView>
    <Authorized>
        <BSNav IsNavbar="true">
            <BSNavItem>
                <BSNavLink Href="Identity/Account/Manage">@context.User.Identity.Name</BSNavLink>
            </BSNavItem>

            <form method="post" action="Identity/Account/LogOut">
                <button type="submit" class="nav-link btn btn-link">Log out</button>
            </form>
        </BSNav>
    </Authorized>
    <NotAuthorized>
        <BSNav IsNavbar="true">
            <BSNavItem>
                <BSNavLink Href="Identity/Account/Register">Register</BSNavLink>
            </BSNavItem>
            <BSNavItem>
                <BSNavLink Href="Identity/Account/Login">Login</BSNavLink>
            </BSNavItem>
        </BSNav>
    </NotAuthorized>
</AuthorizeView>
