@inherits LayoutComponentBase
@inject IBootstrapCSS BootstrapCSS
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager

<div>
    <div class="container">
        <NavMenu />
    </div>
</div>

<div class="main container">
    <div class="content px-4">
        @Body
    </div>
</div>

@code {


    protected override async System.Threading.Tasks.Task OnInitializedAsync()
    {
        try
        {
            await this.BootstrapCSS.SetBootstrapCSS("4.3.1");
        }
        catch { }
    }

    async System.Threading.Tasks.Task GoTo()
    {
        if (this.AuthenticationStateProvider is AllorsAuthenticationStateProvider allorsAuthenticationStateProvider)
        {
            await allorsAuthenticationStateProvider.LogIn("administrator", null);
        }

        this.NavigationManager.NavigateTo("/organisation/edit/2577");
    }
}
