<md-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
          <md-icon>arrow_back</md-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button md-icon-button><md-icon>settings</md-icon></button>
  </div>
</md-toolbar>


<md-card>
  <div class="pad-top-xs pad-left pad-right">
    <form novalidate [formGroup]="searchForm">
      <md-input-container>
        <input fxFlex mdInput placeholder="Name" formControlName="name">
        <md-icon mdSuffix>search</md-icon>
      </md-input-container>
    </form>
  </div>

  <md-divider></md-divider>
  <ng-template tdLoading="data">
    <md-list class="will-load">
      <div class="md-padding" *ngIf="data && data.length === 0" layout="row" layout-align="center center">
        <h3>No categories to display.</h3>
      </div>
      <ng-template let-category let-last="last" ngFor [ngForOf]="data">
        <md-list-item>

          <md-icon *ngIf="!category.CategoryImage" md-list-avatar>photo_camera</md-icon>
          <img *ngIf="category.CategoryImage" md-list-avatar src="http://localhost:5000/Media/Download/{{category.CategoryImage.UniqueId}}?revision={{category.CategoryImage.Revision}}"
          />

          <h3 md-line> {{category.Name}}</h3>
          <p md-line> {{category.Description}} </p>

          <span>
                <button md-icon-button [md-menu-trigger-for]="menu">
                <md-icon>more_vert</md-icon>
                </button>
                <md-menu x-position="before" #menu="mdMenu">
                <a [routerLink]="[category.id + '/edit']" md-menu-item>Edit</a>
                <button md-menu-item (click)="delete(category)">Delete</button>
                </md-menu>
              </span>

        </md-list-item>
        <md-divider *ngIf="!last" md-inset></md-divider>
      </ng-template>
    </md-list>
  </ng-template>
</md-card>

<md-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="this.data && this.data.length !== total">
  <md-card-content>
    <button md-button (click)="more()">More</button> {{this.data?.length}}/{{total}}
  </md-card-content>
</md-card>

<a md-fab color="accent" class="mat-fab-bottom-right" [routerLink]="['add']">
  <md-icon>add</md-icon>
</a>
