<a-td-layout-catalogue [title]="title">

  <md-card>
    <md-card-content>
      <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true" (searchDebounce)="search($event)"></td-search-box>
      <md-divider></md-divider>
      <ng-template tdLoading="data">
        <md-list class="will-load">
          <div class="md-padding" *ngIf="data && data.length === 0" layout="row" layout-align="center center">
            <h3>No categories to display.</h3>
          </div>
          <ng-template let-category let-last="last" ngFor [ngForOf]="data">
            <md-list-item>

              <md-icon *ngIf="!category.CategoryImage" md-list-avatar>photo_camera</md-icon>
              <img *ngIf="category.CategoryImage" md-list-avatar src="http://localhost:5000/Media/Download/{{category.CategoryImage.UniqueId}}?revision={{category.CategoryImage.Revision}}"
              />

              <h3 md-line> {{category.Name}}</h3>
              <p md-line> {{category.Description}} </p>

              <span>
                <button md-icon-button [md-menu-trigger-for]="menu">
                <md-icon>more_vert</md-icon>
                </button>
                <md-menu x-position="before" #menu="mdMenu">
                <a [routerLink]="[category.id + '/edit']" md-menu-item>Edit</a>
                <button md-menu-item (click)="delete(category)">Delete</button>
                </md-menu>
              </span>

            </md-list-item>
            <md-divider *ngIf="!last" md-inset></md-divider>
          </ng-template>
        </md-list>
      </ng-template>

    </md-card-content>
  </md-card>

</a-td-layout-catalogue>

<a md-fab color="accent" class="mat-fab-bottom-right" [routerLink]="['add']">
  <md-icon>add</md-icon>
</a>
