<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{title}}</span>
    <span flex></span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div body *ngIf="invoice" layout-gt-md="row">
  <div flex-gt-xs="50">
    <mat-card>
      <mat-card-title>Purchase Invoice</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="pad">
          <div class="grid-3_lg-2_sm-1">
            <a-mat-static  [object]="invoice" [roleType]="m.PurchaseInvoice.PurchaseInvoiceState" display="Name" label="Status"></a-mat-static>
            <a-mat-static  [object]="invoice" [roleType]="m.PurchaseInvoice.InvoiceNumber"></a-mat-static>
            <a-mat-static class="col link" [object]="invoice" [roleType]="m.PurchaseInvoice.BilledFrom" display="PartyName" label="From"
              [routerLink]="['/relations/organisation/' + invoice.BilledFrom.id ]"></a-mat-static>
          </div>

          <div *ngIf="invoice.BillToCustomer" class="grid-2_xs-1">
            <a-mat-static  [object]="invoice" [roleType]="m.PurchaseInvoice.BillToCustomer" display="displayName" label="Bill to Customer"></a-mat-static>
            <a-mat-static  [object]="invoice" [roleType]="m.PurchaseInvoice.BillToCustomerContactMechanism" display="displayName"
              label="Bill to ContactMechanism"></a-mat-static>
          </div>

          <div *ngIf="invoice.ShipToEndCustomer" class="grid-2_xs-1">
            <a-mat-static  [object]="invoice" [roleType]="m.PurchaseInvoice.ShipToEndCustomer" display="displayName" label="Ship to Customer"></a-mat-static>
            <a-mat-static  [object]="invoice" [roleType]="m.PurchaseInvoice.ShipToEndCustomerAddress" display="displayName"
              label="Ship to Address"></a-mat-static>
          </div>

          <div class="grid-1">
            <a-mat-static  *ngIf="invoice.CustomerReference" [object]="invoice" [roleType]="m.PurchaseInvoice.CustomerReference"></a-mat-static>
          </div>
          <div class="grid-1">
            <a-mat-static  *ngIf="invoice.Description" [object]="invoice" [roleType]="m.PurchaseInvoice.Description"></a-mat-static>
          </div>
          <div class="grid-1">
            <a-mat-static  *ngIf="order?.Comment" [object]="order" [roleType]="m.PurchaseOrder.Comment" label="Order Comment"></a-mat-static>
          </div>
          <div class="grid-1">
            <a-mat-textarea  *ngIf="invoice.Comment" [object]="invoice" [roleType]="m.PurchaseInvoice.Comment" label="Invoice Comment"></a-mat-textarea>
          </div>
          <div class="grid-1">
            <a-mat-static  *ngIf="order?.InternalComment" [object]="order" [roleType]="m.PurchaseOrder.InternalComment" label="Order Internal Comment"></a-mat-static>
          </div>
          <div class="grid-1">
            <a-mat-textarea  *ngIf="invoice.InternalComment" [object]="invoice" [roleType]="m.PurchaseInvoice.InternalComment"
              label="Invoice Internal Comment"></a-mat-textarea>
          </div>

          <div layout="grid-2_sm-1">
            <p class="mat-caption tc-grey-500"> created: {{ invoice.CreationDate | date}} by {{ invoice.CreatedBy.displayName}}</p>
            <p class="mat-caption tc-grey-500"> last modified: {{ invoice.LastModifiedDate | date}} by {{ invoice.LastModifiedBy.displayName}}</p>
          </div>
        </div>

      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions>
        <button *ngIf="invoice.CanWritePurchaseInvoiceItems" mat-button [routerLink]="['/purchaseinvoice/' + invoice.id]">Edit</button>
        <button *ngIf="!invoice.CanWritePurchaseInvoiceItems" mat-button [routerLink]="['/purchaseinvoice/' + invoice.id]">View</button>
        <button *ngIf="invoice.CanExecuteApprove" mat-button type="button" (click)="approve()">Approve</button>
        <button *ngIf="invoice.CanExecuteCancelInvoice" mat-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="invoice.CanExecuteFinish" mat-button type="button" (click)="finish(invoice)">Finish</button>
        <button *ngIf="invoice.CanExecuteCreateSalesInvoice && invoice.PurchaseInvoiceItems.length > 0" mat-button (click)="createInvoice()">Create Sales Invoice</button>
        <!-- <button mat-button [routerLink]="['/printinvoice/' + invoice.id ]">Print</button> -->
      </mat-card-actions>
    </mat-card>

    <mat-card>
      <mat-card-title>Invoice Items</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>

        <mat-list class="will-load">
          <div class="mat-padding" *ngIf="invoice.PurchaseInvoiceItems.length === 0" layout="row" layout-align="center center">
            <h3>No Items to display.</h3>
          </div>

          <ng-template let-invoiceItem let-last="last" ngFor [ngForOf]="invoice.PurchaseInvoiceItems">
            <mat-list-item>
              <h3 *ngIf="invoiceItem.Product && invoice.CanWritePurchaseInvoiceItems" mat-line [routerLink]="['/purchaseinvoice/' + invoice.id + '/item/' + invoiceItem.id ]">{{invoiceItem.Quantity}} * {{invoiceItem.Product.Name}}</h3>
              <h3 *ngIf="invoiceItem.Product && !invoice.CanWritePurchaseInvoiceItems" mat-line>{{invoiceItem.Quantity}} * {{invoiceItem.Product.Name}}</h3>

              <h3 *ngIf="!invoiceItem.Product && invoice.CanWritePurchaseInvoiceItems" mat-line [routerLink]="['/purchaseinvoice/' + invoice.id + '/item/' + invoiceItem.id ]">{{invoiceItem.InvoiceItemType.Name}}</h3>
              <h3 *ngIf="!invoiceItem.Product && !invoice.CanWritePurchaseInvoiceItems" mat-line>{{invoiceItem.InvoiceItemType.Name}}</h3>

              <h4 mat-line>Total ex VAT: {{invoiceItem.TotalExVat}}</h4>

              <span>
                <button mat-icon-button [mat-menu-trigger-for]="menu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu x-position="before" #menu="matMenu">
                  <a *ngIf="invoice.CanWritePurchaseInvoiceItems" [routerLink]="['/purchaseinvoice/' + invoice.id + '/item/' + invoiceItem.id ]"
                    mat-menu-item>Edit</a>
                  <button mat-menu-item (click)="deleteInvoiceItem(invoiceItem)" [disabled]="!invoiceItem.CanExecuteDelete">Delete</button>
                </mat-menu>
              </span>
            </mat-list-item>
            <mat-divider *ngIf="!last" mat-inset></mat-divider>
          </ng-template>
        </mat-list>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button *ngIf="invoice.CanWritePurchaseInvoiceItems" mat-button [routerLink]="['/purchaseinvoice/' + invoice.id +'/item']">+ Add</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div flex-gt-xs="50">
  </div>
</div>