<form #form="ngForm"  (submit)="save()" novalidate>
  <mat-toolbar>
    <mat-toolbar-row >
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="invoice"  fxLayout="column" fxLayoutAlign="start stretch">
      <mat-card-content  style="overflow: auto;">
        <div *ngIf="!invoice.isNew" class="row">
          <a-mat-static [object]="invoice" [roleType]="m.PurchaseInvoice.PurchaseInvoiceState" display="Name" label="Status"></a-mat-static>
          <a-mat-static [object]="invoice" [roleType]="m.PurchaseInvoice.PurchaseOrder"></a-mat-static>
        </div>

        <div class="row">
          <a-mat-autocomplete [object]="invoice" [roleType]="m.PurchaseInvoice.BilledFrom" [filter]="stateService.organisationsFilter.create(scope)"
            display="Name" (onChange)="billedFromSelected($event)" label="Billed from"></a-mat-autocomplete>
          <div  fxLayoutGap="1em">
            <a-mat-select  [object]="invoice" [roleType]="m.PurchaseInvoice.BilledFromContactPerson" [options]="billedFromContacts"
              display="displayName" label="Billed from Contact Person" class="col-md"></a-mat-select>
            <button mat-mini-fab color="accent" [disabled]="!invoice.BilledFrom || !invoice.CanWritePurchaseInvoiceItems" type="button"
              (click)="addBilledFromContactPerson = !addBilledFromContactPerson">
              <mat-icon *ngIf="!addBilledFromContactPerson">add</mat-icon>
              <mat-icon *ngIf="addBilledFromContactPerson">close</mat-icon>
            </button>
          </div>
        </div>

        <mat-card *ngIf="invoice.BilledFrom && addBilledFromContactPerson" class="row" style="margin: 1rem">
          <mat-card-header>Add a new person</mat-card-header>
          <mat-card-content>
            <person-inline (cancelled)="billedFromContactPersonCancelled($event); addBilledFromContactPerson = false" (saved)="billedFromContactPersonAdded($event); addBilledFromContactPerson = false">
            </person-inline>
          </mat-card-content>
        </mat-card>

        <div class="row">
          <a-mat-select [object]="invoice" [roleType]="m.PurchaseInvoice.PurchaseInvoiceType" [options]="purchaseInvoiceTypes" display="Name" class="col-md"></a-mat-select>
          <a-mat-autocomplete *ngIf="showBillToOrganisations" [object]="invoice" [roleType]="m.PurchaseInvoice.BillToCustomer" [filter]="stateService.organisationsFilter.create(scope)"
            display="Name" (onChange)="billToCustomerSelected($event)" label="Bill to End Customer"></a-mat-autocomplete>
        </div>

        <div class="row">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select  [object]="invoice" [roleType]="m.PurchaseInvoice.BillToCustomerContactMechanism" [options]="billToContactMechanisms"
              display="displayName" class="col-md"></a-mat-select>
            <button mat-mini-fab color="accent" [disabled]="!invoice.BillToCustomer || !invoice.CanWritePurchaseInvoiceItems" type="button"
              (click)="addBillToContactMechanism = !addBillToContactMechanism">
              <mat-icon *ngIf="!addBillToContactMechanism">add</mat-icon>
              <mat-icon *ngIf="addBillToContactMechanism">close</mat-icon>
            </button>
          </div>
        </div>

        <mat-card *ngIf="invoice.BillToCustomer && addBillToContactMechanism" class="row" style="margin: 1rem">
          <mat-card-header>Add a new contact mechanism</mat-card-header>
          <mat-card-content>
            <party-contactmechanism [scope]="scope" (saved)="billToContactMechanismAdded($event)" (cancelled)="billToContactMechanismCancelled()"
              label="Bill to End Customer ContactMechanism">
            </party-contactmechanism>
          </mat-card-content>
        </mat-card>

        <div class="row">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select  [object]="invoice" [roleType]="m.PurchaseInvoice.BillToCustomerContactPerson" [options]="billToContacts"
              display="displayName" label="Billing Contact Person" class="col-md"></a-mat-select>
            <button mat-mini-fab color="accent" [disabled]="!invoice.BillToCustomer || !invoice.CanWritePurchaseInvoiceItems" type="button"
              (click)="addBillToContactPerson = !addBillToContactPerson">
              <mat-icon *ngIf="!addBillToContactPerson">add</mat-icon>
              <mat-icon *ngIf="addBillToContactPerson">close</mat-icon>
            </button>
          </div>
        </div>

        <mat-card *ngIf="invoice.BillToCustomer && addBillToContactPerson" class="row" style="margin: 1rem">
          <mat-card-header>Add a new person</mat-card-header>
          <mat-card-content>
            <person-inline (cancelled)="billToContactPersonCancelled($event); addBillToContactPerson = false" (saved)="billToContactPersonAdded($event); addBillToContactPerson = false">
            </person-inline>
          </mat-card-content>
        </mat-card>

        <div class="row">
          <a-mat-autocomplete *ngIf="showShipToEndCustomerOrganisations" [object]="invoice" [roleType]="m.PurchaseInvoice.ShipToEndCustomer"
            [filter]="stateService.organisationsFilter.create(scope)" display="Name" (onChange)="shipToEndCustomerSelected($event)"
            label="Ship to end customer"></a-mat-autocomplete>
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select  [object]="invoice" [roleType]="m.PurchaseInvoice.ShipToEndCustomerAddress" [options]="shipToEndCustomerAddresses"
              display="displayName" class="col-md"></a-mat-select>
            <button mat-mini-fab color="accent" [disabled]="!invoice.ShipToEndCustomer || !invoice.CanWritePurchaseInvoiceItems" type="button"
              (click)="addShipToEndCustomerAddress = !addShipToEndCustomerAddress">
              <mat-icon *ngIf="!addShipToEndCustomerAddress">add</mat-icon>
              <mat-icon *ngIf="addShipToEndCustomerAddress">close</mat-icon>
            </button>
          </div>
        </div>

        <mat-card *ngIf="invoice.ShipToEndCustomer && addShipToEndCustomerAddress" class="row" style="margin: 1rem">
          <mat-card-header>Add a new contact mechanism</mat-card-header>
          <mat-card-content>
            <party-contactmechanism-postaladdress [scope]="scope" (saved)="shipToEndCustomerAddressAdded($event)" (cancelled)="shipToEndCustomerAddressCancelled()">
            </party-contactmechanism-postaladdress>
          </mat-card-content>
        </mat-card>

        <div class="row">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select  [object]="invoice" [roleType]="m.PurchaseInvoice.ShipToEndCustomerContactPerson" [options]="shipToEndCustomerContacts"
              display="displayName" label="Schipping Contact Person" class="col-md"></a-mat-select>
            <button mat-mini-fab color="accent" [disabled]="!invoice.ShipToEndCustomer || !invoice.CanWritePurchaseInvoiceItems" type="button"
              (click)="addShipToEndCustomerContactPerson = !addShipToEndCustomerContactPerson">
              <mat-icon *ngIf="!addShipToEndCustomerContactPerson">add</mat-icon>
              <mat-icon *ngIf="addShipToEndCustomerContactPerson">close</mat-icon>
            </button>
          </div>
        </div>

        <mat-card *ngIf="invoice.ShipToEndCustomer && addShipToEndCustomerContactPerson" class="row" style="margin: 1rem">
          <mat-card-header>Add a new contact mechanism</mat-card-header>
          <mat-card-content>
            <person-inline (cancelled)="shipToEndCustomerContactPersonCancelled($event); addshipToEndCustomerContactPerson = false" (saved)="shipToEndCustomerContactPersonAdded($event); addshipToEndCustomerContactPerson = false">
            </person-inline>
          </mat-card-content>
        </mat-card>

        <div class="row">
          <a-mat-select [object]="invoice" [roleType]="m.PurchaseInvoice.VatRegime" [options]="vatRegimes" display="Name" class="col-md"></a-mat-select>
          <a-mat-static [object]="invoice.VatRegime" [roleType]="m.VatRegime.VatRate" display="Rate"></a-mat-static>
        </div>

        <div class="row">
          <a-mat-input [object]="invoice" [roleType]="m.PurchaseInvoice.Description" class="col-md"></a-mat-input>
          <a-mat-input [object]="invoice" [roleType]="m.PurchaseInvoice.CustomerReference" class="col-md"></a-mat-input>
        </div>

        <div class="row">
          <a-mat-static *ngIf="order?.Comment" [object]="order" [roleType]="m.PurchaseOrder.Comment"></a-mat-static>
          <a-mat-textarea [object]="invoice" [roleType]="m.PurchaseInvoice.Comment" class="col-md-12"></a-mat-textarea>
          <a-mat-static *ngIf="order?.InternalComment" [object]="order" [roleType]="m.PurchaseOrder.InternalComment"></a-mat-static>
          <a-mat-textarea [object]="invoice" [roleType]="m.PurchaseInvoice.InternalComment" class="col-md-12"></a-mat-textarea>
          <a-mat-textarea [object]="invoice" [roleType]="m.PurchaseInvoice.Message" class="col-md-12"></a-mat-textarea>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button *ngIf="invoice.CanExecuteApprove" mat-button type="button" (click)="approve()">Approve</button>
        <button *ngIf="invoice.CanExecuteCancelInvoice" mat-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="invoice.CanExecuteFinish" mat-button type="button" (click)="finish(invoice)">Finish</button>
      </mat-card-actions>

    </mat-card>

  </div>

  <mat-toolbar  >
    <span class="col"></span>
    <button *ngIf="invoice.CanWritePurchaseInvoiceItems" mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
    <button *ngIf="invoice.CanWritePurchaseInvoiceItems" mat-button (click)="goBack()" type="button">CANCEL</button>
    <button *ngIf="!invoice.CanWritePurchaseInvoiceItems" mat-button (click)="goBack()" type="button">DONE</button>
  </mat-toolbar>

</form>