<form class="a-edit" #form="ngForm" (submit)="save()" novalidate>

  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
      <span class="col"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="invoice">
      <mat-card-content class="container-fluid">

        <div class="row" *ngIf="!invoice.isNew">
          <a-mat-static class="col-md" [object]="invoice" [roleType]="m.PurchaseInvoice.PurchaseInvoiceState" display="Name" label="Status"></a-mat-static>
          <a-mat-static class="col-md" [object]="invoice" [roleType]="m.PurchaseInvoice.PurchaseOrder"></a-mat-static>
        </div>

        <div class="row">
          <a-mat-autocomplete class="col-md" [object]="invoice" [roleType]="m.PurchaseInvoice.BilledFrom" [filter]="stateService.organisationsFilter.create(scope)" display="Name" (onChange)="billedFromSelected($event)" label="Billed from"></a-mat-autocomplete>

          <div class="col-md">
            <div class="row">
              <a-mat-select class="col" [object]="invoice" [roleType]="m.PurchaseInvoice.BilledFromContactPerson" [options]="billedFromContacts" display="displayName" label="Billed from Contact Person" class="col-md"></a-mat-select>
              <button mat-mini-fab color="accent" [disabled]="!invoice.BilledFrom || !invoice.CanWritePurchaseInvoiceItems" type="button" (click)="addBilledFromContactPerson = !addBilledFromContactPerson">
                <mat-icon *ngIf="!addBilledFromContactPerson">add</mat-icon>
                <mat-icon *ngIf="addBilledFromContactPerson">close</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-md-12" *ngIf="invoice.BilledFrom && addBilledFromContactPerson">
            <mat-card>
              <mat-card-header>Add a new person</mat-card-header>
              <mat-card-content>
                <person-inline (cancelled)="billedFromContactPersonCancelled($event); addBilledFromContactPerson = false" (saved)="billedFromContactPersonAdded($event); addBilledFromContactPerson = false">
                </person-inline>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div class="row">
          <a-mat-select class="col-md" [object]="invoice" [roleType]="m.PurchaseInvoice.PurchaseInvoiceType" [options]="purchaseInvoiceTypes" display="Name"></a-mat-select>
          <a-mat-autocomplete class="col-md" *ngIf="showBillToOrganisations" [object]="invoice" [roleType]="m.PurchaseInvoice.BillToCustomer" [filter]="stateService.organisationsFilter.create(scope)" display="Name" (onChange)="billToCustomerSelected($event)" label="Bill to End Customer"></a-mat-autocomplete>
        </div>

        <div class="row">
          <div class="col-md">
            <div class="row">
              <a-mat-select class="col" [object]="invoice" [roleType]="m.PurchaseInvoice.BillToCustomerContactMechanism" [options]="billToContactMechanisms" display="displayName"></a-mat-select>
              <button mat-mini-fab color="accent" [disabled]="!invoice.BillToCustomer || !invoice.CanWritePurchaseInvoiceItems" type="button" (click)="addBillToContactMechanism = !addBillToContactMechanism">
                <mat-icon *ngIf="!addBillToContactMechanism">add</mat-icon>
                <mat-icon *ngIf="addBillToContactMechanism">close</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-md-12 pb-3" *ngIf="invoice.BillToCustomer && addBillToContactMechanism">
            <mat-card>
              <mat-card-header>Add a new contact mechanism</mat-card-header>
              <mat-card-content>
                <party-contactmechanism [scope]="scope" (saved)="billToContactMechanismAdded($event)" (cancelled)="billToContactMechanismCancelled()" label="Bill to End Customer ContactMechanism">
                </party-contactmechanism>
              </mat-card-content>
            </mat-card>
          </div>

          <div class="col-md">
            <div class="row">
              <a-mat-select class="col" [object]="invoice" [roleType]="m.PurchaseInvoice.BillToCustomerContactPerson" [options]="billToContacts" display="displayName" label="Billing Contact Person" class="col-md"></a-mat-select>
              <button mat-mini-fab color="accent" [disabled]="!invoice.BillToCustomer || !invoice.CanWritePurchaseInvoiceItems" type="button" (click)="addBillToContactPerson = !addBillToContactPerson">
                <mat-icon *ngIf="!addBillToContactPerson">add</mat-icon>
                <mat-icon *ngIf="addBillToContactPerson">close</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-md-12" *ngIf="invoice.BillToCustomer && addBillToContactPerson">
            <mat-card>
              <mat-card-header>Add a new person</mat-card-header>
              <mat-card-content>
                <person-inline (cancelled)="billToContactPersonCancelled($event); addBillToContactPerson = false" (saved)="billToContactPersonAdded($event); addBillToContactPerson = false">
                </person-inline>
              </mat-card-content>
            </mat-card>
          </div>
        </div>


        <div class="row">
          <a-mat-autocomplete class="col-md" *ngIf="showShipToEndCustomerOrganisations" [object]="invoice" [roleType]="m.PurchaseInvoice.ShipToEndCustomer" [filter]="stateService.organisationsFilter.create(scope)" display="Name" (onChange)="shipToEndCustomerSelected($event)" label="Ship to end customer"></a-mat-autocomplete>
          <div class="col-md">
            <div class="row">
              <a-mat-select class="col" [object]="invoice" [roleType]="m.PurchaseInvoice.ShipToEndCustomerAddress" [options]="shipToEndCustomerAddresses" display="displayName" class="col-md"></a-mat-select>
              <button mat-mini-fab color="accent" [disabled]="!invoice.ShipToEndCustomer || !invoice.CanWritePurchaseInvoiceItems" type="button" (click)="addShipToEndCustomerAddress = !addShipToEndCustomerAddress">
                <mat-icon *ngIf="!addShipToEndCustomerAddress">add</mat-icon>
                <mat-icon *ngIf="addShipToEndCustomerAddress">close</mat-icon>
              </button>
            </div>
          </div>
          <div class="row" *ngIf="invoice.ShipToEndCustomer && addShipToEndCustomerAddress">
            <mat-card>
              <mat-card-header>Add a new contact mechanism</mat-card-header>
              <mat-card-content>
                <party-contactmechanism-postaladdress [scope]="scope" (saved)="shipToEndCustomerAddressAdded($event)" (cancelled)="shipToEndCustomerAddressCancelled()">
                </party-contactmechanism-postaladdress>
              </mat-card-content>
            </mat-card>
          </div>
        </div>

        <div class="row">
          <div class="col-md">
            <div class="row">
              <a-mat-select class="col" [object]="invoice" [roleType]="m.PurchaseInvoice.ShipToEndCustomerContactPerson" [options]="shipToEndCustomerContacts" display="displayName" label="Schipping Contact Person"></a-mat-select>
              <button mat-mini-fab color="accent" [disabled]="!invoice.ShipToEndCustomer || !invoice.CanWritePurchaseInvoiceItems" type="button" (click)="addShipToEndCustomerContactPerson = !addShipToEndCustomerContactPerson">
                <mat-icon *ngIf="!addShipToEndCustomerContactPerson">add</mat-icon>
                <mat-icon *ngIf="addShipToEndCustomerContactPerson">close</mat-icon>
              </button>
            </div>
          </div>
          <div class="col-md-12" *ngIf="invoice.ShipToEndCustomer && addShipToEndCustomerContactPerson">
            <mat-card>
              <mat-card-header>Add a new contact mechanism</mat-card-header>
              <mat-card-content>
                <person-inline (cancelled)="shipToEndCustomerContactPersonCancelled($event); addshipToEndCustomerContactPerson = false" (saved)="shipToEndCustomerContactPersonAdded($event); addshipToEndCustomerContactPerson = false">
                </person-inline>
              </mat-card-content>
            </mat-card>
          </div>
        </div>


        <div class="row">
          <a-mat-select class="col-md" [object]="invoice" [roleType]="m.PurchaseInvoice.VatRegime" [options]="vatRegimes" display="Name"></a-mat-select>
          <a-mat-static class="col-md" [object]="invoice.VatRegime" [roleType]="m.VatRegime.VatRate" display="Rate"></a-mat-static>
        </div>

        <div class="row">
          <a-mat-textarea class="col-md" [object]="invoice" [roleType]="m.PurchaseInvoice.Description"></a-mat-textarea>
          <a-mat-input class="col-md" [object]="invoice" [roleType]="m.PurchaseInvoice.CustomerReference"></a-mat-input>
        </div>

        <div class="row">
          <a-mat-static class="col-md" *ngIf="order?.Comment" [object]="order" [roleType]="m.PurchaseOrder.Comment"></a-mat-static>
          <a-mat-textarea class="col-md-12" [object]="invoice" [roleType]="m.PurchaseInvoice.Comment"></a-mat-textarea>
          <a-mat-static class="col-md" *ngIf="order?.InternalComment" [object]="order" [roleType]="m.PurchaseOrder.InternalComment"></a-mat-static>
          <a-mat-textarea class="col-md-12" [object]="invoice" [roleType]="m.PurchaseInvoice.InternalComment"></a-mat-textarea>
          <a-mat-textarea class="col-md-12" [object]="invoice" [roleType]="m.PurchaseInvoice.Message"></a-mat-textarea>
        </div>
      </mat-card-content>

      <mat-card-actions>
        <button *ngIf="invoice.CanExecuteApprove" mat-button type="button" (click)="approve()">Approve</button>
        <button *ngIf="invoice.CanExecuteCancelInvoice" mat-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="invoice.CanExecuteFinish" mat-button type="button" (click)="finish(invoice)">Finish</button>
      </mat-card-actions>

    </mat-card>

  </div>

  <mat-toolbar class="a-footer">
    <mat-toolbar-row class="row">
      <span class="col"></span>
      <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>
