<div fxLayout="column" style="height: 100vh; min-height: 100vh">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span>{{title}}</span>
      <span fxFlex></span>
      <internalorganisation-select></internalorganisation-select>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card fxFlex fxLayout="column" fxLayoutAlign="start stretch">

      <form novalidate [formGroup]="searchForm">

        <mat-card-content fxLayout="row wrap" fxLayoutGap="1rem">
          <mat-form-field fxFlex fxFill *ngIf="!advancedSearch" appearance="outline">
            <mat-label>Search by Supplier</mat-label>
            <input matInput autocomplete="off" formControlName="supplier">
            <a matSuffix mat-icon-button (click)="advancedSearch = !advancedSearch" title="Advanced Search">
              <mat-icon>expand_more</mat-icon>
            </a>
          </mat-form-field>

          <mat-form-field fxFlex="1 2 calc(15em)" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Search by Supplier</mat-label>
            <input matInput formControlName="supplier">
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>From Internal Organisation</mat-label>
            <mat-select formControlName="internalOrganisation" name="internalOrganisation" [(ngModel)]="selectedInternalOrganisation">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let internalOrganisation of internalOrganisations" [value]="internalOrganisation.PartyName">{{ internalOrganisation.PartyName }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Invoice Number</mat-label>
            <input matInput formControlName="invoiceNumber">
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Customer Reference</mat-label>
            <input matInput formControlName="reference">
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>State</mat-label>
            <mat-select formControlName="state" name="state" [(ngModel)]="selectedPurchaseInvoiceState">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let objectState of purchaseInvoiceStates" [value]="objectState.Name">{{ objectState.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div fxFlex="none" *ngIf="advancedSearch">
            <a mat-icon-button (click)="searchForm.reset(); advancedSearch = !advancedSearch;" title="Reset Search">
              <mat-icon>close</mat-icon>
            </a>
          </div>

        </mat-card-content>
      </form>

      <mat-list fxFlex style="overflow: auto;">
        <div *ngIf="data && data.length === 0">
          <h3>No purchase invoices to display.</h3>
        </div>

        <ng-template let-invoice let-last="last" ngFor [ngForOf]="data">
          <mat-list-item fxLayout="column" fxLayoutAlign="start stretch" (click)="router.navigate(['/accountspayable/invoice/', invoice.id])"
            style="cursor: pointer;">

            <h3 mat-line>From: {{invoice.BilledFrom.displayName}}</h3>
            <h3 *ngIf="invoice.BillToCustomer" mat-line>To: {{invoice.BillToCustomer.displayName}}</h3>
            <h4 mat-line>number: {{invoice.InvoiceNumber }} reference: {{invoice.CustomerReference}} ({{invoice.PurchaseInvoiceState.Name}})</h4>
            <h4 mat-line>{{invoice.Description}}</h4>
            <p mat-line> last modified: {{ invoice.LastModifiedDate | date : shortDate }} </p>

            <div (click)="$event.stopPropagation()">
              <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a [routerLink]="['/accountspayable/invoice/' + invoice.id ]" mat-menu-item>Details</a>
                <a [routerLink]="['/printinvoice/' + invoice.id ]" mat-menu-item>Print</a>
              </mat-menu>
            </div>

            <mat-divider *ngIf="!last" mat-inset></mat-divider>
          </mat-list-item>
        </ng-template>
      </mat-list>
    </mat-card>
  </div>

  <mat-toolbar fxLayout="row">
    <span fxFlex></span>
    <a mat-raised-button [routerLink]="['/purchaseinvoice']">
      Add New
    </a>
  </mat-toolbar>

</div>