<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>

  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target xsi:type="File" name="f" fileName="/logs/core/excel/${shortdate}.log" layout="${longdate} ${uppercase:${level}} ${message}" />
    </targets>
    <rules>
      <logger name="*" minlevel="Debug" writeTo="f" />
    </rules>
  </nlog>

  <appSettings>
    <add key="allors.database.address" value="http://localhost:5000/allors/" />
    <add key="allors.authentication.token.url" value="TestAuthentication/Token" />
    <add key="environment" value="dev" />
    <add key="autologin" value="jane@example.com" />
  </appSettings>

</configuration>
