<form #form="ngForm"  (submit)="save()">
  <mat-toolbar>
    <mat-toolbar-row >
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="category"    style="overflow: auto;">

      <div class="row">
        <a-mat-file [object]="category" [roleType]="m.ProductCategory.CategoryImage" accept="image/*" class="col-md-12"></a-mat-file>
      </div>

      <div class="row">
        <a-mat-input [object]="category" [roleType]="m.ProductCategory.Name" class="col-md"></a-mat-input>
        <a-mat-select [object]="category" [roleType]="m.ProductCategory.CatScope" [options]="catScopes" display="Name" label="Scope" class="col-md"></a-mat-select>
      </div>

      <div class="row">
        <a-mat-select [object]="category" [roleType]="m.ProductCategory.Parents" [options]="categories" display="Name" class="col-md"></a-mat-select>
        <a-mat-input [object]="category" [roleType]="m.ProductCategory.Description" class="col-md"></a-mat-input>
      </div>

      <mat-expansion-panel *ngIf="locales" class="row">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Translations
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let locale of locales; let i = index">
          <mat-divider *ngIf="i > 0"></mat-divider>
          <div class="row">
            <a-mat-localised-text [object]="category" [roleType]="m.ProductCategory.LocalisedNames" [locale]="locale"></a-mat-localised-text>
            <a-mat-localised-text [object]="category" [roleType]="m.ProductCategory.LocalisedDescriptions" [locale]="locale"></a-mat-localised-text>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-card>
  </div>

  <mat-toolbar  >
    <span class="col"></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>