<form #form="ngForm" fxLayout="column" style="height: 100vh; min-height: 100vh" (submit)="save()">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch" style="padding: 20px;">

    <mat-card *ngIf="category" fxFlex fxLayout="column" fxLayoutAlign="start stretch" style="overflow: auto;">

      <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
        <a-mat-file [object]="category" [roleType]="m.ProductCategory.CategoryImage" accept="image/*"></a-mat-file>
      </div>

      <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
        <a-mat-input [object]="category" [roleType]="m.ProductCategory.Name"></a-mat-input>
        <a-mat-select [object]="category" [roleType]="m.ProductCategory.CatScope" [options]="catScopes" display="Name" label="Scope"></a-mat-select>
      </div>

      <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
        <a-mat-select [object]="category" [roleType]="m.ProductCategory.Parents" [options]="categories" display="Name"></a-mat-select>
        <a-mat-input [object]="category" [roleType]="m.ProductCategory.Description"></a-mat-input>
      </div>

      <mat-expansion-panel *ngIf="locales" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
        <mat-expansion-panel-header>
          <mat-panel-title>
            Translations
          </mat-panel-title>
        </mat-expansion-panel-header>

        <div *ngFor="let locale of locales; let i = index">
          <mat-divider *ngIf="i > 0"></mat-divider>
          <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
            <a-mat-localised-text [object]="category" [roleType]="m.ProductCategory.LocalisedNames" [locale]="locale"></a-mat-localised-text>
            <a-mat-localised-text [object]="category" [roleType]="m.ProductCategory.LocalisedDescriptions" [locale]="locale"></a-mat-localised-text>
          </div>
        </div>
      </mat-expansion-panel>
    </mat-card>
  </div>

  <mat-toolbar fxLayout="row" fxLayoutGap="1rem">
    <span fxFlex></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>