<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button >
          <mat-icon>arrow_back</mat-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button mat-icon-button><mat-icon>settings</mat-icon></button>
  </div>
</mat-toolbar>


<mat-card>
  <div class="pad-top-xs pad-left pad-right">
    <form novalidate [formGroup]="searchForm">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
        <mat-icon matSuffix>search</mat-icon>
      </mat-form-field>
    </form>
  </div>

  <mat-divider></mat-divider>
  
    <mat-list class="will-load">
      <div class="mat-padding" *ngIf="data && data.length === 0" layout="row" layout-align="center center">
        <h3>No categories to display.</h3>
      </div>
      <ng-template let-category let-last="last" ngFor [ngForOf]="data">
        <mat-list-item>
          <mat-icon *ngIf="!category.CategoryImage" mat-list-avatar>photo_camera</mat-icon>
          <img *ngIf="category.CategoryImage" mat-list-avatar [src]="mediaService.url(category.CategoryImage)"
          />

          <h3 mat-line [routerLink]="'/category/' + [category.id]"> {{category.Name}}</h3>
          <p mat-line> {{category.Description}} </p>

          <span>
            <button mat-icon-button [mat-menu-trigger-for]="menu">
            <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu x-position="before" #menu="matMenu">
            <a [routerLink]="'/category/' + [category.id]" mat-menu-item>Edit</a>
            <button mat-menu-item (click)="delete(category)">Delete</button>
            </mat-menu>
          </span>
        </mat-list-item>
        <mat-divider *ngIf="!last" mat-inset></mat-divider>
      </ng-template>
    </mat-list>
</mat-card>

<mat-card body *ngIf="this.data && this.data.length !== total">
  <mat-card-content>
    <button mat-button (click)="more()">More</button> {{this.data?.length}}/{{total}}
  </mat-card-content>
</mat-card>

<a mat-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['/category']">
  <mat-icon>add</mat-icon>
</a>
