<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" class="pad" *ngIf="category" (submit)="save()">

    <div body *ngIf="category">
      <div class="grid-2_md-1">
        <a-td-image class="col" [object]="category" [roleType]="m.ProductCategory.CategoryImage" accept="image/*"></a-td-image>
        <a-mat-select class="col" [object]="category" [roleType]="m.ProductCategory.CatScope" [options]="catScopes" display="Name"
          label="Scope"></a-mat-select>
      </div>

      <div class="grid-2_md-1">
        <a-mat-localised-text class="col" [object]="category" [roleType]="m.ProductCategory.LocalisedNames" [locales]="locales" label="Name"></a-mat-localised-text>
        <a-mat-localised-text class="col" [object]="category" [roleType]="m.ProductCategory.LocalisedDescriptions" [locales]="locales"
          label="Description"></a-mat-localised-text>
      </div>
    </div>

    <div class="grid-2_xs-1">
      <a-mat-select class="col" [object]="category" [roleType]="m.ProductCategory.Parents" [options]="categories" display="Name"></a-mat-select>
    </div>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button mat-button (click)="goBack()" type="button">CANCEL</button>
    </mat-card-actions>
  </form>
</td-layout-card-over>