@inject AuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView Context="AuthorizeContext">
    <Authorized>
        <button @onclick="LogOut"></button>
    </Authorized>
    <NotAuthorized>
        <a Link="/account/login"></a>
    </NotAuthorized>
</AuthorizeView>

@code {

    void LogOut()
    {
        if (this.AuthenticationStateProvider is AllorsAuthenticationStateProvider allorsAuthenticationStateProvider)
        {
            allorsAuthenticationStateProvider.LogOut();
        }
    }
}
