
  <form #form="ngForm" *ngIf="requestItem" (submit)="save()">

    <div>
      <div  *ngIf="!requestItem.isNew">
        <div>
          <a-mat-static [object]="requestItem" [roleType]="m.RequestItem.RequestItemState" display="Name" label="Status"></a-mat-static>
          <div>
            <button *ngIf="requestItem.CanExecuteCancel" mat-button type="button" (click)="cancel()">Cancel</button>
          </div>
        </div>
      </div>

      <div>
        <a-mat-autocomplete  [object]="requestItem" [roleType]="m.RequestItem.Product" [options]="goods" display="Name"
          [filter]="stateService.goodsFilter.create(scope)" (onChange)="goodSelected($event)"></a-mat-autocomplete>
        <a-mat-datepicker  [object]="requestItem" [roleType]="m.RequestItem.RequiredByDate"></a-mat-datepicker>
      </div>

      <div>
        <a-mat-input  [object]="requestItem" [roleType]="m.RequestItem.Quantity"></a-mat-input>
        <a-mat-select  [object]="requestItem" [roleType]="m.RequestItem.UnitOfMeasure" [options]="unitsOfMeasure" display="Name"></a-mat-select>
        <a-mat-static  [object]="serialisedInventoryItem" [roleType]="m.SerialisedInventoryItem.ExpectedSalesPrice"></a-mat-static>
        <a-mat-input  [object]="requestItem" [roleType]="m.RequestItem.MaximumAllowedPrice"></a-mat-input>
      </div>

      <div>
        <a-mat-textarea  [object]="requestItem" [roleType]="m.RequestItem.Comment"></a-mat-textarea>
      </div>
      <div>
        <a-mat-textarea  [object]="requestItem" [roleType]="m.RequestItem.InternalComment"></a-mat-textarea>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button *ngIf="requestItem.CanWriteQuantity" mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button *ngIf="requestItem.CanWriteQuantity" mat-button (click)="goBack()" type="button">CANCEL</button>
      <button *ngIf="!requestItem.CanWriteQuantity" mat-button (click)="goBack()" type="button">DONE</button>
    </mat-card-actions>

  </form>
