<div fxLayout="column" style="height: 100vh; min-height: 100vh">
  <mat-toolbar fxFlex>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch" style="padding: 20px;">

    <mat-card fxFlex fxLayout="column" fxLayoutAlign="start stretch">

      <form novalidate [formGroup]="searchForm">

        <mat-card-content fxLayout="row wrap" fxLayoutGap="1rem">
          <mat-form-field fxFlex fxFill *ngIf="!advancedSearch" appearance="outline">
            <mat-label>Search by Name</mat-label>
            <input matInput autocomplete="off" formControlName="name">
            <a matSuffix mat-icon-button (click)="advancedSearch = !advancedSearch" title="Advanced Search">
              <mat-icon>expand_more</mat-icon>
            </a>
          </mat-form-field>

          <mat-form-field fxFlex="1 2 calc(15em)" *ngIf="advancedSearch" appearance="outline">
            <mat-label>Search by Name</mat-label>
            <input matInput formControlName="name">
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Article Nr</mat-label>
            <input matInput formControlName="articleNumber">
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Keyword</mat-label>
            <input matInput formControlName="keyword">
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Owner</mat-label>
            <mat-select formControlName="owner" name="owner" [(ngModel)]="selectedOwner">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let owner of owners" [value]="owner.Name">{{ owner.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Ownership</mat-label>
            <mat-select formControlName="ownership" name="ownership" [(ngModel)]="selectedOwnership">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let ownership of ownerships" [value]="ownership.Name">{{ ownership.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Brand</mat-label>
            <mat-select formControlName="brand" name="brand" [(ngModel)]="selectedBrand">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let brand of brands" [value]="brand.Name">{{ brand.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Model</mat-label>
            <mat-select formControlName="model" name="model" [(ngModel)]="selectedModel">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let model of models" [value]="model.Name">{{ model.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Category</mat-label>
            <mat-select formControlName="productCategory" name="productCategory" [(ngModel)]="selectedProductCategory">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let productCategory of productCategories" [value]="productCategory.Name">{{ productCategory.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Product Type</mat-label>
            <mat-select formControlName="productType" name="productType" [(ngModel)]="selectedProductType">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let productType of productTypes" [value]="productType.Name">{{ productType.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Inventory Kind</mat-label>
            <mat-select formControlName="inventoryItemKind" name="inventoryItemKind" [(ngModel)]="selectedInventoryItemKind">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let inventoryItemKind of inventoryItemKinds" [value]="inventoryItemKind.Name">{{ inventoryItemKind.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Manufacturer</mat-label>
            <mat-select formControlName="manufacturer" name="manufacturer" [(ngModel)]="selectedManufacturer">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.Name">{{ manufacturer.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>Supplier</mat-label>
            <mat-select formControlName="supplier" name="supplier" [(ngModel)]="selectedSupplier">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let supplier of suppliers" [value]="supplier.Name">{{ supplier.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field *ngIf="advancedSearch" fxFlex="1 2 calc(15em)" appearance="outline">
            <mat-label>State</mat-label>
            <mat-select formControlName="state" name="state" [(ngModel)]="selectedSerialisedInventoryItemState">
              <mat-option>None</mat-option>
              <mat-option *ngFor="let objectState of serialisedInventoryItemStates" [value]="objectState.Name">{{ objectState.Name }}</mat-option>
            </mat-select>
          </mat-form-field>

          <div fxFlex="none" *ngIf="advancedSearch">
            <a mat-icon-button (click)="searchForm.reset(); advancedSearch = !advancedSearch;" title="Reset Search">
              <mat-icon>close</mat-icon>
            </a>
          </div>

        </mat-card-content>
      </form>

      <mat-list fxFlex style="overflow: auto;">
        <div *ngIf="data && data.length === 0">
          <h3>No products to display.</h3>
        </div>

        <ng-template let-row let-last="last" ngFor [ngForOf]="rows">
          <mat-list-item fxLayout="column" fxLayoutAlign="start stretch" style="cursor: pointer;">

            <mat-icon fxHide fxShow.gt-sm *ngIf="!row.avatar" mat-list-avatar>insert_photo</mat-icon>
            <img fxHide fxShow.gt-sm *ngIf="row.avatar" mat-list-avatar [src]="mediaService.url(row.logo)" />

            <h3 *ngIf="row.isSerialised" mat-line [routerLink]="'/serialisedGood/' + [row.good.id]">{{row.name}}</h3>
            <h3 *ngIf="!row.isSerialised" mat-line [routerLink]="'/nonSerialisedGood/' + [row.good.id]">{{row.name}}</h3>
            <p mat-line>{{row.description}} <span *ngIf="row.nonSerialisedInventoryItem">; Available: {{row.available}}</span></p>

            <div (click)="$event.stopPropagation()">
              <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a *ngIf="row.isSerialised" [routerLink]="'/serialisedGood/' + [row.good.id]" mat-menu-item>Edit</a>
                <a *ngIf="!row.isSerialised" [routerLink]="'/nonSerialisedGood/' + [row.good.id]" mat-menu-item>Edit</a>
                <button mat-menu-item (click)="delete(good)">Delete</button>
              </mat-menu>
            </div>

            <mat-divider *ngIf="!last" mat-inset></mat-divider>
          </mat-list-item>
        </ng-template>
      </mat-list>
    </mat-card>

  </div>

  <mat-toolbar fxFlex fxLayout="row">
    <span fxFlex></span>
    <a mat-raised-button (click)="addGood()">
      Add New
    </a>
  </mat-toolbar>

</div>
