<td-layout>
  <td-navigation-drawer flex sidenavTitle="Covalent" logo="assets:teradata" name="Firstname Lastname" email="firstname.lastname@company.com">
    <md-nav-list>
      <a *ngFor="let item of routes" md-list-item>
        <md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
    </md-nav-list>
    <div td-navigation-drawer-menu>
      <md-nav-list>
        <a *ngFor="let item of usermenu" md-list-item>
          <md-icon>{{item.icon}}</md-icon>{{item.title}}</a>
      </md-nav-list>
    </div>
  </td-navigation-drawer>

  <td-layout-nav-list #navList color="accent" [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'over'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '350px' : '100%'">

    <div td-sidenav-toolbar-content layout="row" layout-align="start center">
      <button md-icon-button tdLayoutToggle>
        <md-icon>menu</md-icon>
      </button>
      <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:teradata"></md-icon>
      <span [routerLink]="['/']" class="cursor-pointer">Covalent</span>
    </div>

    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <button md-icon-button tdLayoutNavListOpen [hideWhenOpened]="true">
        <md-icon>arrow_back</md-icon>
      </button>
      <span>Page Title</span>
      <span flex></span>
      <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank">
        <md-icon>chrome_reader_mode</md-icon>
      </a>
      <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank">
        <md-icon svgIcon="assets:github"></md-icon>
      </a>
    </div>

    <md-nav-list td-sidenav-content [tdLayoutNavListClose]="!media.query('gt-sm')">
      <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
        <a md-list-item [routerLink]="[item.route]">
          <md-icon md-list-avatar>{{item.icon}}</md-icon>
          <h3 md-line> {{item.title}} </h3>
          <p md-line> {{item.description}} </p>
        </a>
        <md-divider md-inset *ngIf="!last"></md-divider>
      </ng-template>
    </md-nav-list>

    <router-outlet></router-outlet>

    <td-layout-footer>
      <div layout="row" layout-align="start center">
        <span class="md-caption">Copyright &copy; 2017 Allors. All rights reserved</span>
      </div>
    </td-layout-footer>

  </td-layout-nav-list>
</td-layout>
