<a-td-layout-relation>

  <div toolbar1>
    <a md-icon-button mdTooltip="Docs" href="https://www.inxin.com/" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
  </div>

  <div toolbar2 layout="row" layout-align="start center" flex>
    <span>Dashboard</span>
    <span flex></span>
    <button md-icon-button><md-icon class="md-24">settings</md-icon></button>
  </div>

  <md-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']">
    <md-card-title>Blah Blah</md-card-title>
    <md-card-content>More Blah Blah</md-card-content>
  </md-card>

</a-td-layout-relation>
