<mat-form-field class="d-flex flex-column align-items-stretch" [attr.data-allors-id]="dataAllorsId" [attr.data-allors-roletype]="dataAllorsAssociationType">
  <input aFocus (blur)="inputBlur()" (focus)="inputFocus()" [aFocusTrigger]="associationType" [matAutocomplete]="autocomplete" [formControl]="searchControl" type="text" autocomplete="off" matInput [placeholder]="label">
  <mat-hint *ngIf="hint">{{hint}}</mat-hint>

  <button type="button" mat-button *ngIf="model" matSuffix mat-icon-button aria-label="Clear" (click)="clear($event)">
      <mat-icon>close</mat-icon>
  </button>

  <mat-autocomplete #autocomplete="matAutocomplete" [displayWith]="displayFn()" (optionSelected)="optionSelected($event)">
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option" [attr.data-allors-option-display]="option[display]">
      {{option[this.display]}}
    </mat-option>
  </mat-autocomplete>
</mat-form-field>