<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li>
                <a ui-sref="home">Home</a>
            </li>
            <li>
                <a ui-sref="relation.organisations">Organisations</a>
            </li>
            <li class="active">
                <strong>Edit Organisation</strong>
            </li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading clearfix">
                <div class="pull-right">
                    <button class="btn btn-default btn-xs" ng-click="vm.refresh()">
                        <i class="fa fa-refresh"></i>
                    </button>
                </div>

                <h3 class="panel-title">
                    Edit Organisation
                </h3>
            </div>
            <div class="panel-body">
                <!-- ReSharper disable Html.TagNotResolved -->
                <b-form horizontal="true">
                    <b-labeled-text object="vm.organisation" relation="Name"></b-labeled-text>
                    <b-labeled-select object="vm.organisation" relation="Owner" display="FirstName" lookup="vm.personTypeAhead(criteria)"></b-labeled-select>
                    <b-labeled-select object="vm.organisation" relation="Employees" display="FirstName" lookup="vm.personTypeAhead(criteria)"></b-labeled-select>
                    <b-labeled-select object="vm.organisation" relation="CycleOne" display="FirstName" options="vm.people"></b-labeled-select>
                    <b-labeled-select object="vm.organisation" relation="CycleMany" display="FirstName" options="vm.people"></b-labeled-select>
                    <hr/>
                    <h4>Selections</h4>
                    <b-select-one model="vm.selectedPerson" display="FirstName" lookup="vm.personTypeAhead(criteria)"></b-select-one>
                    <div>Selected (One): {{vm.selectedPerson.displayName}}</div>
                    <b-select-many model="vm.selectedPersons" display="FirstName" lookup="vm.personTypeAhead(criteria)"></b-select-many>
                    <div>Selected (Many): <ul><li ng-repeat="person in vm.selectedPersons">{{person.displayName}}</li></ul></div>
                </b-form>
            </div>

            <div class="panel-footer clearfix">
                <div class="pull-right">
                    <input id="cancel" type="button" class="btn btn-danger btn-sm" value="Cancel" ng-click="vm.cancel()" />
                    <input ng-disabled="!vm.hasChanges" id="save" type="button" class="btn btn-primary btn-sm" value="Save changes" ng-click="vm.save()" />
                </div>
            </div>
        </div>
    </div>

</div>
