<form #form="ngForm" fxLayout="column" style="height: 100vh; min-height: 100vh" (submit)="save()">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch" style="padding: 20px;">

    <mat-card *ngIf="request" fxFlex fxLayout="column" fxLayoutAlign="start stretch">

      <mat-card-content fxFlex fxFill style="overflow: auto;">
        <div *ngIf="!request.isNew" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
          <a-mat-static [object]="request" [roleType]="m.Request.RequestState" display="Name" label="Status"></a-mat-static>
        </div>

        <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
          <a-mat-autocomplete [object]="request" [roleType]="m.Request.Originator" [filter]="stateService.customersFilter.create(scope)"
            display="Name" (onChange)="originatorSelected($event)" label="Requesting organisation"></a-mat-autocomplete>
        </div>

        <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select fxFlex [object]="request" [roleType]="m.Request.FullfillContactMechanism" [options]="contactMechanisms" display="displayName"
              label="Reply to"></a-mat-select>
            <button mat-mini-fab color="accent" [disabled]="!request.Originator || !request.CanWriteRequestItems" type="button" (click)="addContactMechanism = !addContactMechanism">
              <mat-icon *ngIf="!addContactMechanism">add</mat-icon>
              <mat-icon *ngIf="addContactMechanism">close</mat-icon>
            </button>
          </div>
        </div>

        <mat-card *ngIf="request.Originator && addContactMechanism" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x"
          style="margin: 1rem">
          <mat-card-header>Add a new contact mechanism</mat-card-header>
          <mat-card-content>
            <party-contactmechanism [scope]="scope" (saved)="partyContactMechanismAdded($event)" (cancelled)="partyContactMechanismCancelled()">
            </party-contactmechanism>
          </mat-card-content>
        </mat-card>

        <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select fxFlex [object]="request" [roleType]="m.Request.ContactPerson" [options]="contacts" display="displayName"></a-mat-select>
            <button mat-mini-fab color="accent" [disabled]="!request.Originator || !request.CanWriteRequestItems" type="button" (click)="addContactPerson = !addContactPerson">
              <mat-icon *ngIf="!addContactPerson">add</mat-icon>
              <mat-icon *ngIf="addContactPerson">close</mat-icon>
            </button>
          </div>
        </div>

        <mat-card *ngIf="request.Originator && addContactPerson" [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x"
          style="margin: 1rem">
          <mat-card-header>Add a new contact person</mat-card-header>
          <mat-card-content>
              <person-inline (cancelled)="personCancelled($event); addContactPerson = false" (saved)="personAdded($event); addContactPerson = false">
                </person-inline>
          </mat-card-content>
        </mat-card>

        <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
          <a-mat-static *ngIf="request.EmailAddress" [object]="request" [roleType]="m.Request.EmailAddress"></a-mat-static>
          <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
            <a-mat-static *ngIf="request.TelephoneCountryCode" [object]="request" [roleType]="m.Request.TelephoneCountryCode" label="Country code"></a-mat-static>
            <a-mat-static *ngIf="request.TelephoneNumber" [object]="request" [roleType]="m.Request.TelephoneNumber"></a-mat-static>
          </div>
        </div>

        <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns2x">
          <a-mat-datepicker [object]="request" [roleType]="m.Request.RequestDate"></a-mat-datepicker>
          <a-mat-datepicker [object]="request" [roleType]="m.Request.RequiredResponseDate"></a-mat-datepicker>
        </div>

        <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
          <a-mat-input [object]="request" [roleType]="m.Request.Description"></a-mat-input>
          <a-mat-textarea [object]="request" [roleType]="m.Request.Comment"></a-mat-textarea>
          <a-mat-textarea [object]="request" [roleType]="m.Request.InternalComment"></a-mat-textarea>
        </div>

      </mat-card-content>

      <mat-card-actions>
        <button *ngIf="request.CanExecuteSubmit" mat-button type="button" (click)="submit()">Submit</button>
        <button *ngIf="request.CanExecuteCancel" mat-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="request.CanExecuteHold" mat-button type="button" (click)="hold()">Pending Customer</button>
        <button *ngIf="request.CanExecuteReject" mat-button type="button" (click)="reject()">Reject</button>
      </mat-card-actions>

    </mat-card>
  </div>

  <mat-toolbar fxLayout="row" fxLayoutGap="1rem">
    <span fxFlex></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>