<form #form="ngForm"  (submit)="save()">
  <mat-toolbar>
    <mat-toolbar-row >
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="request"  fxLayout="column" fxLayoutAlign="start stretch">

      <mat-card-content  style="overflow: auto;">
        <div *ngIf="!request.isNew" class="row">
          <a-mat-static [object]="request" [roleType]="m.Request.RequestState" display="Name" label="Status"></a-mat-static>
        </div>

        <div class="row">
          <a-mat-autocomplete [object]="request" [roleType]="m.Request.Originator" [filter]="stateService.customersFilter.create(scope)"
            display="Name" (onChange)="originatorSelected($event)" label="Requesting organisation"></a-mat-autocomplete>
        </div>

        <div class="row">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select  [object]="request" [roleType]="m.Request.FullfillContactMechanism" [options]="contactMechanisms" display="displayName"
              label="Reply to" class="col-md"></a-mat-select>
            <button mat-mini-fab color="accent" [disabled]="!request.Originator || !request.CanWriteRequestItems" type="button" (click)="addContactMechanism = !addContactMechanism">
              <mat-icon *ngIf="!addContactMechanism">add</mat-icon>
              <mat-icon *ngIf="addContactMechanism">close</mat-icon>
            </button>
          </div>
        </div>

        <mat-card *ngIf="request.Originator && addContactMechanism" class="row"
          style="margin: 1rem">
          <mat-card-header>Add a new contact mechanism</mat-card-header>
          <mat-card-content>
            <party-contactmechanism [scope]="scope" (saved)="partyContactMechanismAdded($event)" (cancelled)="partyContactMechanismCancelled()">
            </party-contactmechanism>
          </mat-card-content>
        </mat-card>

        <div class="row">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select  [object]="request" [roleType]="m.Request.ContactPerson" [options]="contacts" display="displayName" class="col-md"></a-mat-select>
            <button mat-mini-fab color="accent" [disabled]="!request.Originator || !request.CanWriteRequestItems" type="button" (click)="addContactPerson = !addContactPerson">
              <mat-icon *ngIf="!addContactPerson">add</mat-icon>
              <mat-icon *ngIf="addContactPerson">close</mat-icon>
            </button>
          </div>
        </div>

        <mat-card *ngIf="request.Originator && addContactPerson" class="row"
          style="margin: 1rem">
          <mat-card-header>Add a new contact person</mat-card-header>
          <mat-card-content>
              <person-inline (cancelled)="personCancelled($event); addContactPerson = false" (saved)="personAdded($event); addContactPerson = false">
                </person-inline>
          </mat-card-content>
        </mat-card>

        <div class="row">
          <a-mat-static *ngIf="request.EmailAddress" [object]="request" [roleType]="m.Request.EmailAddress"></a-mat-static>
          <div class="row">
            <a-mat-static *ngIf="request.TelephoneCountryCode" [object]="request" [roleType]="m.Request.TelephoneCountryCode" label="Country code"></a-mat-static>
            <a-mat-static *ngIf="request.TelephoneNumber" [object]="request" [roleType]="m.Request.TelephoneNumber"></a-mat-static>
          </div>
        </div>

        <div class="row">
          <a-mat-datepicker [object]="request" [roleType]="m.Request.RequestDate"></a-mat-datepicker>
          <a-mat-datepicker [object]="request" [roleType]="m.Request.RequiredResponseDate"></a-mat-datepicker>
        </div>

        <div class="row">
          <a-mat-input [object]="request" [roleType]="m.Request.Description" class="col-md"></a-mat-input>
          <a-mat-textarea [object]="request" [roleType]="m.Request.Comment" class="col-md-12"></a-mat-textarea>
          <a-mat-textarea [object]="request" [roleType]="m.Request.InternalComment" class="col-md-12"></a-mat-textarea>
        </div>

      </mat-card-content>

      <mat-card-actions>
        <button *ngIf="request.CanExecuteSubmit" mat-button type="button" (click)="submit()">Submit</button>
        <button *ngIf="request.CanExecuteCancel" mat-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="request.CanExecuteHold" mat-button type="button" (click)="hold()">Pending Customer</button>
        <button *ngIf="request.CanExecuteReject" mat-button type="button" (click)="reject()">Reject</button>
      </mat-card-actions>

    </mat-card>
  </div>

  <mat-toolbar  >
    <span class="col"></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>