<md-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
          <md-icon>arrow_back</md-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button md-icon-button><md-icon>settings</md-icon></button>
  </div>
</md-toolbar>

<div body *ngIf="request" layout-gt-md="row">
  <div flex-gt-xs="50">
    <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <md-card-title>Request for Quote</md-card-title>
      <md-divider></md-divider>
      <md-card-content>

        <div layout="row">
          <a-md-static [object]="request" [roleType]="m.Request.CurrentObjectState" display="Name" label="Status"></a-md-static>
        </div>
        <div layout="row">
          <a-md-static [object]="request" [roleType]="m.Request.RequestNumber"></a-md-static>
        </div>
        <div *ngIf="quote" layout="row" class="link" [routerLink]="['/orders/productQuote/' + quote.id ]">
          <a-md-static [object]="quote" [roleType]="m.Quote.QuoteNumber"></a-md-static>
        </div>
        <div *ngIf="request.Originator" layout="row" class="link" [routerLink]="['/relations/organisation/' + request.Originator.id ]">
          <a-md-static [object]="request" [roleType]="m.Request.Originator" display="displayName" label="From"></a-md-static>
        </div>
        <div *ngIf="request.FullfillContactMechanism" layout="row">
          <a-md-static [object]="request" [roleType]="m.Request.FullfillContactMechanism" display="displayName" label="Reply to"></a-md-static>
        </div>
        <div *ngIf="request.EmailAddress" layout="row">
          <a-md-static [object]="request" [roleType]="m.Request.EmailAddress" display="displayName"></a-md-static>
        </div>
        <div *ngIf="request.TelephoneNumber" layout="row">
          <a-md-static [object]="request" [roleType]="m.Request.TelephoneCountryCode"></a-md-static>
          <a-md-static [object]="request" [roleType]="m.Request.TelephoneNumber"></a-md-static>
        </div>
        <div *ngIf="request.Comment" layout="row">
          <a-md-textarea [object]="request" [roleType]="m.Request.Comment"></a-md-textarea>
        </div>
        <div *ngIf="request.InternalComment" layout="row">
          <a-md-textarea [object]="request" [roleType]="m.Request.InternalComment"></a-md-textarea>
        </div>
        <div *ngIf="request.RequestDate" layout="row">
          <a-md-static [object]="request" [roleType]="m.Request.RequestDate"></a-md-static>
        </div>
        <div *ngIf="request.RequiredResponseDate" layout="row">
          <a-md-static [object]="request" [roleType]="m.Request.RequiredResponseDate"></a-md-static>
        </div>
        <div layout="row">
          <p class="md-caption tc-grey-500"> created: {{ request.CreationDate | date}} by {{ request.CreatedBy.displayName}}</p>
        </div>
        <div layout="row">
          <p class="md-caption tc-grey-500"> last modified: {{ request.LastModifiedDate | date}} by {{ request.LastModifiedBy.displayName}}</p>
        </div>

      </md-card-content>

      <md-divider></md-divider>
      <md-card-actions>
        <button *ngIf="request.CanExecuteAddNewRequestItem" md-button [routerLink]="['/request/' + request.id ]">Edit</button>
        <button *ngIf="request.CanExecuteCreateQuote && request.RequestItems.length > 0" md-button (click)="createQuote()">Create Quote</button>
      </md-card-actions>
    </md-card>

    <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <md-card-title>Request Items</md-card-title>
      <md-divider></md-divider>
      <md-card-content>
        <ng-template tdLoading="request.RequestItems">
          <md-list class="will-load">
            <div class="md-padding" *ngIf="request.RequestItems.length === 0" layout="row" layout-align="center center">
              <h3>No Items to display.</h3>
            </div>

            <ng-template let-requestItem let-last="last" ngFor [ngForOf]="request.RequestItems">
              <md-list-item>
                <div layout="row" class="link" [routerLink]="['/request/' + request.id + '/item/' + requestItem.id ]">
                  <a-md-static [object]="requestItem" [roleType]="m.RequestItem.Product" display="Name"></a-md-static>
                </div>
                <div layout="row">
                  <a-md-static [object]="requestItem" [roleType]="m.RequestItem.Quantity"></a-md-static>
                </div>
                <span>
                  <button md-icon-button [md-menu-trigger-for]="menu">
                    <md-icon>more_vert</md-icon>
                  </button>
                  <md-menu x-position="before" #menu="mdMenu">
                      <a [routerLink]="['/request/' + request.id + '/item/' + requestItem.id ]" md-menu-item>Edit</a>
                  </md-menu>
              </span>
              </md-list-item>
              <md-divider *ngIf="!last" md-inset></md-divider>
            </ng-template>
          </md-list>
        </ng-template>
      </md-card-content>
      <md-divider></md-divider>
      <md-card-actions>
        <button *ngIf="request.CanExecuteAddNewRequestItem" md-button [routerLink]="['/request/' + request.id +'/item']">+ Add</button>
      </md-card-actions>
    </md-card>
  </div>

  <div flex-gt-xs="50">
    <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <md-card-title>Status History</md-card-title>
      <md-divider></md-divider>
      <md-card-content>

        <ng-template tdLoading="request.RequestStatuses">
          <md-list class="will-load">

            <ng-template let-status let-last="last" ngFor [ngForOf]="request.RequestStatuses">
              <md-list-item>
                <p md-line class="md-caption">{{ status.RequestObjectState.Name }} </p>
                <p md-line hide-gt-md class="md-caption"> Start: {{ status.StartDateTime | date}} </p>

                <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <div class="md-caption tc-grey-500" flex-gt-xs="50"> Start: {{ status.StartDateTime | date }}</div>
                  </span>

              </md-list-item>
            </ng-template>
          </md-list>
        </ng-template>
      </md-card-content>

    </md-card>
  </div>
</div>
