<form *ngIf="communicationEvent" #form="ngForm" (submit)="save()" novalidate>

  <h3 mat-dialog-title>{{title}}</h3>

  <div mat-dialog-content>
    <div class="container-fluid">

      <div class="row">
        <a-mat-select class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.CommunicationEventState"
          [options]="eventStates" display="Name"></a-mat-select>
        <a-mat-select class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.EventPurposes"
          [options]="purposes" display="Name"></a-mat-select>
        <a-mat-slidetoggle [object]="communicationEvent" [roleType]="m.EmailCommunication.IncomingMail"></a-mat-slidetoggle>
      </div>

      <div class="row">
        <a-mat-select class="col-md-12" [object]="communicationEvent"
          [roleType]="m.EmailCommunication.Originator" [options]="allEmailAddresses" display="displayName" label="From"></a-mat-select>
        <a-mat-chips class="col-md-12"  [object]="communicationEvent"
          [roleType]="m.EmailCommunication.Addressees" [options]="allEmailAddresses" display="displayName" label="To"></a-mat-chips>
      </div>

      <div class="row">
        <a-mat-chips class="col-md-12"  [object]="communicationEvent"
          [roleType]="m.EmailCommunication.CarbonCopies" [options]="allEmailAddresses" display="displayName" label="CC"></a-mat-chips>
        <a-mat-chips class="col-md-12"  [object]="communicationEvent"
          [roleType]="m.EmailCommunication.BlindCopies" [options]="allEmailAddresses" display="displayName" label="BC"></a-mat-chips>
      </div>

      <div class="row">
        <a-mat-input class="col-md" [object]="communicationEvent.EmailTemplate" [roleType]="m.EmailTemplate.SubjectTemplate"
          label="Subject"></a-mat-input>
        <a-mat-textarea class="col-md-12" [object]="communicationEvent.EmailTemplate" [roleType]="m.EmailTemplate.BodyTemplate"
          label="Body"></a-mat-textarea>
      </div>

      <div class="row">
        <a-mat-datetimepicker class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledStart"></a-mat-datetimepicker>
        <a-mat-datetimepicker class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.ScheduledEnd"></a-mat-datetimepicker>
      </div>

      <div class="row">
        <a-mat-datetimepicker class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualStart"></a-mat-datetimepicker>
        <a-mat-datetimepicker class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.ActualEnd"></a-mat-datetimepicker>
      </div>

      <div class="row">
        <a-mat-textarea class="col-md" [object]="communicationEvent" [roleType]="m.CommunicationEvent.Comment"></a-mat-textarea>
      </div>

    </div>
  </div>

  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close()" type="button">CANCEL</button>
    <button mat-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.context.hasChanges">SAVE</button>
  </div>

</form>
