<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <span class="a-mat-icon-align">
          <mat-icon>dashboard</mat-icon> Apps
        </span>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <ng-template let-item let-last="last" ngFor [ngForOf]="apps">
        <a class="col-md-3" [routerLink]="item.routerLink">
          <mat-card class="m-3">
            <mat-card-header>
              <mat-card-title>
                <span class="a-mat-icon-align">
                  <mat-icon class="mr-2">{{item.icon}}</mat-icon> {{item.title}}
                </span>
              </mat-card-title>
              <mat-card-subtitle>
                {{item.subtitle}}
              </mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
            </mat-card-content>
          </mat-card>
        </a>
      </ng-template>
    </div>
  </div>

</div>