<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" class="pad" *ngIf="productCharacteristic" (submit)="save()">

    <div class="grid">
      <a-mat-localised-text class="col" [object]="productCharacteristic" [roleType]="m.ProductCharacteristic.LocalisedNames" [locales]="locales" label="Name"></a-mat-localised-text>
    </div>
    <div class="grid-2">
      <a-mat-select class="col" [object]="productCharacteristic" [roleType]="m.ProductCharacteristic.UnitOfMeasure" [options]="uoms" display="Name"></a-mat-select>
    </div>

    <mat-divider></mat-divider>
    <mat-card-actions>
      <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button mat-button (click)="goBack()" type="button">CANCEL</button>
    </mat-card-actions>

  </form>
</td-layout-card-over>
