<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="order" (submit)="save()">

    <div class="pad">
      <div class="grid-2_md-1" *ngIf="!order.isNew">
        <div class="col">
          <a-mat-static [object]="order" [roleType]="m.SalesOrder.SalesOrderState" display="Name" label="Status"></a-mat-static>
          <div class="grid">
            <button *ngIf="order.CanExecuteCancel" mat-button type="button" (click)="cancel()">Cancel</button>
            <button *ngIf="order.CanExecuteApprove" mat-button type="button" (click)="approve()">Approve</button>
            <button *ngIf="order.CanExecuteReject" mat-button type="button" (click)="reject()">Reject</button>
            <button *ngIf="order.CanExecuteHold" mat-button type="button" (click)="hold()">Hold</button>
            <button *ngIf="order.CanExecuteContinue" mat-button type="button" (click)="continue()">Continue</button>
            <button *ngIf="order.CanExecuteConfirm" mat-button type="button" (click)="confirm()">Confirm</button>
          </div>
        </div>
        <div class="col">
          <div class="grid-2_md-1">
          <a-mat-static class="col"  [object]="order" [roleType]="m.SalesOrder.Quote" display="QuoteNumber"></a-mat-static>
          <a-mat-static  class="col" *ngIf="stores.length == 1 || order.Store" [object]="order" [roleType]="m.SalesOrder.Store" display="Name"></a-mat-static>
          <a-mat-select  class="col" *ngIf="stores.length > 1 && !order.Store" [object]="order" [roleType]="m.SalesOrder.Store" [options]="stores"
            display="Name"></a-mat-select>
          </div>
        </div>
      </div>

      <div class="grid-2_xs-1" *ngIf="order.isNew">
        <a-mat-static class="col" *ngIf="stores.length == 1" [object]="order" [roleType]="m.SalesOrder.Store" display="Name"></a-mat-static>
        <a-mat-select class="col" *ngIf="stores.length > 1" [object]="order" [roleType]="m.SalesOrder.Store" [options]="stores"
          display="Name"></a-mat-select>
      </div>

      <div class="grid-2_xs-1">
        <a-mat-autocomplete class="col" *ngIf="showOrganisations" [object]="order" [roleType]="m.SalesOrder.ShipToCustomer" [options]="organisations"
          [filter]="organisationsFilter.create()" display="Name" (onChange)="shipToCustomerSelected($event)" label="Ship to organisation"></a-mat-autocomplete>
        <!-- <a-mat-autocomplete class="col" *ngIf="showPeople" [object]="order" [roleType]="m.SalesOrder.ShipToCustomer" [options]="people"
          [filter]="peopleFilter.create()" display="displayName" (onChange)="shipToCustomerSelected($event)" label="Ship to private  person "></a-mat-autocomplete> -->
      </div>

      <div class="grid-2_md-1">
        <div class="col">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select fxFlex [object]="order" [roleType]="m.SalesOrder.ShipToAddress" [options]="ShipToAddresses" display="displayName"></a-mat-select>
            <button mat-mini-fab color="accent" [disabled]="!order.ShipToCustomer" type="button" (click)="addShipToAddress = !addShipToAddress">
              <mat-icon *ngIf="!addShipToAddress">add</mat-icon>
              <mat-icon *ngIf="addShipToAddress">close</mat-icon>
            </button>
          </div>
          <mat-tab-group dynamicHeight="true" *ngIf="order.ShipToCustomer && addShipToAddress">
            <mat-tab label="Postal">
              <div class="pad tabInlineComponent">
                <party-contactmechanism-postaladdress [scope]="scope" (cancelled)="postalAddressCancelled($event); addShipToAddress = false"
                  (saved)="postalAddressAdded($event); addShipToAddress = false">
                </party-contactmechanism-postaladdress>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
        <div class="col">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select class="col" [object]="order" [roleType]="m.SalesOrder.ContactPerson" [options]="contacts" display="displayName"
              label="Shipping Contact Person"></a-mat-select>
            <button mat-mini-fab color="accent" [disabled]="!order.ShipToCustomer" type="button" (click)="addContactPerson = !addContactPerson">
              <mat-icon *ngIf="!addContactPerson">add</mat-icon>
              <mat-icon *ngIf="addContactPerson">close</mat-icon>
            </button>
          </div>
          <mat-tab-group dynamicHeight="true" *ngIf="order.ShipToCustomer && addContactPerson">
            <mat-tab label="Person">
              <div class="pad tabInlineComponent">
                <person-inline (cancelled)="personCancelled($event); addContactPerson = false" (saved)="personAdded($event); addContactPerson = false">
                </person-inline>
              </div>
            </mat-tab>
          </mat-tab-group>
        </div>
      </div>

      <div class="grid-2_md-1">
        <a-mat-autocomplete class="col" *ngIf="showOrganisations" [object]="order" [roleType]="m.SalesOrder.BillToCustomer" [options]="organisations"
          [filter]="organisationsFilter.create()" display="Name" (onChange)="billToCustomerSelected($event)" label="Bill to organisation"></a-mat-autocomplete>
        <!-- <a-mat-autocomplete class="col" *ngIf="showPeople" [object]="order" [roleType]="m.SalesOrder.BillToCustomer" [options]="people"
          [filter]="peopleFilter.create()" display="displayName" (onChange)="billToCustomerSelected($event)" label="Bill to private person "></a-mat-autocomplete> -->
        <div class="col">
          <div fxLayout fxLayoutGap="1em">
            <a-mat-select fxFlex [object]="order" [roleType]="m.SalesOrder.BillToContactMechanism" [options]="billToContactMechanisms"
              display="displayName"></a-mat-select>
            <button mat-mini-fab color="accent" [disabled]="!order.ShipToCustomer" type="button" (click)="addContactMechanism = !addContactMechanism">
              <mat-icon *ngIf="!addContactMechanism">add</mat-icon>
              <mat-icon *ngIf="addContactMechanism">close</mat-icon>
            </button>
          </div>

          <party-contactmechanism *ngIf="order.ShipToCustomer && addContactMechanism" [scope]="scope" (saved)="partyContactMechanismAdded($event)" (cancelled)="partyContactMechanismCancelled()">
          </party-contactmechanism>

        </div>
      </div>

      <div class="grid-2_sm-1">
        <a-mat-select class="col" [object]="order" [roleType]="m.SalesOrder.VatRegime" [options]="vatRegimes" display="Name"></a-mat-select>
        <a-mat-static class="col" [object]="order.VatRegime" [roleType]="m.VatRegime.VatRate" display="Rate"></a-mat-static>
      </div>

      <div class="grid-1">
        <a-mat-input class="col" [object]="order" [roleType]="m.SalesOrder.Description"></a-mat-input>
      </div>
      <div class="grid-1">
        <a-mat-static class="col" *ngIf="quote?.Comment" [object]="quote" [roleType]="m.Quote.Comment" label="Quote Comment"></a-mat-static>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="order" [roleType]="m.SalesOrder.Comment" label="Order Comment"></a-mat-textarea>
      </div>
      <div class="grid-1">
        <a-mat-static class="col" *ngIf="quote?.InternalComment" [object]="quote" [roleType]="m.Quote.InternalComment" label="Quote Internal Comment"></a-mat-static>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="order" [roleType]="m.SalesOrder.InternalComment" label="Order Internal Comment"></a-mat-textarea>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button mat-button (click)="goBack()" type="button">CANCEL</button>
    </mat-card-actions>

  </form>
</td-layout-card-over>