<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{title}}</span>
    <span flex></span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<div body *ngIf="order">
  <div flex-gt-xs="50">
    <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <mat-card-title>Sales Order</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <div class="pad">
          <div class="grid-4_lg-2_sm-1">
            <a-mat-static class="col" [object]="order" [roleType]="m.SalesOrder.SalesOrderState" display="Name" label="Status"></a-mat-static>
            <a-mat-static class="col" [object]="order" [roleType]="m.SalesOrder.OrderNumber"></a-mat-static>
            <a-mat-static class="col link" *ngIf="order.Quote" [object]="order" [roleType]="m.SalesOrder.Quote" display="QuoteNumber"
              [routerLink]="['/orders/productQuote/' + order.Quote.id ]"></a-mat-static>
            <a-mat-static class="col link" *ngIf="salesInvoice" [object]="salesInvoice" [roleType]="m.SalesInvoice.InvoiceNumber" [routerLink]="['/ar/invoice/' + salesInvoice.id ]"></a-mat-static>
          </div>

          <div class="grid-2_xs-1">
            <a-mat-static class="col link" *ngIf="order.ShipToCustomer?.objectType.name == 'Organisation'" [object]="order" [roleType]="m.SalesOrder.ShipToCustomer"
              display="displayName" label="Ship to Customer" [routerLink]="['/relations/organisation/' + order.ShipToCustomer.id ]"></a-mat-static>
            <a-mat-static class="col link" *ngIf="order.ShipToCustomer?.objectType.name == 'Person'" [object]="order" [roleType]="m.SalesOrder.ShipToCustomer"
              display="displayName" label="Ship to Customer" [routerLink]="['/relations/person/' + order.ShipToCustomer.id ]"></a-mat-static>
            <a-mat-static class="col link" *ngIf="order.ContactPerson" [object]="order" [roleType]="m.SalesOrder.ContactPerson" display="displayName"
              [routerLink]="['/relations/person/' + order.ContactPerson.id ]"></a-mat-static>
          </div>

          <div class="grid-2_xs-1" *ngIf="order.ShipToCustomer != order.BillToCustomer">
            <a-mat-static class="col link" *ngIf="order.BillToCustomer?.objectType.name == 'Organisation'" [object]="order" [roleType]="m.SalesOrder.BillToCustomer"
              display="displayName" label="Bill to Customer" [routerLink]="['/relations/organisation/' + order.BillToCustomer.id ]"></a-mat-static>
            <a-mat-static class="col link" *ngIf="order.BillToCustomer?.objectType.name == 'Person'" [object]="order" [roleType]="m.SalesOrder.BillToCustomer"
              display="displayName" label="Bill to Customer" [routerLink]="['/relations/person/' + order.BillToCustomer.id ]"></a-mat-static>
          </div>

          <div class="grid-1">
            <a-mat-static class="col" *ngIf="order.ShipToAddress" [object]="order" [roleType]="m.SalesOrder.ShipToAddress" display="displayName"
              label="Ship to"></a-mat-static>
          </div>

          <div class="grid-1">
            <a-mat-static class="col" *ngIf="order.ShipToAddress != order.BillToContactMechanism" [object]="order" [roleType]="m.SalesOrder.BillToContactMechanism" display="displayName"
              label="Bill to"></a-mat-static>
          </div>

          <div class="grid-1">
            <a-mat-static class="col" *ngIf="order.Description" [object]="order" [roleType]="m.SalesOrder.Description"></a-mat-static>
          </div>
          <div class="grid-1">
            <a-mat-static class="col" *ngIf="quote?.Comment" [object]="quote" [roleType]="m.Quote.Comment" label="Quote Comment"></a-mat-static>
          </div>
          <div class="grid-1">
            <a-mat-textarea class="col" *ngIf="order.Comment" [object]="order" [roleType]="m.SalesOrder.Comment" label="Order Comment"></a-mat-textarea>
          </div>
          <div class="grid-1">
            <a-mat-static class="col" *ngIf="quote?.InternalComment" [object]="quote" [roleType]="m.Quote.InternalComment" label="Quote Internal Comment"></a-mat-static>
          </div>
          <div class="grid-1">
            <a-mat-textarea class="col" *ngIf="order.InternalComment" [object]="order" [roleType]="m.SalesOrder.InternalComment" label="Order Internal Comment"></a-mat-textarea>
          </div>

          <div class="grid-2_sm-1">
            <p class="col mat-caption tc-grey-500"> created: {{ order.CreationDate | date}} by {{ order.CreatedBy.displayName}}</p>
            <p class="col mat-caption tc-grey-500"> last modified: {{ order.LastModifiedDate | date}} by {{ order.LastModifiedBy.displayName}}</p>
          </div>
        </div>
      </mat-card-content>

      <mat-divider></mat-divider>
      <mat-card-actions>
        <button *ngIf="order.CanWriteSalesOrderItems" mat-button [routerLink]="['/salesOrder/' + order.id]">Edit</button>
        <button mat-button [routerLink]="['/printsalesorder/' + order.id ]">Print</button>
        <button *ngIf="order.CanExecuteShip" mat-button (click)="ship()">Ship to customer</button>
        <button *ngIf="billingForOrderItems && order.CanExecuteComplete && order.ValidOrderItems.length > 0" mat-button (click)="createInvoice()">Create Invoice</button>
      </mat-card-actions>
    </mat-card>

    <mat-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
      <mat-card-title>Order Items</mat-card-title>
      <mat-divider></mat-divider>
      <mat-card-content>
        <ng-template tdLoading="order.SalesOrderItems">
          <mat-list class="will-load">
            <div class="mat-padding" *ngIf="order.SalesOrderItems.length === 0" layout="row" layout-align="center center">
              <h3>No Items to display.</h3>
            </div>

            <ng-template let-orderItem let-last="last" ngFor [ngForOf]="order.SalesOrderItems">
              <mat-list-item>
                <h3 *ngIf="orderItem.Product && order.CanWriteSalesOrderItems" mat-line [routerLink]="['/salesOrder/' + order.id + '/item/' + orderItem.id ]">{{orderItem.QuantityOrdered}} * {{orderItem.Product.Name}}</h3>
                <h3 *ngIf="orderItem.Product && !order.CanWriteSalesOrderItems" mat-line>{{orderItem.QuantityOrdered}} * {{orderItem.Product.Name}}</h3>

                <h3 *ngIf="!orderItem.Product && order.CanWriteSalesOrderItems" mat-line [routerLink]="['/salesOrder/' + order.id + '/item/' + orderItem.id ]">{{orderItem.ItemType.Name}}</h3>
                <h3 *ngIf="!orderItem.Product && !order.CanWriteSalesOrderItems" mat-line>{{orderItem.ItemType.Name}}</h3>

                <h4 mat-line>Total ex VAT: {{orderItem.TotalExVat}}</h4>

                <span>
                  <button mat-icon-button [mat-menu-trigger-for]="menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu x-position="before" #menu="matMenu">
                    <a *ngIf="order.CanWriteSalesOrderItems" [routerLink]="['/salesOrder/' + order.id + '/item/' + orderItem.id ]" mat-menu-item>Edit</a>
                    <button mat-menu-item (click)="deleteOrderItem(orderItem)" [disabled]="!orderItem.CanExecuteDelete">Delete</button>
                  </mat-menu>
                </span>
              </mat-list-item>
              <mat-divider *ngIf="!last" mat-inset></mat-divider>
            </ng-template>
          </mat-list>
        </ng-template>
      </mat-card-content>
      <mat-divider></mat-divider>
      <mat-card-actions>
        <button *ngIf="order.CanWriteSalesOrderItems" mat-button [routerLink]="['/salesOrder/' + order.id +'/item']">+ Add</button>
      </mat-card-actions>
    </mat-card>
  </div>

  <div flex-gt-xs="50">
  </div>
</div>