<md-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
          <md-icon>arrow_back</md-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button md-icon-button><md-icon>settings</md-icon></button>
  </div>
</md-toolbar>

<md-card *ngIf="communicationEventStates">
  <div class="pad-top-xs pad-left pad-right">
    <form novalidate [formGroup]="searchForm">
      <md-input-container>
        <input fxFlex mdInput placeholder="Subject" formControlName="subject">
      </md-input-container>
      <md-select formControlName="state" name="state" [(ngModel)]="selectedCommunicationEventState" placeholder="State">
        <md-option>None</md-option>
        <md-option *ngFor="let objectState of communicationEventStates" [value]="objectState.Name">{{ objectState.Name }}</md-option>
      </md-select>
      <md-select formControlName="purpose" name="purpose" [(ngModel)]="selectedPurpose" placeholder="Purpose">
        <md-option>None</md-option>
        <md-option *ngFor="let purpose of purposes" [value]="purpose.Name">{{ purpose.Name }}</md-option>
      </md-select>
       <md-select formControlName="involved" name="involved" [(ngModel)]="selectedInvolded" placeholder="Person Involved">
        <md-option>None</md-option>
        <md-option *ngFor="let person of people" [value]="person.displayName">{{ person.displayName }}</md-option>
      </md-select>
      <md-icon mdSuffix>search</md-icon>
    </form>
  </div>

  <md-divider></md-divider>

  <md-card-content>
    <ng-template tdLoading="data">
      <md-list class="will-load">
        <div class="md-padding" *ngIf="data && data.length === 0" layout="row" layout-align="center center">
          <h3>No communication events to display.</h3>
        </div>
        <ng-template let-communicationEvent let-last="last" ngFor [ngForOf]="data">
          <md-list-item>
                 <div *ngIf="this.checkType(communicationEvent) === 'FaceToFaceCommunication'" md-line class="md-caption pointer"
                 [routerLink]="['/relations/party/' + communicationEvent.InvolvedParties[0].id + '/communicationevent/' + communicationEvent.id ]">
                  Meeting, {{ communicationEvent.CurrentObjectState.Name }}</div>

                <div *ngIf="this.checkType(communicationEvent) === 'PhoneCommunication'" md-line class="md-caption pointer"
                [routerLink]="['/relations/party/' + communicationEvent.InvolvedParties[0].id + '/communicationevent/' + communicationEvent.id ]">
                  Phone call, {{ communicationEvent.CurrentObjectState.Name }}</div>

                <div *ngIf="this.checkType(communicationEvent) === 'EmailCommunication'" md-line class="md-caption pointer"
                [routerLink]="['/relations/party/' + communicationEvent.InvolvedParties[0].id + '/communicationevent/' + communicationEvent.id ]">
                  Email, {{ communicationEvent.CurrentObjectState.Name }}</div>

                <div *ngIf="this.checkType(communicationEvent) === 'LetterCorrespondence'" md-line class="md-caption pointer"
                [routerLink]="['/relations/party/' + communicationEvent.InvolvedParties[0].id + '/communicationevent/' + communicationEvent.id ]">
                  Letter, {{ communicationEvent.CurrentObjectState.Name }}</div>

                <p md-line class="md-caption">State: {{ communicationEvent.CurrentObjectState.Name }} </p>
                <p md-line class="md-caption">Subject: {{ communicationEvent.Subject }} </p>
                <p md-line class="md-caption">Involved:
                  <span *ngFor="let party of communicationEvent.InvolvedParties">{{ party.displayName }} </span>
                </p>

                <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <div class="md-caption tc-grey-500" flex-gt-xs="50"> started: {{ communicationEvent.ActualStart | date}} </div>
                  <div class="md-caption tc-grey-500" flex-gt-xs="50"> ended: {{ communicationEvent.ActualEnd | date }} </div>
                  </span>

                 <span>
                    <button md-icon-button [md-menu-trigger-for]="menu">
                      <md-icon>more_vert</md-icon>
                    </button>
                    <md-menu x-position="before" #menu="mdMenu">
                         <button md-menu-item [routerLink]="['/relations/party/' + communicationEvent.InvolvedParties[0].id + '/communicationevent/' + communicationEvent.id ]">Details</button>
                        <button *ngIf="this.checkType(communicationEvent) === 'EmailCommunication'" md-menu-item [routerLink]="['/relations/party/' + communicationEvent.InvolvedParties[0].id + '/communicationevent/emailcommunication/' + communicationEvent.id ]">Edit</button>
                        <button *ngIf="this.checkType(communicationEvent) === 'FaceToFaceCommunication'" md-menu-item [routerLink]="['/relations/party/' + communicationEvent.InvolvedParties[0].id + '/communicationevent/facetofacecommunication/' + communicationEvent.id ]">Edit</button>
                        <button *ngIf="this.checkType(communicationEvent) === 'LetterCorrespondence'" md-menu-item [routerLink]="['/relations/party/' + communicationEvent.InvolvedParties[0].id + '/communicationevent/lettercorrespondence/' + communicationEvent.id ]">Edit</button>
                        <button *ngIf="this.checkType(communicationEvent) === 'PhoneCommunication'" md-menu-item [routerLink]="['/relations/party/' + communicationEvent.InvolvedParties[0].id + '/communicationevent/emailcommunication/' + communicationEvent.id ]">Edit</button>
                        <button [disabled]="!communicationEvent.CanExecuteDelete" md-menu-item (click)="delete(communicationEvent)">Delete</button>
                        <button [disabled]="!communicationEvent.CanExecuteCancel" md-menu-item (click)="cancel(communicationEvent)">Cancel</button>
                        <button [disabled]="!communicationEvent.CanExecuteClose" md-menu-item (click)="close(communicationEvent)">Close</button>
                        <button [disabled]="!communicationEvent.CanExecuteReopen" md-menu-item (click)="reopen(communicationEvent)">Reopen</button>
                    </md-menu>
                  </span>

          </md-list-item>
          <md-divider *ngIf="!last" md-inset></md-divider>
        </ng-template>
      </md-list>
    </ng-template>

  </md-card-content>
</md-card>

<md-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="this.data && this.data.length !== total">
  <md-card-content>
    <button md-button (click)="more()">More</button> {{this.data?.length}}/{{total}}
  </md-card-content>
</md-card>
