<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/relations/people']">People</a> / <a [routerLink]="['/relations/person/' + (person && person.id)]">{{person?.displayName}}</a> / Edit
      </div>
    </div>
  </div>

  <form *ngIf="person" class="a-edit" #form="ngForm" (submit)="save()" novalidate>
    <mat-card>
      <mat-card-content>
        <div class="container-fluid">

          <div class="row">
            <a-mat-select class="col-md" [object]="person" [roleType]="m.Person.Salutation" [options]="salutations" display="Name"></a-mat-select>
            <a-mat-input class="col-md" [object]="person" [roleType]="m.Person.FirstName"></a-mat-input>
            <a-mat-input class="col-md" [object]="person" [roleType]="m.Person.MiddleName"></a-mat-input>
            <a-mat-input class="col-md" [object]="person" [roleType]="m.Person.LastName"></a-mat-input>
          </div>

          <div class="row">
            <mat-form-field class="col-md">
              <mat-select name="role" [(ngModel)]="activeRoles" placeholder="Roles" multiple="true">
                <mat-option *ngFor="let role of selectableRoles" [value]="role">{{ role.Name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <a-mat-select class="col-md" [object]="organisationContactRelationship" [roleType]="m.OrganisationContactRelationship.ContactKinds" [options]="organisationContactKinds" display="Description" multiple="true"></a-mat-select>
          </div>

          <div class="row">
            <a-mat-select class="col-md" [object]="person" [roleType]="m.Person.Gender" [options]="genders" display="Name"></a-mat-select>
            <a-mat-select class="col-md" [object]="person" [roleType]="m.Person.Locale" [options]="locales" display="Name"></a-mat-select>
          </div>

          <div class="row">
            <a-mat-input class="col-md" [object]="person" [roleType]="m.Person.Function"></a-mat-input>
            <mat-form-field class="col-md" *ngIf="!organisationContactRelationship && !organisation">
              <mat-select name="role" [(ngModel)]="organisation" placeholder="Organisations">
                <mat-option *ngFor="let organisation of organisations" [value]="organisation">{{ organisation.Name }}</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field class="col-md" *ngIf="(!organisationContactRelationship && organisation) || (organisationContactRelationship && !person.IsNew)">
              <input matInput type="type" [ngModel]="organisation.Name" name="Organisation" placeholder="Organisation" readonly="true">
            </mat-form-field>
          </div>

          <div class="row">
            <a-mat-textarea class="col-md-12" [object]="person" [roleType]="m.Person.Comment"></a-mat-textarea>
            <a-mat-file class="col-md-12" [object]="person" [roleType]="m.Person.Picture" accept="image/*"></a-mat-file>
          </div>

        </div>
      </mat-card-content>
    </mat-card>

    <a-mat-footer>
      <button mat-raised-button (click)="location.back()" type="button">CANCEL</button>
      <button mat-raised-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !(allors.scope.session.hasChanges || activeRoles.length > 0) ">SAVE</button>
    </a-mat-footer>

  </form>
</div>