
  <form #form="ngForm" *ngIf="workTask" (submit)="save()" >

    <div >
      <a-mat-select  [object]="workTask" [roleType]="m.WorkTask.WorkEffortState" [options]="workEffortStates" display="Name"
        label="Status"></a-mat-select>
      <a-mat-input  [object]="workTask" [roleType]="m.WorkTask.Name"></a-mat-input>
    </div>

    <div class="grid-1">
      <a-mat-textarea  [object]="workTask" [roleType]="m.WorkTask.Description"></a-mat-textarea>
    </div>

    <div class="grid-1">
      <mat-form-field >
        <mat-select fxFlex name="assignment" [(ngModel)]="assignees" placeholder="Assign To" multiple="true">
          <mat-option *ngFor="let employee of employees" [value]="employee">{{ employee.displayName }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div>
      <a-mat-select  [object]="workTask" [roleType]="m.WorkTask.Priority" [options]="priorities" display="Name"></a-mat-select>
      <a-mat-select  [object]="workTask" [roleType]="m.WorkTask.WorkEffortPurposes" [options]="workEffortPurposes" display="Name"
        label="Purpose(s)"></a-mat-select>
    </div>

    <div>
      <a-mat-input  [object]="workTask" [roleType]="m.WorkTask.EstimatedHours"></a-mat-input>
      <a-mat-input  [object]="workTask" [roleType]="m.WorkTask.ActualHours"></a-mat-input>
    </div>

    <div>
      <a-mat-datepicker  [object]="workTask" [roleType]="m.WorkTask.ScheduledStart" [useTime]="true"></a-mat-datepicker>
      <a-mat-datepicker  [object]="workTask" [roleType]="m.WorkTask.ActualStart" [useTime]="true"></a-mat-datepicker>
      <a-mat-datepicker  [object]="workTask" [roleType]="m.WorkTask.ScheduledCompletion" [useTime]="true"></a-mat-datepicker>
      <a-mat-datepicker  [object]="workTask" [roleType]="m.WorkTask.ActualCompletion" [useTime]="true"></a-mat-datepicker>
    </div>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button mat-button (click)="goBack()" type="button">CANCEL</button>
    </mat-card-actions>

  </form>
