<md-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button md-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
          <md-icon>arrow_back</md-icon>
        </button>
    <span>{{title}}</span>
    <span flex></span>
    <button md-icon-button><md-icon>settings</md-icon></button>
  </div>
</md-toolbar>

<md-card>
  <form #form="ngForm" *ngIf="productCharacteristic" (submit)="save()">

    <md-card-title>Product Characteristic Form</md-card-title>

    <md-divider></md-divider>
    <md-card-content class="push-bottom-none">

      <div fxLayout="row wrap" fxLayoutAlign="start stretch" fxLayoutGap.gt-md="25px">
        <a-md-localised-text [object]="productCharacteristic" [roleType]="m.ProductCharacteristic.LocalisedNames" [locales]="locales"
          label="Name" [fxFlex]="flex" [fxFlex.gt-md]="flex2"></a-md-localised-text>
      </div>

    </md-card-content>

    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="primary" type="submit">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</md-card>
