<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a *ngIf="part" (click)="navigationService.list(m.Part)">Parts</a>
        <span *ngIf="add"> / Add serialised item</span>
        <span *ngIf="edit && item"> / <a (click)="navigationService.overview(part)">{{part?.Name}}</a> / Edit
          serialised item</span>
      </div>
    </div>
  </div>

  <form *ngIf="item" class="a-edit" #form="ngForm" (submit)="save()" novalidate>
    <mat-card>
      <mat-card-content>

        <mat-tab-group>

          <mat-tab label="General">
            <div class="container-fluid">
              <div class="row pt-3">
                <a-mat-input *ngIf="edit" class="col-md" [object]="item" [roleType]="m.SerialisedItem.ItemNumber"></a-mat-input>
                <a-mat-input class="col-md" [object]="item" [roleType]="m.SerialisedItem.Name"></a-mat-input>
              </div>

              <div class="row">
                <a-mat-input class="col-md" [object]="item" [roleType]="m.SerialisedItem.SerialNumber"></a-mat-input>
                <a-mat-select class="col-md" [object]="item" [roleType]="m.SerialisedItem.SerialisedItemState" [options]="serialisedItemStates" display="Name"></a-mat-select>
              </div>

              <div class="row">
                <a-mat-textarea class="col-md" [object]="item" [roleType]="m.SerialisedItem.Description"></a-mat-textarea>
              </div>

              <div class="row">
                <a-mat-select class="col-md" [object]="item" [roleType]="m.SerialisedItem.Ownership" [options]="ownerships" display="Name"></a-mat-select>
                <a-mat-autocomplete class="col-md" [object]="item" [roleType]="m.SerialisedItem.OwnedBy" [filter]="organisationFilter.create(scope)" display="Name"></a-mat-autocomplete>
              </div>

              <div class="row">
                <a-mat-select class="col-md" [object]="item" [roleType]="m.SerialisedItem.SuppliedBy" [options]="activeSuppliers" display="Name"></a-mat-select>
                <a-mat-autocomplete class="col-md" [object]="item" [roleType]="m.SerialisedItem.RentedBy" [filter]="organisationFilter.create(scope)" display="Name"></a-mat-autocomplete>
              </div>

              <div class="row">
                <a-mat-datepicker class="col-md" [object]="item" [roleType]="m.SerialisedItem.LastServiceDate"></a-mat-datepicker>
                <a-mat-datepicker class="col-md" [object]="item" [roleType]="m.SerialisedItem.NextServiceDate"></a-mat-datepicker>
              </div>

              <div class="row">
                <mat-expansion-panel class="col" *ngIf="locales">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Translations
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngFor="let locale of locales; let i = index">
                    <mat-divider *ngIf="i > 0"></mat-divider>
                    <div class="row">
                      <a-mat-localised-text class="col-md-12" [object]="item" [roleType]="m.SerialisedItem.LocalisedNames"
                        [locale]="locale"></a-mat-localised-text>
                      <a-mat-localised-text class="col-md-12" [object]="item" [roleType]="m.SerialisedItem.LocalisedDescriptions"
                        [locale]="locale"></a-mat-localised-text>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Characteristics">
            <div class="container-fluid">

              <div class="row pt-3">
                <a-mat-input class="col-md" [object]="item" [roleType]="m.SerialisedItem.AcquisitionYear"></a-mat-input>
                <a-mat-input class="col-md" [object]="item" [roleType]="m.SerialisedItem.ManufacturingYear"></a-mat-input>
                <mat-form-field class="col-md">
                  <input matInput [(ngModel)]="item.age" name="age" placeholder="Age" readonly>
                </mat-form-field>
                <a-mat-input class="col-md" [object]="item" [roleType]="m.SerialisedItem.LifeTime"></a-mat-input>
              </div>

              <div class="row">
                <mat-form-field class="col-md">
                  <input matInput [(ngModel)]="item.yearsToGo" name="yearsToGo" placeholder="Years to go" readonly>
                </mat-form-field>
                <a-mat-input class="col-md" [object]="item" [roleType]="m.SerialisedItem.DepreciationYears"></a-mat-input>
              </div>

              <div class="row" *ngFor="let productCharacteristicValue of item.SerialisedItemCharacteristics">
                <a-mat-input class="col-md" *ngIf="productCharacteristicValue.SerialisedItemCharacteristicType.UnitOfMeasure" [object]="productCharacteristicValue" [roleType]="m.SerialisedItemCharacteristic.Value" [label]="productCharacteristicValue.SerialisedItemCharacteristicType.Name + ' (' + productCharacteristicValue.SerialisedItemCharacteristicType.UnitOfMeasure.Name + ')'"></a-mat-input>
              </div>

              <div class="row" *ngFor="let productCharacteristicValue of item.SerialisedItemCharacteristics">
                <a-mat-textarea class="col-md" *ngIf="!productCharacteristicValue.SerialisedItemCharacteristicType.UnitOfMeasure" [object]="productCharacteristicValue" [roleType]="m.SerialisedItemCharacteristic.Value" [label]="productCharacteristicValue.SerialisedItemCharacteristicType.Name"
                  class="col-md-12"></a-mat-textarea>
              </div>

              <div class="row">
                <mat-expansion-panel class="col" *ngIf="locales">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Translations
                    </mat-panel-title>
                  </mat-expansion-panel-header>
                  <div *ngFor="let locale of locales; let i = index" class="row">
                    <mat-divider *ngIf="i > 0"></mat-divider>
                    <div class="row" *ngFor="let productCharacteristicValue of item.SerialisedItemCharacteristics">
                      <a-mat-localised-text class="col-md-12" *ngIf="!productCharacteristicValue.SerialisedItemCharacteristicType.UnitOfMeasure" [object]="productCharacteristicValue" [roleType]="m.SerialisedItemCharacteristic.LocalisedValues" [locale]="locale" [label]="productCharacteristicValue.SerialisedItemCharacteristicType.Name"></a-mat-localised-text>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>

            </div>
          </mat-tab>

          <mat-tab label="Financial">
            <div class="container-fluid">
              <div class="row pt-3">
                <a-mat-input class="col" [object]="item" [roleType]="m.SerialisedItem.ExpectedSalesPrice"></a-mat-input>
                <a-mat-input class="col" [object]="item" [roleType]="m.SerialisedItem.PurchasePrice"></a-mat-input>
              </div>

              <div class="row">
                <a-mat-input class="col" [object]="item" [roleType]="m.SerialisedItem.ReplacementValue"></a-mat-input>
                <mat-form-field class="col">
                  <input matInput [(ngModel)]="item.goingConcern" name="goingConcern" placeholder="Going Concern" readonly>
                </mat-form-field>
              </div>

              <div class="row">
                <mat-form-field class="col">
                  <input matInput [(ngModel)]="item.marketValue" name="marketValue" placeholder="Market Value" readonly>
                </mat-form-field>
              </div>

              <div class="row">
                <a-mat-input class="col" [object]="item" [roleType]="m.SerialisedItem.RefurbishCost"></a-mat-input>
                <a-mat-input class="col" [object]="item" [roleType]="m.SerialisedItem.TransportCost"></a-mat-input>
              </div>

              <div class="row">
                <mat-form-field class="col">
                  <input type="number" matInput [(ngModel)]="item.grossBookValue" name="grossBookValue" placeholder="Gross Book Value" readonly>
                </mat-form-field>
                <mat-form-field class="col">
                  <input type="number" matInput [(ngModel)]="item.expectedPosa" name="expectedPosa" placeholder="Expected Posa" readonly>
                </mat-form-field>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Comments">
            <div class="container-fluid">
              <div class="row pt-3">
                <a-mat-textarea class="col-md-12" [object]="item" [roleType]="m.SerialisedItem.InternalComment"></a-mat-textarea>
                <a-mat-textarea class="col-md-12" [object]="item" [roleType]="m.SerialisedItem.Keywords"></a-mat-textarea>
                <a-mat-textarea class="col-md-12" [object]="item" [roleType]="m.SerialisedItem.Comment"></a-mat-textarea>
              </div>

              <div class="row">
                <mat-expansion-panel class="col" *ngIf="locales">
                  <mat-expansion-panel-header>
                    <mat-panel-title>
                      Translations
                    </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div *ngFor="let locale of locales; let i = index">
                    <mat-divider *ngIf="i > 0"></mat-divider>
                    <div class="row">
                      <a-mat-localised-text class="col-md-12" [object]="item" [roleType]="m.SerialisedItem.LocalisedComments"
                        [locale]="locale"></a-mat-localised-text>
                    </div>
                  </div>
                </mat-expansion-panel>
              </div>
            </div>
          </mat-tab>

          <mat-tab label="Images">
            <div class="container-fluid">
              <div class="row pt-3">
                <a-mat-file class="col-md-12" [object]="item" [roleType]="m.SerialisedItem.PrimaryPhoto" accept="image/*"></a-mat-file>
                <a-mat-files class="col-md-12" [object]="item" [roleType]="m.SerialisedItem.Photos" accept="image/*"></a-mat-files>
              </div>
            </div>
          </mat-tab>

        </mat-tab-group>
      </mat-card-content>
    </mat-card>

    <a-mat-footer>
      <button mat-raised-button (click)="navigationService.back()" type="button">CANCEL</button>
      <button mat-raised-button (click)="update()" type="button" color="accent" [disabled]="!form.form.valid">Save</button>
      <button mat-raised-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid">SAVE & CLOSE</button>
    </a-mat-footer>

  </form>
</div>
