<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
  <appSettings>
    <add key="allors.database.address" value="http://localhost:59272/" />
    <!-- Set production to false for dev/test -->
    <add key="production" value="false" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  
</configuration>