<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <md-card-content>
    <td-search-box class="push-left push-right" placeholder="search" [alwaysVisible]="true" (searchDebounce)="search($event)"></td-search-box>
  </md-card-content>
</md-card>

<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="data">
  <productcharacteristics-table [data]="data" (view)="onView($event)"></productcharacteristics-table>
</md-card>

<a md-fab color="accent" class="mat-fab-bottom-right" [routerLink]="['add']">
  <md-icon>add</md-icon>
</a>
