<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="invoiceItem" (submit)="save()">

    <div class="pad">
      <div class="grid-2_md-1" *ngIf="!invoiceItem.isNew">
        <div class="col">
          <a-mat-static [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.PurchaseInvoiceItemState" display="Name" label="Status"></a-mat-static>
        </div>
      </div>

      <div class="grid-2_xs-1" *ngIf="invoiceItem.InvoiceItemType && invoiceItem.InvoiceItemType !== productItemType">
        <a-mat-select class="col" [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.InvoiceItemType" [options]="invoiceItemTypes"
          display="Name"></a-mat-select>
        <a-mat-input class="col" [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.ActualUnitPrice" label="Amount"></a-mat-input>
      </div>

      <div class="grid-2_xs-1" *ngIf="!invoiceItem.InvoiceItemType || invoiceItem.InvoiceItemType === productItemType">
        <a-mat-autocomplete class="col" *ngIf="!invoiceItem.InvoiceItemType || invoiceItem.InvoiceItemType === productItemType"
          [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.Product" [options]="goods" display="Name" (onChange)="goodSelected($event)"
          [filter]="stateService.goodsFilter.create(scope)"></a-mat-autocomplete>
        <a-mat-select class="col" [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.InvoiceItemType" [options]="invoiceItemTypes"
          display="Name"></a-mat-select>
      </div>

      <div class="grid-2_xs-1" *ngIf="invoiceItem.InvoiceItemType && invoiceItem.InvoiceItemType === productItemType">
        <a-mat-input class="col" [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.Quantity"></a-mat-input>
        <a-mat-input class="col" [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.ActualUnitPrice"></a-mat-input>
      </div>

      <div class="grid-4_md-2_xs-1">
        <a-mat-select class="col" [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.AssignedVatRegime" [options]="vatRegimes"
          display="Name" label="Item VAT regime"></a-mat-select>
        <a-mat-static class="col" [object]="invoiceItem.AssignedVatRegime" [roleType]="m.VatRegime.VatRate" display="Rate"></a-mat-static>
        <a-mat-static class="col" [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.UnitVat"></a-mat-static>
        <a-mat-static class="col" [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.TotalIncVat"></a-mat-static>
      </div>

      <div class="grid-1">
        <a-mat-static class="col" *ngIf="orderItem?.Comment" [object]="orderItem" [roleType]="m.PurchaseOrderItem.Comment"></a-mat-static>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.Comment"></a-mat-textarea>
      </div>
      <div class="grid-1">
        <a-mat-static class="col" *ngIf="orderItem?.InternalComment" [object]="orderItem" [roleType]="m.PurchaseOrderItem.InternalComment"></a-mat-static>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.InternalComment"></a-mat-textarea>
      </div>
      <div class="grid-1">
        <a-mat-textarea class="col" [object]="invoiceItem" [roleType]="m.PurchaseInvoiceItem.Message"></a-mat-textarea>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-card-actions>
        <div class="pad grid-12">
            <button  class="col-2" mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE & CLOSE</button>
            <button  class="col" mat-button (click)="goBack()" type="button">CANCEL</button>
            <div class="grid-right">
              <button class="col" mat-button (click)="update()" type="button" color="primary" [disabled]="!form.form.valid">SAVE</button>
            </div>
          </div>
    </mat-card-actions>
  </form>
</td-layout-card-over>