<mat-form-field class="d-flex flex-column align-items-stretch">
  <div class="row">
    <div class="col">
      <textarea #heightSource aFocus [aFocusTrigger]="roleType" matInput cdkTextareaAutosize cdkAutosizeMaxRows="10"
        #autosize="cdkTextareaAutosize" [(ngModel)]="model" [name]="name" [placeholder]="label + ' (markdown)'"
        [required]="required" [disabled]="disabled" [readonly]="readonly" [attr.data-allors-id]="dataAllorsId"
        [attr.data-allors-roletype]="dataAllorsRoleType"></textarea>
      <mat-hint *ngIf="hint">{{hint}}</mat-hint>
    </div>
    <div *ngIf="html" class="col" [style.height.px]="height" style="overflow: auto; margin-top: -10px; margin-right: 10px; padding: 5px; border-radius: 5px; border: 1px black lightgray;">
      <div [innerHtml]="html"></div>
    </div>
  </div>
</mat-form-field>
