<form class="a-edit" #form="ngForm" *ngIf="contactMechanism" (submit)="save()">
  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
      <span class="col"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="contactMechanism">
      <mat-card-content class="container-fluid">
        <div class="row">
          <a-mat-select class="col-md" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.ContactPurposes" [options]="contactMechanismPurposes" display="Name" label="Contact purposes" ></a-mat-select>
        </div>

        <div class="row">
          <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.PostalAddress.Address1" label="Address line 1"></a-mat-input>
          <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.PostalAddress.Address2" label="Address line 2"></a-mat-input>
          <a-mat-input class="col-md" [object]="contactMechanism" [roleType]="m.PostalAddress.Address3" label="Address line 3"></a-mat-input>
        </div>

        <div class="row">
          <a-mat-input class="col-md" [object]="contactMechanism.PostalBoundary" [roleType]="m.PostalBoundary?.Locality" label="City" ></a-mat-input>
          <a-mat-input class="col-md" [object]="contactMechanism.PostalBoundary" [roleType]="m.PostalBoundary?.PostalCode" label="Postal code" ></a-mat-input>
          <a-mat-select class="col-md" [object]="contactMechanism.PostalBoundary" [roleType]="m.PostalBoundary?.Country" [options]="countries" display="Name" ></a-mat-select>
        </div>

        <div class="row">
          <a-mat-slidetoggle class="col-md" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.UseAsDefault" label="Use as default"></a-mat-slidetoggle>
          <a-mat-slidetoggle class="col-md" [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.NonSolicitationIndicator" label="Non Solicitation"></a-mat-slidetoggle>
        </div>

      </mat-card-content>
    </mat-card>

  </div>


  <mat-toolbar class="a-footer">
    <mat-toolbar-row class="row">
      <span class="col"></span>
      <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>
