@inject AllorsAuthenticationStateProvider AuthenticationStateProvider

<AuthorizeView Context="AuthorizeContext">
    <Authorized>
        <button @onclick="LogOut"></button>
    </Authorized>
    <NotAuthorized>
        <a Link="/account/login"></a>
    </NotAuthorized>
</AuthorizeView>

@code {

    void LogOut()
    {
        this.AuthenticationStateProvider.LogOut();
    }
}
