@inherits LayoutComponentBase
@inject Allors.Workspace.AllorsAuthenticationStateProvider AuthenticationStateProvider
@inject IUriHelper UriHelper

<MdcDrawer @ref="@sidebar" @ref:suppressField>
    <Title><img src="images/allors.svg" style="width:100px;" /></Title>
    <Subtitle>Apps with Blazor</Subtitle>
    <Content>
        <NavMenu/>
    </Content>
</MdcDrawer>

<div class="mdc-drawer-app-content">
    <MdcTopAppBar Title="Razor Components Material Design" OnNavClicked="@(() => sidebar.Toggle())" ScrollTarget="#main-content">
        <span class="mdc-top-app-bar-content">
            <i class="material-icons">account_circle</i>
        </span>
    </MdcTopAppBar>

    <main class="main-content" id="main-content">
        <div class="mdc-top-app-bar--fixed-adjust">
            <div class="mdc-card main-content-card">
                @Body
            </div>
        </div>
    </main>
</div>

@code {
    MdcDrawer sidebar;

    async System.Threading.Tasks.Task GoTo()
    {
        await this.AuthenticationStateProvider.LogIn("administrator", null);
        this.UriHelper.NavigateTo("/organisation/edit/2577");
    }
}
