<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="communicationEvent" (submit)="save()">

    <div class="pad">

      <div *ngIf="communicationEvent.CurrentObjectState">
        <a-md-static [object]="communicationEvent" [roleType]="m.CommunicationEvent.CurrentObjectState" display="Name" label="Status"></a-md-static>
        <button *ngIf="communicationEvent.CanExecuteClose" md-button type="button" (click)="close()">Close</button>
        <button *ngIf="communicationEvent.CanExecuteCancel" md-button type="button" (click)="cancel()">Cancel</button>
        <button *ngIf="communicationEvent.CanExecuteReopen" md-button type="button" (click)="reopen()">Reopen</button>
      </div>

      <a-md-input [object]="communicationEvent" [roleType]="m.PhoneCommunication.Subject"></a-md-input>
      <a-md-textarea [object]="communicationEvent" [roleType]="m.PhoneCommunication.Note"></a-md-textarea>

      <a-md-slide-toggle [object]="communicationEvent" [roleType]="m.PhoneCommunication.IncomingCall"></a-md-slide-toggle>
      <a-md-slide-toggle [object]="communicationEvent" [roleType]="m.PhoneCommunication.LeftVoiceMail"></a-md-slide-toggle>

      <a-md-select [object]="communicationEvent" [roleType]="m.PhoneCommunication.EventPurposes" [options]="purposes" display="Name"></a-md-select>

      <div fxLayout.gt-md="row" fxLayoutGap.gt-md="2rem">
        <a-td-chips fxFlex.gt-md [object]="communicationEvent" [roleType]="m.PhoneCommunication.Callers" [options]="contacts" display="PartyName"></a-td-chips>
        <a-td-chips fxFlex.gt-md [object]="communicationEvent" [roleType]="m.PhoneCommunication.Receivers" [options]="contacts" display="PartyName"></a-td-chips>
      </div>

      <a-md-select *ngIf="!communicationEvent.IncomingCall" [object]="communicationEvent" [roleType]="m.PhoneCommunication.ContactMechanisms"
        [options]="phonenumbers" display="displayName" label="Phone number"></a-md-select>

      <a-md-slide-toggle [object]="communicationEvent" [roleType]="m.CommunicationEvent.SendNotification"></a-md-slide-toggle>
      <a-md-slide-toggle [object]="communicationEvent" [roleType]="m.CommunicationEvent.SendReminder"></a-md-slide-toggle>
      <a-md-datepicker [object]="communicationEvent" [roleType]="m.PhoneCommunication.ScheduledStart"></a-md-datepicker>
      <a-md-datepicker [object]="communicationEvent" [roleType]="m.PhoneCommunication.ScheduledEnd"></a-md-datepicker>
      <a-md-datepicker [object]="communicationEvent" [roleType]="m.PhoneCommunication.ActualStart"></a-md-datepicker>
      <a-md-datepicker [object]="communicationEvent" [roleType]="m.PhoneCommunication.ActualEnd"></a-md-datepicker>

    </div>

    <md-divider></md-divider>

    <md-card-actions>
      <button md-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</td-layout-card-over>
