<form #form="ngForm" fxLayout="column" style="height: 100vh; min-height: 100vh" (submit)="save()" novalidate>
  <mat-toolbar fxFlex>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div fxFlex fxFill fxLayout="row" fxLayoutAlign="start stretch" style="padding: 20px;">

    <mat-card *ngIf="repeatinginvoice" fxFlex fxLayout="column" fxLayoutAlign="start stretch">
      <mat-card-content fxFlex fxFill style="overflow: auto;">

        <div [ngStyle]="layout.columns" [ngStyle.gt-sm]="layout.columns1x">
          <a-mat-select [object]="repeatinginvoice" [roleType]="m.RepeatingSalesInvoice.Frequency" [options]="frequencies" display="Name"></a-mat-select>
          <a-mat-select [object]="repeatinginvoice" [roleType]="m.RepeatingSalesInvoice.DayOfWeek" [options]="daysOfWeek" display="Name"></a-mat-select>
          <a-mat-datepicker [object]="repeatinginvoice" [roleType]="m.RepeatingSalesInvoice.NextExecutionDate"></a-mat-datepicker>
          <a-mat-datepicker [object]="repeatinginvoice" [roleType]="m.RepeatingSalesInvoice.FinalExecutionDate"></a-mat-datepicker>
        </div>
        
      </mat-card-content>
    </mat-card>

  </div>

  <mat-toolbar fxFlex fxLayout="row" fxLayoutGap="1rem">
    <span fxFlex></span>
    <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
    <button mat-button (click)="goBack()" type="button">CANCEL</button>
  </mat-toolbar>

</form>