<td-layout-card-over [cardTitle]="title" [cardSubtitle]="subTitle">
  <form #form="ngForm" *ngIf="organisation" (submit)="save()">

    <div class="pad">
      <div class="grid-2_md-1">
        <a-td-image class="col" [object]="organisation" [roleType]="m.Organisation.LogoImage" accept="image/*"></a-td-image>
        <mat-input-container class="col">
          <mat-select name="role" [(ngModel)]="activeRoles" placeholder="Roles" multiple="true">
            <mat-option *ngFor="let role of selectableRoles" [value]="role">{{ role.Name }}</mat-option>
          </mat-select>
        </mat-input-container>
      </div>

      <div class="grid-2_xs-1">
        <a-mat-input class="col" [object]="organisation" [roleType]="m.Organisation.Name"></a-mat-input>
        <a-mat-select class="col" [object]="organisation" [roleType]="m.Organisation.OrganisationClassifications" [options]="classifications"
          display="Name" label="Classification"></a-mat-select>
        <a-mat-select class="col" [object]="organisation" [roleType]="m.Organisation.IndustryClassifications" [options]="industries"
          display="Name" label="Industry"></a-mat-select>
        <a-mat-select class="col" [object]="organisation" [roleType]="m.Organisation.Locale" [options]="locales" display="Name"></a-mat-select>
        <a-mat-slide-toggle class="col" [object]="organisation" [roleType]="m.Organisation.IsManufacturer"></a-mat-slide-toggle>
      </div>

      <div class="grid">
        <a-mat-input class="col" [object]="organisation" [roleType]="m.Organisation.Comment"></a-mat-input>
      </div>
    </div>

    <mat-divider></mat-divider>

    <mat-card-actions>
      <button mat-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
      <button mat-button (click)="goBack()" type="button">CANCEL</button>
    </mat-card-actions>
  </form>

</td-layout-card-over>