<td-layout-nav logo="assets:covalent">
  <div td-toolbar-content layout="row" layout-align="center center" flex>
    <span>Apps</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank">
      <md-icon svgIcon="assets:github"></md-icon>
    </a>
  </div>
  <td-layout-manage-list #manageList [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' : 'push'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <md-toolbar td-sidenav-content>
      <span>Organisation</span>
    </md-toolbar>
    <md-nav-list td-sidenav-content (click)="!media.query('gt-sm') && manageList.close()">
      <a md-list-item>
        <md-icon md-list-icon>account_circle</md-icon>
        Todo
      </a>
    </md-nav-list>

    <div td-toolbar-content layout="row" layout-align="start center" flex>
      <span class="text-capital">organisation</span>
    </div>

    <div *ngIf="organisation" layout-gt-md="row">
      <div flex-gt-xs="50">
        <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
          <md-card-title>Organisation</md-card-title>
          <md-divider></md-divider>
          <md-card-content>

            <div layout="row">
              <md-input-container flex>
                <label>Name</label>
                <input mdInput value="{{ organisation.Name }}" type="text" disabled="">
              </md-input-container>
            </div>

            <div layout="row">
              <md-input-container flex>
                <label>Locale</label>
                <input mdInput value="{{ organisation.Locale?.Name }}" type="text" disabled="">
              </md-input-container>
            </div>
          </md-card-content>

          <md-divider></md-divider>
          <md-card-actions>
            <button md-button [routerLink]="['/organisations/' + id + '/edit']">Edit</button>
          </md-card-actions>
        </md-card>

        <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
          <md-card-title>Communications</md-card-title>

          <md-divider></md-divider>
          <md-card-content>
            <ng-template tdLoading="this.communicationEvents">
              <md-list class="will-load">
                <div class="md-padding" *ngIf="!data" layout="row" layout-align="center center">
                  <h3>No communications to display.</h3>
                </div>
                <div *ngIf="data">
                  <communicationEvents-table [data]="data" (view)="onView($event)"></communicationEvents-table>
                </div>
              </md-list>
            </ng-template>
          </md-card-content>

          <md-divider></md-divider>
          <md-card-actions>
            <button md-button [routerLink]="['/organisations/' + id + '/addContact']">+ Mail</button>
            <button md-button [routerLink]="['/organisations/' + id + '/addContact']">+ Postal</button>
            <button md-button [routerLink]="['/organisations/' + id + '/addContact']">+ Telecom</button>
            <button md-button [routerLink]="['/organisations/' + id + '/addContact']">+ Web</button>
          </md-card-actions>
        </md-card>

      </div>

      <div flex-gt-xs="50">
        <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
          <md-card-title>Contact persons</md-card-title>

          <md-divider></md-divider>
          <md-card-content>
            <ng-template tdLoading="organisation.CurrentContacts">
              <md-list class="will-load">
                <div class="md-padding" *ngIf="organisation.CurrentOrganisationContactRelationships.length === 0" layout="row" layout-align="center center">
                  <h3>No contact persons to display.</h3>
                </div>
                <ng-template let-contactRelationship let-last="last" ngFor [ngForOf]="organisation.CurrentOrganisationContactRelationships">
                  <md-list-item>

                    <h3 md-line>{{contactRelationship.Contact.FirstName}} {{contactRelationship.Contact.MiddleName}} {{contactRelationship.Contact.LastName}}</h3>
                    <div md-line *ngFor="let partyContactMechanism of contactRelationship.Contact.CurrentPartyContactMechanisms">
                      <p *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === &quot;EmailAddress&quot;  && partyContactMechanism.UseAsDefault"
                        md-line class="md-caption">
                        {{ partyContactMechanism.ContactMechanism?.ElectronicAddressString}}
                      </p>
                      <p *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === &quot;WebAddress&quot;  && partyContactMechanism.UseAsDefault"
                        md-line class="md-caption">
                        {{ partyContactMechanism.ContactMechanism?.ElectronicAddressString}}
                      </p>
                      <p *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === &quot;TelecommunicationsNumber&quot;  && partyContactMechanism.UseAsDefault"
                        md-line class="md-caption">
                        {{ partyContactMechanism.ContactMechanism?.CountryCode}} {{ partyContactMechanism.ContactMechanism?.AreaCode}} {{ partyContactMechanism.ContactMechanism?.ContactNumber}}
                      </p>
                      <p *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === &quot;PostalAddress&quot;  && partyContactMechanism.UseAsDefault"
                        md-line class="md-caption">
                        {{ partyContactMechanism.ContactMechanism?.Address1}} {{ partyContactMechanism.ContactMechanism?.PostalBoundary?.PostalCode}}
                        {{ partyContactMechanism.ContactMechanism?.PostalBoundary?.Locality}} {{ partyContactMechanism.ContactMechanism?.PostalBoundary?.Country.Name}}
                      </p>
                    </div>
                    <p md-line hide-gt-md class="md-caption"> last modified: {{ contactRelationship.Contact.LastModifiedDate | timeAgo }} </p>

                    <span flex></span>

                    <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <div class="md-caption tc-grey-500" flex-gt-xs="50"> created: {{ contactRelationship.Contact.CreationDate | date }} </div>
                  <div class="md-caption tc-grey-500" flex-gt-xs="50"> modified: {{ contactRelationship.Contact.LastModifiedDate | timeAgo }} </div>
              </span>

                    <span>
                  <button md-icon-button [md-menu-trigger-for]="menu">
                    <md-icon>more_vert</md-icon>
                  </button>
                  <md-menu x-position="before" #menu="mdMenu">
                      <a [routerLink]="[contactRelationship.Contact.id + '/overview']" md-menu-item>Details</a>
                      <a [routerLink]="['../contact/' + contactRelationship.id + '/edit' ]" md-menu-item>Edit</a>
                      <button md-menu-item (click)="delete(organisation)">Delete</button>
                  </md-menu>
              </span>

                  </md-list-item>
                  <md-divider *ngIf="!last" md-inset></md-divider>
                </ng-template>
              </md-list>
            </ng-template>
          </md-card-content>

          <md-divider></md-divider>
          <md-card-actions>
            <button md-button [routerLink]="['/organisations/' + id + '/addContact']">Add new</button>
          </md-card-actions>
        </md-card>

        <md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
          <md-card-title>Contact info</md-card-title>

          <md-divider></md-divider>
          <md-card-content>
            <ng-template tdLoading="organisation.CurrentPartyContactMechanisms">
              <md-list class="will-load">
                <div class="md-padding" *ngIf="organisation.CurrentPartyContactMechanisms.length === 0" layout="row" layout-align="center center">
                  <h3>No info to display.</h3>
                </div>
                <ng-template let-partyContactMechanism let-last="last" ngFor [ngForOf]="organisation.CurrentPartyContactMechanisms">
                  <md-list-item>

                    <h3 md-line> {{partyContactMechanism.ContactPurpose?.Name}}</h3>
                    <h3 md-line> {{partyContactMechanism.Contact}}</h3>
                    <h3 *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === &quot;EmailAddress&quot;" md-line>
                      {{ partyContactMechanism.ContactMechanism.ElectronicAddressString}}
                    </h3>
                    <h3 *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === &quot;WebAddress&quot;" md-line>
                      {{ partyContactMechanism.ContactMechanism.ElectronicAddressString}}
                    </h3>
                    <h3 *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === &quot;TelecommunicationsNumber&quot;" md-line>
                      {{ partyContactMechanism.ContactMechanism.CountryCode}} {{ partyContactMechanism.ContactMechanism.AreaCode}} {{ partyContactMechanism.ContactMechanism.ContactNumber}}
                    </h3>
                    <h3 *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === &quot;PostalAddress&quot;" md-line>
                      {{ partyContactMechanism.ContactMechanism.Address1}} {{ partyContactMechanism.ContactMechanism.PostalBoundary?.PostalCode}}
                      {{ partyContactMechanism.ContactMechanism.PostalBoundary?.Locality}} {{ partyContactMechanism.ContactMechanism.PostalBoundary?.Country.Name}}
                    </h3>
                    <p md-line class="md-caption" *ngFor="let contactPurpose of partyContactMechanism.ContactPurposes">{{ contactPurpose.Name }} </p>

                    <p md-line hide-gt-md class="md-caption"> last modified: {{ partyContactMechanism.LastModifiedDate | timeAgo }} </p>

                    <span flex></span>

                    <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
                  <div class="md-caption tc-grey-500" flex-gt-xs="50"> created: {{ partyContactMechanism.CreationDate | date }} </div>
                  <div class="md-caption tc-grey-500" flex-gt-xs="50"> modified: {{ partyContactMechanism.LastModifiedDate | timeAgo }} </div>
              </span>e

                    <span>
                  <button md-icon-button [md-menu-trigger-for]="menu">
                    <md-icon>more_vert</md-icon>
                  </button>
                  <md-menu x-position="before" #menu="mdMenu">
                      <a *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === &quot;EmailAddress&quot;"
                          [routerLink]="['../email/' + partyContactMechanism.id + '/edit' ]" md-menu-item>Edit</a>
                      <a *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === &quot;WebAddress&quot;"
                          [routerLink]="['../web/' + partyContactMechanism.id + '/edit' ]" md-menu-item>Edit</a>
                      <a *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === &quot;TelecommunicationsNumber&quot;"
                          [routerLink]="['../telecom/' + partyContactMechanism.id + '/edit' ]" md-menu-item>Edit</a>
                      <a *ngIf="this.checkType(partyContactMechanism.ContactMechanism) === &quot;PostalAddress&quot;"
                          [routerLink]="['../postal/' + partyContactMechanism.id + '/edit' ]" md-menu-item>Edit</a>
                      <button md-menu-item (click)="delete(organisation)">Delete</button>
                  </md-menu>
              </span>

                  </md-list-item>
                  <md-divider *ngIf="!last" md-inset></md-divider>
                </ng-template>
              </md-list>
            </ng-template>
          </md-card-content>

          <md-divider></md-divider>
          <md-card-actions>
            <button md-button [routerLink]="['/organisations/' + id + '/addWeb']">+ Web</button>
            <button md-button [routerLink]="['/organisations/' + id + '/addEmail']">+ Email</button>
            <button md-button [routerLink]="['/organisations/' + id + '/addPostal']">+ Postal</button>
            <button md-button [routerLink]="['/organisations/' + id + '/addTelecom']">+ Telecom</button>
          </md-card-actions>
        </md-card>
      </div>

    </div>
  </td-layout-manage-list>
</td-layout-nav>
