<form *ngIf="timeEntry" #form="ngForm" (submit)="save()" novalidate>

  <h3 mat-dialog-title>{{title}}</h3>

  <div mat-dialog-content>

    <div class="row">
      <mat-form-field class="col-md" *ngIf="!inWorkerMode">
        <mat-select name="workers" placeholder="Workers"
                    [(ngModel)]="worker"
                    (ngModelChange)="findBillingRate($event)">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let worker of workers" [value]="worker"> {{ worker.displayName }} </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field class="col-md" *ngIf="inWorkerMode && !isEdit">
        <mat-select name="workEfforts" placeholder="WorkerEfforts"
                    [(ngModel)]="workEffort">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let workEffort of workEfforts" [value]="workEffort"> {{ workEffort.Name }} </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

    <div class="row">
      <a-mat-select class="col-md"
                    [object]="timeEntry"
                    [roleType]="m.TimeEntry.RateType"
                    [options]="rateTypes"
                    display="Name"
                    (selected)="findBillingRate($event)">
      </a-mat-select>
      <a-mat-select class="col-md" *ngIf="!inWorkerMode"
                    [object]="timeEntry"
                    [roleType]="m.TimeEntry.TimeFrequency"
                    [options]="frequencies"
                    display="Name"
                    label="Frequency"
                    [disabled]="timeEntry.ThroughDate !== null"></a-mat-select>
    </div>


    <div class="row">
      <a-mat-datetimepicker class="col-md"
                            [object]="timeEntry"
                            [roleType]="m.TimeEntry.FromDate"
                            (selected)="findBillingRate($event)">
      </a-mat-datetimepicker>
    </div>

    <div class="row">
      <a-mat-datetimepicker class="col-md"
                            [object]="timeEntry"
                            [roleType]="m.TimeEntry.ThroughDate">
      </a-mat-datetimepicker>
    </div>

    <div class="row">
      <a-mat-input class="col-md"
                   [object]="timeEntry"
                   [roleType]="m.TimeEntry.AssignedAmountOfTime"
                   [disabled]="timeEntry.ThroughDate !== null">
      </a-mat-input>
    </div>

    <div class="row">
    </div>

    <div class="row">
      <a-mat-slidetoggle class="col-md pt-3" *ngIf="!inWorkerMode"
                         [object]="timeEntry"
                         [roleType]="m.TimeEntry.IsBillable">
      </a-mat-slidetoggle>
    </div>

    <div class="row">
      <a-mat-input class="col-md" *ngIf="!inWorkerMode"
                   [object]="timeEntry"
                   [roleType]="m.TimeEntry.BillableAmountOfTime">
      </a-mat-input>
    </div>

    <div class="row">
      <div class="col-md" *ngIf="derivedBillingRate">Rate used is {{derivedBillingRate}}</div>
      <a-mat-input class="col-md" *ngIf="!inWorkerMode"
                   [object]="timeEntry"
                   [roleType]="m.TimeEntry.AssignedBillingRate">
      </a-mat-input>
      <a-mat-static class="col-md" *ngIf="!inWorkerMode"
                    [object]="timeEntry"
                    [roleType]="m.TimeEntry.BillingFrequency"
                    display="Name"
                    label="Frequency">
      </a-mat-static>
    </div>

    <div class="row">
      <a-mat-input class="col-md"
                   [object]="timeEntry"
                   [roleType]="m.TimeEntry.Description">
      </a-mat-input>
    </div>

    <div class="row">
      <a-mat-textarea class="col-md" *ngIf="!inWorkerMode"
                      [object]="timeEntry"
                      [roleType]="m.TimeEntry.Comment">
      </a-mat-textarea>
    </div>

  </div>

  <div mat-dialog-actions>
    <button mat-button class="ml-2" color="primary" type="submit" [disabled]="!form.form.valid || !allors.context.hasChanges || !worker || !workEffort">SAVE</button>
    <button mat-button (click)="dialogRef.close()" type="button">CANCEL</button>
  </div>

</form>
