<div class="a-main">

  <div class="a-breadcrumb container-fluid mat-elevation-z4">
    <div class="row">
      <div class="col">
        <a [routerLink]="['/relations/people']">People</a> / {{part?.Name}}
      </div>
    </div>
  </div>

  <div class="a-overview2 container">

    <div class="row">

      <div class="col-md-4 mb-3">
        <part-overview-summary></part-overview-summary>
      </div>

      <div class="col-md-8">

        <part-overview-detail></part-overview-detail>

        <igoodidentification-panel [roleType]="metaService.m.Part.GoodIdentifications"></igoodidentification-panel>

      </div>
    </div>
  </div>
</div>