<form class="a-edit" #form="ngForm" *ngIf="person" (submit)="save()">

  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
      <span class="col"></span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>
    <mat-card>
      <mat-card-content class="container-fluid">

        <div class="row">
          <a-mat-input class="col-md" [object]="person" [roleType]="m.Person.FirstName"></a-mat-input>
          <a-mat-input class="col-md" [object]="person" [roleType]="m.Person.MiddleName"></a-mat-input>
          <a-mat-input class="col-md" [object]="person" [roleType]="m.Person.LastName"></a-mat-input>
        </div>

        <div class="row">
          <a-mat-file class="col-md" [object]="person" [roleType]="m.Person.Photo"></a-mat-file>
          <a-mat-files class="col-md" [object]="person" [roleType]="m.Person.Pictures"></a-mat-files>
        </div>

      </mat-card-content>
    </mat-card>
  </div>

  <mat-toolbar class="a-footer">
    <mat-toolbar-row class="row">
      <span class="col"></span>
      <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
    </mat-toolbar-row>
  </mat-toolbar>

</form>
