<mat-card class="flex-fill d-flex flex-column justify-content-between">
  <img mat-card-image [src]="src" (click)="preview()" style="cursor: pointer;">
  <mat-card-content>
    <div class="row">
      <div class="col row">
        <mat-form-field class="col">
          <input aFocus [aFocusTrigger]="roleType" matInput [(ngModel)]="media.FileName" [name]="name">
        </mat-form-field>
      </div>
      <div>
        <button mat-icon-button type="button" (click)="delete()" title="Delete">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
</mat-card>
