<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <form #form="ngForm" *ngIf="contactMechanism" (submit)="save()">

    <md-card-title>Email address Contact Form</md-card-title>

    <md-divider></md-divider>
    <md-card-content class="push-bottom-none">

      <div layout="row">
        <a-md-select [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.ContactPurposes" [options]="contactMechanismPurposes" display="Name"></a-md-select>
      </div>

      <div layout="row" class="push-top">
        <a-md-input [object]="contactMechanism" [roleType]="m.EmailAddress.ElectronicAddressString" Name="Email address"></a-md-text>
      </div>

      <div layout="row" class="push-top">
        <p>Implement Use as default (slide-toggle)</p>
      </div>
    </md-card-content>

    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="primary" type="submit">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</md-card>
