<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <form #form="ngForm" *ngIf="contactMechanism" (submit)="save()">

    <md-card-title>Postal address Contact Form</md-card-title>

    <md-divider></md-divider>
    <md-card-content class="push-bottom-none">

      <div layout="row" class="push-top">
        <a-md-select [object]="partyContactMechanism" [roleType]="m.PartyContactMechanism.ContactPurposes" [options]="contactMechanismPurposes" display="Name"></a-md-select>
      </div>

      <div layout="row" class="push-top">
        <a-md-input [object]="contactMechanism" [roleType]="m.PostalAddress.Address1"></a-md-input>
      </div>

      <div layout="row" class="push-top">
        <a-md-input [object]="contactMechanism" [roleType]="m.PostalAddress.Address2"></a-md-input>
      </div>

      <div layout="row" class="push-top">
        <a-md-input [object]="contactMechanism" [roleType]="m.PostalAddress.Address3"></a-md-input>
      </div>

      <div layout="row" class="push-top">
        <a-md-input [object]="contactMechanism.PostalBoundary" [roleType]="m.PostalBoundary.Locality"></a-md-input>
      </div>

      <div layout="row" class="push-top">
        <a-md-input [object]="contactMechanism.PostalBoundary" [roleType]="m.PostalBoundary.PostalCode"></a-md-input>
      </div>

      <div layout="row" class="push-top">
        <a-md-select [object]="contactMechanism.PostalBoundary" [roleType]="m.PostalBoundary.Country" [options]="countries" display="Name"></a-md-select>
      </div>

      <div layout="row" class="push-top">
        <p>Implement Use as default (slide-toggle)</p>
      </div>
    </md-card-content>

    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="primary" type="submit">SAVE</button>
      <button md-button (click)="goBack()" type="button">CANCEL</button>
    </md-card-actions>

  </form>
</md-card>
