<md-card tdMediaToggle="gt-xs" [mediaClasses]="['push']">
  <form [formGroup]="form" (ngSubmit)="save($event)">

    <md-card-title>Web address Contact Form</md-card-title>

    <md-divider></md-divider>
    <md-card-content class="push-bottom-none">

      <div layout="row">
        <select flex="50" placeholder="Purpose" formControlName="ContactMechanismPurposes">
              <option *ngFor="let contactMechanismPurpose of contactMechanismPurposes" [value]="contactMechanismPurpose">{{ contactMechanismPurpose.Name }}</option>
            </select>
      </div>

      <div layout="row" class="push-top">
        <md-input-container flex>
          <input mdInput formControlName="ElectronicAddress" type="text" placeholder="Web address">
        </md-input-container>
      </div>

      <div layout="row" class="push-top">
        <md-slide-toggle formControlName="Default">Use as default</md-slide-toggle>
      </div>
    </md-card-content>

    <md-divider></md-divider>
    <md-card-actions>
      <button md-button color="primary" type="submit">SAVE</button>
      <button md-button [routerLink]="['/organisations/' + id + '/overview']">CANCEL</button>
    </md-card-actions>

  </form>
</md-card>
