<mat-dialog-content>
    <form [formGroup]="formGroup">
        <mat-vertical-stepper #stepper [linear]="true" (selectionChange)="stepperSelectionChange($event)">

            <mat-step [completed]="!!filterFieldDefinition">
                <ng-template matStepLabel>
                    <span *ngIf="!filterFieldDefinition">Field</span>
                    <span *ngIf="!!filterFieldDefinition">
                        {{filterFieldDefinition.fieldName}}</span>
                </ng-template>
                <div class="mt-3">
                    <button mat-flat-button color="accent" class="mr-1" *ngFor="let definition of filterService.filterFieldDefinitions"
                        (click)="selected(definition);">{{definition.fieldName}}</button>
                </div>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>
                    <span *ngIf="!filterFieldDefinition">Criteria</span>
                    <span *ngIf="!!filterFieldDefinition">
                        {{filterFieldDefinition.criteria}}</span>
                </ng-template>

                <mat-form-field *ngIf="filterFieldDefinition && !filterFieldDefinition.options.search">
                    <input aFocus matInput placeholder="Value" formControlName="value" required (keyup.enter)="apply()">
                </mat-form-field>

                <div *ngIf="filterFieldDefinition && filterFieldDefinition.options.search">
                    <a-mat-filter-search [parent]="formGroup" [filterFieldDefinition]="filterFieldDefinition" (apply)="apply()"></a-mat-filter-search>
                </div>

                <div>
                    <button mat-button mat-dialog-close>Cancel</button>
                    <button mat-button color="primary" (click)="apply()">Apply</button>
                </div>
            </mat-step>

        </mat-vertical-stepper>
    </form>
</mat-dialog-content>