<mat-dialog-content>
    <form [formGroup]="formGroup">
        <mat-vertical-stepper #stepper [linear]="true">

            <mat-step>
                <ng-template matStepLabel>
                    Field
                </ng-template>
                <mat-form-field>
                    <mat-select placeholder="Field" formControlName="definition" required (selectionChange)="filterFieldDefinition = $event.value; stepper.next()">
                        <mat-option *ngFor="let definition of filterService.filterFieldDefinitions" [value]="definition">
                            {{definition.predicate.parameter}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </mat-step>

            <mat-step>
                <ng-template matStepLabel>
                    Filter
                </ng-template>

                <mat-form-field *ngIf="filterFieldDefinition && !filterFieldDefinition.options.search">
                    <input matInput placeholder="Value" formControlName="value" required>
                </mat-form-field>

                <div *ngIf="filterFieldDefinition && filterFieldDefinition.options.search">
                    <a-mat-filter-search [parent]="formGroup"></a-mat-filter-search>
                </div>

                <div>
                    <button mat-button mat-dialog-close>Cancel</button>
                    <button mat-button color="primary" (click)="apply()">Apply</button>
                </div>
            </mat-step>

        </mat-vertical-stepper>
    </form>
</mat-dialog-content>