<form #form="ngForm"  (submit)="save()">
  <mat-toolbar>
    <mat-toolbar-row >
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="workTask"  fxLayout="column" fxLayoutAlign="start stretch" style="overflow: auto;">

      <div class="row">
        <a-mat-select [object]="workTask" [roleType]="m.WorkTask.WorkEffortState" [options]="workEffortStates" display="Name" label="Status" class="col-md"></a-mat-select>
        <a-mat-input [object]="workTask" [roleType]="m.WorkTask.Name" class="col-md"></a-mat-input>
      </div>

      <div class="row">
        <a-mat-textarea [object]="workTask" [roleType]="m.WorkTask.Description" class="col-md-12"></a-mat-textarea>
      </div>

      <div class="row">
          <a-mat-autocomplete [object]="workTask" [roleType]="m.WorkTask.Customer" [filter]="stateService.customersFilter.create(scope)"
          (onChange)="customerSelected($event)" display="Name"></a-mat-autocomplete>
      </div>

      <div class="row">
        <div fxLayout fxLayoutGap="1em">
          <a-mat-select  [object]="workTask" [roleType]="m.WorkTask.FullfillContactMechanism" [options]="contactMechanisms" display="displayName" class="col-md"></a-mat-select>
          <button mat-mini-fab color="accent" [disabled]="!workTask.Customer || !workTask.CanWriteName" type="button" (click)="addContactMechanism = !addContactMechanism">
            <mat-icon *ngIf="!addContactMechanism">add</mat-icon>
            <mat-icon *ngIf="addContactMechanism">close</mat-icon>
          </button>
        </div>
      </div>

      <mat-card *ngIf="workTask.Customer && addContactMechanism" class="row"
        style="margin: 1rem">
        <mat-card-header>Add a new contact mechanism</mat-card-header>
        <mat-card-content>
          <party-contactmechanism [scope]="scope" (saved)="contactMechanismAdded($event)" (cancelled)="contactMechanismCancelled()">
          </party-contactmechanism>
        </mat-card-content>
      </mat-card>

      <div class="row">
        <div fxLayout fxLayoutGap="1em">
          <a-mat-select [object]="workTask" [roleType]="m.WorkTask.ContactPerson" [options]="contacts" display="displayName" label="Contact Person" class="col-md"></a-mat-select>
          <button mat-mini-fab color="accent" [disabled]="!workTask.Customer || !workTask.CanWriteName" type="button" (click)="addContactPerson = !addContactPerson">
            <mat-icon *ngIf="!addContactPerson">add</mat-icon>
            <mat-icon *ngIf="addContactPerson">close</mat-icon>
          </button>
        </div>
      </div>

      <mat-card *ngIf="workTask.Customer && addContactPerson" class="row" style="margin: 1rem">
        <mat-card-header>Add a new contact mechanism</mat-card-header>
        <mat-card-content>
          <person-inline (cancelled)="addContactPerson = false" (saved)="contactPersonAdded($event)">
          </person-inline>
        </mat-card-content>
      </mat-card>

      <div class="row">
          <mat-form-field>
            <mat-select  name="assignment" [(ngModel)]="assignees" placeholder="Assign To" multiple="true">
              <mat-option *ngFor="let employee of employees" [value]="employee">{{ employee.displayName }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

      <div class="row">
        <a-mat-select [object]="workTask" [roleType]="m.WorkTask.Priority" [options]="priorities" display="Name" class="col-md"></a-mat-select>
        <a-mat-select [object]="workTask" [roleType]="m.WorkTask.WorkEffortPurposes" [options]="workEffortPurposes" display="Name"
          label="Purpose(s)" class="col-md"></a-mat-select>
      </div>

      <div class="row">
        <a-mat-input [object]="workTask" [roleType]="m.WorkTask.EstimatedHours" class="col-md"></a-mat-input>
        <a-mat-input [object]="workTask" [roleType]="m.WorkTask.ActualHours" class="col-md"></a-mat-input>
      </div>

      <div class="row">
        <a-mat-datepicker [object]="workTask" [roleType]="m.WorkTask.ScheduledStart" [useTime]="true"></a-mat-datepicker>
        <a-mat-datepicker [object]="workTask" [roleType]="m.WorkTask.ActualStart" [useTime]="true"></a-mat-datepicker>
        <a-mat-datepicker [object]="workTask" [roleType]="m.WorkTask.ScheduledCompletion" [useTime]="true"></a-mat-datepicker>
        <a-mat-datepicker [object]="workTask" [roleType]="m.WorkTask.ActualCompletion" [useTime]="true"></a-mat-datepicker>
      </div>

    </mat-card>
  </div>

  <mat-toolbar  >
    <span class="col"></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>