<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button >
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{title}}</span>
    <span flex></span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-card *ngIf="workEffortStates">
  <div class="pad-top-xs pad-left pad-right">
    <form novalidate [formGroup]="searchForm">
      <div >
        <mat-form-field >
          <input matInput placeholder="Name" formControlName="name">
        </mat-form-field>
        <mat-form-field >
          <input matInput placeholder="Description" formControlName="description">
        </mat-form-field>
        <mat-form-field >
          <mat-select formControlName="state" name="state" [(ngModel)]="selectedWorkEffortState" placeholder="State">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let objectState of workEffortStates" [value]="objectState.Name">{{ objectState.Name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field >
          <mat-select formControlName="priority" name="priority" [(ngModel)]="selectedPriority" placeholder="Priority">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let priority of priorities" [value]="priority.Name">{{ priority.Name }}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon matSuffix>search</mat-icon>
      </div>
    </form>
  </div>

  <mat-divider></mat-divider>

  <mat-card-content>
    
      <mat-list class="will-load">
        <div class="mat-padding" *ngIf="data && data.length === 0" layout="row" layout-align="center center">
          <h3>No work tasks to display.</h3>
        </div>
        <ng-template let-item let-last="last" ngFor [ngForOf]="data">
          <mat-list-item>
            <div mat-line class="mat-caption pointer" [routerLink]="['/workefforts/worktask/' + item.id ]">
              {{ item.Name }}</div>

            <div mat-line class="pointer">State: {{ item.WorkEffortState.Name }}</div>
            <p mat-line class="mat-caption">{{ item.Description }} </p>
            <p *ngIf="item.Priority" mat-line class="mat-caption">Priority {{ item.Priority.Name }} </p>

            <span>
              <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu x-position="before" #menu="matMenu">
                <a [routerLink]="['/workefforts/worktask/' + item.id ]" mat-menu-item>Details</a>
                <a [routerLink]="['/printworktask/' + item.id ]" mat-menu-item>Preview</a>
                <button mat-menu-item (click)="print(item)">Print</button>
                <button mat-menu-item (click)="delete(item)" [disabled]="!item.CanExecuteDelete">Delete</button>
              </mat-menu>
            </span>

          </mat-list-item>
          <mat-divider *ngIf="!last" mat-inset></mat-divider>
        </ng-template>
      </mat-list>

  </mat-card-content>
</mat-card>

<mat-card body *ngIf="this.data && this.data.length !== total">
  <mat-card-content>
    <button mat-button (click)="more()">More</button> {{this.data?.length}}/{{total}}
  </mat-card-content>
</mat-card>

<a mat-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['/worktask']">
  <mat-icon>add</mat-icon>
</a>