<form #form="ngForm" fxLayout="column" style="height: 100vh; min-height: 100vh" (submit)="save()">
  <mat-toolbar>
    <mat-toolbar-row fxLayout="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <span fxFlex>{{title}}</span>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>

    <mat-card *ngIf="productType" fxFlex fxLayout="column" fxLayoutAlign="start stretch" style="overflow: auto;">

      <div class="row">
        <a-mat-input [object]="productType" [roleType]="m.ProductType.Name"></a-mat-input>
        <a-mat-select [object]="productType" [roleType]="m.ProductType.SerialisedInventoryItemCharacteristicTypes" [options]="characteristics"
          display="Name"></a-mat-select>
      </div>

    </mat-card>

  </div>

  <mat-toolbar fxLayout="row" fxLayoutGap="1rem">
    <span fxFlex></span>
    <button mat-raised-button (click)="goBack()" type="button">CANCEL</button>
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.form.valid">SAVE</button>
  </mat-toolbar>

</form>