<div class="a-master">

  <mat-toolbar class="a-header">
    <mat-toolbar-row class="row">
      <a-mat-sidenavtoggle></a-mat-sidenavtoggle>
      <h1>{{title}}</h1>
      <span class="col"></span>
      <internalorganisation-select></internalorganisation-select>
    </mat-toolbar-row>
  </mat-toolbar>

  <div>
    <mat-card>
      <mat-card-content class="container-fluid a-search">
        <a-mat-search (values)="search$.next($event)">
          <a-mat-search-input name="name"></a-mat-search-input>
        </a-mat-search>
      </mat-card-content>

      <mat-card-content class="container-fluid a-list">
        <mat-list>
          <div *ngIf="productTypes?.length === 0">
            <h3>No product types to display.</h3>
          </div>

          <mat-list-item *ngFor="let productType of productTypes; let last = last" [attr.data-allors-id]="productType.id" (click)="onView(productType)" style="cursor: pointer;">

            <h3 mat-line> {{productType.Name}}</h3>

            <div (click)="$event.stopPropagation()">
              <button mat-icon-button [mat-menu-trigger-for]="menu">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu">
                <a  (click)="onView(productType)" mat-menu-item>Edit</a>
                <button mat-menu-item (click)="delete(productType)" [disabled]="!productType.CanExecuteDelete">Delete</button>
              </mat-menu>
            </div>

            <mat-divider *ngIf="!last" mat-inset></mat-divider>

          </mat-list-item>
        </mat-list>
      </mat-card-content>

    </mat-card>
  </div>

  <mat-toolbar class="a-footer">
    <mat-toolbar-row class="row">
      <span class="col"></span>
      <a mat-raised-button [routerLink]="['/productType']">
        Add New
      </a>
    </mat-toolbar-row>
  </mat-toolbar>
</div>