<mat-toolbar>
  <div layout="row" layout-align="start center" flex>
    <button mat-icon-button tdLayoutManageListOpen [hideWhenOpened]="true" style="display: none">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{title}}</span>
    <span flex></span>
    <button mat-icon-button>
      <mat-icon>settings</mat-icon>
    </button>
  </div>
</mat-toolbar>

<mat-card>
  <div class="pad-top-xs pad-left pad-right">
    <form novalidate [formGroup]="searchForm">
      <div class="grid-8_xs-1">
        <mat-input-container class="col">
        <input matInput placeholder="Supplier" formControlName="supplier">
      </mat-input-container>
      <mat-input-container class="col">
        <mat-select formControlName="internalOrganisation" name="internalOrganisation" [(ngModel)]="selectedInternalOrganisation"
          placeholder="From Internal Organisation">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let internalOrganisation of internalOrganisations" [value]="internalOrganisation.PartyName">{{ internalOrganisation.PartyName }}</mat-option>
        </mat-select>
      </mat-input-container>
      <mat-input-container class="col">
        <input matInput placeholder="Number" formControlName="invoiceNumber">
      </mat-input-container>
      <mat-input-container class="col">
        <input matInput placeholder="Customer Reference" formControlName="reference">
      </mat-input-container>
      <mat-input-container class="col">
        <mat-select formControlName="state" name="state" [(ngModel)]="selectedPurchaseInvoiceState" placeholder="State">
          <mat-option>None</mat-option>
          <mat-option *ngFor="let objectState of purchaseInvoiceStates" [value]="objectState.Name">{{ objectState.Name }}</mat-option>
        </mat-select>
        <mat-icon matSuffix>search</mat-icon>
      </mat-input-container>
    </div>
    </form>
  </div>

  <mat-divider></mat-divider>

  <ng-template tdLoading="organisations">
    <mat-list class="will-load">
      <div class="mat-padding" *ngIf="data && data.length === 0" layout="row" layout-align="center center">
        <h3>No purchase invoices to display.</h3>
      </div>
      <ng-template let-invoice let-last="last" ngFor [ngForOf]="data">
        <mat-list-item>

          <h3 [routerLink]="['/accountspayable/invoice/' + invoice.id ]" mat-line> From: {{invoice.BilledFrom.displayName}}</h3>
          <h3 *ngIf="invoice.BillToCustomer" [routerLink]="['/accountspayable/invoice/' + invoice.id ]" mat-line>To: {{invoice.BillToCustomer.displayName}}</h3>
          <h4 mat-line>number: {{invoice.InvoiceNumber }} reference: {{invoice.CustomerReference}} ({{invoice.PurchaseInvoiceState.Name}})</h4>
          <h4 mat-line>{{invoice.Description}}</h4>
          <p mat-line hide-gt-md class="mat-caption"> last modified: {{ invoice.LastModifiedDate | timeAgo }} </p>

          <span flex></span>

          <span hide-xs hide-sm hide-md flex-gt-xs="60" flex-xs="40" layout-gt-xs="row">
            <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ invoice.CreationDate | date }} </div>
            <div class="mat-caption tc-grey-500" flex-gt-xs="50"> {{ invoice.LastModifiedDate | timeAgo }} </div>
          </span>

          <span>
            <button mat-icon-button [mat-menu-trigger-for]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu x-position="before" #menu="matMenu">
              <a [routerLink]="['/accountspayable/invoice/' + invoice.id ]" mat-menu-item>Details</a>
              <a [routerLink]="['/printinvoice/' + invoice.id ]" mat-menu-item>Print</a>
            </mat-menu>
          </span>

        </mat-list-item>
        <mat-divider *ngIf="!last" mat-inset></mat-divider>
      </ng-template>
    </mat-list>
  </ng-template>
</mat-card>

<mat-card body tdMediaToggle="gt-xs" [mediaClasses]="['push']" *ngIf="this.data && this.data.length !== total">
  <mat-card-content>
    <button mat-button (click)="more()">More</button> {{this.data?.length}}/{{total}}
  </mat-card-content>
</mat-card>

<a mat-fab color="accent" class="mat-fab-bottom-right fixed" [routerLink]="['/purchaseinvoice']">
  <mat-icon>add</mat-icon>
</a>
