<td-layout-nav>
  <div td-toolbar-content layout="row" layout-align="start center" flex>
    <button md-icon-button td-menu-button tdLayoutToggle>
      <md-icon>menu</md-icon>
    </button>
    <md-icon [routerLink]="['/']" class="md-icon-logo cursor-pointer" svgIcon="assets:teradata"></md-icon>
    <span [routerLink]="['/']" class="cursor-pointer">Apps</span>
    <span flex></span>
    <a md-icon-button mdTooltip="Docs" href="https://teradata.github.io/covalent/" target="_blank">
      <md-icon>chrome_reader_mode</md-icon>
    </a>
    <a md-icon-button mdTooltip="Github" href="https://github.com/teradata/covalent" target="_blank">
      <md-icon svgIcon="assets:github"></md-icon>
    </a>
  </div>
  <td-layout-manage-list #manageList [opened]="media.registerQuery('gt-sm') | async" [mode]="(media.registerQuery('gt-sm') | async) ? 'side' :  'over'"
    [sidenavWidth]="(media.registerQuery('gt-xs') | async) ? '257px' : '100%'">
    <md-toolbar td-sidenav-content>
      <span>Catalogues</span>
    </md-toolbar>
    <md-nav-list td-sidenav-content [tdLayoutManageListClose]="!media.query('gt-sm')">
      <ng-template let-item let-last="last" ngFor [ngForOf]="navmenu">
        <a md-list-item [routerLink]="item.route" routerLinkActive="active-link">
          <md-icon md-list-icon>{{item.icon}}</md-icon> {{item.title}}
        </a>
      </ng-template>
    </md-nav-list>
    <router-outlet></router-outlet>
  </td-layout-manage-list>
</td-layout-nav>
